#maincfg1 {background:url(../img/monitor.png) no-repeat;width:24px;height:24px;}
#maincfg2 {background:url(../img/security.png) no-repeat;width:24px;height:24px;}
#maincfg3 {background:url(../img/user.png) no-repeat;width:24px;height:24px;}


