

body {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	background: url(images/main-bg2.png);
	padding: 0;
	margin: 0;
}
		/*** IMPORTANT - Layout container MUST have a 'height' or will be 'invisible' ***/
		.inner-layout-container	{ height:		100%; }

		.ui-layout-center ,
		.ui-layout-north ,
		.ui-layout-south ,
		.inner-center ,
		.inner-west ,
		.inner-east {
			/* prevent 'Flash Of Content' - panes will show automatically when layout initializes */
			display:		none;
		}
		
	.ui-layout-north{
overflow:hidden;
background:#565656 url(../images/mapmint-logo2.png) no-repeat;
border:0;
margin:0;
padding:0;
height:50px;
max-height:50px;
}

		.ui-layout-south{
overflow:hidden;
background:#565656;
border:0;
margin:0;
padding:0;
height:50px;
max-height:50px;
}

.ui-layout-resizer { /* all 'resizer-bars' */ 
background: transparent; 
} 

		.inner-center ,
		.inner-west ,
		.inner-east {
			padding:		20px; /* SAMPLE formatting */
		}

		/* remove scrollbar from panes that have a 'srolling content div' */
		.inner-layout-container .ui-layout-pane {
			overflow:		hidden; /* prevent temporary 'flash' of scrollbar - using a scrolling div instead */
		}
		/* format content-div */
		.ui-layout-content {
			padding:		10px;
			overflow:		auto; /* REQUIRED if you want it to 'scroll' */
		}
		/* add some formatting to headers */
		.pane-header {
			padding:		3px 10px;
			margin-bottom:	10px; /* space between header and content-div below */
		}

		/* SAMPLE - padding on inner-layout container */
		.ui-layout-center		{ padding:0px; }

		/* add some colors to distinguish outer from inner panes */
		.ui-layout-center 		{ background:	transparent ; border:0; }
		#order .ui-layout-pane	{ background:	#E7E7E7; }
		#engine .ui-layout-pane	{ background:	#E7E7E7; }	