
html{height: 100%;}
body{
height:100%;
padding:0;
margin:0;
font-family:Arial,Lucida Grande,Trebuchet MS,verdana;
background: rgb(254,255,255);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNiUiIHN0b3AtY29sb3I9IiNmZWZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODNjODQ5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 36%, rgba(131,200,73,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,rgba(254,255,255,1)), color-stop(100%,rgba(131,200,73,1)));
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 36%,rgba(131,200,73,1) 100%);
background: -o-linear-gradient(top,  rgba(254,255,255,1) 36%,rgba(131,200,73,1) 100%);
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 36%,rgba(131,200,73,1) 100%);
background: linear-gradient(to bottom,  rgba(254,255,255,1) 36%,rgba(131,200,73,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#83c849',GradientType=0 );
}





#container{
border:1px solid #FFFFFF;
position:absolute;
height:280px; 
width:500px;
margin:-130px 0px 0px -250px;
top: 40%; 
left: 50%;
text-align: center;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjZTFmY2Q4IiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNDIlIiBzdG9wLWNvbG9yPSIjZTFmY2Q4IiBzdG9wLW9wYWNpdHk9IjAuNTciLz4KICAgIDxzdG9wIG9mZnNldD0iNjMlIiBzdG9wLWNvbG9yPSIjZTFmY2Q4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNzclIiBzdG9wLWNvbG9yPSIjZTFmY2Q4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(225,252,216,0.65) 39%, rgba(225,252,216,0.57) 42%, rgba(225,252,216,0) 63%, rgba(225,252,216,0) 77%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(39%,rgba(225,252,216,0.65)), color-stop(42%,rgba(225,252,216,0.57)), color-stop(63%,rgba(225,252,216,0)), color-stop(77%,rgba(225,252,216,0)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(225,252,216,0.65) 39%,rgba(225,252,216,0.57) 42%,rgba(225,252,216,0) 63%,rgba(225,252,216,0) 77%);
background: -o-radial-gradient(center, ellipse cover,  rgba(225,252,216,0.65) 39%,rgba(225,252,216,0.57) 42%,rgba(225,252,216,0) 63%,rgba(225,252,216,0) 77%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(225,252,216,0.65) 39%,rgba(225,252,216,0.57) 42%,rgba(225,252,216,0) 63%,rgba(225,252,216,0) 77%); 
background: radial-gradient(ellipse at center,  rgba(225,252,216,0.65) 39%,rgba(225,252,216,0.57) 42%,rgba(225,252,216,0) 63%,rgba(225,252,216,0) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e1fcd8', endColorstr='#00e1fcd8',GradientType=1 ); 
}

h1.title {
color:#707070;
text-decoration: none;
font-size: 4em !important;
margin:0;
padding:0;
text-transform:none;
min-width:300px;
text-shadow:#FFFFFF 0 1px 0;
display:inline !important;}

h1.title span.logo{
background:url(../img//mapmint-logo.png) no-repeat;
width:60px;
height:60px;
display:inline-block;
margin:0;
padding:0 0 0 5px;
position:relative;
top:6px;
left:0;
}

h1.title span.mint {
color:#83c849;
}


	
p.announce a{
text-decoration:none;
position:relative;
top:110px;
left:0;
margin:0 auto;
color:#818181;
text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
letter-spacing:3px;
font-size:2em;
text-align:center;
text-transform:uppercase;}

a{outline:0;}

#connexion-form {
position:relative;
margin:30px 0 0 0;
width: 500px;
height:170px;
background:transparent;
}

#connexion-form table {
	margin:0 auto;
}

label {font-size:.85em; color:#b0b0b0;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);}

input {
position:relative;
width:240px;
min-width:240px;
margin:0 0 5px 0;
font-size:.8em;
color:#707070;
border:1px solid #c1c1c1 !important;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px; 
z-index:1000000;
}

input:focus
{
border:1px solid #a3a3a3;
box-shadow: 0px 0px 5px #9e9e9e;  
-webkit-box-shadow: 0px 0px 5px #9e9e9e;  
-moz-box-shadow: 0px 0px 5px #9e9e9e; 
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
behavior: url(ie-css3.htc);
z-index:1000000;
}

.butt{
	width:160px !important;
	max-width: 160px !important;
	min-width:160px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size:.85em;
	color:#707070;
	margin:30px 0 0 0;
	padding: 6px 25px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#dddddd);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#dddddd));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #f9fff7;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 2px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px 1px 0px rgba(255,255,255,1);
}



   
.butt:hover{ 
	background:#83c849;
	border: 2px solid #d8ffcb;
	-moz-box-shadow:
                0px 1px 2px rgba(255,255,255,1),
                inset 0px 0px 2px rgba(255,255,255,1);
        -webkit-box-shadow:
                0px 1px 2px rgba(255,255,255,1),
                inset 0px 0px 2px rgba(255,255,255,1);
        box-shadow:
                0px 1px 2px rgba(255,255,255,1),
                inset 0px 0px 2px rgba(255,255,255,1);
	color:#FFFFFF;
	cursor:pointer;
	text-shadow:none !important;
}

ul.links{list-style:none;position: relative; top:50px; text-align: center; }
ul.links li{display:inline;padding:0 ;}
ul.links li a{font-size:.8em;color:#777777;text-decoration:none;text-shadow:#FFFFFF 0 1px 0;padding:5px 10px 5px 10px;}
ul.links li a:hover{color:#333333;}

.mapm{
display:block;
position:fixed;
bottom:0;
width:100%;
height:30%;
}


ul.credits{
list-style:none;
display:block;
position:fixed;
bottom:0;
text-align:center;
width:100%;
margin:0;
padding:0 0 30px 0;
margin:0;
background:transparent;
 }

ul.credits{color:#FFFFFF;}	 
ul.credits li{display:inline;padding:0;margin:0;font-size:.9em;text-decoration:none;}
ul.credits li a{font-size:1em;color:#FFFFFF;text-decoration:none;padding:0 10px 0 0;}
ul.credits li a:hover{text-decoration:none;color:#707070;}

.ui-dialog-titlebar-close{
    display: none;
}

.dialog-loading{
  background:#E0E0E0;
}

.load{
   margin:0;padding:0;
}
