/*ScaleBar*/
.scalebar-container{
    position:absolute;
    bottom:45px;
    right:10px;
    width:200px;
    background:#FFFFFF;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px; 
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    z-index:1000;
}

#scalebar{
    z-index:1000;
    margin: 0 15%;
}

.olControlScaleBar {
    padding:0;
    max-width:120px;
    font-family: arial;
    color: #FFFFFF;
    right: 10px;
    bottom: 37.5px;
    z-index: 1002;
}
.olControlScaleBarBar {
    height: 11px;
    top: 12px;
    background-color: #00008B;
    background-image: url(../img/scalebar-bar.png);
    background-position: 0 0;
    background-repeat: repeat-x;
}
.olControlScaleBarBarAlt {
    height: 11px;
    top: 12px;
    background-color: #00008B;
    background-image: url(../img/scalebar-bar.png);
    background-position: 0 0;
    background-repeat: repeat-x;
}
.olControlScaleBarMarkerMajor {
    height: 13px;
    width: 13px;
    top: 12px;
    background-image: url(../img/scalebar-marker.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 5000;
}
.olControlScaleBarMarkerMinor {
    height: 13px;
    width: 13px;
    top: 12px;
    background-image: url(../img/scalebar-marker.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 5000;
}
.olControlScaleBarNumbersBox {
    height: 13px;
    width: 40px;
    top: 24px;
    font-size: .7em;
    font-weight:normal;
    color:#816c5b;
}
.olControlScaleBarLabelBox {
    height: 15px;
    top: -2px;
    font-size: .8em;
    font-weight:normal;
    color:#816c5b;
}
.olControlScaleBarLabelBoxSingleLine {
    height: 15px;
    width: 35px;
    top: 0px;
    left: 10px;
    font-size: 13px;
}
