<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Redirection to ZOO-Kernel" />
                <rule name="Redirection to ZOO-Kernel" stopProcessing="true">
                    <match url="^mm/css/(.*)" />
                    <conditions trackAllCaptures="true">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/cgi-bin/zoo_loader_final.cgi?metapath=template&amp;request=Execute&amp;service=WPS&amp;version=1.0.0&amp;Identifier=docss&amp;DataInputs=color={R:1}&amp;RawDataOutput=Result@mimeType=text/css" />
                </rule>
                <rule name="CSS Templating">
                    <match url="(.*)" />
                    <action type="Rewrite" url="/arv-bin/zoo_loader.cgi?metapath=template&amp;request=Execute&amp;service=WPS&amp;version=1.0.0&amp;Identifier=docss&amp;DataInputs=color={R:1}&amp;RawDataOutput=Result@mimeType=text/css" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
