.tree-node-selected{
background: #8340f3; /* for non-css3 browsers */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c743f8', endColorstr='#8340f3'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#c743f8), to(#8340f3)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #c743f8, #8340f3 ); /* for firefox 3.6+ */
}

.menu-active{
	border:1px solid #a182f9;
	background:#fafafa;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
}