#import zoo
<div style="display:block;" id="repport">
#if not("prefix" in $inputs.keys())
  <table class="gen" id="#">
    <tr>
      <td valign="middle" style="width:200px;">$zoo._("Document model:")</td>
      <td>
	<form id="fileUpload1" action="$conf["main"]["serverAddress"]?request=Execute&service=WPS&version=1.0.0&Identifier=upload.saveOnServer&dataInputs=file=upload" method="post" enctype="multipart/form-data" target="uploader1">
	<input id="repport_doc" name="file" class="rounded frm maincfg" type="file" />
	<a id="repport_doc_url" href="#"></a>
	</form>
	<a href="#" class="wbutton ui-corner-all al" onclick="\$('#fileUpload1').submit();">$zoo._("Send file")</a>		  
	<iframe onload="if(counter>0){try{if(\$('#repport_doc_url').html()) saveRepportFile();counter=1;}catch(e){alert(e);}}else counter+=1;" name="uploader1" id="uploader1" style="display:none"></iframe>
      </td>
    </tr>
    <tr id="#if "prefix" in $inputs.keys()#agregate_#end if#repport_steps" style="display:none;">
      <td>
	$zoo._("Step:")
      </td>
      <td>
	<select id="#if "prefix" in $inputs.keys()#agregate_#end if#repport_step" onchange="System.refreshSteps=false;editRepport();"/>
      </td>      
    </tr>
  </table>
  <div id="repport_editor" style="display: none">
  </div>
#else
  <div id="agregate_repport_editor" style="display: none">
  </div>
#end if
</div>
