#encoding UTF-8
#import zoo
#import mm_access
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=auth.getPrefix($conf)
#*import np.service as np
#set outputs1={"Result":{"value":""}}
#set res=np.parseDocAttr($conf,{"template":$inputs["template"]},$outputs1)*#
#set res=$cur.execute("select id,label,name from "+$prefix+"ftypes order by id")
#set res=$cur.fetchall()
#set defaultTypes=["map","table","diag"]
#set tmpl=$conf['main']['templatesPath']+"/Distiller/form_line.html"
#include $tmpl
#set ftmpl=$self._CHEETAH__cheetahIncludes[$tmpl]

<div class="form-horizontal" id="repport">
  <div class="row col-sm-12">
    <label class="col-sm-3 control-label">
      $zoo._("Document model")
    </label>
    <div class="form-group col-sm-6">
      <form id="afileUpload" action="$conf["main"]["serverAddress"]?request=Execute&service=WPS&version=1.0.0&Identifier=upload.saveOnServer&dataInputs=file=upload" method="post" enctype="multipart/form-data" target="auploader">
        <input type="file" name="file" id="file" class="form-control file" />
        <a id="documents_afile_link" href="" target="_blank"></a>
        <input type="hidden" id="documents_afilename" class="form-control" />
      </form>
      <iframe name="auploader" id="auploader" style="display:none"></iframe>
    </div>
    $ftmpl.printButton({"id":"import-doc","name":$zoo._("Import"),"classes":"btn-small col-sm-3" })
  </div>

  <div id="documents_repport_editor" >
  </div>

<script type="txt/template" id="document_settings_container_template">
  <table id="repport_display2">
    <thead>
      <th width="25">$zoo._("D.")</th>
      <th width="105">$zoo._("Name")</th>
      <th width="160">$zoo._("Type")</th>
      <th width="205">$zoo._("Value")</th>
    </thead>
    <tbody>
      [content]
    </tbody>
  </table>
  $ftmpl.printButton({"id":"save-doc","name":$zoo._("Save"),"classes":"btn-small" })
  $ftmpl.printButton({"id":"preview-doc","name":$zoo._("Preview"),"classes":"btn-small" })
</script>

<script type="txt/template" id="document_settings_line_template">
  <tr>
    <td><input type="checkbox" checked="checked" id="rtable_display_[x]" /></td>
    <td><input type="hidden" value="[name]" id="rtable_name_[x]"/> [name]</td>
    <td>
      <select class="form-control" id="rtable_type_[x]">
	#for j in res
	<option value="$j[0]">$j[1]</option>
	#end for
      </select>
    </td>
    <td><textarea class="form-control" id="rtable_value_[x]"></textarea></td>
  </tr>
</script>
  
</div>
