#import zoo
#try
#if $inputs.has_key("prefix")
#set prefix="agregate_"
#else
#set prefix=""
#end if
#except
#set prefix=""
#end try
<div style="display:block;" id="$(prefix)chart">
#if $inputs.has_key("prefix")
  <input id="$(prefix)graphs_id" type="hidden" class="rounded frm" value="-1" />
#else
  <div class="loader-container">
    <div id="loader"> </div>
  </div>
#end if
  <table class="gen">
    <tbody>
#if not($inputs.has_key("prefix"))
      <tr id="$(prefix)graphs_steps">
	<td valign="middle" style="width:200px;">$zoo._("Step: ")</td>
	<td>
	  <select id="$(prefix)graphs_step" class="rounded frm" onchange="System.refreshSteps=false;refreshGraphFields();">
	  </select>
	</td>
      </tr>
      <tr>
	<td valign="middle" style="width:200px;">Titre du graphique:</td>
	<td>
	  <input id="$(prefix)graphs_title" class="rounded frm" type="text"  />
	  <input id="$(prefix)graphs_id" type="hidden" class="rounded frm" value="-1" />
	</td>
      </tr>
      <tr>
	<td valign="middle" style="width:200px;">Type du graphique:</td>
	<td>
	  <select  id="$(prefix)graphs_f_type" class="gselect rounded">
	    <option value="hist">Histogramme</option>
	    <option value="circ">Diagramme circulaire</option>
	  </select> 
	</td>
      </tr>
#end if
      <tr>
	<td valign="middle" style="width:200px;">Label X:</td>
	<td>
	  <input id="$(prefix)graphs_lx" class="rounded" />
	</td>
      </tr>	
      <tr>
	<td valign="middle" style="width:200px;">Variable X:</td>
	<td>
	  <select id="$(prefix)graphs_vx" class="gselect rounded  fselect">
	  </select> 
	</td>
      </tr>	
#if not($inputs.has_key("prefix"))
      <tr>
	<td valign="middle" style="width:200px;">Label Y:</td>
	<td>
	  <input id="$(prefix)graphs_ly" class="rounded" />
	</td>
      </tr>
      <tr>
	<td valign="middle" style="width:200px;">Variable Y:</td>
	<td>
	  <select id="$(prefix)graphs_vy" class="gselect rounded fselect">
	  </select> 
	</td>
      </tr>
      <tr>
	<td valign="middle" style="width:200px;">Formule Y:</td>
	<td>
	  <textarea id="$(prefix)graphs_formula" class="rounded frm maincfg" type="text"></textarea>
	</td>
      </tr>
      <tr>
	<td valign="middle" style="width:200px;">Tooltip:</td>
	<td>
	  <textarea id="$(prefix)graphs_tooltip" class="gselect rounded fselect"></textarea>
	</td>
      </tr>	        
#end if
    </tbody>
  </table>
  
  <a href="#" class="wbutton ui-corner-all al"onclick="refreshGraph(#if $inputs.has_key("prefix")#'agregate_'#end if#);">$zoo._("Preview")</a>
  <a href="#" class="wbutton ui-corner-all al" onclick="insertGraph(#if $inputs.has_key("prefix")#'agregate_'#end if#);">$zoo._("Save")</a>
  
  <div id="$(prefix)graphDisplay">
  </div>
</div>
