#import zoo
#set tmpl=$conf['main']['templatesPath']+"/Distiller/form_line.html"
#include $tmpl
#set ftmpl=$self._CHEETAH__cheetahIncludes[$tmpl]
#try
#if $inputs.has_key("prefix")
#set prefix="agregate_"
#else
#set prefix=""
#end if
#except
#set prefix=""
#end try
<div style="display:block;" class="form-horizontal" id="$(prefix)chart">
#if $inputs.has_key("prefix")
  <input id="$(prefix)graphs_id" type="hidden" class="rounded frm" value="-1" />
#else
  <div class="loader-container">
    <div id="loader"> </div>
  </div>
#end if
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_title","id":$prefix+"graphs_title","name":$zoo._("Title")})
#set options=[
  ["hist",$zoo._("Histogram")],
  ["circ",$zoo._("Circular Diagram")]
  ]

  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_step","id":$prefix+"graphs_step","name":$zoo._("Step"),"type":"select","options":[]})
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_type","id":$prefix+"graphs_type","name":$zoo._("Type"),"type":"select","options":$options})
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_lx","id":$prefix+"graphs_lx","name":$zoo._("X Label")})
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_vx","id":$prefix+"graphs_vx","name":$zoo._("X Value"),"type":"select","options":[],"iclasses":"mmFields"})
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_ly","id":$prefix+"graphs_ly","name":$zoo._("Y Label")})
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_vy","id":$prefix+"graphs_vy","name":$zoo._("Y Value"),"type":"select","options":[],"iclasses":"mmFields"})
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_formula","id":$prefix+"graphs_formula","name":$zoo._("Formula"),"type":"textarea"})
  $ftmpl.printLine({"rid":"documents_"+$prefix+"graphs_tooltip","id":$prefix+"graphs_tooltip","name":$zoo._("Tooltip"),"type":"textarea"})

#if not("prefix" in $inputs.keys())
  $ftmpl.printButton({"id":"preview","name":$zoo._("Preview")})
  $ftmpl.printButton({"id":"save","name":$zoo._("Save")})
#end if
    
  <div id="$(prefix)graphDisplay">
  </div>
</div>
