#encoding UTF-8
#import zoo
#import mm_access
<div>
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=auth.getPrefix($conf)
#import np.service as np
#set outputs1={"Result":{"value":""}}
#set res=np.parseDocAttr($conf,{"template":$inputs["template"]},$outputs1)
#set res=$cur.execute("select id,label,name from "+$prefix+"ftypes order by id")
#set res=$cur.fetchall()
#set defaultTypes=["map","table","diag"]
#try
#if "step" in $inputs.keys()
#set suffixReq=" and step="+$inputs["step"]["value"]
#else
#set suffixReq=" and step is null"
#end if
#if "tid" in $inputs.keys()
#set res0=$cur.execute("select display,var,value,typ from "+$prefix+"rtable where it_id=(SELECT id from  indicateurs_territoires where i_id="+$inputs["id"]["value"]+" and t_id="+$inputs["tid"]["value"]+")"+suffixReq)
#else
#set res0=$cur.execute("select display,var,value,typ from "+$prefix+"rtable where it_id=(SELECT id from  indicateurs_territoires where i_id="+$inputs["id"]["value"]+" and (not(agregation) or agregation is null))"+suffixReq)
#end if
#except
#set c=$con.conn.commit()
#set res0=$cur.execute("select display,var,value,typ from "+$prefix+"rtable where it_id=(SELECT id from  "+$prefix+"indicators_territories where i_id="+$inputs["id"]["value"]+" and (not(agregation) or agregation is null))"+suffixReq)
#end try

#set res0=$cur.fetchall()
#try
#if "tid" in $inputs.keys()
#set sprefix="agregate_"
#else
#set sprefix=""
#end if
#except
#set sprefix=""
#end try
  <table id="$(sprefix)repport_display2">
    <thead>
      <th width="25">$zoo._("D.")</th>
      <th width="205">$zoo._("Name")</th>
      <th width="160">$zoo._("Type")</th>
      <th width="180">$zoo._("Value")</th>
    </thead>
    <tbody>
      #import json
      #set cnt=0
#for i in $json.loads($outputs1["Result"]["value"])
      <tr>
	<td><input #if $defaultTypes.count($i)>0#disabled="true"#end if# type="checkbox" id="$(sprefix)rtable_display_$cnt" #if ($res0 is not None and len($res0)>$cnt and $res0[$cnt][0])#checked="true"#else##if $res0 is None or len($res0)==0#checked="true"#end if##end if#/></td>
	<td><input type="hidden" value="$i" id="$(sprefix)rtable_name_$cnt"/> $i.title()</td>
	<td>
	  <select id="$(sprefix)rtable_type_$cnt" #if $defaultTypes.count($i)>0#disabled="true"#end if#>
#for j in res
	    <option value="$j[0]" #if ($defaultTypes.count($i)>0 and $j[2]==$i ) or ($res0 is not None and len($res0)>$cnt and $res0[$cnt][3]==$j[0])#selected="true"#end if#>$j[1]</option>
#end for	    
	  </select>
	</td>
	<td><textarea id="$(sprefix)rtable_value_$cnt" #if $defaultTypes.count($i)>0#style="display:none"#end if#>#if $res0 is not None and len($res0)>$cnt and $res0[$cnt][2] is not None#$res0[$cnt][2]#end if#</textarea></td>
      </tr>
      #set $cnt=$cnt+1
#end for
    </tbody>
  </table>

  <a href="#" class="wbutton ui-corner-all al" onclick="saveRepport(#if "tid" in $inputs.keys()#'agregate_'#end if#);">$zoo._("Save")</a>
  <a href="#" class="wbutton ui-corner-all al" onclick="previewRepport(#if "tid" in $inputs.keys()#'agregate_'#end if#);">$zoo._("Preview")</a>

</div>
