#encoding UTF-8
#import zoo
#import mm_access
<div>
  #import authenticate.service as auth
  #set con=auth.getCon($conf)
  #set cur=con.conn.cursor()
  #set prefix=auth.getPrefix($conf)
  #import datastores.postgis.pgConnection as pp

  #set rcols=$inputs["rcol"]["value"].split(',') 
  #set rwidth=$inputs["rwidth"]["value"].split(',') 

  #if $inputs.has_key("tid")
  #if $inputs.has_key("step")
  #set res=$cur.execute($pp.getDesc($cur,"indexes.agregate_t"+$inputs["tid"]["value"]+"_idx_"+$inputs["id"]["value"]+"_step"+$inputs["step"]["value"]))
  #else
  #set res=$cur.execute($pp.getDesc($cur,"indexes.agregate_t"+$inputs["tid"]["value"]+"_idx_"+$inputs["id"]["value"]))
  #end if
  #set reqSuffix=" and t_id="+$inputs["tid"]["value"]
  #else
  #*if $inputs.has_key("step")
  #set res=$cur.execute($pp.getDesc($cur,"indexes.view_idx_"+$inputs["id"]["value"]+"_step"+$inputs["step"]["value"]))
  #else*#
  #set res=$cur.execute($pp.getDesc($cur,"indexes.view_idx"+$inputs["id"]["value"]))
  #*end if*#
  #set reqSuffix=" and (not(agregation) or agregation is null)"
  #end if
  #if $inputs.has_key("step")
  #set reqSuffix0=" and step="+$inputs["step"]["value"]
  #else
  #set reqSuffix0=" and step is null"
  #end if
  #set vals=cur.fetchall()
  #set initialIndex={}
  #for i in $vals
  #set $initialIndex[$i[1]]=$i[0]
  #end for
  #set req="select display,search,pos,var,label,value,width from dtable where it_id=(select id from indicateurs_territoires where i_id="+$inputs["id"]["value"]+$reqSuffix+") "+$reqSuffix0+" order by pos"

  #set res=$cur.execute($req)
  #set iniVals0=cur.fetchall()
  <!-- $iniVals0 -->

  #set iniVals={}
  #set ord=[]
  #set cnt=0
  
  #if len($iniVals0)==0
  #for i in $rcols
  #set $iniVals[$i]={"display":"true","search":"true","pos":str($cnt),"label":$i,"value":$i,"width":$rwidth[$cnt]}
  #set $ord+=[$i]
  #set $cnt+=1
  #end for
  #else
  
  #for i in range(0,len($iniVals0))
  #set $iniVals[str($iniVals0[$i][3])]={"display":str($iniVals0[$i][0]).lower(),"search":str($iniVals0[$i][1]).lower(),"pos":str($iniVals0[$i][2]),"label":$iniVals0[$i][4],"value":$iniVals0[$i][5],"width":str($iniVals0[$i][6])}
  #set $ord+=[str($iniVals0[$i][3])]
  #set $cnt+=1
  #end for
  #end if
  
  <table id="flex_display2">
    <thead>
	<th width="25">A</th>
	<th width="25">R</th>
	<th width="25">Pos</th>
	<th width="75">Column</th>
	<th width="160">Libélé</th>
	<th width="180">Valeur</th>
	<th width="50">Largeur</th>
    </thead>
    <tbody>
      #set cnt=0
      #for i in $ord
      <tr>
	<td><input type="checkbox" id="dtable_display_$cnt" #if $iniVals[$i]["display"]=="true"#checked="true"#end if# /></td>
	<td><input type="checkbox" id="dtable_search_$cnt" #if $iniVals[$i]["search"]=="true"#checked="true"#end if# /></td>
	<td><input type="text" style="width: 25px;" id="dtable_pos_$cnt" value="$iniVals[$i]["pos"]" /></td>
	<td>
	  <input type="hidden" id="dtable_var_$cnt" value="$i" />
	  <input type="hidden" id="dtable_varid_$cnt" value="$initialIndex[$i]" />
	  $i
	</td>
	<td><input type="text" id="dtable_label_$cnt" value="$iniVals[$i]["label"]" /></td>
	<td><textarea id="dtable_value_$cnt">$iniVals[$i]["value"]</textarea></td>
	<td><input type="text" style="width: 50px;" id="dtable_width_$cnt" value="$iniVals[$i]["width"]" /></td>
      </tr>
      #set $cnt+=1
      #end for

      #for i in $vals
      #if $i[1]!="ogc_fid" and $i[1]!="wkb_geometry" and not($iniVals.has_key($i[1]))
      <tr>
	<td><input type="checkbox" id="dtable_display_$cnt" /></td>
	<td><input type="checkbox" id="dtable_search_$cnt" /></td>
	<td><input type="text" style="width: 25px;" id="dtable_pos_$cnt" /></td>
	<td>
	  <input type="hidden" id="dtable_var_$cnt" value="$i[1]" />
	  <input type="hidden" id="dtable_varid_$cnt" value="$initialIndex[$i[1]]" />
	  $i[1]
	</td>
	<td><input type="text" id="dtable_label_$cnt" value="" /></td>
	<td><textarea id="dtable_value_$cnt">$i[1]</textarea></td>
	<td><input type="text" style="width: 50px;" id="dtable_width_$cnt" value="" /></td>
      </tr>
      #set $cnt+=1
      #end if
      #end for
    </tbody>
  </table>
  <input type="hidden" id="dtable_fnb" value="$cnt" />
  <a href="#" class="wbutton ui-corner-all" onclick="saveIndexDisplaySettings(#if $inputs.has_key('tid')#\$('#p_tname').val()#end if#);" >Valider</a>
  <a href="#" class="wbutton ui-corner-all" onclick="refreshIndexDisplay(#if $inputs.has_key('tid')#\$('#p_tname').val()#end if#);" >Rafraichir</a>
</div>
