#import zoo
#try
#if "prefix" in $inputs.keys()
#set prefix="agregate_"
#else
#set prefix=""
#end if
#except Exception as e
#set prefix=""
#end try
<div class="form-horizontal" id="$(prefix)table">
#if not("prefix" in $inputs.keys())
  <div class="loader-container">
    <div id="loader"> </div>
  </div>
  <table class="gen" id="#">
    <tbody>
      <tr id="$(prefix)table_steps">
	<td valign="middle" style="width:200px;">$zoo._("Step: ")</td>
	<td>
	  <select id="$(prefix)table_step" class="rounded frm" onchange="System.refreshSteps=false;refreshTableFields();">
	  </select>
	</td>
      </tr>
      <tr>
	<td valign="middle" style="width:200px;">Titre de la table:</td>
	<td><input id="$(prefix)table_title" class="rounded frm" type="text" /><input id="$(prefix)table_id" class="rounded frm" type="hidden" /></td>
      </tr>
    </tbody>
  </table>
  <a onclick="insertTable();" href="#" class="wbutton ui-corner-all al">$zoo._("Save")</a>
#end if
  <div id="$(prefix)dsContainer1">
  </div>
</div>
