#import zoo
<div>
<h1">$zoo._("Step name: ")</h1>
<input id="mmStepName" type="text" value="" />
<input type="submit" value="$zoo._("Add")" onclick="MMStyler.Timeline.saveStep();return false;" />
</div>