#import zoo
<tr>
<td valign="top">$zoo._("Expression settings")<input id="$(prefix1)cExpressionC" type="checkbox" onclick="if(!this.checked)\$(this).parent().next().hide();else \$(this).parent().next().show();" #if $m.getLayerByName($inputs["layer"]["value"]).getClass($mmClass).getExpressionString()!=""#checked="true"#end if#/> </td>
#if $type=="spe"
<td #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmMExpr") is None#style="display:none"#end if#>
<textarea id="$(prefix1)cExpression" >$m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmMExpr")</textarea>
</td>
#else
<td #if $m.getLayerByName($inputs["layer"]["value"]).getClass($mmClass).getExpressionString()==""#style="display:none"#end if#>
<textarea id="$(prefix1)cExpression" >$m.getLayerByName($inputs["layer"]["value"]).getClass($mmClass).getExpressionString()</textarea>
</td>
#end if
</tr>