#encoding UTF-8
#import zoo

<form class="form-horizontal mtpp" method="get" >
  <div class="form-group no-grid">
    <label class="col-sm-3 control-label">$zoo._("Show labels")</label>
    <input type="checkbox" name="displayLabels" onchange="\$(this).is(':checked')?\$(this).parent().parent().parent().find('.require-label-display').show():\$(this).parent().parent().parent().find('.require-label-display').hide();"/>
  </div>
  <div class="form-group require-label-display no-grid">
    <label class="col-sm-3 control-label">$zoo._("Labeling field")</label>
    <div class="col-sm-9 ">
      <select name="labelField" class="form-control  mmField">
      </select>
    </div>
  </div>
  <div class="form-group require-label-display">
    <label class="col-sm-3 control-label">$zoo._("Orientation")</label>
    <div class="col-sm-9 ">
      <div class="input-group">
        <input type="text" data-toggle="tooltip" class="form-control" name="labelAngle" value="0" data-toggle="tooltip" title="$zoo._("Angle, given in degrees, to draw the label. Using value '0' for a LINE layers will imply the computation of a curved label for appropriate linear features.")" />
	<span class="input-group-addon  no-grid">
          <input name="fillColorValuec" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));\$(this).parent().prev().attr('disabled',\$(this).is(':checked'));" />
	</span>
	<select name="labelOrienrationField" class="form-control mmField no-grid" disabled="disabled">
	</select>	
      </div>
    </div>
  </div>
  <div class="form-group require-label-display">
    <label class="col-sm-3 control-label">$zoo._("Clean size")</label>
    <div class="col-sm-3 ">
      <input type="text" class="input-control" name="labelCleanSize" data-toggle="tooltip" title="$zoo._("Padding, in pixels, around labels. Useful for maintaining spacing around text to enhance readability.")" />
    </div>
  </div>
  <div class="form-group require-label-display">
    <label class="col-sm-3 control-label">$zoo._("Font")</label>
    <div class="col-sm-3 ">
	<select name="labelFontFamilly" class="form-control">
#set font_famillies=['Arial','Georgia','Osaka','Tahoma','Trebuchet','Verdana']
#for a in $font_famillies
	  <option style="font-family:${a};font-size:1.1em;" value="${a}">${a}</option>
#end for
	</select>
    </div>
    <div class="col-sm-3 ">
	<select name="labelFontSize" class="form-control">
#set font_sizes=range(6,18)
#for a in font_sizes
	  <option style="font-size:${a}px;" value="${a}">${a}px</option>
#end for
	</select>
    </div>
    <div class="col-sm-3 ">
      <div class="input-group cpicker">
	<input type="text" name="labelFontColor" value="#ffffff"  class="form-control"/>
	<span class="input-group-addon"><i></i></span>
      </div>
    </div>
  </div>
  <div class="form-group require-label-display">
    <label class="col-sm-3 control-label">$zoo._("Buffered label")</label>
    <input type="checkbox" name="displayBufferLabels" onchange="\$(this).is(':checked')?\$(this).parent().parent().parent().find('.require-buffer-label').show():\$(this).parent().parent().parent().find('.require-buffer-label').hide();"/>
  </div>
  <div class="form-group require-label-display require-buffer-label">
    <label class="col-sm-3 control-label">$zoo._("Buffered label")</label>
    <div class="col-sm-3 ">
      <input type="text" name="labelBufferSize" value="1" class="form-control"/>
    </div>
    <div class="col-sm-6 ">
      <div class="input-group cpicker">
	<input type="text" name="labelBufferColor" value="#ffffff"  class="form-control"/>
	<span class="input-group-addon"><i></i></span>
      </div>
    </div>
  </div>
  <div class="form-group require-label-display no-grid">
    <label class="col-sm-3 control-label">$zoo._("Position")</label>
    <div class="col-sm-9 ">
      <table>
#set values=['ul','uc','ur','cl','cc','cr','ll','lc','lr']
#set positions_x=[$zoo._('Left'),$zoo._('Center'),$zoo._('Right')]
#set positions_y=[$zoo._('Top'),'',$zoo._('Bottom')]	
#set id=0
#for a in $positions_y
	<tr>
#for b in $positions_x
	  <td>
	    <div class="input-group myWell">
	      <input value="$values[$id]" name="labelPosition" type="radio" />
	      <label class="control-label myWell"> $a $b</label>
	    </div>
	  </td>
#set id=$id+1
#end for
	</tr>
#end for
      </table>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default">$zoo._("Apply")</button>
  </div>
  
</form>    
