#def printListImgs($conf,$inputs,$cnt,$mapfile,$cimgs,$i,$j)
     <a href="#" onclick="#if $inputs.keys().count('ttf')>0#symbolAddToOrig('$images[$i].id.replace('Symbol_',"")')#end if#"><span style="display:inline-block;background: #e6e6e6 url('$conf["main"]["mapserverAddress"]?map=$mapfile&LAYERS=$(','.join($cimgs))&SRS=EPSG%3A4326&amp;FORMAT=image%2Fpng&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_inimage&BBOX=#if $cnt==0#-#end if#$(cnt*64).502,0,$((cnt+1)*64).502,0.002&WIDTH=2048&HEIGHT=32&format=png') no-repeat scroll #if $j>0#-#end if##if $cnt==0#$(((j)*31.51))#else#$((j-1)*32)#end if#px 0 !important;width:32px;height:32px;" > </span></a>
#end def

<div>

#set imgs=[]
#for i in range(len($images))
#set $imgs+=[$images[$i].id]
#end for

#set cimgs=[]
#set cnt=0
#for i in range(len($images))
#*
     <a href="#" onclick="#if $inputs.keys().count('ttf')>0#symbolAddToOrig('$images[$i].id.replace('Symbol_',"")')#end if#"><img src="$images[$i].value" /></a>
*#

#set $cimgs+=[$images[$i].id]

#if $i%64==0 and $i!=0
#for j in range(0,len($cimgs))
$printListImgs($conf,$inputs,$cnt,$mapfile,$cimgs,(($cnt*64)+$j),$j)
#end for
#set $cimgs=[]
#set $cnt+=1
#end if
#end for
#if len($cimgs)>0
#for j in range(0,len($cimgs))
$printListImgs($conf,$inputs,$cnt,$mapfile,$cimgs,(($cnt*64)+$j),$j)
#end for
#end if
</div>
