SYMBOLSET
#if 'charcodes' in $inputs.keys() and $inputs["ttf"]["value"]!="images"
#set a=eval($inputs["charcodes"]["value"])
#for i in a
	SYMBOL
		NAME "${inputs["ttf"]["value"]}|${i}"
		TYPE truetype
		FONT "$inputs["ttf"]["value"]"
		CHARACTER "&#$i;"
	END #end for#
#else
#import os
#set a=os.listdir($conf["main"]["dataPath"]+"/fonts/images/")
#if 'charcodes' in $inputs.keys()
#set b=[$inputs["charcodes"]["value"].replace("[","").replace("]","")]
#else
#set b=[]
#end if
#for i in a
#if len($b)==0 or $b.count($i)>0
	SYMBOL
		NAME "${inputs["ttf"]["value"]}|${i}"
		TYPE PIXMAP
		IMAGE "$conf["main"]["dataPath"]/fonts/images/$i"
	END #end if##end for#

#end if
END

