#encoding UTF-8
#import zoo

<form class="form-horizontal mtpp" method="get" >
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">$zoo._("Class Name")</label>
    <input type="text" name="className" class="form-control col-sm-9"/>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">$zoo._("Expression settings")</label>
    <div class="input-group col-sm-9">
      <span class="input-group-addon">
      <input name="classExpressionc" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
      </span>
      <textarea class="form-control col-sm-9" disabled="disabled" name="classExpression0"></textarea>
    </div>
  </div>
  <div class="form-group col-sm-12 require-point">
    <label class="col-sm-3 control-label">$zoo._("Symbol")</label>
    <div class="col-sm-4">
      <input type="hidden" name="classSymbol" value="circle" />
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	$zoo._("Symbol")  <i class="fa fa-caret-down"></i>
	</button>
	<ul class="dropdown-menu symbolsList">
	  <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
	</ul>
      </div>
    </div>
    <div class="col-sm-5 symbolsDisplay">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">$zoo._("Fill color")</label>
    <div class="col-sm-9 input-group cpicker">
      <span class="input-group-addon">
        <input name="fillColorValuec" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
      </span>
      <input type="text" name="fillColorValue" value="#ffffff" class="form-control" onkeyup="if(\$(this).val().length==7)\$(this).parent().colorpicker('setValue', \$(this).val());"/>
      <span class="input-group-addon"><i></i></span>
    </div>
  </div>
  <div class="form-group col-sm-12 require-polygon">
    <label class="col-sm-3 control-label">$zoo._("Hatch fill")</label>
    <input name="hatchFillc" type="checkbox" onchange="\$(this).parent().parent().find('.require-hatch').toggleClass('hide');" />
  </div>
  <div class="form-group col-sm-12 require-hatch hide">
    <label class="col-sm-3 control-label">$zoo._("Angle")</label>
    <div class="col-sm-9">
      <input type="text" name="hatchAngle" class="form-control"/>
    </div>
  </div>
  <div class="form-group col-sm-12 require-hatch hide">
    <label class="col-sm-3 control-label">$zoo._("Size")</label>
    <div class="col-sm-9">
      <input type="text" name="hatchSize" class="form-control"
  data-toggle="tooltip" title="$zoo._("Dash width + a gap size")"/>
    </div>
  </div>
  <div class="form-group col-sm-12 require-hatch hide">
    <label class="col-sm-3 control-label">$zoo._("Dash width")</label>
    <div class="col-sm-9">
      <input type="text" name="hatchWidth" class="form-control"/>
    </div>
  </div>
  <div class="form-group col-sm-12 require-polygon">
    <label class="col-sm-3 control-label">$zoo._("Symbol fill")</label>
    <input name="symbFillc" type="checkbox" onchange="\$(this).parent().parent().find('.require-symbolfill').toggleClass('hide');" />
  </div>
  <div class="form-group col-sm-12 require-symbolfill hide">
    <label class="col-sm-3 control-label">$zoo._("Symbol")</label>
    <div class="col-sm-4">
      <input type="hidden" name="symbSymbol" value="circle" />
      <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	$zoo._("Symbol")  <i class="fa fa-caret-down"></i>
	</button>
	<ul class="dropdown-menu symbolsList">
	  <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
	</ul>
      </div>
    </div>
    <div class="col-sm-5 symbolsDisplay">
    </div>
  </div>
  <div class="form-group col-sm-12 require-symbolfill hide">
    <label class="col-sm-3 control-label">$zoo._("Fill color")</label>
    <div class="input-group col-sm-9 cpicker">
      <input type="text" name="symbFillColorValue" value="#ffffff" class="form-control" onkeyup="if(\$(this).val().length==7)\$(this).parent().colorpicker('setValue', \$(this).val());"/>
      <span class="input-group-addon"><i></i></span>
    </div>
  </div>
  <div class="form-group col-sm-12 require-symbolfill hide">
    <label class="col-sm-3 control-label">$zoo._("Size")</label>
    <div class="col-sm-9">
      <input type="text" name="symbSize" class="form-control"
  data-toggle="tooltip" title="$zoo._("Dash width + a gap size")"/>
    </div>
  </div>
  <div class="form-group col-sm-12 require-symbolfill hide">
    <label class="col-sm-3 control-label">$zoo._("Stroke color")</label>
    <div class="input-group col-sm-9 cpicker">
      <input type="text" name="symbStrokeColorValue" value="#ffffff" class="form-control" onkeyup="if(\$(this).val().length==7)\$(this).parent().colorpicker('setValue', \$(this).val());"/>
      <span class="input-group-addon"><i></i></span>
    </div>
  </div>
  <div class="form-group col-sm-12 require-symbolfill hide">
    <label class="col-sm-3 control-label">$zoo._("Width")</label>
    <div class="col-sm-9">
      <input type="text" name="symbWidth" class="form-control"/>
    </div>
  </div>
  <div class="form-group col-sm-12 require-symbolfill hide">
    <label class="col-sm-3 control-label">$zoo._("Gap")</label>
    <div class="col-sm-9">
      <input type="text" name="symbGap" class="form-control"/>
    </div>
  </div>
  <div class="form-group require-point">
    <label class="col-sm-3 control-label">$zoo._("Size")</label>
    <div class="col-sm-9">
      <input type="text" name="classSize" class="form-control"/>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">$zoo._("Stoke color")</label>
    <div class="input-group col-sm-9 cpicker">
      <span class="input-group-addon">
        <input name="strokeColorValuec" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
      </span>
      <input type="text" name="strokeColorValue" value="#ffffff" class="form-control" onkeyup="if(\$(this).val().length==7)\$(this).parent().colorpicker('setValue', \$(this).val());"/>
      <span class="input-group-addon"><i></i></span>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">$zoo._("Width")</label>
    <div class="col-sm-9">
      <input type="text" name="classWidth" class="form-control"/>
    </div>
  </div>
  <div class="form-group col-sm-12 require-line">
    <label class="col-sm-3 control-label">$zoo._("Outline Width")</label>
    <div class="col-sm-9">
      <input type="text" name="classOutlineWidth" class="form-control"/>
    </div>
  </div>
  <div class="form-group col-sm-12 no-point">
    <label class="col-sm-3 control-label">$zoo._("Pattern")</label>
    <div class="input-group col-sm-9">
      <span class="input-group-addon">
        <input name="classPatternc" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
      </span>
      <input type="text"  class="form-control" disabled="disabled" name="classPattern" value=""  data-toggle="tooltip" title="$zoo._("Here you define dashes by specifying the length of the first dash, followed by the length of the first gap, then the length of the second dash, followed by the second gap, and so on. This pattern will be repeated as many times as that pattern will fit into the line. Example: 4.0 2.0 2.0 2.0")" />
    </div>
  </div>
  <div class="form-group col-sm-12">
    <button class="btn btn-default">$zoo._("Apply")</button>
  </div>
  
</form>    
