/*
 *	MapMint Icons CSS
 */
 
.maincfg1 {border:1px solid #8f8f8f;background-image:url(../img/monitor-pink.png) !important;}
.maincfg2 {border:1px solid #8f8f8f;background-image:url(../img/security-pink.png) !important;}
.maincfg3 {border:1px solid #8f8f8f;background-image:url(../img/user-pink.png) !important;}

.projects {border:1px solid #8f8f8f;background-image:url(../img/process-pink.png) !important;}
.documents {border:1px solid #8f8f8f;background-image:url(../img/docs-pink.png) !important;}

.add-database {border:1px solid #8f8f8f;background-image:url(../img/add-database-default-pink.png) !important;}
.add-directory {border:1px solid #8f8f8f;background-image:url(../img/add-directory-default-pink.png) !important;}
.add-vector {border:1px solid #8f8f8f;background-image:url(../img/add-vector-pink.png) !important;}
.add-raster {border:1px solid #8f8f8f;background-image:url(../img/add-raster-pink.png) !important;}
.add-wms {border:1px solid #8f8f8f;background-image:url(../img/add-wms-pink.png) !important;}
.add-wfs {border:1px solid #8f8f8f;background-image:url(../img/add-wfs-pink.png) !important;}
.add-wcs {border:1px solid #8f8f8f;background-image:url(../img/add-wcs-pink.png) !important;}

.add-layer {border:1px solid #8f8f8f;background-image:url(../img/add-layer-pink.png) !important;}
.open-map {border:1px solid #8f8f8f;background-image:url(../img/open-map-pink.png) !important;}

.pan {border:1px solid #8f8f8f;background-image:url(../img/pan-pink.png) !important;}
.zoom-box {border:1px solid #8f8f8f;background-image:url(../img/zoom-in-pink.png) !important;}
.zoom-in {border:1px solid #8f8f8f;background-image:url(../img/zoomin-pink.png) !important;}
.zoom-in:hover {border:1px solid #8f8f8f;background: #73C354 url(../img/zoomin-hover-pink.png) !important; 
}
.zoom-to-max-extent {border:1px solid #8f8f8f;background-image:url(../img/zoomtomaxextent-pink.png) !important;}
.zoom-to-max-extent:hover {border:1px solid #8f8f8f;background-image:url(../img/zoomtomaxextent-hover-pink.png) !important;}
.zoom-out {border:1px solid #8f8f8f;background-image:url(../img/zoomout-pink.png) !important;}
.zoom-out:hover {border:1px solid #8f8f8f;background: #73C354 url(../img/zoomout-hover-pink.png) !important;}
.zoom-to-point {border:1px solid #8f8f8f;background-image:url(../img/zoom-to-point-pink.png) !important;}
.identify {border:1px solid #8f8f8f;background-image:url(../img/identify-pink.png) !important;}
.mesure-distance {border:1px solid #8f8f8f;background-image:url(../img/ruler-pink.png) !important;}
.mesure-area {border:1px solid #8f8f8f;background-image:url(../img/ruler-crop-pink.png) !important;}

.select {border:1px solid #8f8f8f;background-image:url(../img/select-pink.png) !important;}
.edit-point {border:1px solid #8f8f8f;background-image:url(../img/edit-point-pink.png) !important;}
.edit-line {border:1px solid #8f8f8f;background-image:url(../img/edit-line-pink.png) !important;}
.edit-polygon {border:1px solid #8f8f8f;background-image:url(../img/edit-polygon-pink.png) !important;}
.delete-feature {border:1px solid #8f8f8f;background-image:url(../img/delete-feature-pink.png) !important;}

.buffer {border:1px solid #8f8f8f;background-image:url(../img/buffer-pink.png) !important;}
.centroid {border:1px solid #8f8f8f;background-image:url(../img/centroid-pink.png) !important;}
.boundary {border:1px solid #8f8f8f;background-image:url(../img/boundary-pink.png) !important;}
.convexhull {border:1px solid #8f8f8f;background-image:url(../img/convexhull-pink.png) !important;}
.simplify {border:1px solid #8f8f8f;background-image:url(../img/simplify-pink.png) !important;}
.union {border:1px solid #8f8f8f;background-image:url(../img/union-pink.png) !important;}
.intersection {border:1px solid #8f8f8f;background-image:url(../img/intersection-pink.png) !important;}
.symdifference {border:1px solid #8f8f8f;background-image:url(../img/symdifference-pink.png) !important;}
.difference {border:1px solid #8f8f8f;background-image:url(../img/difference-pink.png) !important;}

.raster-histogram {border:1px solid #8f8f8f;background-image:url(../img/raster-histogram-pink.png) !important;}
.clip-raster {border:1px solid #8f8f8f;background-image:url(../img/clip-layer-pink.png) !important;}
.merge-rasters {border:1px solid #8f8f8f;background-image:url(../img/merge-layer-pink.png) !important;}
.polygons-from-raster {border:1px solid #8f8f8f;background-image:url(../img/polygons-from-raster-pink.png) !important;}
.raster-from-csv {border:1px solid #8f8f8f;background-image:url(../img/raster-from-csv-pink.png) !important;}

.terrain-profile {border:1px solid #8f8f8f;background-image:url(../img/terrain-profile-pink.png) !important;}
.contours-from-dem {border:1px solid #8f8f8f;background-image:url(../img/contours-from-dem-pink.png) !important;}
.shaded-relief {border:1px solid #8f8f8f;background-image:url(../img/shaded-relief-pink.png) !important;}
.color-relief {border:1px solid #8f8f8f;background-image:url(../img/color-relief-pink.png) !important;}
.slope-map {border:1px solid #8f8f8f;background-image:url(../img/slope-map-pink.png) !important;}

.main-configuration {border:1px solid #8f8f8f;background-image:url(../img/process-pink.png) !important;}
.layout-settings {border:1px solid #8f8f8f;background-image:url(../img/layout-settings-pink.png) !important;}
.map-settings {border:1px solid #8f8f8f;background-image:url(../img/map-settings-pink.png) !important;}
.layers-settings {border:1px solid #8f8f8f;background-image:url(../img/layers-settings-pink.png) !important;}
.controls-settings {border:1px solid #8f8f8f;background-image:url(../img/controls-settings-pink.png) !important;}


