.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { text-shadow: #777777 0px 1px 0px;
background: #f630f8; /* for non-css3 browsers */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f869ec', endColorstr='#f630f8'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f869ec), to(#f630f8)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f869ec, #f630f8 ); /* for firefox 3.6+ */
 font-weight: normal; color: #FFFFFF; }
.ui-state-hover a, .ui-state-hover a:hover { color: #FFFFFF; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {text-shadow: #777777 0px 1px 0px;
background: #f630f8; /* for non-css3 browsers */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f869ec', endColorstr='#f630f8'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f869ec), to(#f630f8)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f869ec, #f630f8 ); /* for firefox 3.6+ */
 font-weight: normal; color: #FFFFFF;  }

