#import zoo
<div>
  <p>$zoo._("Group name:")</p>
  <input id="addDirName" value="" />
  <input type="hidden" id="origDirName" value="" />
  <div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton"  onclick="addDirToMap();">$zoo._("Ok")</a>
  </div>
</div>
