#import zoo
<div>
	<label for="gridName">$zoo._("Name:")</label>
	<input type="text" id="gridName" value="" />
	<input type="hidden"  id="map" value="$inputs["map"]["value"]" />
	<div><input type="submit" value="$zoo._("Create")" onclick="try{addGrid();}catch(e){}return false;" /></div>
</div>
