#import zoo
#import mm_access
<form id="addLayerToMap">
<p>Select Data Store:</p>
<select id="select-datastore" class="select-window" onchange="MapMintDsRefresh(this.value);">
#set qdefault=""
#for i in ('WMS','WFS','Directories','MySQL','PostGIS')
#set li=0
#if $inputs["elements"] and $i in $inputs["elements"].keys()
#for j in $inputs["elements"][$i] 
#if li==0
  <option disabled="true" style="font-weight: bold;color: #111">$i</option>
#end if
#if $mm_access.checkDataStorePriv($conf,$j["name"],"rx")
#if i=='Directories' and $li==0
#set $qdefault=$j["name"]
#end if
  <option value="#if $i=="WFS"#WFS:#end if##if $i=="WMS"#WMS:#end if#$j["name"]" #if $i=='Directories' and $li==0#selected="true"#end if#>$j["name"]</option>
#end if
#set li=$li+1
#end for
#end if
#end for
</select>

<p>$zoo._("Select Data Source:")</p>
<select id="select-datasource" class="select-window" multiple="true" style="overflow-y:auto">
#for j in range(0,len($inputs["dsList"]))
#if $mm_access.checkDataSourcePriv($conf,None,$qdefault,$inputs["dsList"][$j]["name"],"r")
  <option value="$inputs["dsList"][$j]["name"]">$inputs["dsList"][$j]["name"]</option>
#end if
#end for
</select>

<p>$zoo._("Select Group:")</p>
<select id="select-group" class="select-window" onchange="if(this.value=='add') startAddGroup();">
#for i in $inputs["groups"]
#if $i!="-- " and $i!="- "
     <option value="$i.replace('- ','').replace('-','')">$i</option>
#end if
#end for
</select>
<div id="dlg-buttons">
<a href="#" class="ui-state-default ui-button-text-only ui-corner-all"  onclick="javascript:addLayer()">$zoo._("Add")</a>
</div>

</form>
