#encoding utf-8
#import zoo
#import mapscript,json
#import datastores.postgis.pgConnection as pg
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$conf["senv"]["last_map"]+".map")
#set t=$inputs
#set mmDSTN=$m.getLayerByName($inputs["layer"]["value"]).metadata.get('mmDSTN')
#set $t["dataStore"]={"value": $mmDSTN}
#from datastores.postgis import pgConnection
#set demo=pgConnection.listSchemas($conf,$inputs,$outputs)
#set ress=json.loads($outputs["Result"]["value"])
#set table=$m.getLayerByName($inputs["layer"]["value"]).data
#if $table.count(".")==0
#set $table='public.'+$table
#end if
#set con=pg.pgConnection($conf,$mmDSTN)
#set res=$con.parseConf()
#set res=$con.connect()
#set req=pg.getDesc($con.cur,$table)
#set vals=$con.execute(req)
#set names=[]
#for i in $vals
#set names+=[$i[1]]
#end for
#set tmp=["colonne_class","alias_class","ids_class","sessions_class","values_class","deps_class","orders_class","multiples_class","legend","subscription"]
#set res=[]
#set l=$m.getLayerByName($inputs["layer"]["value"])
#set true=True
#set false=False
#for i in $tmp
#if $l.metadata.get("mmCS_"+i) is not None
#try
#set res+=[json.loads($l.metadata.get("mmCS_"+i))]
#except
#set res+=[None]
#end try
#else
#if i!="colonne_class"
#set res+=[None]
#else
#set tmp0=[]
#for i in $vals
#set $tmp0+=[$i[1]]
#end for
#set res+=[tmp0]
#end if
#end if
#end for
$zoo._("Current table is") $table
<div id="complexSearch">
<input type="hidden" id="complex_ds" value="$mmDSTN"/>
<a href="#" onclick="saveComplexParam();">$zoo._("Save")</a>
<p>$zoo._("Please, fill the fields you would like to use to search on this layer")</p>
<p>$zoo._("In the first array you can use any table from the database as definition of a dynamic legend")</p>
<table id="cs_legend">
  <thead>
    <tr>
      <th></th>
      <th>$zoo._("Table")</th>
      <th>$zoo._("Legend")</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hasInfo" title="$zoo._("The table name defining the legend to use dynamically")">Légende</td>
      <td></td>
      <td>
	<select id="legend_schema" onchange="refreshTablesList('legend_schema','legend_table');">
	  <option value="-1">$zoo._("Choose")</option>
	  #for i in $ress
	  <option value="$i[0]"  #if len($res)>8 and $res[8] is not None and $res[8]["tbl_legend"].split('.')[0]==$i[0]#selected="selected"#end if#>$i[0]</option>
	  #end for
	</select>
	<select id="legend_table" onchange="refreshFieldsList(this.id,'target_column','target_color','target_min','target_max');">
	  #if len($res)>8 and $res[8] is not None
	  <option value="$res[8]["tbl_legend"]">$(res[8]["tbl_legend"].split('.')[1])</option>
	  #else
	  <option value="-1">$zoo._("First choose a schema")</option>
	  #end if
	</select>
      </td>
    </tr>
    <tr>
      <td class="hasInfo" title="$zoo._("A link should exists between one entity of the actual datasource and the legend table")">
	$zoo._("Link column")
      </td>
      <td>
	<select id="orig_column">
	  <option value="-1">$zoo._("Choose")</option>
	  #for i in $vals
	  <option value="$i[1]" #if len($res)>8 and $res[8] is not None and $res[8]["ofield"]==$i[1]#selected="selected"#end if#>$i[1]</option>
	  #end for
	</select>
      </td>
      <td>
	<select id="target_column">
	  #if len($res)>8 and $res[8] is not None
	  <option value="$res[8]["tfield"]">$(res[8]["tfield"])</option>
	  #else
	  <option value="-1">$zoo._("First choose a table")</option>
	  #end if
	</select>
      </td>
    </tr>
    <tr>
      <td class="hasInfo" title="$zoo._("The column name containing the hexa code used to defin the internal color")">$zoo._("Color")</td>
      <td>
      </td>
      <td>
	<select id="target_color">
	  #if len($res)>8 and $res[8] is not None
	  <option value="$res[8]["color"]">$(res[8]["color"])</option>
	  #else
	  <option value="-1">$zoo._("First choose a table")</option>
	  #end if
	</select>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="hasInfo" title="$zoo._("Define min and max value")">$zoo._("Values")</td>
      <td>
      </td>
      <td>
	<select name="target_min" id="target_min">
	  #if len($res)>8 and $res[8] is not None
	  <option value="$res[8]["min"]">$(res[8]["min"])</option>
	  #else
	  <option value="-1">$zoo._("First choose a table")</option>
	  #end if
	</select>
	<select name="target_max" id="target_max">
	  #if len($res)>8 and $res[8] is not None
	  <option value="$res[8]["max"]">$(res[8]["max"])</option>
	  #else
	  <option value="-1">$zoo._("First choose a table")</option>
	  #end if
	</select>
      </td>
    </tr>
  </tbody>
</table>
<p></p>
<div>
  <div class="hasInfo" title="$zoo._("You can define yourself the session variables specified for each field in the search engine, or ask the application to automatically fill it by selecting this option")"><input type="checkbox" #if len($res)>9 and $res[9] is not None#checked="true"#end if# onclick="var tmp=\$('#tbl_abo_params');if(this.checked) tmp.show();else tmp.hide();" name="tbl_abo" id="tbl_abo"> Utilisation de droits d'abonnement automatique.</div>
      <div id="tbl_abo_params" #if len($res)>9 and $res[9] is None#style="display:none"#end if# >
      <table>
	<tr>
	  <td class="hasInfo" title="$zoo._("Select the table (view) that you want to use for filling the session variables.")">$zoo._("Subsciption table")</td>
	  <td>
	    <select name="tbl_abo_schema" id="tbl_abo_schema"  onchange="refreshTablesList(this.id,'tbl_abo_table');">
	      <option value="-1">$zoo._("Choose")</option>
	      #for i in $ress
	      <option value="$i[0]" #if len($res)>9 and $res[9] is not None and $res[9]["tbl"].split('.')[0]==$i[0]#selected="selected"#end if#>$i[0]</option>
	      #end for
	    </select>
	    <select name="tbl_abo_table" id="tbl_abo_table" onchange="refreshFieldsList(this.id,'tbl_abo_champ_id');">
#if len($res)>9 and $res[9] is not None
	      <option value="$res[9]["tbl"]">$(res[9]["tbl"].split('.')[1])</option>
#else
	      <option value="-1">$zoo._("First choose a schema")</option>
#end if
	    </select>
	  </td>
	</tr>
	<tr>
	  <td class="hasInfo" title="$zoo._("Select the name of the field from the table (view) and the name of the session variable storing the value to use for filtering the results list.")">Champ identifiant</td>
	  <td>
	    <select name="tbl_abo_champ_id" id="tbl_abo_champ_id">
#if len($res)>9 and $res[9] is not None
	      <option value="$res[9]["id"]">$(res[9]["id"])</option>
#else
	      <option value="-1">$zoo._("First choose a table")</option>
#end if
	    </select>
	    <input type="text" name="tbl_abo_session_id" id="tbl_abo_session_id" value=""/>
	  </td>
	</tr>
      </table>
    </div>
</div>

<table id="FieldsSorted2">
  <thead>
    <th width="20" scope='col'>$zoo._("Move")</th>
    <th width="75" scope='col'>$zoo._("Field")</th>
    <th width="50" scope='col'>$zoo._("Type")</th>
    <th width="140" scope='col'>$zoo._("Label")</th>
    <th width="140" scope='col'>$zoo._("Identifier")</th>
    <th width="140" scope='col'>$zoo._("Filter")</th>
    <th width="140" scope='col'>$zoo._("Values")</th>
    <th width="140" scope='col'>$zoo._("Dependencies")</th>
    <th width="35" scope='col'>$zoo._("Order")</th>
    <th width="35" scope='col'>$zoo._("Multiple")</th>
  </thead>
  <tbody>
#set ci=0
#for kk in $res[0]
#set i=$vals[$names.index($kk)]
#if $i[2]!="geometry"
  <tr>
    <td align="center">
      <img src='./img/move.png'/>
    </td>
    <td>
      $i[1]
      <input type='hidden'  class='colonne_class' name='champs_id' value="$i[1]" />
    </td>
    <td>
      $i[2]
    </td>
    <td>
      <input type='text'  class='alias_class' name='alias' value="#if len($res)>1 and $res[1] is not None#$res[1][$ci]#end if#" />
    </td>
    <td>
      <input type='text'  class='ids_class' name='rid' value="#if len($res)>2 and $res[2] is not None#$res[2][$ci]#end if#"/>
    </td>
    <td>
      <input type='text'  class='sessions_class' name='rsess' value="#if len($res)>3 and $res[3] is not None#$res[3][$ci]#end if#"/>
    </td>
    <td>
      <input type='text'  class='values_class' name='values' value="#if len($res)>4 and $res[4] is not None#$res[4][$ci]#end if#"/>
    </td>
    <td>
      <input type='text' class='deps_class' name='deps' value="#if len($res)>5 and $res[5] is not None#$res[5][$ci]#end if#"/>
    </td>
    <td>
      <input class="hasInfo" title="$zoo._("The field used to classify re result set.")" type='checkbox'  class='orders_class' name='orders' #if len($res)>6 and $res[6] is not None and $res[6][$ci]==true#checked="true"#end if#/>
    </td>
    <td>
      <input type='checkbox'  class='multiples_class' name='multiples' #if len($res)>7 and $res[7] is not None and $res[7][$ci]==true#checked="true"#end if#/>
    </td>
  </tr>
#end if
#set $ci+=1
#end for
  </tbody>
 </table>
</div>
