#import zoo
<form>
<div class="osm-type">
<label for="osm_type">
$zoo._("Choose type:")
</label>
<select id="osm_type">
  <option value="point">$zoo._("Point")</option>
  <option value="line">$zoo._("Line")</option>
</select>
</div>
<div class="osm-datastore">
<label for="osm_dstn">
$zoo._("Select a DataStore:")
</label>
<select id="osm_dstn">
#import datastores.service as ds
#set elements=ds.list($conf,$inputs,$outputs)
#set elements=eval($outputs["Result"]["value"])
#for i in ('Directories','None')
#set li=0
#if $elements and $i in $elements.keys()
#for j in $elements[$i] 
#if li==0
<!--  <option disabled="true" style="font-weight: bold;color: #111">$i</option> -->
#set li=$li+1
#end if
  <option value="$j["name"]">$j["name"]</option>
#end for
#end if
#end for
</select>
</div>
<div class="osm-filename">
<label for="osm_dson">
$zoo._("Select a file name:")
</label>
<input type="text" id="osm_dson"  value="" />
</div>
<div id="dlg-buttons">
<input type="submit" class="easyui-linkbutton" value="$zoo._("Import")" onclick="try{importOSM(\$('#osm_type')[0].value);}catch(e){alert(e);return false;};return false;" />
</div>
</form>
<p class="osm-attribution">$zoo._("Data under") CCBYSA <a href="http://openstreetmap.org" target="_blank">OpenStreetMap.org</a></p>
