#import zoo
<form class="form-horizontal mtpp" method="get">

<form>
<table>
<tr>
<td>
$zoo._("Name:")
</td>
<td>
<input type="hidden" name="lnameOrig" id="lnameOrig" value="$m.getLayerByName($inputs["layer"]["value"]).name"/>
<input type="text" name="lname" id="lname" value="$m.getLayerByName($inputs["layer"]["value"]).name"/>
</td>
</tr>
#if "3D" in $conf["main"].keys() and $conf["main"]["3D"]=="true"
<tr>
<td>
$zoo._("TE Fly URL:")
</td>
<td>
<input type="text" name="lfly" id="lfly" value="$m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmFly")"/>
</td>
</tr>
#end if
<tr>
<td>
$zoo._("Title:")
</td>
<td>
<input type="text" name="lalias" id="lalias" value="$m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmAlias")"/>
</td>
</tr>
<tr>
<td>
$zoo._("Abstract:")
</td>
<td>
<textarea name="labstract" id="labstract">$m.getLayerByName($inputs["layer"]["value"]).metadata.get("ows_abstract")</textarea>
</td>
</tr>
<tr>
<td>
$zoo._("Keywords:")
</td>
<td>
<textarea name="lkeywords" id="lkeywords">$m.getLayerByName($inputs["layer"]["value"]).metadata.get("ows_keywordlist")</textarea>
</td>
</tr>
<tr>
<td>
$zoo._("Fees:")
</td>
<td>
<textarea name="lfees" id="lfees">$m.getLayerByName($inputs["layer"]["value"]).metadata.get("ows_fees")</textarea>
</td>
</tr>
<tr>
<td>
$zoo._("Query:")
</td>
<td>
<input type="checkbox" name="lquery" id="lquery" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmQuery")=="true"# checked="true"#end if#/>
</td>
</tr>
<tr>
<td>
$zoo._("Export:")
</td>
<td>
<input type="checkbox" name="lexport" id="lexport" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmExport")=="true"# checked="true"#end if#/>
</td>
</tr>
<tr>
<td>
$zoo._("Filtered Zoom:")
</td>
<td>
<input type="checkbox" name="lzfilter" id="lzfilter" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmZFilter")=="true"# checked="true"#end if# onchange="\$('#lzfilter_field').toggle();" />
<select id="lzfilter_field" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmZFilter")!="true"#style="display:none"#end if#>
</select>
<input type="hidden" id="lzfilter_fieldH" value="$m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmZFilterField")" />
</td>
</tr>
<tr>
<td>
$zoo._("Filtering:")
</td>
<td>
<input type="checkbox" name="lfilter" id="lfilter" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmFilter")=="true"# checked="true"#end if# onchange="\$('#lfilter_field').toggle();" />
<select id="lfilter_field" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmFilter")!="true"#style="display:none"#end if#>
</select>
<input type="hidden" id="lfilter_fieldH" value="$m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmFilterField")" />
</td>
</tr>
<tr>
<td>
$zoo._("Search:")
</td>
<td>
<input type="checkbox" name="lsearch" id="lsearch" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmSearch")=="true"# checked="true"#end if# onchange="\$('#lsearch_field').toggle();" />
<select id="lsearch_field" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmSearch")!="true"#style="display:none"#end if#>
</select>
<input type="hidden" id="lsearch_fieldH" value="$m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmSearchField")" />
</td>
</tr>
#if $m.getLayerByName($inputs["layer"]["value"]).connection is not None and $m.getLayerByName($inputs["layer"]["value"]).connection.count("PG:")
<tr>
<td>
$zoo._("Complexe Search:")
</td>
<td>
<input type="checkbox" name="lcsearch" id="lcsearch" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmCSearch")=="true"# checked="true"#end if# onchange="\$('#lcsearch_field').toggle();" />
<a id="lcsearch_field" href="#" style="display:none" onclick="runComplexParam();">$zoo._("Settings")</a>
</td>
</tr>
#import mapscript
#if $m.getLayerByName($inputs["layer"]["value"]).type==mapscript.MS_LAYER_LINE
<tr>
<td>
$zoo._("Routing:")
</td>
<td>
<input type="checkbox" name="lrouting" id="lrouting" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmRouting")=="true"# checked="true"#end if#/>
</td>
</tr>
#end if
#end if
<tr>
<td>
$zoo._("Spatial Query:")
</td>
<td>
<input type="checkbox" name="lspatialquery" id="lspatialquery" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmSpatialQuery")=="true"# checked="true"#end if# onchange="if(this.checked) \$('#lsptype').show();else \$('#lsptype').hide();"/>
<select name="lsptype" id="lsptype" #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmSpatialQuery")!="true"#style="display: none"#end if#>
#set vals=[$zoo._("none"),$zoo._("contained"),$zoo._("contains"),$zoo._("both")]
#for i in $vals
<option #if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mmSpatialQueryType")==$i#selected="true"#end if# value="$i">$(i.title())</option>
#end for
</select>
</td>
</tr>
</table>

<ul class="style-tabs-nav1">
    <li><a href="#" class="view-lprop-valid ui-state-default ui-button-text-only ui-corner-all"  onclick="javascript:setLayerProperties()">$zoo._("Save")</a></li>
<ul>

</form>
