#encoding UTF-8
#import zoo

#try
#set isBasic=$basic
#except
#set isBasic=False
#end try

#def printCheckbox(obj)
<div class="form-group #if $obj.keys().count("classe")>0#$obj["classe"]#end if#">
  <label class="col-sm-3 control-label">$obj["title"]</label>
  <div class="col-sm-9 ">
#if $obj.keys().count("select")
    <div class="input-group">
      <span class="input-group-addon">
        <input name="$obj["name"]"
      type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
      </span>
      <select class="form-control #if $obj["select"].keys().count("class")>0# $obj["select"]["class"]#end if#" disabled="disabled"
	name="$obj["select"]["name"]" #if $obj["select"].keys().count("multiple")>0#multiple="multiple"#end if#>
#if $obj["select"].keys().count("options")
#for j in $obj["select"]["options"]
	<option value="$j">$j.title()</option>
#end for
#end if
      </select>
    </div>
#else
      <input name="$obj["name"]" type="checkbox" />
#end if
  </div>
</div>
#end def

#def printText(obj)
<div class="form-group">
  <label class="col-sm-3 control-label">$obj["title"]</label>
  <div class="col-sm-9">
    <input name="$obj["name"]" class="form-control" placeholder="$obj["placeholder"]" type="text" />
  </div>
</div>
#end def

#def printTextarea(name,title,placeholder)
<div class="form-group">
  <label class="col-sm-3 control-label">$title</label>
  <div class="col-sm-9">
    <textarea name="$name" class="form-control" placeholder="$placeholder" type="text"></textarea>
  </div>
</div>
#end def


#def printTabHeader(id,title,font,classe)
<li role="presentation" #if $classe is not None#class="$classe"#end if#>
  <a id="$(id)_Toggler" href="#$id" aria-controls="home" role="tab" data-toggle="tab">
    <i class="fa $font fa-fw"></i>
    <span class="hidden-xs hidden-sm hidden-md">
      $title
    </span>
  </a>
</li>
#end def

#if not(isBasic)
<ul class="nav nav-tabs" role="tablist">
  $printTabHeader("mm_layer_property_property_display",$zoo._("General"),"fa-info",None)
  $printTabHeader("mm_layer_property_table_display",$zoo._("Table"),"fa-th","no-raster no-grid")
</ul>
#end if

#if not(isBasic)
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="mm_layer_property_property_display">

<form class="form-horizontal mtpp" method="get" >
#set obj={"name":"name","title": $zoo._("Name"),"placeholder":$zoo._("Sample Name")}
$printText($obj)
#if $conf["main"].has_key("3D") and $conf["main"]["3D"]=="true"
#set obj={"name":"fly","title": $zoo._("TE Fly URL"),"placeholder":$zoo._("Sample.fly")}
$printText($obj)
#end if
#set objs=[
{"name":"title","title":$zoo._("Title"),"placeholder":$zoo._("Sample Title")},
{"type":"area","name":"abstract","title":$zoo._("Abstract"),"placeholder":$zoo._("Layer Abstract")},
{"name":"keywords","title":$zoo._("Keywords"),"placeholder":$zoo._("Sample kewords")},
{"name":"fees","title":$zoo._("Fees"),"placeholder":$zoo._("Sample attribution")},
{"type":"select","name":"query","title":$zoo._("Query"),"placeholder":$zoo._("Layer Query")},
{"type":"select","name":"export","title":$zoo._("Export"),"placeholder":$zoo._("Layer Export"),"classe": "no-grid no-raster"},
{"type":"select","name":"routing","title":$zoo._("Routing"),"placeholder":$zoo._("Routing"),"classe":"only-pline hide"},
{"type":"select","name":"filter","title":$zoo._("Filtering"),"placeholder":$zoo._("Layer Filtering"),"select":{"name":"filter_field","class":"mmField"},"classe": "no-grid no-raster"},
{"type":"select","name":"zfilter","title":$zoo._("Zoom on"),"placeholder":$zoo._("Zoom Filtering"),"select":{"name":"zfilter_field","class":"mmField"},"classe": "no-grid no-raster"},
{"type":"select","name":"search","title":$zoo._("Search"),"placeholder":$zoo._("Layer Search"),"select":{"name":"search_field","class":"mmField","multiple":"multiple"},"classe": "no-grid no-raster"},
{"type":"select","name":"squery","title":$zoo._("Spatial Query"),"placeholder":$zoo._("Layer Spatial Query"),"select":{"name":"squery_field","options":[$zoo._("none"),$zoo._("contained"),$zoo._("contains"),$zoo._("both")]},"classe": "no-grid no-raster"},
]
#for i in $objs
#if i.keys().count("type")>0
#if $i.type=="area"
$printTextarea($i.name,$i.title,$i.placeholder)
#else
$printCheckbox($i)
#end if
#else
$printText($i)
#end if
#end for
<button class="btn btn-default mm-layer-save" >$zoo._("Save")</button>
</form>

  </div>
#end if  
  <div role="tabpanel" class="tab-pane" id="mm_layer_property_table_display">
  </div>
#if not(isBasic)
</div>
#end if
 <script type="template/text" id="layer_property_table_line_template">
      <tr>
	<td>
	  <i class="fa fa-arrows-v"> </i>[order]
	  <input type="hidden" name="field_id" value="[id]" />
	</td>
	<td><input name="display" type="checkbox" [display] /></td>
#if not(isBasic)
	<td><input name="export" type="checkbox" [export] /></td>
#else
	<td><input name="search" type="checkbox" [export] /></td>
#end if
	<td>[name] <input name="oname" type="hidden" value="[name]" /></td>
	<td><input name="label" type="text" value="[label]" /></td>
#if isBasic
	<td><input name="value" type="text" value="[value]" /></td>
#end if
	<td><input name="width" type="text" value="[width]" /></td>
      </tr>
 </script>

 <script type="template/text" id="layer_property_table_template">
  <h3>$zoo._("Table configuration")</h3>
  <table id="layer_property_table_table_display">
    <thead>
      <tr>
	<th style="width:25px"></th>
	<th style="width:25px">$zoo._("D.")</th>
#if not(isBasic)
	<th style="width:25px">$zoo._("E.")</th>
#else
	<th style="width:25px">$zoo._("S.")</th>
#end if
	<th style="width:25px">$zoo._("Name")</th>
	<th style="width:25px">$zoo._("Label")</th>
#if isBasic
	<th style="width:25px">$zoo._("Value")</th>
#end if
	<th style="width:25px">$zoo._("Width")</th>
      </tr>
    </thead>
    <tbody>
      [tbody]
    </tbody>
  </table>
  <button class="btn btn-default">
    $zoo._("Save")
  </button>
  <button class="btn btn-default">
    $zoo._("Preview")
  </button>
 </script>

   <script type="template/text" id="layer_property_export_template">
   <li class="list-group-item" data-id="[id]">
    [id]
   </li>
 </script>
