#import zoo
<div>
  <p>$zoo._("Select Map:")</p>
  <select id="selectMap" class="select-window">
    <option value="$zoo._("Select Data Store")" selected="selected">$zoo._("Select Map")</option>
  </select>
  <div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton"  onclick="\$('#mapName').val(\$('#selectMap')[0].value);\$('#mapNameOrig').val(\$('#selectMap')[0].value);startMapList(1);">$zoo._("Open")</a>
  </div>
</div>
  
