<div id="raster-toolbar" title="Raster Tools">
<div class="toolbar-noborder">
		<a class="fg-button ui-state-default ui-corner-all raster-histogram"  href="#" title="Raster Histogram"></a>
		<a class="fg-button ui-state-default ui-corner-all clip-raster"  href="#" title="Clip Raster"></a>
		<a class="fg-button ui-state-default ui-corner-all merge-rasters"  href="#" title="Merge Rasters"></a>
		<a class="fg-button ui-state-default ui-corner-all polygons-from-raster"  href="#" title="Polygons from Raster"></a>
		<a class="fg-button ui-state-default ui-corner-all raster-from-csv"  href="#" title="Raster from CSV"></a>
</div>
</div>
