<div id="spatial-toolbar" class="easyui-window"  title="Spatial Tools" closed="true">
<div class="toolbar-noborder">
		<a class="fg-button ui-state-default ui-corner-all select"  href="#" title="Select"></a>
		<a class="fg-button ui-state-default ui-corner-all buffer"  href="#" title="Buffer"></a>
		<a class="fg-button ui-state-default ui-corner-all spatial-buffer"  href="#" title="Buffer Interest"></a>
		<a class="fg-button ui-state-default ui-corner-all centroid"  href="#" title="Centroid"></a>
		<a class="fg-button ui-state-default ui-corner-all boundary"  href="#" title="Boundary"></a>
		<a class="fg-button ui-state-default ui-corner-all convexhull"  href="#" title="Convex Hull"></a>
		<a class="fg-button ui-state-default ui-corner-all simplify"  href="#" title="Simplify"></a>
		<a class="fg-button ui-state-default ui-corner-all union"  href="#" title="Union"></a>
		<a class="fg-button ui-state-default ui-corner-all spatial-query"  href="#" title="Spatial query"></a>
</div>
</div>
