#encoding UTF-8
#import zoo

#try
#set isBasic=$basic
#except
#set isBasic=False
#end try

#def printTabHeader(id,title,font,classe)
<li role="presentation" #if $classe is not None#class="$classe"#end if#>
  <a id="$(id)_Toggler" href="#$id" aria-controls="home" role="tab" data-toggle="tab">
    <i class="fa $font fa-fw"></i>
    <span class="hidden-xs hidden-sm hidden-md">
      $title
    </span>
  </a>
</li>
#end def

<ul class="nav nav-tabs" role="tablist">
  $printTabHeader("mm_layer_property_style_display",$zoo._("Symbology"),"fa-paint-brush",None)
  $printTabHeader("mm_layer_property_label_display",$zoo._("Labels"),"fa-file-text-o","no-raster")
#if not(isBasic)
  $printTabHeader("mm_layer_property_grid_display",$zoo._("Grid"),"fa-th","require-grid")
#end if
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active"
  id="mm_layer_property_style_display">
    <form class="form-horizontal mtpp" method="get" >
#if not(isBasic)
      <div class="form-group require-raster">
	<label class="col-sm-3 control-label">$zoo._(" Resampling method: ")</label>
        <div class="col-sm-9 ">
	  <select type="text" name="resample" class="form-control">
	    <option value="-1">$zoo._("Choose")</option>
	    #set tmp=["NEAREST","AVERAGE","BILINEAR"]
	    #for a in tmp
	    <option value="$a">$a</option>
	    #end for
	  </select>
	</div>
      </div>
<script type="template/text" id="style_processing_line_template" >
	<label class="col-sm-3 control-label">[label]</label>
        <div class="col-sm-9 ">
	  <input name="processing_[name]" class="form-control" value="[value]" />
	</div>
</script>
      <div class="form-group require-raster" id="style_processings">
      </div>
#end if
      <div class="form-group">
	<label class="col-sm-3 control-label">$zoo._("Opacity")</label>
	<div class="col-sm-9 ">
	  <div class="range">
	    <input type="range" name="styleOpacity" min="1" max="100" value="100"
  onchange="\$(this).next().html(\$(this).val() + '%')" oninput="\$(this).next().html(\$(this).val() + '%')"/>
	    <output>100%</output>
	  </div>
	</div>
      </div>
#def printSelect($classes,$title,$name,$choices)
      <div class="form-group no-grid $classes">
	<label class="col-sm-3 control-label">$title</label>
	<div class="col-sm-9 ">
	  <select name="$name" class="form-control class-switcher">
	#for a in $choices.keys()
	    <option value="$a" #if $choices[$a][1]#class="no-raster"#end if##if $choices[$a][2]#class="require-raster"#end if#>$choices[$a][0]</otion>
	#end for
	  </select>
	</div>
      </div>
#end def

#from collections import OrderedDict      
#if not(isBasic)
#set choices=OrderedDict([
      ("us", [$zoo._("Unique Symbol"),False,False]),
      ("gs", [$zoo._("Graduated Symbol"),False,False]),
      ("cc", [$zoo._("Continuous Color"),True,False]),
      ("uv", [$zoo._("Unique Value"),False,False]),
      ("tl", [$zoo._("Time line"),True,False]) ,
      ("tc", [$zoo._("Time line classes"),True,False])
      ])
#else
#set choices=OrderedDict([
      ("us", [$zoo._("Choose"),False,False]),
      ("gs", [$zoo._("Graduated Symbol"),False,False]),
      ("cc", [$zoo._("Continuous Color"),True,False]),
      ("uv", [$zoo._("Unique Value"),False,False]),
      ("tl", [$zoo._("Time line"),True,False]),
      ("tc", [$zoo._("Time line classes"),True,False])
      ])
#end if

      $printSelect("",$zoo._("Legend Type: "),"classification",$choices)
      <div class="form-group require-tc no-tl no-grid no-us no-gs no-cc no-uv col-sm-12">
	<label class="col-sm-3 control-label">$zoo._("Field defining steps")</label>
	<div class="col-sm-9">
	  <select name="step_field" class="form-control mmField" onchange="if(\$(this).val()=='-1') \$(this).parent().parent().next().show();else \$(this).parent().parent().next().hide();">
	    <option value="-2">$zoo._("Choose a field")</option>
	  </select>
	</div>
      </div>
      <div class="form-group require-tl no-tc no-grid no-us no-gs no-cc no-uv col-sm-12">
	<label class="col-sm-3 control-label">$zoo._("Steps")</label>
	<div class="col-sm-5 ">
	  <select name="step" class="form-control mmstep-list" onchange="if(\$(this).val()=='-1') \$(this).parent().parent().next().show();else \$(this).parent().parent().next().hide();">
	    <option value="-2">$zoo._("Choose a step")</option>
	    <option value="-1">$zoo._("Add a step")</option>
	  </select>
	</div>
        <button class="btn btn-default disabled col-sm-4 mmstep-delete">
	  $zoo._("Delete")
	</button>
      </div>
      <div class="form-group require-add-step no-tc no-us no-gs no-cc no-uv col-sm-12">
	<label class="col-sm-3 control-label">$zoo._("Step name")</label>
        <div class="col-sm-5">
	  <input type="text" class="form-control" name="stepName" placeholder="$zoo._("1789")" value="" />
	  <p class="help-block"></p>
	</div>
        <button class="btn btn-default col-sm-4 mmstep-add">
	  $zoo._("Add")
	</button>
      </div>

#if not(isBasic)      
#set choices={
	"us": [$zoo._("Unique Symbol"),False,False],
	"gs": [$zoo._("Graduated Symbol"),False,False],
	"cc": [$zoo._("Continuous Color"),True,False],
	"uv": [$zoo._("Unique Value"),False,False]
	}
#else
#set choices={
	"gs": [$zoo._("Graduated Symbol"),False,False],
	"cc": [$zoo._("Continuous Color"),True,False],
	"uv": [$zoo._("Unique Value"),False,False],
	}
#end if

      
      $printSelect("require-tl require-tc no-us no-gs no-cc no-uv",$zoo._("Legend Type for this step"),"step_classification",$choices)
#if not(isBasic)
      <div class="form-group require-raster no-us">
	<label class="col-sm-3 control-label">$zoo._("Tiled version")</label>
        <div class="col-sm-9">
	  <div class="input-group">
	    <span class="input-group-addon">
	    <input name="tileSizec" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
	    </span>
	    <input type="text" class="form-control" name="tileSize" disabled="disabled" value="" />
	  </div>
	</div>
      </div>
      <div class="form-group require-raster no-us">
	<label class="col-sm-3 control-label">$zoo._("Min / Max values")</label>
        <div class="col-sm-4">
	  <input type="text" class="form-control" name="minBandValue" value="" />
	  <p class="help-block"></p>
	</div>
        <div class="col-sm-4">
	  <input type="text" class="form-control" name="maxBandValue" value="" />
	  <p class="help-block"></p>
	</div>
      </div>
      <div class="form-group require-raster no-gs no-uv">
	<label class="col-sm-3 control-label">$zoo._("No-data value")</label>
        <div class="col-sm-9 ">
	  <div class="input-group cpicker">
	    <span class="input-group-addon">
	    <input name="expressionc" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
	    </span>
	    <input type="text" class="form-control" name="nodataColorValue" value="#000000" />
	    <span class="input-group-addon"><i></i></span>
	  </div>
	</div>
      </div>
#end if
      <div class="form-group no-us">
	<label class="col-sm-3 control-label">$zoo._("Min / Max color")</label>
        <div class="col-sm-9 ">
	  <div class="col-sm-6">
	    <div class="input-group cpicker">
	      <input type="text" class="form-control" name="minColorValue" value="#ffffff" />
	      <span class="input-group-addon"><i></i></span>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="input-group cpicker">
	      <input type="text" class="form-control" name="maxColorValue"  value="#ffffff" />
	      <span class="input-group-addon"><i></i></span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="form-group">
	<label class="col-sm-3 control-label">$zoo._("Expression settings")</label>
        <div class="col-sm-9 ">
	  <div class="input-group">
	    <span class="input-group-addon">
	    <input name="expressionc" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
	    </span>
	    <textarea class="form-control" disabled="disabled" name="expression0"></textarea>
	  </div>
	</div>
      </div>
      <div class="form-group no-us">
	<label class="col-sm-3 control-label">$zoo._("Classification field")</label>
        <div class="col-sm-9 ">
	  <select name="classField" class="form-control  mmField">
	  </select>
	</div>
      </div>
#if isBasic      
      <div class="form-group">
	<label class="col-sm-3 control-label">$zoo._("Formula")</label>
        <div class="col-sm-9 ">
	  <textarea class="form-control"name="formula"></textarea>
	</div>
      </div>
#end if      
      <div class="form-group no-us require-point">
	<label class="col-sm-3 control-label">$zoo._("Size field")</label>
        <div class="col-sm-9 ">
	  <div class="input-group">
	    <span class="input-group-addon">
	    <input name="classField1c" type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" />
	    </span>
	    <input type="text" name="classField1" disabled="disabled" class="form-control"
	      data-toggle="tooltip" title="$zoo._("Use the formula you want (ie. MY_FIELD*10).")" />	    
	  </div>
	</div>
      </div>
      <div class="form-group no-us no-uv require-gs">
	<label class="col-sm-3 control-label">$zoo._("Classes number")</label>
        <div class="col-sm-9 ">
	  <input type="text" name="nbclass" class="form-control"
	  data-toggle="tooltip" title="$zoo._("Define the number of classes you want to be generated.")" />	    
	</div>
      </div>
      <div class="form-group no-us no-uv require-gs no-raster">
	<label class="col-sm-3 control-label">$zoo._("Discretization")</label>
        <div class="col-sm-9 ">
	  <select type="text" name="discretization" class="form-control">
	    <option value="-1">$zoo._("Choose")</option>
	    #set tmp=["equal","jenks","quantile","pretty","kmeans","fisher"]
	    #for a in tmp
	    <option value="$a">$a</option>
	    #end for
	  </select>
	</div>
      </div>
      <div class="col-sm-12 no-grid">
	<button href="#" class="btn btn-default mmClassifier no-tc">$zoo._("Classify")</button>
	<button href="#" class="btn btn-default mmClassifier
	require-tc no-tl no-us no-uv no-gs no-raster">$zoo._("Generate")</button>
#if isBasic      
	<button href="#" class="btn btn-default mmPreviewer">$zoo._("Preview")</button>
#end if
      </div>
      <div class="col-sm-12 classesTable">
	<table id="classes"></table>
      </div>
    </form>    
  </div>
  <div role="tabpanel" class="tab-pane" id="mm_layer_property_label_display">
    #include $conf['main']['templatesPath']+"/Manager/Styler/Label_bs.html"
  </div>
  <div role="tabpanel" class="tab-pane" id="mm_layer_property_grid_display">
    #include $conf['main']['templatesPath']+"/Manager/Styler/Grid_bs.html"
  </div>
</div>