#import zoo
#try
#set ext="tmpl"
#if "name" in $inputs.keys()
#set ext=$inputs["name"]["value"]
#end if
#set f=open($conf["main"]["dataPath"]+"/templates/"+$inputs["layer"]["value"]+"_"+$inputs["map"]["value"]+"_"+$ext+".html","r")
#set a=f.read().replace('<!-- MapServer Template -->\n','')
#except
#set a=""
#end try
<form onsubmit="return false;">
<div>
#if $ext!="footer" and $ext!="header" 
<div>
$zoo._("Choose case:")
<select id="template_type" onchange="readTemplate(this.value,'$inputs["layer"]["value"]','$inputs["map"]["value"]');">
	<option value="">$zoo._("Default")</option>
	<option value="click">$zoo._("Click")</option>
</select>
</div>
#end if
<div>
$zoo._("Available fields:")
<select id="template_field" onchange="updateTextarea(this);">
</select>
</div>
<textarea id="tmplContent" class="bigtarea">$a</textarea>
</div>
<input type="hidden" id="te_ext" name="ext" value="$ext" />
<input type="submit" value="$zoo._("Save")" id="te_save" class="ui-state-default ui-button-text-only ui-corner-all" />
</form>
