#import zoo
#def printSelect(name,title,options)
<div class="form-group">
  <label class="col-md-4 control-label">$title</label>
  <div class="col-md-8">
    <select name="$name" class="form-control #if $options is None# mmField#end if#" >
#if $options is not None
#for i in $options
       <option value="$i">$i</option>
#end for
#else
       <option value="-1">$zoo._("Choose")</option>
#end if
    </select>
  </div>
</div>
#end def

<form class="form-horizontal mtpp" method="get" >
$printSelect("case",$zoo._("Choose case"),[$zoo._("On feature over"),$zoo._("On Click")])
$printSelect("field",$zoo._("Field"),None)
<div class="col-md-12">
  <textarea name="editor" class="mm-editor"></textarea>
</div>
<button class="btn btn-default mm-layer-save" href="#" >$zoo._("Save")</button>
</form>