<div id="terrain-toolbar" title="Terrain Tools">
<div class="toolbar-noborder">
		<a class="fg-button ui-state-default ui-corner-all terrain-profile"  href="#" title="Terrain Profile"></a>
		<a class="fg-button ui-state-default ui-corner-all contours-from-dem"  href="#" title="Contours From DEM"></a>
		<a class="fg-button ui-state-default ui-corner-all shaded-relief"  href="#" title="Shaded Relief"></a>
		<a class="fg-button ui-state-default ui-corner-all color-relief"  href="#" title="Color Relief"></a>
		<a class="fg-button ui-state-default ui-corner-all slope-map"  href="#" title="Slope Map"></a>
</div>
</div>
