#import zoo
<h3 class="lgn">$zoo._("Add layers")</h3>

<ul id="tabs">
	<li class="active"><a href="#tab1">$zoo._("Add layer")</a></li>
	<li><a class="icon_accept" href="#tab2">$zoo._("Add WMS")</a></li>
</ul>

<div id="tab1" class="tab_content" style="display: block;">
#from Cheetah.Template import Template
#import mapscript
#set m0=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_idxOverlays.map")
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/indexes/OverlayLayers.tmpl",searchList={"m":$m0,"conf":$conf}))
<a class="vsource" onclick="mmAddOverlayLayers();" href="#">$zoo._("Add")</a>
</div>

<div id="tab2" class="tab_content">
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/indexes/WMSLayers.tmpl",searchList={"m":$m0,"conf":$conf}))
<a class="vsource" onclick="mmAddWMSLayers();" href="#">$zoo._("Add")</a>

</div>

