#encoding UTF-8
#import zoo,mm_access
#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
#set fres=[]
#set sql="select documents.id,documents.name from documents, documents_groups where d_id=documents.id and g_id in (SELECT id from "+$prefix+"groups where name='"+$conf["senv"]["group"]+"' or name='public') and documents.name like '%"+$inputs["val"]["value"]+"%'"
#set res=cur.execute(sql)	   
#set vals0=cur.fetchall()
#if $vals0 is not None
#for i in range(0,len($vals0))
#set $fres+=[{"id": vals0[i][0],"value": vals0[i][1],"label": vals0[i][1]}]
#end for
#end if
#import json
$json.dumps($fres,ensure_ascii=False)