#import zoo
#import json
#set tmp=$json.loads($inputs["layers"]["value"])
#set tmp0=$json.loads($inputs["layers_id"]["value"])
<ul class="sortable">
#set cnt=0
#for i in $tmp
#set t=$i.split('>')
<li id="ord_layer_$tmp0[$cnt]">#if len($t)>1#$t[2]#else#$i#end if#</li>
#set $cnt=$cnt+1
#end for
</ul>
<a href="#" onclick="mmSetLayerOrder();">$zoo._("Set layers order")</a>
