#import zoo
#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
<h3 id="idx_title" class="idx">$zoo._("Select Indicator")</h3>
<div class="pad">
<label for="sthe">$zoo._("Territories"):</label>
<div class="styled-select">
<select id="indicateurs_territories">
  <option value="-1">$zoo._("Select territory")</option>
#import np.service as np
#set lt=np.listTerritoires($cur,$prefix,$conf["senv"]["group"])
#set res0={}
#set t=np.flatTerritoires($lt,$res0)
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/territories/list.html",searchList={"conf":$conf,"t": $res0,"p":0}))
</select>
</div>
<label for="sthe">$zoo._("Themes"):</label>
<div class="styled-select">
<select id="indicateurs_themes">
  <option value="-1">$zoo._("Select theme")</option>
#if $conf["senv"]["login"]!="anonymous"
  <option value="fav">$zoo._("Favorites")</option>
#end if
#set t=np.listThemes($cur,$prefix,$conf["senv"]["group"])
#set p=""
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/themes/list.html",searchList={"conf":$conf,"t": $t,"p":0,"a":None}))
</select>
</div>
<label for="indeicateurs_search">$zoo._("Index"):</label>
<input type="text" id="indicateurs_search" class="fwi" value="$zoo._("Type a few letters")">  
</div>
