.flexigrid div.mDiv div.preview:hover {
	background: #FFFFFF url(../img/preview-hover.png);
	border-color: #9a9a9a;
}

.flexigrid div.mDiv div.download:hover {
	background: #FFFFFF url(../img/download-hover.png);
	border-color: #9a9a9a;
}

.flexigrid div.mDiv div.open-in-manager:hover {
		background:#FFFFFF url(../img/open-in-manager-hover.png);
	border-color: #9a9a9a;

}

.flexigrid div.mDiv div.delete:hover {
	background: #FFFFFF url(../img/delete-datasource-hover.png);
	border-color: #9a9a9a;
}

.flexigrid div.bDiv tr.trSelected:hover td,.flexigrid div.bDiv tr.trSelected:hover td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td,.flexigrid tr.trSelected td.sorted,.flexigrid tr.trSelected td{
	background: -moz-linear-gradient(top, #C2FF7E , #4FA33F);
	background: -webkit-gradient(linear, left top, left bottom, from(#C2FF7E), to(#4FA33F));
	background: -ms-linear-gradient(#C2FF7E, #4FA33F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2FF7E', endColorstr='#4FA33F');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2FF7E', endColorstr='#4FA33F');
	border-right: 1px solid #a3ec92;
	border-left: 1px solid #a3ec92;
	border-bottom: 1px solid #a3ec92;
}

.flexigrid .pSearch:hover {
	background: url(../img/magnifier-hover.png) no-repeat center;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	behavior: url(js/ie-css3.htc);
}

.flexigrid .pFirst:hover {
	background: #FFFFFF url(../img/first-hover.png) no-repeat center;
}

.flexigrid .pPrev:hover {
	background: #FFFFFF url(../img/prev-hover.png) no-repeat center;
}

.flexigrid .pNext:hover {
	background: #FFFFFF url(../img/next-hover.png) no-repeat center;
}

.flexigrid .pLast:hover {
	background: #FFFFFF url(../img/last-hover.png) no-repeat center;
}

.change-srs{text-decoration:none;color:#808080;text-shadow:none;font-weight:normal;padding: 0 3px 0 3px;}
.change-srs:hover{color:#3edf64;}	
.change-format{text-decoration:none;color:#808080;text-shadow:none;font-weight:normal;padding: 0 3px 0 3px;}
.change-format:hover{color:#3edf64;}
