.ui-progress-bar {
  position: relative;
  top:14px;
  right:20px;
  float:right;
  height: 15px;
  width:150px;
  padding-right: 2px;  
  background-color: #abb2bc;  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(js/ie-css3.htc);  
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b1b1b1), color-stop(1, #9D9D9D));
  background: -moz-linear-gradient(left,#B1B1B1 0%, #9D9D9 100%);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(131, 200, 73, 0.3), 0px 1px 0px 0px #707070;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(131, 200, 73, 0.3), 0px 1px 0px 0px #707070;
  box-shadow: inset 0px 1px 1px 0px rgba(131, 200, 73, 0.3), 0px 1px 0px 0px #707070;
}

.ui-progress {
  position: relative;
  display: block;
  overflow: hidden;
  height: 13px;  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
    -webkit-background-size: 24px 24px;  
  background-color: #74d04c;  
  background: -webkit-gradient(linear, 0 0, 24 24,
    color-stop(0.00, rgba(255,255,255,0.17)),
    color-stop(0.25, rgba(255,255,255,0.17)),
    color-stop(0.26, rgba(255,255,255,0)),
    color-stop(0.50, rgba(255,255,255,0)),
    color-stop(0.51, rgba(255,255,255,0.17)),
    color-stop(0.75, rgba(255,255,255,0.17)),
    color-stop(0.76, rgba(255,255,255,0)),
    color-stop(1.00, rgba(255,255,255,0))
  ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #8ad148), color-stop(1, #4bbf30));      
  background: -moz-repeating-linear-gradient(top left -30deg, 
    rgba(255,255,255,0.17), 
    rgba(255,255,255,0.17) 5px, 
    rgba(255,255,255,0) 5px, 
    rgba(255,255,255,0) 10px
  ), -moz-linear-gradient(#8ad148 0%, #4bbf30 100%);  
  -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #83c849;
  -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #83c849;
  box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #83c849;  
  border: 1px solid #CACACA;  
  -webkit-animation: animate-stripes 2s linear infinite;  
}

.ui-progress span.ui-label {
  font-size: 0.75em;
  position: absolute;
  right: 0;
  line-height: 13px;
  padding-right: 3px;
  color: rgba(0,0,0,0.6);
  text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
  white-space: nowrap;
}
