.window {
  overflow: hidden;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
.window .window-header {
  background: transparent;
  padding: 0px 0px 6px 0px;
}
.window .window-body {
  border-width: 1px;
  border-style: solid;
  border-top-width: 0px;
}
.window .window-body-noheader {
  border-top-width: 1px;
}
.window .window-header .panel-icon,
.window .window-header .panel-tool {
  top: 50%;
  margin-top: -11px;
}
.window .window-header .panel-icon {
  left: 1px;
}
.window .window-header .panel-tool {
  right: 1px;
}
.window .window-header .panel-with-icon {
  padding-left: 18px;
}
.window-proxy {
  position: absolute;
  overflow: hidden;
}
.window-proxy-mask {
  position: absolute;
  filter: alpha(opacity=5);
  opacity: 0.05;
}
.window-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=40);
  opacity: 0.40;
  font-size: 1px;
  *zoom: 1;
  overflow: hidden;
}
.window,
.window-shadow {
  position: absolute;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.window-shadow {
  background: #ccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
  box-shadow: 2px 2px 3px #cccccc;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
.window,
.window .window-body {
  border-color: #D3D3D3;
}
.window {
  background:#E8E8E8;
}
.window-proxy {
  border: 1px dashed #D3D3D3;
}
.window-proxy-mask,
.window-mask {
  background: #ccc;
}


.panel{
	overflow:hidden;
	font-size:1em;
}
.panel-header{
	padding:4px 0 5px 5px;
	line-height:24px;
	color:#707070;
        font-size:0.9em;
        font-weight:normal;
	background:url('../img/panel_title.png') repeat-x;
	position:relative;
	border:1px solid #99BBE8;
}
.panel-title{
	background:url('../img/blank.gif') no-repeat;
}
.panel-header-noborder{
	border-width:0px;
	border-bottom:1px solid #aeaeae;
}
.panel-body{
       font-size:.85em;
	overflow:auto;
	border:1px solid #333333;
	border-top-width:0px;
        color:#5d5d5d;
}

.panel-body-noheader{
	border-top-width:1px;
}
.panel-body-noborder{
	border-width:0px;
}
.panel-with-icon{
	padding-left:18px;
}
.panel-icon{
	position:absolute;
	left:5px;
	top:4px;
	width:24px;
	height:24px;
}

.panel-tool{
	position:absolute;
	right:5px;
	top:4px;
}
.panel-tool a{
	display:inline-block;
	width:16px;
	height:16px;
	opacity:0.6;
	filter:alpha(opacity=60);
	margin-left:2px;
}
.panel-tool a:hover{
	opacity:1;
	filter:alpha(opacity=100);
}
.panel-tool-close{
	background:url('../img/panel_tools.gif') no-repeat -16px 0px;
}
.panel-tool-min{
	background:url('../img/panel_tools.gif') no-repeat 0px 0px;
}
.panel-tool-max{
	background:url('../img/panel_tools.gif') no-repeat 0px -16px;
}
.panel-tool-restore{
	background:url('../img/panel_tools.gif') no-repeat -16px -16px;
}
.panel-tool-collapse{
	background:url('../img/panel_tools.gif') no-repeat -32px 0;
}
.panel-tool-expand{
	background:url('../img/panel_tools.gif') no-repeat -32px -16px;
}
.panel-loading{
	padding:11px 0px 10px 30px;
	background:url('../img/panel_loading.gif') no-repeat 10px 10px;
}
.panel-noscroll{
	overflow:hidden;
}
.panel-fit,.panel-fit body{
	height:100%;
	margin:0;
	padding:0;
	border:0;
	overflow:hidden;
}


a.l-btn:hover{
color:#FFFFFF;
text-shadow: #777777 0px 1px 0px;
background: -moz-linear-gradient(top, #C2FF7E , #4FA33F);
background: -webkit-gradient(linear, left top, left bottom, from(#C2FF7E), to(#4FA33F));
background: -ms-linear-gradient(#C2FF7E, #4FA33F);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2FF7E', endColorstr='#4FA33F');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2FF7E', endColorstr='#4FA33F');
}
