.distiller_vector_polygon{
    background: url(../img/polygon.png) no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
}
.distiller_vector_point{
    background: url(../img/point.png) no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
}
.distiller_vector_line{
    background: url(../img/line.png) no-repeat;   
    display: block;
    width: 16px;
    height: 16px;
    float: left;
}
.distiller_raster{
    background: url(../img/raster-icon.png) no-repeat;   
    display: block;
    width: 16px;
    height: 16px;
    float: left;
}

.tabs-left, .tabs-right, .maps-container {background:#FFFFFF; color: #565656;font-size:.85em;overflow:hidden;color:#707070}

.tabs-right p {padding:0 0 0 10px;}    
.tabs-left table {font-size:1em;}
.tabs-project table{font-size:1em;}
.tabs-project table.gen, table.gen{font-size:.85em;width: 98%;padding:0px 0 0 8px;color:#707070;}
.tabs-project table.layouts{width: 97%;padding:0;}
.tabs-project p{padding:10px 0 0 10px;margin:0;font-size:0.95em;}

table.layouts {width:98%;margin:0;padding:0px 0 0 8px;font-size:0.95em;background:#EBEBEB;
background: -webkit-gradient(linear, left top, left bottombottom, from(#ebebeb), to(#ffffff));
background: -moz-linear-gradient(top, #ebebeb, #ffffff);
background: -ms-linear-gradient(#ebebeb, #ffffff);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius: 4px;
behavior: url(js/ie-css3.htc);
color:#565656;border:1px solid #9f9f9f;margin:3px 0 0 12px;
}
table.layouts tr td {width:15%;}
table.layouts img {border:1px solid #9f9f9f;margin-left:20px;}

table.themz {width:97%;font-size:0.95em;background:#EBEBEB;
background: -webkit-gradient(linear, left top, left bottombottom, from(#ebebeb), to(#ffffff));
background: -moz-linear-gradient(top, #ebebeb, #ffffff); 
	background: -ms-linear-gradient(#ebebeb, #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
behavior: url(js/ie-css3.htc);color:#000000;border:1px solid #9f9f9f;margin:3px 0 0 12px;padding: 2px 0 25px 12px;}
table.themz th span {float:left;margin:0 0 5px 0;padding:0;font-weight:normal;text-align:left;padding:5px;background:#FFFFFF;-moz-border-radius:4px;}
table.themz tr td {width:10%;}
table.themz tr td a {text-decoration:none;cursor:default;color:#565656;}
table.themz tr td a:hover {cursor:default;}
table.themz tr td a span{position:relative;top:30px;left:0;}

table.font {margin:0 0 0 0;padding:0 0 0 8px;}
table.font th span {float:left;margin:0 0 5px 0;padding:0;font-weight:normal;text-align:left;padding:5px;background:#FFFFFF;-moz-border-radius:4px;}
table.font td span.fcolor {width:50%;display:block;margin:0 5px 0 0;padding:3px;
background:#EBEBEB;
background: -webkit-gradient(linear, left top, left bottombottom, from(#ebebeb), to(#ffffff));background: 
-moz-linear-gradient(top, #ebebeb, #ffffff); 
	background: -ms-linear-gradient(#ebebeb, #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
behavior: url(js/ie-css3.htc);
color:#000000;border:1px solid #9f9f9f;valign:middle;}

table td span.fcolor2 {
	width:100%;
	line-height: 22px;
	display:block;
	margin:0;
	padding:0 0 0 3px;
	background:#EBEBEB;
	background: -webkit-gradient(linear, left top, left bottombottom, from(#ebebeb), to(#ffffff));
	background: -moz-linear-gradient(top, #ebebeb, #ffffff);
	background: -ms-linear-gradient(#ebebeb, #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	 color:#000000;
	 border:1px solid #9f9f9f;
	 valign:middle;
	 behavior: url(js/ie-css3.htc);
	 }

table td span.fcolor2 .color_picker {float:right;}
table.font td .color_picker {
	height: 13px;
	width: 14px;
	padding: 0 !important;
	float:right;
	cursor: pointer;
	line-height: 16px;
	display:inline-block;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	behavior: url(js/ie-css3.htc);
}


table.datasources {
	width:98%;
	margin:0;
	padding:0px 0 5px 0;
	font-size:0.95em;
	background:#EBEBEB;
	background: -webkit-gradient(linear, left top, left bottombottom, from(#ebebeb), to(#ffffff));
	background: -moz-linear-gradient(top, #ebebeb, #ffffff); 
	background: -ms-linear-gradient(#ebebeb, #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	color:#000000;
	border:1px solid #9f9f9f;
	margin:3px 0 0 12px;
	behavior: url(js/ie-css3.htc);
	}
table.datasources th {color:#333333;font-weight:normal;padding: 2px 0 6px 0 ;background:#FFFFFF;}
table.datasources th.name {text-align:left;text-indent:5px;}
table.datasources tr td {text-align:center;color:#565656;}
table.datasources tr td.layerName {width:50%;text-align:left;}

table.logo {margin:10px 0 0 0;padding:0 0 0 8px;}
table.logo th span {float:left;margin:0 0 5px 0;padding:0;font-weight:normal;text-align:left;padding:5px;background:#FFFFFF;-moz-border-radius:4px;}

table.layers-gen {margin:10px 0 0 0;padding:0 0 0 8px;width:60%;}
table.layers-gen th span {float:left;margin:0 0 5px 0;padding:0;font-weight:normal;text-align:left;padding:5px;background:#FFFFFF;-moz-border-radius:4px;}

.nicEdit-pane{moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-size:.8em;behavior: url(js/ie-css3.htc);}
.nicEdit-main{height:300px;background:#FFFFFF;}
.nicEdit-button-hover{moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #919191;behavior: url(js/ie-css3.htc);}

.nb-container{float:right;margin:0;padding:0;height:90%;}
.tt-container{float:left;margin:0;padding:0;height:50px;}
 span.inlinebar{margin:25%;}
 
 
.distiller {width:100%;height:78px;margin:0;background: #FFFFFF url(../img/wbg.png) repeat-x;} 
.distiller img {display:inline;float:left;margin:0;padding:0;position:relative;top:20px;left:20px;}
.distiller p{margin:0;padding:0;}
.distiller p a{width:180px;text-align:center;display:block;font-size:.8em;text-decoration:none;padding:0;margin:7px 10px;} 
.distiller p a:hover{width:180px;text-decoration:none;padding:0;margin:7px 10px;} 



.manager, .publisher, .printer {width:100%;height:78px;background: #FFFFFF url(../img/wbg.png) repeat-x;} 
.manager img, .publisher img, .printer img {display:inline;float:left;margin:0;padding:0;position:relative;top:20px;left:20px;}
.manager p a, .publisher p a, .printer p a{width:180px;text-align:center;display:block;font-size:.8em;text-decoration:none;margin:25px 10px 0 0;} 
.manager p a:hover, .publisher p a:hover, .printer p a:hover {width:180px;padding:0;text-decoration:none;margin:25px 10px 0 0;} 


.distiller h2,.styler h2, .manager h2, .printer h2, .publisher h2{color:#545454;
margin:0;padding:15px 0 0 40px;background:transparent; display:block;float:left;
;font-size:.8em;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.distiller h3, .styler h3, .manager h3, .printer h3, .publisher h3{
position:absolute;margin:0;padding:40px 0 0 72px;background:transparent;font-size:.8em;font-weight:normal;color:#7a7a7a;
}


.save-config{position:relative;top:5px;right:10px;font-size:.85em;float:right;}

.maps-container ul{margin:0;padding:0;list-style:none;}
.tabs-right ul{margin:10px 0;padding:0;list-style:none;}
.tabs-right ul li, .maps-container ul li{font-size:.95em;margin:0;padding:10px;text-indent:0;
background: -moz-linear-gradient(top,  #FFFFFF,  #eaeaea);
background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#eaeaea));
background: -ms-linear-gradient(#ffffff, #eaeaea);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea');
}


.maps-container ul li a.default-map {color:#7ABA54;background-image:url(../img/icon-active.png);
background-repeat:no-repeat;
background-position:right; }


.tabs-right ul li a, .maps-container ul li a{text-decoration:none;color:#565656;display:block;}
.tabs-right ul li a:hover,  .maps-container ul li a:hover{text-decoration:none;color:#000000;}
.tabs-right ul li a span, .maps-container ul li a span{display:block;text-decoration:none;color:#777777;font-size:.9em;}

.tabs-right ul li:hover a span,  .maps-container ul li:hover a span {color:#FFFFFF;}



