/*
 *	MapMint Settings CSS
 */

.admin{
position:absolute;
top:30px;
right:20px;
display:block;
margin:0;
background:transparent;
z-index:1000 !important;
}

.sets{position:absolute;top:15px;right:0;
        -moz-box-shadow:
                0px 1px 3px rgba(000,000,000,0.3),
                inset 0px 0px 2px rgba(255,255,255,1);
        -webkit-box-shadow:
                0px 1px 3px rgba(000,000,000,0.3),
                inset 0px 0px 2px rgba(255,255,255,1);
        box-shadow:
                0px 1px 3px rgba(000,000,000,0.3),
                inset 0px 0px 2px rgba(255,255,255,1);
}
ul.sets {width:200px;list-style:none;margin:10px 0 0 0;padding:0;background:#FFFFFF;border-radius:5px;padding:10px;z-index:1000000 !important;}
ul.sets li{display:block;margin:7px 0 0 0;text-indent:28px;border-bottom:1px dotted #E9E9E9;line-height:24px;}
ul.sets li a{color:#A7A7A7;text-decoration:none;font-size:.85em;}
ul.sets li a:hover{color:#707070 !important;text-decoration:none;}
ul.sets li.sett{background:url(../img/user-settings.png) no-repeat;}
ul.sets li.user{background:url(../img/user-management.png) no-repeat;}
ul.sets li.home{background:url(../img/hpage.png) no-repeat;}
ul.sets li.logt{background:url(../img/logout.png) no-repeat;}

.ad{
color:#707070;
margin:0;
padding:0;
background: transparent;
font-size:14px;
font-weight:normal;
font-weight:bold;
text-shadow: #FFFFFF 0px 2px 0px;
text-align:right;
cursor:pointer;
text-decoration:none;
}
.adh{color:red;}

.sub{  
box-shadow: 5px 5px 5px #626262; /* CSS3 */
-moz-box-shadow: 5px 5px 5px #626262; /* Firefox */
  -webkit-box-shadow: 5px 5px 5px #626262; /* Safari, Chrome */
}
  
ul li .sub {
	position:absolute;top:60px;right:0;
	background: #808080;
	padding: 0 0 10px 10px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	 behavior: url(js/ie-css3.htc);
	display: none;
	color:#333333;
	min-width:20%;

}
ul li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul li .sub ul{
	list-style: none;
	margin: 0; 
	padding: 0;
	width: 90px;
	float: left;
}

ul .sub ul li {
	width: 100%;
	color: #fff;

}

 .sub ul li a {
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	padding: 7px 5px 7px 0;
	font-size:.7em;
	display: block;
	text-decoration: none;
	color: #767676;
}
 .sub ul li a:hover {color: #b3b3b3;}


 /*
 *	Themes bar
 */
.theme-bar{width:100%;float:left;}
.theme-bar a{display:inline;}


.theme-bar-pub a{display:inline;}
input.th{float:left;margin:0;text-indent:none;}
.green{
	float:left;
width:24px;
height:24px;
margin:0 5px 0 10px;
background: #8ad148; /* for non-css3 browsers */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ad148', endColorstr='#4bbf30'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#8ad148), to(#4bbf30)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #8ad148,  #4bbf30); /* for firefox 3.6+ */
border:1px solid #AAA;
}

.blue{
float:left;
width:24px;
height:24px;
margin:0 5px;
background: #8ad148; /* for non-css3 browsers */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#44d0e5', endColorstr='#398ee4'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#44d0e5), to(#398ee4)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #44d0e5, #398ee4 ); /* for firefox 3.6+ */
border:1px solid #AAA;
}

.purple{
	float:left;
width:24px;
height:24px;
margin:0 5px;
background: #8ad148; /* for non-css3 browsers */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c743f8', endColorstr='#8340f3'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#c743f8), to(#8340f3)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #c743f8, #8340f3 ); /* for firefox 3.6+ */
border:1px solid #AAA;
}

.pink{
	float:left;
width:24px;
height:24px;
margin:0 5px;
background: #8ad148; /* for non-css3 browsers */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f869ec', endColorstr='#f630f8'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f869ec), to(#f630f8)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f869ec, #f630f8 ); /* for firefox 3.6+ */
border:1px solid #AAA;
}
