/*
 *	MapMint toolbars CSS
 */
 
#nav {
position:relative;
top:28px;
left:50px;
margin: 0;
padding:0;
background: transparent;
border:0;
font-size:.85em;
text-transform:uppercase;
float:left;
}
#nav li {
margin: 0 5px;
padding: 0 0 8px;
float: left;
position: relative;
list-style: none;
}

.toolbar, .toolbar2{background:#E8E8E8;width:100%;margin:0;padding:0;height:35px;}
.toolbar-noborder{background:transparent;width:100%;margin:4px 0;padding:0;}

a.fg-button {background:#ffffff;float:left;width:26px;height:26px;margin:0 0 0 5px;padding:0; text-decoration:none !important; cursor:pointer; position: relative; text-align: center;border:1px solid #FFFFFF;}
a.fg-button:hover {border:1px solid #a5a5a5;}

a.fg-button-s {background:#E9E9E9;float:left;width:20px;height:20px;margin:0 0 0 5px;padding:0; text-decoration:none !important; cursor:pointer; position: relative; text-align: center;}

a.fg-button:hover {background:#FFFFFF;}

a.butt{font-size:.95em;text-decoration:none;border:1px solid #D3D3D3;padding:4px;color:#777777;position:relative;top:5px;left:0px;text-shadow:#E9E9E9 0 1px 0;}

a.save-as-map{font-size:.85em;text-decoration:none;border:1px solid #adadad;padding:4px;color:#777777;position:relative;top:3px;left:20px;text-shadow:#E9E9E9 0 1px 0;}
span.save-as-map{font-size:.85em;text-decoration:none;border:1px solid #adadad;padding:4px;color:#777777;position:relative;top:3px;left:10px;}


a.view-site{font-size:.8em;text-decoration:none;border:1px solid #888888;padding:4px;color:#777777;position:relative;top:1px;left:20px;text-shadow:#E9E9E9 0 1px 0;}

a.view-all-project, a.view-all-docs{float:right;font-size:.8em;text-decoration:none;border:1px solid #888888;padding:4px;color:#777777;position:relative;top:0;right:10px;text-shadow:#E9E9E9 0 1px 0;}

a.preview, a.export{font-size:.8em;text-decoration:none;border:1px solid #888888;padding:4px;color:#777777;position:relative;top:0;left:5px;text-shadow:#E9E9E9 0 1px 0;}

ul.nav-toolbar {position:absolute;top:100px;left:5px;margin:0;padding:2px;list-style:none;z-index:1000000000;width:32px;height:57px;background:url(../img/bcknav.png);border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	 behavior: url(js/ie-css3.htc);
	}
ul.nav-toolbar li a{margin: 3px 0 3px 5px;}

.dropdown-toolbars {width:150px;max-width:150px;margin:0;padding:0;font-size:.8em;font-weight:normal;position:absolute;left:250px;}
.dropdown-toolbars dd, .dropdown-toolbars dt, .dropdown-toolbars ul {margin:0px; padding:0px;font-weight:normal;}
.dropdown-toolbars dd {position:absolute;}
.dropdown-toolbars a, .dropdown a:visited {color:#777777; text-decoration:none;outline:none;width:140px;max-width:140px;padding:0;}
.dropdown-toolbars a:hover {color:#333333;width:140px;max-width:140px;}

.dropdown-toolbars dt a:hover {color:#000000;border:1px solid #7d7d7d;}
.dropdown-toolbars dt a {background:#E0E0E0 url(../img/arrow.png) no-repeat scroll right center; display:block; padding-right:10px;border:1px solid #8F8F8F; width:140px;}
.dropdown-toolbars dt a:hover {background:#E4E4E4 url(../img/arrow.png) no-repeat scroll right center; }

.dropdown-toolbars dt a span {cursor:pointer; display:block;padding:4px;}
.dropdown-toolbars dd ul {font-size:.95em;z-index:10000000000;color:#333333; display:none;left:0px; padding:5px 0px; position:absolute; top:2px; width:130px; min-width:130px; list-style:none;	background:#f0f0f0;	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	margin:0;
	border:1px solid #ccc;
	overflow:hidden;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	 behavior: url(js/ie-css3.htc);
	 }
.dropdown-toolbars span.value { display:none;}
.dropdown-toolbars dd ul li a { padding:5px; display:block;width:120px;max-width:120px;cursor:pointer;}
.dropdown-toolbars dd ul li a:hover { background-color:#C5C5C5;width:120px;max-width:120px;cursor:pointer;}
.dropdown-toolbars dd ul li a label{cursor:pointer;}

#editing-toolbar.window-body, #spatial-toolbar.window-body, #raster-toolbar.window-body, #terrain-toolbar.window-body {
	padding:0px;border:0;background: -moz-linear-gradient(top,  #B6B6B6, #c7c7c7);
background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#b6b6b6));
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2E2E2', endColorstr='#B6B6B6');}



.base_layer{
    position: relative;
    z-index: 1010;
    width: 24px;
    height: 24px;
    float: left;

}


#base_layers{
    z-index: 1010; 
    position: absolute;
    right: 250px;
    top:20px;
}
#base_layer_Map{
    background: url(../img/mapquest-str.png) no-repeat;
margin:0 0 0 5px;
border:1px solid #CDCDCD;
      border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius: 4px;
         behavior: url(js/ie-css3.htc);
cursor:pointer;}
#base_layer_Aerial{
    background: url(../img/mapquest-sat.png) no-repeat;
    margin:0 0 0 5px;
border:1px solid #CDCDCD;
      border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius: 4px;
         behavior: url(js/ie-css3.htc);
cursor:pointer;
}

#base_layer_OSM{
    background: url(../img/osm.png) no-repeat;     
margin:0 0 0 5px;
border:1px solid #CDCDCD;
      border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius: 4px;
         behavior: url(js/ie-css3.htc);
cursor:pointer;}
