#encoding UTF-8
#import zoo
#import mapfile.service as mms

#if $mms.getMetadata($m.web,'mmNav')
#set mmNav=$mms.getMetadata($m.web,'mmNav').split(',')
#else
#set mmNav=[]
#end if
#if $mms.getMetadata($m.web,'mmOT')
#set mmOT=$mms.getMetadata($m.web,'mmOT').split(',')
#else
#set mmOT=[]
#end if

#set tn=$conf["navbar"]["name"].split(',')
#set tv=$conf["navbar"]["id"].split(',')

<form class="form-horizontal mtpp" method="get" >
  <h1> <i class="fa fa-gear"></i> $zoo._("Controls")</h1>
  <div class="row">
    <label class="col-sm-3 control-label">$zoo._("Navigation Toolbar")</label>
    <div class="col-sm-9 range">
      <select id="mmNav" multiple class="form-control">
	<option value="-1" #if len(mmNav)==0 or $mmNav.count("-1")#selected="true"#end if#>None</option>
#for i in range(0,len(tv))
	<option value="$tv[$i]" #if $mmNav.count($tv[$i])#selected="selected"#end if#>$zoo._($tn[$i])</option>
#end for	
      </select>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-3 control-label">$zoo._("Other Tools")</label>
    <div class="col-sm-9 range">
      <select id="mmOT" multiple class="form-control">
	<option value="-1" #if len(mmOT)==0 or $mmOT.count("-1")#selected="true"#end if#>$zoo._("None")</option>
#set otids=$conf["othertools"]["ids"].split(',')
#set otnames=$conf["othertools"]["names"].split(',')
#for i in range(0,len(otids))
	<option value="$otids[$i]" #if $mmOT.count($otids[$i])>0#selected="selected"#end if#>$zoo._($otnames[$i])</option>
#end for
      </select>
    </div>
  </div>
#if $mms.getMetadata($m.web,'mmVT')
#set mmT={"V":$mms.getMetadata($m.web,'mmVT').split(',')}
#else
#set mmT={"V":[]}
#end if
#if $mms.getMetadata($m.web,'mmRT')
#set $mmT["R"]=$mms.getMetadata($m.web,'mmRT').split(',')
#else
#set $mmT["R"]=[]
#end if

#set keys=$mmT.keys()
#set toolbars=$conf["mm"]["toolbars1"].split(',')
#for i in range(0,len($toolbars))
  <div class="row">
    <label class="col-sm-3 control-label">$zoo._($conf[$toolbars[$i]]["title"])</label>
    <div class="col-sm-9 range">
      <select id="mm$(keys[$i])T" multiple class="form-control">
#set items=$conf[$toolbars[$i]]["name"].split(',')
#set items_alias=$conf[$toolbars[$i]]["alias"].split(',')
	    <option value="-1" #if len(mmT[keys[$i]])==0 or $mmT[mmT.keys()[$i]].count("-1")#selected="true"#end if#>None</option>
#for j in range(0,len($items))
	    <option value="$items[$j]" #if $mmT[keys[$i]].count($items[$j])>0#selected="true"#end if#>$items_alias[$j]</option>
#end for
      </select>
    </div>
  </div>
#end for  
</form>    
