#encoding UTF-8
#import zoo,mapscript
#import mapfile.service as mms

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" >
    <a id="mm_baselayers_display_Toggler" href="#mm_baselayers_display" aria-controls="home" role="tab" data-toggle="tab">
      <span class="symbol-multi" >
        <i class="mm0-layers mm-layers-baseonly fa-fw"></i>
        <i class="mm0-layers mm-layers-overlays-only fa-fw symbol-up"></i>
      </span>
      <span class="hidden-xs hidden-sm hidden-md">
        $zoo._("Base Layers")
      </span>
    </a>
  </li>
  <li role="presentation" >
    <a id="mm_layers_display_Toggler" href="#mm_olayers_display" aria-controls="home" role="tab" data-toggle="tab">
      <span class="symbol-multi" >
        <i class="mm0-layers mm-layers-overlays-only fa-fw"></i>
        <i class="mm0-layers mm-layers-baseonly fa-fw symbol-up"></i>
      </span>
      <span class="hidden-xs hidden-sm hidden-md">
        $zoo._("Overlay Layers")
      </span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="mm_baselayers_display">
    <form class="form-horizontal mtpp" method="get" >
      <h1>
       <span class="symbol-multi">
         <i class="mm0-layers mm-layers-baseonly fa-fw"></i>
         <i class="mm0-layers mm-layers-overlays-only fa-fw symbol-up"></i>
       </span>
       $zoo._("Base Layers")

      </h1>
      <div class="row">
	<label class="col-sm-3 control-label">$zoo._("Default")</label>
        <div class="col-sm-9 range">
	  <select id="base_layer_active" class="form-control" onchange="\$('#base_layer_active_sel').val(this.value);">
	  </select>
	  <input type="hidden" id="base_layer_active_sel" value="$mms.getMetadata($m.web,'mmActivatedBaseLayers')" />
	</div>
      </div>
      <div class="row">
	<label class="col-sm-3 control-label">$conf["mm"]["boLayerAlias"]</label>
        <div class="col-sm-9 range">
	  <input type="checkbox" id="base_osm" value="true" #if $mms.getMetadata($m.web,"mmOSMBaseLayers")=="true"#checked="true"#end if# onchange="app.updateBaseLayers();"/>
	</div>
      </div>
      <div class="row">
	<label class="col-sm-3 control-label">$conf["mm"]["boLayerAlias"]</label>
      <div class="col-sm-9 range">
	<!-- $mms.getMetadata($m.web,'mmMBaseLayers') -->
	  <select multiple id="mapquest" class="form-control" onchange="app.updateBaseLayers();">
	    <option value="-1" #if $mms.getMetadata($m.web,'mmMBaseLayers')=="-1"#selected="true"#end if#>$zoo._("None")</option>
#set a=$conf["mm"]["bmLayers"].split(",")
#set b=$conf["mm"]["bmLayerAlias"].split(",")
#if $mms.getMetadata($m.web,'mmMBaseLayers')
#set setM=$mms.getMetadata($m.web,'mmMBaseLayers').split(',')
#else
#set setM=[]
#end if
#for i in range(0,len(a))
	    <option value="$a[$i]" #if $setM.count($a[$i])>0#selected="true"#end if#>$b[$i]</option>
#end for
	  </select>
	</div>
      </div>
      <div class="row">
	<label class="col-sm-3 control-label">$zoo._("Proprietary:")</label>
        <div class="col-sm-9 range">
#if $mms.getMetadata($m.web,"mmProprietaryBaseLayers")
#set lname=$mms.getMetadata($m.web,"mmProprietaryBaseLayers")
#else
#set lname=$conf["mm"]["bpDefault"]
#end if
#set k=0
	  <select class="select-window form-control" id="mmBBDefault" onchange="\$('#'+this.value).show();var tmp=[#for i in $conf["mm"]["bpList"].split(',')#'$conf["mm"]["b"+$i+"Name"]',#end for#];for(i in tmp){if(this.value!=tmp[i])\$('#'+tmp[i]).hide();else \$('#'+tmp[i]).show();}if(this.value=='-1' || #for i in $conf["mm"]["bpNoKey"].split(',')#this.value=='$conf["mm"]["b"+$i+"Name"]'#if $k+1<len($conf["mm"]["bpNoKey"].split(','))# || #end if##set $k=$k+1##end for#)\$(this).parent().parent().next().next().hide();else \$(this).parent().parent().next().next().show();">
	    <option value="-1" #if $lname=="None"#selected="true"#end if#>None</option>
#for i in $conf["mm"]["bpList"].split(',')
	    <option value="$conf["mm"]["b"+$i+"Name"]" #if $lname==$conf["mm"]["b"+$i+"Name"]#selected="true"#end if#>$conf["mm"]["b"+$i+"Name"]</option>
#end for
	  </select>
#if $lname=="Planet"
	  <input name="mmBBDefault_ini" id="mmBBDefault_ini" value="$mms.getMetadata($m.web,'mmPBaseLayers')" type="hidden" />
	  <!-- $lname -->
#end if	  
	</div>
      </div>
      <div class="row">
	<label class="col-sm-3 control-label"> </label>
        <div class="col-sm-9 range">
#for j in $conf["mm"]["bpList"].split(',')
	      <select multiple class="form-control select-window b$(j)Select" id="$conf["mm"]["b"+$j+"Name"]"  #if $lname!=$conf["mm"]["b"+$j+"Name"]#style="display: none"#end if# onchange="app.updateBaseLayers();">
		<option value="-1" #if $mms.getMetadata($m.web,'mmProprietaryBaseLayers')!=$conf["mm"]["b"+$j+"Name"] or $mms.getMetadata($m.web,'mmPBaseLayers')==""#selected="true"#end if#>None</option>
#set a=$conf["mm"]["b"+$j+"LayerAlias"].split(",")
#set b=$conf["mm"]["b"+$j+"Layers"].split(",")
#if $mms.getMetadata($m.web,'mmProprietaryBaseLayers')==$conf["mm"]["b"+$j+"Name"] and $mms.getMetadata($m.web,'mmPBaseLayers')!=""
#set setM=$mms.getMetadata($m.web,'mmPBaseLayers').split(',')
#else
#set setM=[]
#end if
#for i in range(0,len(a))
		<option value="$b[$i]" #if $setM.count($b[$i])>0#selected="true"#end if#>$a[$i]</option>
#end for
	      </select>
#end for
	</div>
      </div>
      <div class="row" #if $mms.getMetadata($m.web,"mmProprietaryBaseLayers")!=$conf["mm"]["bbName"] and $mms.getMetadata($m.web,"mmProprietaryBaseLayers")!=$conf["mm"]["biName"]#style="display:none"#end if#>
	<label class="col-sm-3 control-label">$zoo._("API Key")</label>
        <div class="col-sm-9 range">
	  <input class="form-control" name="mmBAK" value="$mms.getMetadata($m.web,'mmBAK')" />
	</div>
      </div>
      <div class="row">
	<label class="col-sm-3 control-label"> $zoo._("WMTS Server")
	<input id="mmWMTSBL" type="checkbox" class="form-check"
	onchange="if(\$(this).is(':checked'))\$(this).parent().next().show();else
	\$(this).parent().next().hide();" /> </label>
        <div class="col-sm-9 range" style="display:none">
	  <div class="input-group" id="wmts_server_url">
	    <span class="input-group-btn" title="$zoo._("Set URL")" rel="tooltip">
	    <button class="btn btn-default disabled" type="button">$zoo._("Set")</button>
	    </span>
	    <input type="text" class="form-control" placeholder="$zoo._("WMTS Server URL")" value="$mms.getMetadata($m.web,"mmWMTSBLURL")"/>
	  </div>
	  <div id="wmts_layers_list">
#try	    
#if $mms.getMetadata($m.web,"mmWMTSBLURL")!=""
#set tmp=$mms.getMetadata($m.web,"mmWMTSBaseLayers").split(",")
#for i in range(len($tmp))	    
#set tmp0=tmp[$i].split("|")
	    <div class="col-sm-6">
	      <div class="input-group">
		<span class="input-group-addon" title="$zoo._("Display this layer")" rel="tooltip">
		<input type="checkbox" class="form-check" checked="checked" />
		</span>
		<input type="text" class="form-control" disabled
		placeholder="$zoo._("Original Layer title")" data-value="$(tmp0[0])|$(tmp0[1])|$(tmp0[2])" value="$tmp0[2]" />
	      </div>
	    </div>
	    <div class="col-sm-6">
	      <input type="text" class="form-control"
	      placeholder="$zoo._("Layer title")" value="$tmp0[3]" />
	    </div>
#end for
#end if
#except
	    <!-- no wmts layer -->
#end try	    
	  </div>
	  <div id="wmts_layers_attributions">
	    <label class="col-sm-2">$zoo._("Attributions")</label>
	    <div class="col-sm-10">
#try
#set val=open($mms.getMetadata($m.web,"mmWMTSAttribution").replace($conf["main"]["tmpUrl"],$conf["main"]["tmpPath"])).read()
#except
#set val=$mms.getMetadata($m.web,"mmWMTSAttribution")
#end try
	      <textarea name="wmts_attribution" class="form-control mm-editor">$val</textarea>
	    </div>
	  </div>
	</div>
      </div>
<script id="template_wmts_layers" type="template/text">
	    <div class="col-sm-6">
	      <div class="input-group">
		<span class="input-group-addon" title="$zoo._("Display this layer")" rel="tooltip">
		<input type="checkbox" class="form-check" />
		</span>
		<input type="text" class="form-control" disabled
		placeholder="$zoo._("Original Layer title")" data-value="VAL" value="TITLE" />
	      </div>
	    </div>
	    <div class="col-sm-6">
	      <input type="text" class="form-control"
	      placeholder="$zoo._("Layer title")" value="NEWTITLE" />
	    </div>
</script>
      <div class="row">
	<label class="col-sm-3 control-label">$zoo._("Created layers")</label>
      <div class="col-sm-9 range">
	<!-- $mms.getMetadata($m.web,'mmBProject') -->
	  <select multiple id="mmBProject" class="select-window form-control" onchange="app.updateBaseLayers();">
	    <option value="-1" #if $mms.getMetadata($m.web,'mmBProject')==""#selected="true"#end if#>$zoo._("None")</option>
#try
#set sel=$mms.getMetadata($m.web,'mmBProject').split(",")
#except
#set sel=[]
#end try
#import os
#for i in sorted(os.listdir($conf["main"]["dataPath"]+"/public_maps/"))
#if $i.count(".map")==0
#try 
#set t=os.readlink($conf["main"]["dataPath"]+"/public_maps/"+$i)
	    <option value="$i" #if sel.count($i)>0#selected="true"#end if#>$i</option>		
#except
#set t=None
#end try
#end if
#end for
	  </select>
	</div>
      </div>
    </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="mm_olayers_display">
    <form class="form-horizontal mtpp" method="get" >
      <h1>
        <span class="symbol-multi" >
          <i class="mm0-layers mm-layers-overlays-only fa-fw"></i>
          <i class="mm0-layers mm-layers-baseonly fa-fw symbol-up"></i>
        </span>
        $zoo._("Overlay Layers")
      </h1>
      <div class="row myWell">
	<table id="datasources_list">
	  <thead>
	  <th width="50">$zoo._("Id")</th>
	  <th width="350">$zoo._("Layer Name")</th>
	  <th width="50">$zoo._("Popup")</th>
	  <th width="50">$zoo._("Window")</th>
	  <th width="50">$zoo._("Vector")</th>
	  <th width="50">$zoo._("Raster")</th>
	  <th width="50">$zoo._("Activated")</th>
	  <th width="75">$zoo._("Min Zoom")</th>
	  <th width="75">$zoo._("Max Zoom")</th>
	  <th width="75">$zoo._("Label Min Zoom")</th>
	  <th width="75">$zoo._("Label Max Zoom")</th>
	  <th width="50">$zoo._("Access")</th>
	  </thead>
	  <tbody>
#if $mms.getMetadata($m.web,'mmActivatedLayers')
#set activatedLayers=$mms.getMetadata($m.web,'mmActivatedLayers').split(",")
#else
#set activatedLayers=[]
#end if
#if $mms.getMetadata($m.web,'mmPopupList')
#set popupList=$mms.getMetadata($m.web,'mmPopupList').split(",")
#else
#set popupList=[]
#end if
#if $mms.getMetadata($m.web,'mmWindowList')
#set windowList=$mms.getMetadata($m.web,'mmWindowList').split(",")
#else
#set windowList=[]
#end if
#if $mms.getMetadata($m.web,'rasterLayers')
#set rasterLayers=$mms.getMetadata($m.web,'rasterLayers').split(",")
#else
#set rasterLayers=[]
#end if
#if $mms.getMetadata($m.web,'vectorLayers')
#set vectorLayers=$mms.getMetadata($m.web,'vectorLayers').split(",")
#else
#set vectorLayers=[]
#end if
#for i in range(0,$m.numlayers)
#if $m.getLayer($i).name.count("_mmlabel")==0
	    <tr>
	      <td>$m.getLayer($i).index</td>
	      <td>$m.getLayer($i).name</td>
	      <td><input name="popup" type="checkbox" value="p$i" id="layer_has_popup_$m.getLayer($i).name" #if ($popupList.count($m.getLayer($i).name)>0)#checked="true"#end if#/></td>
	      <td><input name="windows" type="checkbox" value="w$i" id="layer_has_click_$m.getLayer($i).name" #if ($windowList.count($m.getLayer($i).name)>0)#checked="true"#end if#/></td>
	      <td><input type="radio" id="layer_type_$m.getLayer($i).name" name="layer_type_$m.getLayer($i).name" #if vectorLayers.count($m.getLayer($i).name)>0#checked="checked"#end if# value="vector" #if $m.getLayer($i).type==3#disabled="true"#end if# /></td>
	      <td><input type="radio" id="layer_type1_$m.getLayer($i).name" name="layer_type_$m.getLayer($i).name" #if rasterLayers.count($m.getLayer($i).name)>0#checked="checked"#end if# value="raster" /></td>
	      <td><input name="activate" type="checkbox" value="a$i" id="is_activated_layer_$m.getLayer($i).name" #if ($activatedLayers.count($m.getLayer($i).name)>0)#checked="true"#end if#/></td>
	      <td><input name="minScale" type="text" style="width:75px;" id="min_scale_$m.getLayer($i).name" value="$mms.getMetadata($m.getLayer($i),"mmMinScale")" /></td>
	      <td><input name="maxScale" type="text" style="width:75px;" id="max_scale_$m.getLayer($i).name" value="$mms.getMetadata($m.getLayer($i),"mmMaxScale")" /></td>
	      <td><input name="lminScale" type="text" style="width:75px;" id="label_min_scale_$m.getLayer($i).name" value="$mms.getMetadata($m.getLayer($i),"mmLabelMinScale")" /></td>
	      <td><input name="lmaxScale" type="text" style="width:75px;" id="label_max_scale_$m.getLayer($i).name" value="$mms.getMetadata($m.getLayer($i),"mmLabelMaxScale")" /></td>
	      <td><a href="#access" onclick="app.displayPermissionForm(\$(this) ,'$mms.getMetadata($m.getLayer($i),"mmDSTN")','$m.getLayer($i).name')">priv.</a></td>
	    </tr>
#end if
#end for
	  </tbody>
	</table>
      </div>
    </form>
  </div>
</div>  
