RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*);module=(.*).js$ /ui/$1.js;module=$2 [L,QSA]
RewriteRule ^preview/assets/(.*)$ /pm/assets/$1 [L,QSA]
RewriteRule ^preview/css/(.*)$ /pm/css/$1 [L,QSA]
RewriteRule ^preview/fonts/(.*)$ /pm/fonts/$1 [L,QSA]
RewriteRule ^(.*)$ /cgi-bin/mm/zoo_loader.cgi?request=Execute&service=WPS&version=1.0.0&Identifier=template.display&DataInputs=tmpl=$1&RawDataOutput=Result [L,QSA]
