<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Redirection to ZOO-Kernel" />
                <rule name="Redirection to ZOO-Kernel" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions trackAllCaptures="true">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/arv-bin/zoo_loader.cgi?metapath=template&amp;request=Execute&amp;service=WPS&amp;version=1.0.0&amp;Identifier=display&amp;DataInputs=tmpl={R:1}&amp;RawDataOutput=Result" />
                </rule>
                <rule name="MapMint Language gesture">
                    <match url="(.*)?language=(.*)&amp;(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Rewrite" url="/cgi-bin/zoo_loader.cgi?metapath=template&amp;service=wps&amp;version=1.0.0&amp;request=Execute&amp;Identifier=display&amp;DataInputs=tmpl={R:1}&amp;language={R:2}" />
                </rule>
                <rule name="MapMint Context Loader" stopProcessing="true">
                    <match url="(.*)?c=(.*)&amp;(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/cgi-bin/zoo_loader.cgi?metapath=template&amp;service=wps&amp;version=1.0.0&amp;request=Execute&amp;Identifier=display&amp;DataInputs=tmpl={R:1};c={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
