
#def printLine(obj)
      <div class="form-group">
	<label class="col-sm-3 control-label">$obj["name"]</label>
        <div class="col-sm-9 ">
#if $obj.keys().count("type")==0	  
	  <input name="$obj["id"]" #if $obj.keys().count("rid")>0#id="$obj["rid"]"#end if# class="form-control" type="text" />
#else
#if $obj["type"]!="select"
	  <input name="$obj["id"]" #if $obj.keys().count("rid")>0#id="$obj["rid"]"#end if# class="form-control" type="password" />
#else
	  <select name="$obj["id"]" #if $obj.keys().count("rid")>0#id="$obj["rid"]"#end if# class="form-control">
	  	  <option>TOTO</option>
#for a in $obj["options"]
<option>TOTO</option>
<option value="$(type($a)) $(type(""))">$(type($a)) $(type(""))</option>
#if type($a)==type("")
	    <option value="$a">$a</option>
#else
	    <option value="$a[0]">$a[1]</option>
#end if
#end for	    
	  </select>
#end if	  
#end if	  
	</div>
      </div>
#end def

#def printLineMinimal(obj)
      <div class="form-group">
	<label class="col-sm-3 control-label">$obj["name"]</label>
        <div class="col-sm-9 ">
	  $bj["content"]
	</div>
      </div>
#end def
