#import zoo

#def printAdder($obj)
<div class="input-group">
  <input class="form-control" name="$obj["name"]" placeholder="$obj["Name"]" type="text" />
  <span class="input-group-btn">
    <button class="btn btn-default" id="$obj["id"]" type="button">$obj["title"]</button>
  </span>
</div>   
#end def

#def printButtonGroupA0($obj)
<div class="btn-group #if 'class' in $obj.keys()#$obj["class"]#end if#">
#for o in $obj["a"]
  $printButtonA($o)
#end for
</div>
#end def

#def printButtonGroupA($obj)
<div class="btn-group">
#for o in $obj
  $printButtonA($o)
#end for
</div>
#end def

#def printButtonA($obj)
  <a class="btn btn-default btn-sm $obj["classes"]" title="$obj["title"]" data-toggle="collapse" data-target="#$obj["target"]" href="#$obj["target"]"></a>
#end def


#def printTabHeader(id,title,font,classe)
<li role="presentation" #if $classe is not None#class="$classe"#end if#>
  <a id="$(id)_Toggler" href="#$id" aria-controls="home" role="tab" data-toggle="tab">
    <i class="fa $font fa-fw"></i>
    <span class="hidden-xs hidden-sm hidden-md d-none d-lg-inline d-xl-inline">
      $title
    </span>
  </a>
</li>
#end def

#def printHidden(obj)
    <input name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control" type="hidden" #if "value" in $obj.keys()#value="$obj["value"]"#end if#/>
#end def

#def printHiddenContent(obj)
    <script type="template/txt" name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if#>#if "value" in $obj.keys()#$obj["value"]#end if#</script>
#end def

#def printBasicLine(obj)
<div class="form-group row #if "classes" in $obj.keys()#$obj["classes"]#end if#">
#if 'label' in obj.keys()
  <label class="col-sm-4 col-md-3 col-lg-2 control-label">
  $obj["label"]
  </label>
  <div class="col-sm-4 col-md-9 col-lg-10 ">
#else
  <div class="col-sm-12 col-md-12 col-lg-12 ">
#end if
   $obj["content"]
  </div>
</div>
#end def

#def printCoordInput(obj0)
<div class="form-group row #if "classes" in $obj0.keys()#$obj0["classes"]#end if#">
  <label class="col-sm-4 col-md-3 col-lg-2 control-label">
  $obj0["name"]
  </label>
  <div class="col-sm-8 col-md-9 col-lg-10 ">
    <div class="col-sm-6 col-xs-6">
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">X</span>
	<input class="form-control" name="$(obj0["id"])_x"
            onchange="\$(this).parent().parent().next().next().val('POINT('+\$(this).val()+' '+\$(this).parent().parent().next().find('input').val()+')');"
	    value="" />
      </div>
    </div>
    <div class="col-sm-6 col-xs-6">
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">Y</span>
	<input class="form-control" name="$(obj0["id"])_y"
            onchange="\$(this).parent().parent().next().val('POINT('+\$(this).parent().parent().prev().find('input').val()+' '+\$(this).val()+')');"
	    value="" />
      </div>
    </div>
    <input id="$obj0["rid"]" type="hidden" name="$obj0["id"]" />
  </div>
</div>
#end def

#def printUploadInput(obj)
  <form id="fileUpload" action="$obj["url"]" method="post" enctype="multipart/form-data" target="uploader">
    <input type="file" name="$obj["name"]" id="$(obj["id"])_file" class="form-control mmFile" />
    <a id="$(obj["id"])_link" href="" target="_blank"></a>
  </form>
  <input type="hidden" id="$(obj["id"])name" class="form-control" />
  <iframe #if "onLoad" in $obj.keys()# onload="$obj["onLoad"]"#end if# name="$(obj["id"])_uploader" id="$(obj["id"])_uploader"style="display:none"></iframe>
#end def

#def printUploadInputNew(obj)
  <input type="file" name="$obj["id"]" id="$(obj["name"])" class="form-control mmFile" />
#end def

#def printEmbeddedLine(obj)
#set ltypes=["select","multiple","textarea","date","datetime","float","html","checkbox"]
#if "optional" in $obj.keys() and $obj["optional"]
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" name="filter" value=""/>
      </span>
#end if
#if not("type" in $obj.keys())
    <input #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control form-control-inline" type="text" #if "value" in $obj.keys()#value="$obj["value"]"#end if#  #if "required" in $obj and $obj["required"]#required#end if#/>
#else
#if $obj["type"]=="date" or $obj["type"]=="datetime" or $obj["type"]=="checkbox"
    <input #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control form-control-inline#if $obj["type"]=="checkbox"#-checkbox#end if#" type="$obj["type"]#if $obj["type"]!="date" and $obj["type"]!="checkbox"#-local#end if#" #if "value" in $obj.keys()#value="$obj["value"]"#end if# #if "value" in $obj.keys() and $obj["type"]=="checkbox" and $obj["value"]=="true"#checked="checked"#end if#  #if "required" in $obj and $obj["required"]#required#end if#/>

#else
#if $obj["type"]=="float"
    <input #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control form-control-inline" type="number" #if "value" in $obj.keys()#value="$obj["value"]"#end if#  #if "required" in $obj and $obj["required"]#required#end if#/>
#else
#if $obj["type"]=="textarea" or $obj["type"]=="html"
    <textarea #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control form-control-inline #if $obj["type"]=="html"# htmlEditor #end if# #if "iclasses" in $obj.keys()#$obj["iclasses"]#end if#"  #if "required" in $obj and $obj["required"]#required#end if#>#if "value" in $obj.keys()#$obj["value"]#end if#</textarea>
#else	  
    <select #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# #if $obj["type"]=="multiple"#multiple="multiple"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control form-control-inline #if "iclasses" in $obj.keys()#$obj["iclasses"]#end if#"  #if "required" in $obj and $obj["required"]#required#end if#>
#for a in $obj["options"]
#if type($a)==type("")	    
      <option value="$a">$a</option>
#else
      <option value="$a[0]">$a[1]</option>
#end if
#end for
    </select>
#end if
#end if
#end if
#end if
#if "optional" in $obj.keys() and $obj["optional"]
    </div>
#end if
#end def

#def printLine(obj)
#set ltypes=["select","multiple","textarea","date","datetime","float","html","checkbox"]
<div class="form-group row #if "classes" in $obj.keys()#$obj["classes"]#end if#">
  <label class="col-sm-4 col-md-3 col-lg-2 control-label">$obj["name"]</label>
  <div class="col-sm-8 col-md-9 col-lg-10 ">

#if "optional" in $obj.keys() and $obj["optional"]
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" onchange="\$(this).parent().next().attr('disabled',!\$(this).is(':checked'));" name="filter" value=""/>
      </span>
#end if
#if not("type" in $obj.keys())
    <input #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control" type="text" #if "value" in $obj.keys()#value="$obj["value"]"#end if# #if "required" in $obj and $obj["required"]#required#end if#/>
#else
#if $ltypes.count($obj["type"])==0
    <input #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control" type="password" #if "value" in $obj.keys()#value="$obj["value"]"#end if#  #if "required" in $obj and $obj["required"]#required#end if#/>
#else
#if $obj["type"]=="date" or $obj["type"]=="datetime" or $obj["type"]=="checkbox"
    <input #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control#if $obj["type"]=="checkbox"#-checkbox#end if#" type="$obj["type"]#if $obj["type"]!="date" and $obj["type"]!="checkbox"#-local#end if#" #if "value" in $obj.keys()#value="$obj["value"]"#end if# #if "value" in $obj.keys() and $obj["type"]=="checkbox" and $obj["value"]=="true"#checked="checked"#end if# #if "required" in $obj and $obj["required"]#required#end if#/>
#if $obj["type"]=="date" or $obj["type"]=="datetime"
#if "optional" in $obj.keys() and $obj["optional"]
    <span class="input-group-addon"><select class="date-operator">
	<option value="eq"> = </option>
	<option value="lt"> &lt; </option>
	<option value="gt"> &gt; </option>
    </select></span>
#end if
#end if

#else
#if $obj["type"]=="float"
    <input #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control" type="number" #if "value" in $obj.keys()#value="$obj["value"]"#end if# #if "required" in $obj and $obj["required"]#required#end if#/>
#else
#if $obj["type"]=="textarea" or $obj["type"]=="html"
    <textarea #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control #if $obj["type"]=="html"# htmlEditor #end if# #if "iclasses" in $obj.keys()#$obj["iclasses"]#end if#"  #if "required" in $obj and $obj["required"]#required#end if#>#if "value" in $obj.keys()#$obj["value"]#end if#</textarea>
#else	  
    <select #if "optional" in $obj.keys() and $obj["optional"]#disabled="disabled"#end if# #if $obj["type"]=="multiple"#multiple="multiple"#end if# name="$obj["id"]" #if "rid" in $obj.keys()#id="$obj["rid"]"#end if# class="form-control #if "iclasses" in $obj.keys()#$obj["iclasses"]#end if#"  #if "required" in $obj and $obj["required"]#required#end if#>
#for a in $obj["options"]
#if type($a)==type("")	    
      <option value="$a">$a</option>
#else
      <option value="$a[0]">$a[1]</option>
#end if
#end for
    </select>
#end if
#end if
#end if
#end if
#end if
#if "optional" in $obj.keys() and $obj["optional"]
    </div>
#end if    
    <div class="invalid-feedback">
        $($zoo._("The field %s is required. Please, provide a valid value.").replace("%s",$obj["name"]))
    </div>
  </div>
</div>
#end def

#def printButton(obj)
<button class="btn btn-default  #if "classes" in $obj.keys()#$obj["classes"]#end if#" data-mmaction="$obj["id"]">$obj["name"]</button>
#end def

#def printTabHeader(id,title,font,classe)
<li role="presentation" class="nav-item #if $classe is not None#$classe"#end if#>
  <a id="$(id)_Toggler" class="nav-link" href="#$id" aria-controls="home" role="tab" data-toggle="tab">
    <i class="fa $font fa-fw"></i>
    <span class="hidden-xs hidden-sm hidden-md d-none d-lg-inline d-xl-inline">
      $title
    </span>
  </a>
</li>
#end def

#def printTabHeaderNew(obj)
<li role="presentation" class="nav-item #if "classe" in obj.keys()#$(obj.classe)#end if#">
  <a class="nav-link" id="#if "id" in obj.keys()#$(obj.id)#end if#_Toggler" href="\##if "id" in obj.keys()#$(obj.id)#end if#" aria-controls="home" role="tab" data-toggle="tab">
#if "font" in obj.keys()
    <i class="fa $(obj.font) fa-fw"></i>
#end if
#if "cnt" in obj.keys()
    <span class="hidden-lg d-inline d-lg-none">$(obj.cnt)</span>
#end if
    <span class="hidden-xs hidden-sm hidden-md d-none d-lg-inline d-xl-inline">$(obj.title)</span>
  </a>
</li>
#end def

#def printBasicCheckbox()
<input class="inner_displayer pull-right" type="checkbox"
  checked="checked" data-toggle="tooltip" title="$zoo._("Display")"/>
#end def
