#import zoo
#set origTbl=$inputs["table"]["value"]
<div class="tab-content">
  <div class="padder row">
#set outputs1={"Result":{"value":""}}
#set inputs1=$inputs
#set $inputs1["clause"]={"value":"NULL"}
#set $inputs1["type"]={"value":"insert"}
    $(Template(file=$conf["main"]["templatesPath"]+"/Distiller/PgEditorWindow_bs.tmpl",searchList=[{"conf":$conf,"inputs":$inputs1,"outputs":$outputs1}]))
  </div>

  <div class="padder row">
#set $inputs1["type"]["value"]="delete"
#set inputs1["table"]["value"]=$origTbl
    $(Template(file=$conf["main"]["templatesPath"]+"/Distiller/PgEditorWindow_bs.tmpl",searchList=[{"conf":$conf,"inputs":$inputs1,"outputs":$outputs1}]))
  </div>
	    
  <div class="padder row">
#set $inputs1["type"]["value"]="update"
#set inputs1["table"]["value"]=$origTbl
    $(Template(file=$conf["main"]["templatesPath"]+"/Distiller/PgEditorWindow_bs.tmpl",searchList=[{"conf":$conf,"inputs":$inputs1,"outputs":$outputs1}]))
  </div>
 
</div>
