#import zoo
#set tblName=$inputs["table"]["value"].replace(".","_")
<form id="$(inputs["type"]["value"])-tuple" class="form-inline $(tblName)BaseEditForm #if $inputs["type"]["value"]!="insert"#$(tblName)EditForm#end if# collapse">
#from datastores.postgis import pgConnection
#import json
#set inputs1=$inputs
#set $inputs1["force"]={"value":"true"}
#set demo=pgConnection.getTableDescription($conf,$inputs,$outputs)
#set tmp=json.loads($outputs["Result"]["value"],encoding="utf-8")
#if $inputs.has_key("clause") and $inputs["clause"]["value"]!="NULL"
#set demo1=pgConnection.getTableContent($conf,$inputs1,$outputs)
#set tmp1=json.loads($outputs["Result"]["value"],encoding="utf-8")
#else
#set tmp1={"rows": [{"cell": []}]}
#for i in tmp
#set tmp1["rows"][0]["cell"]+=[""]
#end for
#end if
#set j=0
#if $inputs1.has_key("clause")
#set hasClause=True
#set clause=$inputs1["clause"]["value"]
#else
#set hasClause=False
#set clause="true"
#end if
#for i in tmp
#if $i[2]!="geometry" and ($i[3]!="PRI" or $inputs["type"]["value"]!="insert")
<div class="form-group">
<label for="="pg_tuple_$i[1]"">$i[1]:</label>
#if $i[2]=="bool"
<input type="checkbox" name="$i[1]" id="pg_tuple_$i[1]" #if len($tmp1.rows)>0 and $tmp1.rows[0].cell[$j]!="None" and $tmp1.rows[0].cell[$j]=="t"#checked="true"#end if# />
#else
#if $i[2]=="text" or ($i[2].count("varchar")>0 and int($i[2][8:len($i[2])-1])>55)
<textarea class="form-control" name="$i[1]" id="pg_tuple_$i[1]">#if len($tmp1.rows)>0 and $tmp1.rows[0].cell[$j]!="None"##if $i[1]=="content"#$tmp1.rows[0].cell[$j].replace("<div>","",1).replace("</div>","",1)#else#$tmp1.rows[0].cell[$j].replace("\\n","\n")#end if##end if#</textarea>
#else
#if $i[3]=="FOR"

#set inputBis=$inputs
#set $inputBis["table"]["value"]=$i[4]
#set demo2=pgConnection.getTableDescription($conf,$inputBis,$outputs)
#set tmp2=json.loads($outputs["Result"]["value"],encoding="utf-8")

#set fname=$tmp2[0][1]
#for l in tmp2
#if $l[2].count("char")>0 or $l[2].count("text")>0
#set fname=$l[1]
#break
#end if
#end for

#if not($inputBis.has_key("clause"))
#set hasClause=False
#set $inputBis["clause"]={"value":""}
#end if
#set $inputBis["clause"]["value"]="true"
#set $inputBis["limit"]={"value": "100000"}
#set $inputBis["page"]={"value": "1"}
#set $inputBis["cols"]={"value": "id,"+$fname}
#set demo3=pgConnection.getTableContent($conf,$inputBis,$outputs)
#set tmp3=json.loads($outputs["Result"]["value"],encoding="utf-8")
#try
#set $inputs1["clause"]["value"]=$clause
<select name="$i[1]" id="pg_tuple_$i[1]">
 <option value="null">$zoo._("None")</null>
#for m in $tmp3.rows
 <option value="$m["cell"][0]" #if len($tmp1.rows)>0 and $tmp1.rows[0].cell[$j]!="None" and $tmp1.rows[0].cell[$j]==$m["cell"][0]#selected="true"#end if#>$m["cell"][1]</option>
#end for
</select>
#except
</select>
#end try
#else
#if $i[2].count("varchar")>0 and int($i[2][8:len($i[2])-1])==40
<input class="form-control" name="$i[1]" id="pg_tuple_$i[1]" type="password" value="" />
#else
<input class="form-control" name="$i[1]" id="pg_tuple_$i[1]" value="#if len($tmp1.rows)>0 and $tmp1.rows[0].cell[$j]!="None"#$tmp1.rows[0].cell[$j]#end if#" #if $i[2]=="date"#data-date-format="dd/mm/yyyy"#end if#/>
#end if
#if $i[2]=="date"
<script>\$("#pg_tuple_$i[1]").datepicker();</script>
#end if
#end if
#end if
#end if
</div>
#end if
#set j=$j+1
#end for
#if $hasClause
<input type="hidden" id="clause" value="$inputs1["clause"]["value"]" />
#end if
  <input id="um_utype" type="hidden" value="$inputs["type"]["value"]">
  <button type="submit" href="#" class="btn btn-default $(tblName)SubmitForm">
  #if $inputs["type"]["value"]=="delete"#$zoo._("Delete")#else##if $inputs["type"]["value"]=="update"#$zoo._("Save")#else#$zoo._("Add")#end if##end if#
  </button>
</form>
