#encoding "utf8"
#import zoo
<form method="post" class="form-horizontal ">
#if not("no-header" in $inputs.keys())
 <h3>$zoo._("Database Access")</h3>
#end if
 <div class="form-group">
  <label class="col-sm-2" for="pg_schema">Schemas:</label>
  <span class="col-sm-4">
#from datastores.postgis import pgConnection
#set demo=pgConnection.listSchemas($conf,$inputs,$outputs)
<!-- $outputs["Result"]["value"] -->
#set ress=eval($outputs["Result"]["value"])
  <select id="pg_schema" class="form-control">
#set j=0
#for i in ress
#if $j==0
#set tmp=$inputs
#set tmp["schema"]={"value": $i[0]}
#end if
   <option value="$i[0]">$i[0]</option>
#set j=$j+1
#end for
  </select>
  </span>
  <span class="col-sm-2">Tables:</span>
  <span class="col-sm-4">
  <select id="pg_table" class="form-control">
   <option value="-1">Choose</option>
     #set demo=pgConnection.listTables($conf,$inputs,$outputs)
     <!-- $outputs -->
#if $outputs["Result"]["value"]!="false"   
#set rest=eval($outputs["Result"]["value"])
#for i in rest
   <option value="$i[0]">$i[1]</option>
#end for
#end if
  </select>
  </span>
 </div>
</form>
