#encoding "UTF-8"
#import zoo
<form method="post" id="db_access">
#if $inputs.keys().count("no-header")==0
 <h3>$zoo._("Database Access")</h3>
#end if
 <div class="form-group">
  #if $inputs.keys().count("no-header")==0#<label for="pg_schema">#end if#$zoo._("Schemas:")#if $inputs.keys().count("no-header")==0#</label>#end if
#from datastores.postgis import pgConnection
#set demo=pgConnection.listSchemas($conf,$inputs,$outputs)
#set ress=eval($outputs["Result"]["value"])
  <select id="pg_schema" class="input-form">
#set j=0
#for i in ress
#if $j==0
#set tmp=$inputs
#set tmp["schema"]={"value": $i[0]}
#end if
   <option value="$i[0]">$i[0]</option>
#set j=$j+1
#end for
  </select>
  #if $inputs.keys().count("no-header")==0#<label for="pg_table">#end if#$zoo._("Tables:")#if $inputs.keys().count("no-header")==0#</label>#end if#
  <select id="pg_table" class="input-form">
   <option value="-1">Choose</option>
#set demo=pgConnection.listTables($conf,$inputs,$outputs)
#set rest=eval($outputs["Result"]["value"])
#for i in rest
   <option value="$i[0]">$i[1]</option>
#end for
  </select>
 </div>
</form>
