#import mapscript
#import osgeo.gdal
#import mapfile.service as mms
#if $inputs["dst"]["value"].count($conf["main"]["dataPath"])>0
#set mapfile=$inputs["dst"]["value"]+"/ds_ows.map"
#set m=mapscript.mapObj($mapfile)
#else
#set vals=$conf["main"]["supportedDbs"].split(',')
#set $vals1=vals+["WMS"]
#for i in $vals1
#set tmapfile=$conf["main"]["dataPath"]+"/"+$i+"/"+$inputs["dst"]["value"]+"ds_ows.map"
#if os.path.isfile($tmapfile)
#set m=mapscript.mapObj($tmapfile)
#set mapfile=$tmapfile
#end if
#end for
#end if
#set l=m.getLayerByName($inputs["dso"]["value"])
#set tmp=$mms.getMetadata($l,"ows_extent")
#if $tmp is not None
#set tmp1=$tmp.split(' ')
#else
#set tmp1=[$l.extent.minx,$l.extent.miny,$l.extent.maxx,$l.extent.maxy]
#end if
#set p1=mapscript.pointObj(float($tmp1[0]),float($tmp1[1]))
#set p2=mapscript.pointObj(float($tmp1[2]),float($tmp1[3]))
#try
#set q1=$p1.project(mapscript.projectionObj(l.getProjection()),mapscript.projectionObj("epsg:4326"))
#set q2=$p2.project(mapscript.projectionObj(l.getProjection()),mapscript.projectionObj("epsg:4326"))
#except
#set q1=[]
#set q2=[]
#set c=$inputs
#set $c["basic"]={"value":""}
#end try
#if $inputs.keys().count("basic")==0
#set d1=$p2.x-$p1.x
#set d2=$p2.x-$p1.x
#try
#if $d1>$d2
#set width=400
#set height=(400*$d2)/$d1
#else
#set height=400
#set width=(400*$d1)/$d2
#end if
#except
#set height=400
#set width=400
#set f="image/png"
#end try
#set f="image/png"
#else
#set r=osgeo.gdal.Open($l.data)
#*set p1=mapscript.pointObj($p1.x-1,$p1.y)
#set p2=mapscript.pointObj($p2.x,$p2.y+1)*#
#set p1=mapscript.pointObj($p1.x,$p1.y)
#set p2=mapscript.pointObj($p2.x+$r.RasterXSize+2,$p2.y+$r.RasterYSize+2)
#set width=$r.RasterXSize
#set height=$r.RasterYSize
#if $width>1024 or height>1024
#set $width=$width/2
#set $height=$height/2
#end if
#set f="image/png"
#*set f="image/tiff"*#
#end if
#if $tmp1[0]==-1.0 and $tmp1[1]==-1.0 and $tmp1[2]==-1.0 and $tmp1[3]==-1.0
#if $l.connection is not None
$l.connection
#else
$conf["main"]["serverAddress"]?request=Execute&service=WPS&version=1.0.0&Identifier=datastores.directories.image&DataInputs=file=$l.data&RawDataOutput=Result
#end if
#else
$conf["main"]["mapserverAddress"]?map=$(mapfile)&service=WMS&version=1.0.0&request=GetMap&srs=epsg:4326&bbox=$p1.x,$p1.y,$p2.x,$p2.y&layers=$inputs["dso"]["value"]&width=$width&height=$height&format=$f
#end if
