<div id="delete-datasource-dialog" title="Drop Datasource">
<p>
Please, confirm that you want to remove the following DataStores.
</p>
<table>

<tbody>
 <tr>
  <td>Name:</td>
  <td><input id="Distiller.datasource.name" class="rounded" type="text" />
   <input id="Distiller.datasource.stype" class="rounded" type="hidden"/>
  </td>
 </tr>

</tbody>

</table>

	<div id="dlgr-buttons">
		<a href="#" class="easyui-linkbutton"   onclick="MapMintDSManager.remove();">Remove</a>
	</div>

</div>
