#import zoo
<form method="post">
        <div>
	<label for="geoType">$zoo._("Geometry Type:")</label>
	<select id="geoType">
#set j=0
#for i in  ['point','line','polygon']
		<option value="$j" #if $inputs["geoType"]["value"]==$i#selected="true"#end if#>$i</option>
#set j=$j+1
#end for
	</select>
	<input type="hidden" id="dst" value="$inputs["dst"]["value"]" />
	<input type="hidden" id="dso" value="$inputs["dso"]["value"]" />
	</div>
	<div><input type="submit" value="$zoo._("Set")" onclick="try{MapMintDSManager.setGeometryType();}catch(e){}return false;" /></div>

</form>
