#import zoo
<form method="post">
    <div class="ti-top">
     <span>#if $inputs.keys().count('type')==0#$zoo._("TileIndex name:")#else#$zoo._("New file name:")#end if#</span>
	 <input name="tname" id="tname" value="" />
	</div>
#if $inputs.keys().count('type')==0
    <div class="sti-top">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/Distiller/Projection.tmpl",searchList={"conf": $conf,"prefix":"","selected":""}))
	</div>
#end if
        <div class="ti-mid">
         <span>$zoo._("Type:")</span>
         <select id="tileindex_dest">
	   <option value="vector">_("Vector")</option>
	   <option value="raster">_("Raster")</option>
	 </select>
        </div>
       <div class="ti-mid">
         <span>$zoo._("Targeted DataStore:")</span>
         <select id="tileindex_dest">
       	   <option>Choose </i>
#for i in $inputs["dirs"]
       	   <option value="$i">$i</i>
#end for
	 </select>
        </div>
	<div>
	  <div id="browseDirectoriesList__1">
	  <div id="browse_tile">
	       $zoo._("Directories list:")
	  </div>
	  <div  style="height:125px;overflow:auto;">
#from datastores.directories import service
#set outputs1={"Result":{"value":""}}
#set inputs1={"dir": {"value":"/"},"type":{"value":"default"}}
#set demo=$service.list($conf,$inputs1,$outputs1)
    $outputs1["Result"]["value"]
	  </div>
	  <input type="hidden" id="tdir" value=""/>
	  </div>
	</div>
        <div class="ti-bot">
         <span>$zoo._("Filename extension:")</span>
	 <input type="text" id="t_ext" value="tif" />
	</div>
	<div><input type="submit" value="$zoo._("Create")" onclick="try{#if $inputs.keys().count('type')==0#createTileindex();#else#mozaicImages();#end if#}catch(e){alert(e);}return false;" /></div>
</form>
