#import zoo
#import mm_access
<div style="width: 500px">
#if $mm_access.checkDataSourcePriv($conf,None,$inputs["dst"]["value"],$inputs["dso"]["value"],"rx")
<fieldset>
<legend>$zoo._("Source")</legend>
	<input disabled="true" type="hidden" id="dst_in" value="#if $inputs.keys().count("dso")#$inputs["dst"]["value"]#else#layer#end if#"/>
#import mapscript
#import datastores.service as dss
#set mpath=$dss.getPath($conf,$inputs["dst"]["value"])
#set m=mapscript.mapObj($mpath+"ds_ows.map")
#set l=$m.getLayerByName($inputs["dso"]["value"])
<input type="hidden" id="dso_in1" value="#if $l.connection.count(".")==0 and $l.connection.count(":")!=0#${l.connection}/${l.data}.SHP#else#${l.connection}#end if#"/>
	<input disabled="true" type="text" id="dso_in" value="#if $inputs.keys().count("dso")#$inputs["dso"]["value"]#else#layer#end if#"/>
#import sqlite_module as sql
#set v="SELECT code as id,name, fav from spatial_ref_sys where fav order by name"
#set t=sql.request($conf,v)
<label for="chk1">$zoo._("SRS:")</label>
<input type="checkbox" id="chk1" onclick="if(this.checked) this.nextSibling.nextSibling.style.display='inline';else this.nextSibling.nextSibling.style.display='none';"/>
<select id="s_srs" style="display:none">
#for i in $t
<option value="$i[0]">$i[1]</option>
#end for
</select>
</fieldset>
<fieldset>
<legend>$zoo._("Target")</legend>
#import datastores.service as ds
#import mapfile.service as ms
#set outputs={"Result":{"value":""}}
#set tt=ds.list($conf,$inputs,$outputs)
#set elements=eval($outputs["Result"]["value"])
<div>
<label for="tdso">$zoo._("Datastore:")</label>
<select id="tdso" onchange="var hasVal=false;for(var i=this.selectedIndex;i>=0;i--) if(this.options[i].value=='PostGIS') {hasVal=true;var opt=\$('#tdso_format')[0].options;for(var j=0;j<opt.length;j++) {if(opt[j].value!='PostgreSQL') opt[j].disabled=true;};\$('#tdso_format').val('PostgreSQL');\$('#tdso_format').attr('disabled', true);}; if(!hasVal) {var opt=\$('#tdso_format')[0].options;for(var j=0;j<opt.length;j++){if(opt[j].value=='PostgreSQL') opt[j].disabled=true; else opt[j].disabled=false;};\$('#tdso_format').removeAttr('disabled');\$('#tdso_format').val('ESRI Shapefile');}">
#for ij in $elements
#if $ij!="WFS"
<option disabled="true" style="font-weight: bold;color: #111">$ij</option>
#for jk in $elements[$ij]
#if $mm_access.checkDataStorePriv($conf,$jk.name,"rwx")
<option>$jk.name</option>
#end if
#end for
#end if
#end for
</select>
</div>
<div>
<label for="out_name">$zoo._("Datasource Name:")</label>
<input type="text" id="out_name" value="new_#if $inputs.keys().count("dso")#$inputs["dso"]["value"]#else#layer#end if#"/>
</div>
<div>
<label for="tdso_chk_srs">SRS:</label>
<input type="checkbox" id="tdso_chk_srs" onclick="if(this.checked) this.nextSibling.nextSibling.style.display='inline';else this.nextSibling.nextSibling.style.display='none';"/>
<select id="tdso_srs" style="display: none;">
#for i in $t
<option value="$i[0]">$i[1]</option>
#end for
</select>
<label for="tdso_format">$zoo._("Format:")</label>
<select id="tdso_format">
#import osgeo.ogr as ogr
#for iDriver in range(ogr.GetDriverCount()):
<option>$ogr.GetDriver(iDriver).GetName()</option>
#end for
</select>
</div>
$zoo._("Override:") <input type="radio" name="overr" checked="true" id="ov1" />
$zoo._("Append:") <input type="radio" name="overr" id="ov2" />
</div>
<div>
<fieldset>
<legend>$zoo._("Simplify") <input id="simplify_chk" type="checkbox" onclick="\$('#simplify')[0].style.display=(this.checked?'inline':'none');"/></legend>
<input type="text" id="simplify" value="" style="display:none" />
</fieldset>
<fieldset>
<legend>$zoo._("SQL") <input id="sql_chk" type="checkbox" onclick="\$('#sql')[0].style.display=(this.checked?'inline':'none');"/></legend>
<textarea id="sql" style="width:470px;display:none;">SELECT * FROM #if $inputs.keys().count("dso")#$inputs["dso"]["value"]#else#layer#end if#</textarea>
</fieldset>
<input type="submit" value="$zoo._("Run convertion")" onclick="try{\$(this).hide();MapMintDSManager.runConvertion();}catch(e){alert(e)};return false;"/>
#else
#include $conf["main"]["templatesPath"]+"/default_auth_msg.tmpl"
#end if
</div>
