#import zoo
<div id="add-database-dialog" title="$zoo._("Add Database")">
<table>

<tbody><tr>
<td>$zoo._("Name:")</td>
<td><input id="Distiller.pgisform.name" class="rounded" type="text" /></td>
</tr>

<tr>
<td>$zoo._("Host:")</td>
<td><input id="Distiller.pgisform.host" class="rounded" type="text" /></td>
</tr>
<tr>
<td>$zoo._("Port:")</td>
<td><input id="Distiller.pgisform.port" class="rounded" type="text" /></td>
</tr>

<tr>
<td>$zoo._("Login:")</td>
<td><input id="Distiller.pgisform.user" class="rounded" type="text" /></td>
</tr>
<tr>
<td>$zoo._("Password:")</td>
<td><input id="Distiller.pgisform.password" class="rounded" type="text" /></td>
</tr>
<tr>
<td>$zoo._("Type:") </td>
<td>
<select id="Distiller.pgisform.stype" class="select-window">
<option value="PostGIS">PostGIS</option>
<option value="MySQL">MySQL</option>
<option value="MySQL">MSSQL</option>
</select>
</td>

</tr>
<tr>
<td>$zoo._("Database:")</td>
<td><input id="Distiller.pgisform.dbname" class="rounded" type="text" /></td>
</tr>
</tbody>

</table>

	<div id="dlg-buttons">
		<a href="#" class="easyui-linkbutton"  onclick="MapMintDBManager.test();">$zoo._("Test")</a>
		<a href="#" class="easyui-linkbutton"  onclick="\$('#add-database-dialog').dialog('close')">$zoo._("Cancel")</a>
		<a href="#" class="easyui-linkbutton"   onclick="MapMintDBManager.commit('add');">$zoo._("Add")</a>
	</div>
</div>
