#encoding UTF-8
#import zoo
#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/public_maps/project_"+$conf["senv"]["last_map"]+".map")
#import mm_access
#if not($mm_access.checkMapPriv($conf,$m))
#set page="/error.tmpl"
#set nameSpace={"conf":$conf, "errorMsg": $zoo._("You're not authorized to access this content")}
$Template(file=$conf["main"]["templatesPath"]+$page,searchList=$nameSpace)
#else
#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title=$zoo._("Preview")
#end if
#set searchList=[{"m": $m}, {"tmpl": "fullscreen"},{"conf": $conf},{"inputs":$inputs}]
#from Cheetah.Template import Template
#import mapfile.service as mms
<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="utf-8" /> 
<title>MapMint | $title</title> 
<meta name="description" content="mapmint,webgis,app" /> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="$conf["main"]["publicationUrl"]/assets/css/mm-font.css" />
<link rel="stylesheet" href="$conf["main"]["publicationUrl"]/css/bootstrap.min.css" />
<link rel="stylesheet" href="./index_css_bs" type="text/css" />
<style>

</style>

#if m.web.metadata.get("mmProprietaryBaseLayers")=="Google"
<script src="http://maps.google.com/maps/api/js?v=3.5&sensor=false"></script>
#end if

<!--[if lt IE 9]> 
<script src="js/ie/html5shiv.js">
</script> 
<script src="js/ie/respond.min.js">
</script> 
<script src="js/ie/excanvas.js">
</script> <![endif]-->
</head>
<body>

<div class="col-xs-12">
<select id="chartCase" onchange="app.printChart(app.data());">
<option value="0" data-uom="(m3/s)">Moyenne des précipitations</option>
<option value="1" data-uom="(m/h)">Débits simulés</option>
</select>
</div>

<div id="container" class="col-xs-12" style="height: 400px; margin: 0 auto"></div>
<input type="hidden" id="dataSource" value="$inputs["ds"]["value"]" />
<input type="hidden" id="layer" value="out_hydrocore_gardonAles_ales_arome_state_$inputs["sf"]["value"]" />
<script data-main="$conf["main"]["publicationUrl"]/assets/js/csv.stat.js" src="$conf["main"]["publicationUrl"]/assets/js/lib/require.js"></script>


</body>
</html>
#end if
