#try
#import zoo,json
#import datastores.directories.service as ds
#set dirs=$ds.mmListOnlyDir($conf["main"]["dataPath"]+"/ftp/.modules/")
#set fdirs=[]
#for i in range(len(dirs))
#set $fdirs+=["modules/"+dirs[i]+"/functions"]
#end for
$json.dumps($fdirs)
#except Exception,e
$e
#end try