* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html {font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body {margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;color:#788288;background-color:transparent;-webkit-font-smoothing:antialiased;}
a {color:#83c849;text-decoration:none;outline:none;}
figure {margin:0}
img {vertical-align:middle}
.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img {display:block;width:100% \9;max-width:100%;height:auto}
.img-rounded {border-radius:6px}
.img-thumbnail {display:inline-block;width:100% \9;max-width:100%;height:auto;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.img-circle {border-radius:50%}
hr {margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
.sr-only {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.sr-only-focusable:active,.sr-only-focusable:focus {position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {font-weight:normal;line-height:1;color:#777}
h1,.h1,h2,.h2,h3,.h3 {margin-top:20px;margin-bottom:10px}
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small {font-size:65%}
h4,.h4,h5,.h5,h6,.h6 {margin-top:10px;margin-bottom:10px}
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small {font-size:75%}
h1,.h1 {font-size:36px} 
h2,.h2 {font-size:30px}
h3,.h3 {font-size:22px}
h4,.h4 {font-size:18px}
h5,.h5 {font-size:14px}
h6,.h6 {font-size:12px}
h5.sbt{color:#222;margin:8px 0 5px 0;font-weight:normal;}
.nav {padding-left:0;margin-bottom:0;list-style:none}
.nav>li {position:relative;display:block}
.nav>li>a {position:relative;display:block;padding:10px 15px;color:#8a8a8a;}
.header>.nav>li>a {border-right:1px solid #e5e5e5;}
.nav>li>a.active {background:#f7f8fb;}
.nav>li>a:hover,.nav>li>a:focus {text-decoration:none;background-color:#eee}
.nav>li.disabled>a {color:#777}
.nav>li.disabled>a:hover,.nav>li.disabled>a:focus {color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {background-color:#eee;border-color:#428bca}
.nav .nav-divider {height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
.nav>li>a>img {max-width:none}
.nav-tabs {border-bottom:0;box-shadow:none;}
.nav-tabs>li {float:left;margin-bottom:0}
.nav-tabs>li>a {margin-right:0;line-height:1.42857143;border:1px solid transparent;border-right:1px solid #CCC !important;border-radius: 0}
.nav-tabs>li.active>a{border-right:1px solid #CCC !important;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {color:#333;cursor:default;background-color:#fff;border-bottom-color:transparent;border-right:1px solid #CCC !important;}
.nav-tabs.nav-justified {width:100%;border-bottom:0}
.nav-tabs.nav-justified>li {float:none}
.nav-tabs.nav-justified>li>a {margin-bottom:5px;text-align:center}
.nav-tabs.nav-justified>.dropdown 
.nav-justified>li {float:none}
.nav-justified>li>a {margin-bottom:5px;text-align:center}
.nav-justified>.dropdown .dropdown-menu {top:auto;left:auto}
@media (min-width: 768px) {.nav-justified > li {display:table-cell;width:1%}
.nav-justified>li>a {margin-bottom:0}}
.nav-tabs-justified {border-bottom:0}
.nav-tabs-justified>li>a {margin-right:0;border-radius:4px}
.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus {border:1px solid #ddd}
@media (min-width: 768px) {.nav-tabs-justified > li > a {border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}
.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus {border-bottom-color:#fff}}
.tab-content>.tab-pane {display:none}
.tab-content>.active {display:block}
.nav-tabs .dropdown-menu {margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.navbar {position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}
@media (min-width: 768px) {.navbar {border-radius:4px}}
@media (min-width: 768px) {.navbar-header {float:left}}
.navbar-collapse {padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
.navbar-collapse.in {overflow-y:auto}
@media (min-width: 768px) {.navbar-collapse {width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none}
.navbar-collapse.collapse {display:block !important;height:auto !important;padding-bottom:0;overflow:visible !important}
.navbar-collapse.in {overflow-y:visible}
.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {padding-right:0;padding-left:0}}
.navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {max-height:340px}
@media (max-width: 480px) and (orientation: landscape) {.navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {max-height:200px}}
.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse {margin-right:-15px;margin-left:-15px}
@media (min-width: 768px) {.container > .navbar-header,.container-fluid > .navbar-header,.container > .navbar-collapse,.container-fluid > .navbar-collapse {margin-right:0;margin-left:0}
}
.navbar-static-top {z-index:1000;border-width:0 0 1px}
@media (min-width: 768px) {.navbar-static-top {border-radius:0}}
.navbar-fixed-top,.navbar-fixed-bottom {position:fixed;right:0;left:0;z-index:1030;-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
@media (min-width: 768px) {.navbar-fixed-top,.navbar-fixed-bottom {border-radius:0}}
.navbar-fixed-top {top:0;border-width:0 0 1px}
.navbar-fixed-bottom {bottom:0;margin-bottom:0;border-width:1px 0 0}
.navbar-brand {float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px;}
.navbar-brand:hover,.navbar-brand:focus {text-decoration:none}
@media (min-width: 768px) {.navbar > .container .navbar-brand,.navbar > .container-fluid .navbar-brand {margin-left:-15px}}
.navbar-toggle {position:relative;float:right;padding:4px 10px 4px 10px;margin-top:10px;margin-right:10px;margin-bottom:6px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px}
.navbar-toggle:focus {outline:0}
.navbar-toggle .icon-bar {display:block;width:22px;height:2px;border-radius:1px}
.navbar-toggle .icon-bar+.icon-bar {margin-top:4px}
@media (min-width: 768px) {.navbar-toggle {display:none}}
.navbar-nav {margin:7.5px -15px}
.navbar-nav>li>a {padding-top:10px;padding-bottom:10px;line-height:20px}
@media (max-width: 767px) {.navbar-nav .open .dropdown-menu {position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none;}
.navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header {padding:5px 15px 5px 25px}
.navbar-nav .open .dropdown-menu>li>a {line-height:20px}
.navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:focus {background-image:none}
}
@media (min-width: 768px) {.navbar-nav {float:left;margin:0}
.navbar-nav>li {float:left}
.navbar-nav>li>a {padding-top:15px;padding-bottom:15px}
.navbar-nav.navbar-right:last-child {margin-right:-15px}}
@media (min-width: 768px) {.navbar-left {float:left !important}
.navbar-right {float:right !important}}
.navbar-form {padding:10px 15px;margin-top:8px;margin-right:-15px;margin-bottom:8px;margin-left:-15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1)}
@media (min-width: 768px) {.navbar-form .form-group {display:inline-block;margin-bottom:0;vertical-align:middle}
.navbar-form .form-control {display:inline-block;width:auto;vertical-align:middle}
.navbar-form .input-group {display:inline-table;vertical-align:middle}
.navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn,.navbar-form .input-group .form-control {width:auto}
.navbar-form .input-group>.form-control {width:100%}
.navbar-form .control-label {margin-bottom:0;vertical-align:middle}
.navbar-form .radio,.navbar-form .checkbox {display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}
.navbar-form .radio label,.navbar-form .checkbox label {padding-left:0}
.navbar-form .radio input[type="radio"],.navbar-form .checkbox input[type="checkbox"] {position:relative;margin-left:0}
.navbar-form .has-feedback .form-control-feedback {top:0}
}
@media (max-width: 767px) {.navbar-form .form-group {margin-bottom:5px}}
@media (min-width: 768px) {.navbar-form {width:auto;padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none}
.navbar-form.navbar-right:last-child {margin-right:-15px}}
.navbar-nav>li>.dropdown-menu {margin-top:0;border-top-left-radius:0;border-top-right-radius:0}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {border-bottom-right-radius:0;border-bottom-left-radius:0}
.navbar-btn {margin-top:8px;margin-bottom:8px}
.navbar-btn.btn-sm {margin-top:10px;margin-bottom:10px}
.navbar-btn.btn-xs {margin-top:14px;margin-bottom:14px}
.navbar-text {margin-top:15px;margin-bottom:15px}
@media (min-width: 768px) {.navbar-text {float:left;margin-right:15px;margin-left:15px}.navbar-text.navbar-right:last-child {margin-right:0}}
.navbar-default {background-color:#f8f8f8;border-color:#e7e7e7}
.navbar-default .navbar-brand {color:#777}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {color:#5e5e5e;background-color:transparent}
.navbar-default .navbar-text {color:#777}
.navbar-default .navbar-nav>li>a {color:#777}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {color:#333;background-color:transparent}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {color:#555;background-color:#e7e7e7}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:hover,.navbar-default .navbar-nav>.disabled>a:focus {color:#ccc;background-color:transparent}
.navbar-default .navbar-toggle {border-color:#ddd}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {background-color:#ddd}
.navbar-default .navbar-toggle .icon-bar {background-color:#888}
.navbar-default .navbar-collapse,.navbar-default .navbar-form {border-color:#e7e7e7}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {color:#555;background-color:#e7e7e7}
@media (max-width: 767px) {.navbar-default .navbar-nav .open .dropdown-menu > li > a {color:#777}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {color:#707070;background-color:transparent}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {color:#555;background-color:#e7e7e7;}
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {color:#ccc;background-color:transparent}
}
.navbar-default .navbar-link {color:#777}
.navbar-default .navbar-link:hover {color:#333}
.navbar-default .btn-link {color:#777}
.navbar-default .btn-link:hover,.navbar-default .btn-link:focus {color:#333}
.navbar-default .btn-link[disabled]:hover,fieldset[disabled] .navbar-default .btn-link:hover,.navbar-default .btn-link[disabled]:focus,fieldset[disabled] .navbar-default .btn-link:focus {color:#ccc}
.navbar-inverse {background-color:#222;border-color:#080808}
.navbar-inverse .navbar-brand {color:#777}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {color:#fff;background-color:transparent}
.navbar-inverse .navbar-text {color:#777}
.navbar-inverse .navbar-nav>li>a {color:#777}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {color:#fff;background-color:transparent}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {color:#fff;background-color:#080808}
.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:hover,.navbar-inverse .navbar-nav>.disabled>a:focus {color:#444;background-color:transparent}
.navbar-inverse .navbar-toggle {border-color:#333}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {background-color:#333}
.navbar-inverse .navbar-toggle .icon-bar {background-color:#fff}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {border-color:#101010}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus {color:#fff;background-color:#080808}
@media (max-width: 767px) {.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {border-color:#080808}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {background-color:#080808}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {color:#777}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {color:#fff;background-color:transparent}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {color:#fff;background-color:#080808}
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {color:#444;background-color:transparent}
}
.navbar-inverse .navbar-link {color:#777}
.navbar-inverse .navbar-link:hover {color:#fff}
.navbar-inverse .btn-link {color:#777}
.navbar-inverse .btn-link:hover,.navbar-inverse .btn-link:focus {color:#fff}
.navbar-inverse .btn-link[disabled]:hover,fieldset[disabled] .navbar-inverse .btn-link:hover,.navbar-inverse .btn-link[disabled]:focus,fieldset[disabled] .navbar-inverse .btn-link:focus {color:#444}

.badge,.label {font-weight:bold}
.badge {background-color:#b0bcd4}
.badge.up {position:relative;top:-10px;padding:3px 6px;margin-left:-10px}
.badge-sm {font-size:85%;padding:2px 5px !important}
.label-sm {padding-top:0;padding-bottom:0}
.badge-white {background-color:transparent;border:1px solid rgba(255,255,255,0.35);padding:2px 6px}
.badge-empty {background-color:transparent;border:1px solid rgba(0,0,0,0.15);color:inherit}
.caret-white {border-top-color:#fff;border-top-color:rgba(255,255,255,0.65)}
.ncaret {display: inline-block;width:8px;height: 0;margin-left: 2px;vertical-align: middle;}
.ttl{padding-left:10px;}
a:hover .caret-white {border-top-color:#fff}
.thumbnail {border-color:#eaeef1}
.popover-content {font-size:12px;line-height:1.5}
.progress-xs {height:6px}
.progress-sm {height:10px}
.progress-sm .progress-bar {font-size:10px;line-height:1em}
.progress,.progress-bar {-webkit-box-shadow:none;box-shadow:none}
.breadcrumb {background-color:#fff;border:1px solid #eaeef1;padding-left:10px;margin-bottom:10px}
.breadcrumb>li+li:before,.breadcrumb>.active {color:inherit}
.accordion-group,.accordion-inner {border-color:#eaeef1;border-radius:2px}
.alert {font-size:12px;box-shadow:inset 0 1px 0 rgba(255,255,255,0.2)}
.alert .close i {font-size:12px;font-weight:normal;display:block}
.form-control {border-color:#CCCCCC;border-radius:2px}
.form-control,.form-control:focus {-webkit-box-shadow:none;box-shadow:none}
.form-control:focus {border-color:#b8b8b8}
.input-s-sm {width:120px}
.input-s {width:200px}
.input-s-lg {width:250px}
.input-lg {height:45px}
.input-group-addon {border-color:#cbd5dd;background-color:#fcfcfd}
.list-group {border-radius:2px}
.list-group.no-radius .list-group-item {border-radius:0 !important}
.list-group.no-borders .list-group-item {border:none}
.list-group.no-border .list-group-item {border-width:1px 0}
.list-group.no-bg .list-group-item {background-color:transparent}
.list-group-item {border-color:#eaeef1;padding-right:15px}
a.list-group-item:hover,a.list-group-item:focus {background-color:#f9fafc}
.list-group-item.media {margin-top:0}
.list-group-item.active {color:#fff;border-color:#1ccacc !important;background-color:#1ccacc !important}
.list-group-item.active .text-muted {color:#91eff0}
.list-group-item.active a {color:#fff}
.list-group-alt .list-group-item:nth-child(2n+2) {background-color:rgba(0,0,0,0.02) !important}
.list-group-lg .list-group-item {padding-top:15px;padding-bottom:15px}
.list-group-sp .list-group-item {margin-bottom:5px;border-radius:3px}
.list-group-item>.badge {margin-right:0}
.list-group-item>.fa-chevron-right {float:right;margin-top:4px;margin-right:-5px}
.list-group-item>.fa-chevron-right+.badge {margin-right:5px}
.nav-pills.no-radius>li>a {border-radius:0}
.nav-pills>li.active>a {color:#fff !important;background-color:#1ccacc}
.nav>li>a:hover,.nav>li>a:focus {background-color:#f7f8fb}
.nav.nav-sm>li>a {padding:6px 8px}
.nav .avatar {width:30px;margin-top:-5px;margin-right:5px}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {background-color:#f7f8fb}
.nav-tabs {border-color:#eaeef1}
.nav-tabs>li>a {border-radius:2px 2px 0 0;border-bottom-color:#eaeef1 !important}
.nav-tabs>li.active>a {border-color:#eaeef1 !important;border-bottom-color:#fff !important;border-right-color:#CCC !important;}
.pagination>li>a {border-color:#eaeef1}
.pagination>li>a:hover,.pagination>li>a:focus {border-color:#eaeef1;background-color:#f2f4f8}
.panel {border-radius:2px}
.panel.panel-default {border-color:#eaeef1}
.panel.panel-default>.panel-heading,.panel.panel-default>.panel-footer {border-color:#eaeef1}
.panel>.list-group .list-group-item:first-child {border-top:0}
.panel .list-group-item {border-color:#f3f5f7}
.panel.no-borders {border-width:0}
.panel.no-borders .panel-heading,.panel.no-borders .panel-footer {border-width:0}
.panel .table td,.panel .table th {padding:8px 15px;border-top:1px solid #eaeef1}
.panel .table thead>tr>th {border-bottom:1px solid #eaeef1}
.panel .table-striped>tbody>tr:nth-child(odd)>td,.panel .table-striped>tbody>tr:nth-child(odd)>th {background-color:#f9fafc}
.panel .table-striped>thead th {background-color:#f9fafc;border-right:1px solid #eaeef1}
.panel .table-striped>thead th:last-child {border-right:none}
.panel-heading {border-radius:2px 2px 0 0}
.panel-default .panel-heading {background-color:#f9fafc}
.panel-heading.no-border {margin:-1px -1px 0 -1px;border:none}
.panel-heading .nav {margin:-10px -15px}
.panel-heading .nav-tabs {margin:-11px -16px}
.panel-heading .nav-tabs.nav-justified {width:auto}
.panel-heading .nav-tabs>li>a {margin:0;padding-top:11px;padding-bottom:11px}
.panel-heading .list-group {background:transparent}
.panel-footer {border-color:#eaeef1;border-radius:0 0 2px 2px;background-color:#f9fafc}
.panel-group .panel-heading+.panel-collapse .panel-body {border-top:1px solid #eaedef}
.open {z-index:1050;position:relative}
.dropdown-menu {font-size:13px;border-radius:2px;-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.1);box-shadow:0 2px 6px rgba(0,0,0,0.1);border:1px solid #ddd;border:1px solid rgba(0,0,0,0.1)}
.dropdown-menu.pull-left {left:100%}
.dropdown-menu>.panel {border:none;margin:-5px 0}
.dropdown-menu>li>a {padding:5px 15px;color:#707070;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {background-image:none;filter:none;background-color:#eeeeee !important;color:#333333;text-shadow:#FFFFFF 0 1px 0;}
.dropdown-menu>li.nb>a {cursor:default !important;}
.dropdown-menu>li.nb>a:hover {background-color:transparent !important;color:#707070 !important;}
.dropdown-header {padding:5px 15px}
.dropdown-submenu {position:relative}
.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {background-color:#f2f4f8 !important;color:#788288}
.dropdown-submenu:hover>.dropdown-menu,.dropdown-submenu:focus>.dropdown-menu {display:block}
.dropdown-submenu.pull-left {float:none !important}
.dropdown-submenu.pull-left>.dropdown-menu {left:-100%;margin-left:10px}
.dropdown-submenu .dropdown-menu {left:100%;top:0;margin-top:-6px;margin-left:-1px}
.dropup .dropdown-submenu>.dropdown-menu {top:auto;bottom:0}
.dropdown-select>li>a input {position:absolute;left:-9999em}
.icon-muted {color:#ccc}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {border-color:transparent}
.navbar-fixed-top,.navbar-fixed-bottom {position:fixed !important}
.navbar-fixed-top+* {padding-top:50px}
.navbar-fixed-top.header-md+* {padding-top:60px}
.header,.footer {min-height:50px;padding:0 15px}
.header>p,.footer>p {margin-top:15px;display:inline-block}
.header>.btn,.header>.btn-group,.header>.btn-toolbar,.footer>.btn,.footer>.btn-group,.footer>.btn-toolbar {margin-top:10px}
.header>.btn-lg,.footer>.btn-lg {margin-top:0}
.header .nav-tabs,.footer .nav-tabs {border:none;margin-left:-15px;margin-right:-15px}
.header .nav-tabs>li a,.footer .nav-tabs>li a {border:none !important;border-radius:0;padding-top:15px;padding-bottom:15px;line-height:20px}
.header .nav-tabs>li a:hover,.header .nav-tabs>li a:focus,.footer .nav-tabs>li a:hover,.footer .nav-tabs>li a:focus {background-color:transparent}
.header .nav-tabs>li.active a,.footer .nav-tabs>li.active a {color:#788288}
.header .nav-tabs>li.active a,.header .nav-tabs>li.active a:hover,.footer .nav-tabs>li.active a,.footer .nav-tabs>li.active a:hover {background-color:#f2f4f8}
.header .nav-tabs.nav-white>li.active a,.header .nav-tabs.nav-white>li.active a:hover,.footer .nav-tabs.nav-white>li.active a,.footer .nav-tabs.nav-white>li.active a:hover {background-color:#fff}
.header.navbar,.footer.navbar {border-radius:0;border:none;margin-bottom:0;padding:0;position:relative;z-index:1000}
body.container {padding:0}
@media (orientation: landscape) {html.ios7.ipad > body {padding-bottom:20px}
}
.navbar-header {position:relative}
.navbar-header>.btn {position:absolute;font-size:1.3em;padding:9px 16px;line-height:30px;left:0}
.navbar-header .navbar-brand+.btn {right:0;top:0;left:auto}
.navbar-brand {float:none;text-align:center;font-size:18px;font-weight:300;height:auto;line-height:50px;display:inline-block;padding:0 15px}
.navbar-brand:hover {text-decoration:none}
.navbar-brand img {max-height:20px;margin-top:-4px;vertical-align:middle}
.nav-primary li>a>i {margin:-8px -10px;line-height:36px;width:36px;float:left;margin-right:5px;text-align:center;position:relative;overflow:hidden}
.nav-primary li>a>i:before {position:relative;z-index:2}
.nav-primary ul.nav>li>a {padding:8px 15px;position:relative;-webkit-transition:background-color .2s ease-in-out 0s;transition:background-color .2s ease-in-out 0s}
.no-borders .nav-primary ul.nav>li>a {border-width:0 !important}
.nav-primary ul.nav>li>a>.badge {font-size:11px;padding:2px 5px 2px 4px;margin-top:2px}
.nav-primary ul.nav>li>a>.text-muted {margin:0 3px}
.nav-primary ul.nav>li>a.active .text {display:none}
.nav-primary ul.nav>li>a.active .text-active {display:inline-block !important}
.nav-primary ul.nav>li li a {font-weight:normal;text-transform:none;padding:5px 0 5px 45px;}
.nav-primary ul.nav>li.active>ul {display:block}
.nav-primary ul.nav ul {display:none}
.bg-black .nav-primary>ul.nav-main>li:hover>a,.bg-black .nav-primary>ul.nav-main>li:focus>a,.bg-black .nav-primary>ul.nav-main>li:active>a,.bg-black .nav-primary>ul.nav-main>li.active>a {background-color:#1aae88}
.nav-main li.active {background:#F2F4F8;}
@media (min-width: 768px) {.visible-nav-xs {display:none}
.nav-xs {width:70px}
.nav-xs .slimScrollDiv,.nav-xs .slim-scroll {overflow:visible !important}
.nav-xs .slimScrollBar,.nav-xs .slimScrollRail {display:none !important}
.nav-xs .scrollable {overflow:visible}
.nav-xs .nav-primary>ul>li>a {position:relative;padding:0;font-size:11px;text-align:center;height:50px;overflow-y:hidden;border:none}
.nav-xs .nav-primary>ul>li>a span {display:table-cell;vertical-align:middle;height:50px;width:70px;}
.nav-xs .nav-primary>ul>li>a span.pull-right {display:none !important}
.nav-xs .nav-primary>ul>li>a i {width:auto;float:none;display:block;font-size:16px;margin:0;line-height:50px;border:none !important;-webkit-transition:margin-top 0.2s;transition:margin-top 0.2s}
.nav-xs .nav-primary>ul>li>a i b {left:0 !important}
.nav-xs .nav-primary>ul>li>a .badge {position:absolute;right:10px;top:4px;z-index:3}
.nav-xs .nav-primary>ul>li:hover>a i,.nav-xs .nav-primary>ul>li:focus>a i,.nav-xs .nav-primary>ul>li:active>a i,.nav-xs .nav-primary>ul>li.active>a i {margin-top:-50px}
.nav-xs .nav-primary>ul ul {display:none !important;position:absolute;left:100%;top:0;z-index:1050;width:220px;-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.1);box-shadow:0 2px 6px rgba(0,0,0,0.1);padding:5px 0 5px 0;}
.nav-xs .nav-primary>ul ul li a{padding:5px 0 5px 25px;}
.nav-xs .nav-primary li:hover>ul,.nav-xs .nav-primary li:focus>ul,.nav-xs .nav-primary li:active>ul {display:block !important}
.nav-xs.nav-xs-right .nav-primary>ul ul {left:auto;right:100%}
.nav-xs>.vbox>.header,.nav-xs>.vbox>.footer {padding:0 20px}
.nav-xs .hidden-nav-xs {display:none}
.nav-xs .visible-nav-xs {display:inherit}
.nav-xs .text-center-nav-xs {text-align:center}
.nav-xs .nav-user {padding-left:0;padding-right:0}
.nav-xs .nav-user .avatar {float:none !important;margin-right:0}
.nav-xs .nav-user .dropdown>a {display:block;text-align:center}
.nav-xs .navbar-header {float:none}
.nav-xs .navbar-brand {display:block;padding:0}
.nav-xs .navbar-brand img {margin-right:0}
.nav-xs .navbar {padding:0}
.header-md .navbar-brand {line-height:60px}
.header-md .navbar-brand img {max-height:30px}
.header-md .navbar-nav>li>a {padding:20px}
}
@media (max-width: 767px) {.navbar-fixed-top-xs {position:fixed !important;left:0;width:100%;z-index:1100}
.navbar-fixed-top-xs+* {padding-top:50px !important}
.nav-bar-fixed-bottom {position:fixed;left:0;bottom:0;width:100%;z-index:1100}
html,body {overflow-x:hidden;min-height:100%}
.open,.open body {height:100%}
.nav-primary .dropdown-menu {position:relative;float:none;left:0;margin-left:0;padding:0}
.nav-primary .dropdown-menu a {padding:15px;border-bottom:1px solid #eee}
.nav-primary .dropdown-menu li:last-child a {border-bottom:none}
.navbar-header {text-align:center}
.nav-user {margin:0;padding:15px}
.nav-user.open {display:inherit !important}
.nav-user .dropdown-menu {display:block;position:static;float:none}
.nav-user .dropdown>a {display:block;text-align:center;font-size:18px;padding-bottom:10px}
.nav-user .avatar {width:160px !important;float:none !important;display:block;margin:20px auto;padding:5px;background-color:rgba(255,255,255,0.1);position:relative}
.nav-user .avatar:before {content:"";position:absolute;left:5px;right:5px;bottom:5px;top:5px;border:4px solid #fff;border-radius:500px}
.nav-off-screen {display:block !important;position:absolute;left:0;top:0;bottom:0;width:75%;visibility:visible;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}
.nav-off-screen .nav-primary {display:block !important}
.nav-off-screen .navbar-fixed-top-xs {width:75%}
.nav-off-screen.push-right .navbar-fixed-top-xs {left:25%}
.nav-off-screen.push-right {left:auto;right:0}
.nav-off-screen.push-right+* {-webkit-transform:translate3d(-75%,0px,0px);transform:translate3d(-75%,0px,0px)}
.nav-off-screen+* {background-color:#f2f4f8;-webkit-transition:-webkit-transform 0.2s ease-in-out;-moz-transition:-moz-transform 0.2s ease-in-out;-o-transition:-o-transform 0.2s ease-in-out;transition:transform 0.2s ease-in-out;-webkit-transition-delay:0s;transition-delay:0s;-webkit-transform:translate3d(0px,0px,0px);transform:translate3d(0px,0px,0px);-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(75%,0px,0px);transform:translate3d(75%,0px,0px);overflow:hidden;position:absolute;width:100%;top:0px;bottom:0;left:0;right:0;z-index:2}
.nav-off-screen+* .nav-off-screen-block {display:block !important;position:absolute;left:0;right:0;top:0;bottom:0;z-index:1950}
.navbar+section .nav-off-screen {top:50px}
.navbar+section .nav-off-screen+* {top:50px}
.slimScrollDiv,.slim-scroll {overflow:visible !important;height:auto !important}
.slimScrollBar,.slimScrollRail {display:none !important}
}
.arrow {border-width:8px;z-index:10}
.arrow,.arrow:after {position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.arrow:after {border-width:7px;content:""}
.arrow.top {left:50%;margin-left:-8px;border-top-width:0;border-bottom-color:#eee;border-bottom-color:rgba(0,0,0,0.1);top:-8px}
.arrow.top:after {content:" ";top:1px;margin-left:-7px;border-top-width:0;border-bottom-color:#fff}
.arrow.right {top:50%;right:-8px;margin-top:-8px;border-right-width:0;border-left-color:#eee;border-left-color:rgba(0,0,0,0.1)}
.arrow.right:after {content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-7px}
.arrow.bottom {left:50%;margin-left:-8px;border-bottom-width:0;border-top-color:#eee;border-top-color:rgba(0,0,0,0.1);bottom:-8px}
.arrow.bottom:after {content:" ";bottom:1px;margin-left:-7px;border-bottom-width:0;border-top-color:#fff}
.arrow.left {top:50%;left:-8px;margin-top:-8px;border-left-width:0;border-right-color:#eee;border-right-color:rgba(0,0,0,0.1)}
.arrow.left:after {content:" ";left:1px;border-left-width:0;border-right-color:#fff;bottom:-7px}
.btn-link {color:#788288}
.btn-link.active {webkit-box-shadow:none;box-shadow:none}
.btn-bl {border-color:#E3E3E3;border-radius:3px;width:32px;height:32px;}
.btn-cp {font-size:.85em;margin:10px;color:#E3E3E3;border:1px solid #E3E3E3;border-radius:3px;width:22px;height:22px;line-height:20px;text-align:center;}
.btn-cp:hover {color:#707070;border:1px solid #b6b6b6;background:#FFFFFF;}
.btn-default {color:#9b9b9b !important;background-color:#fcfcfd;border-color:#CCCCCC;border-bottom-color:#cbd5dd;-webkit-box-shadow:0 1px 1px rgba(90,90,90,0.1);box-shadow:0 1px 1px rgba(90,90,90,0.1)}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {color:#707070 !important;background-color:#eeeeee;border-color:#cccdce}
.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {background-image:none}
.btn-default.disabled,.btn-default.disabled:hover,.btn-default.disabled:focus,.btn-default.disabled:active,.btn-default.disabled.active,.btn-default[disabled],.btn-default[disabled]:hover,.btn-default[disabled]:focus,.btn-default[disabled]:active,.btn-default[disabled].active,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default:hover,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default.active {background-color:#fcfcfd;border-color:#d2dae1}
.btn-default.btn-bg {border-color:rgba(0,0,0,0.1);background-clip:padding-box}
.btn-primary {color:#fff !important;background-color:#177bbb;border-color:#177bbb}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {color:#fff !important;background-color:#146ca4;border-color:#136397}
.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {background-image:none}
.btn-primary.disabled,.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary.disabled:active,.btn-primary.disabled.active,.btn-primary[disabled],.btn-primary[disabled]:hover,.btn-primary[disabled]:focus,.btn-primary[disabled]:active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary:hover,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary.active {background-color:#177bbb;border-color:#177bbb}
.btn-success {color:#fff !important;background-color:#1aae88;border-color:#1aae88}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {color:#fff !important;background-color:#179877;border-color:#158b6c}
.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {background-image:none}
.btn-success.disabled,.btn-success.disabled:hover,.btn-success.disabled:focus,.btn-success.disabled:active,.btn-success.disabled.active,.btn-success[disabled],.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled]:active,.btn-success[disabled].active,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success:hover,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success.active {background-color:#1aae88;border-color:#1aae88}
.btn-info {color:#fff !important;background-color:#1ccacc;border-color:#1ccacc}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {color:#fff !important;background-color:#19b4b6;border-color:#17a6a8}
.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {background-image:none}
.btn-info.disabled,.btn-info.disabled:hover,.btn-info.disabled:focus,.btn-info.disabled:active,.btn-info.disabled.active,.btn-info[disabled],.btn-info[disabled]:hover,.btn-info[disabled]:focus,.btn-info[disabled]:active,.btn-info[disabled].active,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info:hover,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info.active {background-color:#1ccacc;border-color:#1ccacc}
.btn-warning {color:#fff !important;background-color:#fcc633;border-color:#fcc633}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {color:#fff !important;background-color:#fcbf1a;border-color:#fbbb0b}
.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {background-image:none}
.btn-warning.disabled,.btn-warning.disabled:hover,.btn-warning.disabled:focus,.btn-warning.disabled:active,.btn-warning.disabled.active,.btn-warning[disabled],.btn-warning[disabled]:hover,.btn-warning[disabled]:focus,.btn-warning[disabled]:active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning:hover,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning.active {background-color:#fcc633;border-color:#fcc633}
.btn-danger {color:#fff !important;background-color:#e33244;border-color:#e33244}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {color:#fff !important;background-color:#dd1e32;border-color:#d01c2f}
.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {background-image:none}
.btn-danger.disabled,.btn-danger.disabled:hover,.btn-danger.disabled:focus,.btn-danger.disabled:active,.btn-danger.disabled.active,.btn-danger[disabled],.btn-danger[disabled]:hover,.btn-danger[disabled]:focus,.btn-danger[disabled]:active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger:hover,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger.active {background-color:#e33244;border-color:#e33244}
.btn-dark {color:#fff !important;background-color:#222733;border-color:#222733}
.btn-dark:hover,.btn-dark:focus,.btn-dark:active,.btn-dark.active,.open .dropdown-toggle.btn-dark {color:#fff !important;background-color:#181b24;border-color:#12141b}
.btn-dark:active,.btn-dark.active,.open .dropdown-toggle.btn-dark {background-image:none}
.btn-dark.disabled,.btn-dark.disabled:hover,.btn-dark.disabled:focus,.btn-dark.disabled:active,.btn-dark.disabled.active,.btn-dark[disabled],.btn-dark[disabled]:hover,.btn-dark[disabled]:focus,.btn-dark[disabled]:active,.btn-dark[disabled].active,fieldset[disabled] .btn-dark,fieldset[disabled] .btn-dark:hover,fieldset[disabled] .btn-dark:focus,fieldset[disabled] .btn-dark:active,fieldset[disabled] .btn-dark.active {background-color:#222733;border-color:#222733}
.btn {font-weight:500;border-radius:2px}
.btn-icon {padding-left:0 !important;padding-right:0 !important;width:34px;text-align:center}
.btn-icon.b-2x {width:36px}
.btn-icon.btn-sm {width:30px}
.btn-icon.btn-sm.b-2x {width:32px}
.btn-icon.btn-lg {width:45px}
.btn-icon.btn-lg.b-2x {width:47px}
.btn-group-justified {border-collapse:separate}
.btn-rounded {border-radius:50px;padding-left:15px;padding-right:15px}
.btn-rounded.btn-lg {padding-left:25px;padding-right:25px}
.btn>i.pull-left,.btn>i.pull-right {line-height:1.428571429}
.btn-block {padding-left:12px;padding-right:12px}
.btn-group-vertical>.btn:first-child:not(:last-child) {border-top-right-radius:2px}
.btn-group-vertical>.btn:last-child:not(:first-child) {border-bottom-left-radius:2px}
.btn-inactive {-webkit-box-shadow:none !important;box-shadow:none !important}

.bg-light {background-color:#f2f4f8;color:#788288}
.bg-light.lt,.bg-light .lt {background-color:#f7f8fb}
.bg-light.lter,.bg-light .lter {background-color:#fcfcfd}
.bg-light.dk,.bg-light .dk {background-color:#e9edf4}
.bg-light.dker,.bg-light .dker {background-color:#e0e6f0}
.bg-light.bg,.bg-light .bg {background-color:#f2f4f8}

.bg-white {background-color:#fff;color:#788288}
.bg-white a {color:#3c4144}
.bg-white a:hover {color:#242729}
.bg-white.dk,.bg-white .dk {background-color:#FFF}
.bg-white.dker,.bg-white .dker {background-color:#FFF}
.bg-white .text-muted {color:#a1a8ac !important}
.bg-white-only {background-color:#fff}
.bg-empty {background-color:transparent}
.fill{height:100%;min-height:100%;}
.padd{padding:15px;}
.padder {padding-left:15px;padding-right:15px}
.padder-v {padding-top:15px;padding-bottom:15px}
.no-padder {padding:0 !important}
.mb{margin-bottom:10px;}

.tab-pane > .well{border-radius:0;background:#FFFFFF;box-shadow:none;border:0;}

.range {
    display: table;
    position: relative;
    height: 20px !important;
width:160px;
    margin:0 10px 10px 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 20px !important;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 10px;
    height: 20px !important;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: #D0D0D0;
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: #D0D0D0;
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: #B0B0B0;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
line-height: .9;
font-size:.85em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: #A5A5A5;
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: #A5A5A5;
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}


.op{
display:none;
position:absolute;
top:.5em;left:10px;
z-index:1000;
width:22px;height:22px;
color: #707070;
font-size: .85em;
text-align: center;
line-height: 20px;
background-color: #7b98bc;
background-color: rgba(255,255,255,1) !important;
border: 1px solid #CCCCCC !important;
border-radius: 2px;
outline: none !important;
}

.opr{
display:none;
position:absolute;
top:.5em;right:10px;
z-index:1000;
width:22px;height:22px;
color: #707070;
font-size: .85em;
text-align: center;
line-height: 20px;
background-color: #7b98bc;
background-color: rgba(255,255,255,1) !important;
border: 1px solid #CCCCCC !important;
border-radius: 2px;
outline: none !important;
}

.info{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
    margin-top:12px;
}

.info .content{
    padding:0 15px 15px 15px;
}
.info .content p{
    padding:0;
font-size:12px;
}


.info .info-title{
margin:10px 0 10px 0;
}
.info .info-date
{
    font-size: 12px;
    color: #737373;
    padding: 0 0 10px 0;
}
.info .info-img-content
{
    height: 160px;
    position: relative;


}
.info .info-img-content img
{
    position: absolute;

}


@media (max-width: 480px) {

  .pull-right {
    float: none!important; 
  }

}

.well-table{
    margin-bottom:0;
    padding: 10px 18px;
    background: #fff;
    border-top: none;
}