body {
    padding-top: 50px;
    overflow: hidden;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    padding:0;
}

.fw{
width:100% !important;
}

#map { top:0px;left:0px;bottom:0px;right:0px; }
#sidebar-wrapper {

    padding: 0;

    height: 100%;



}


#sidebar {
    position: relative;

    overflow-y:hidden;

}

#sidebar .list-group{
margin-bottom:0}
#sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
}

#mmtabs{background:#EEEEEE;}
#mmcdts{background:#EEEEEE;padding:.7em 0 0 0;font-size:.85em;position:absolute;height:30px;width:100%;bottom:0;left:0;}
#mmcdts p{margin:0;font-size:.9em;}
#mmcdts a{color:#83c849;}
#mmcdts a:hover{color:#83c849;text-decoration:underline;}




@media (max-width: 980px) {
    #main-wrapper {

display:block;

display:none;
z-index:10000;
	}

 #sidebar-wrapper {
float:left;
display:block;
width:100%;height:100%;

	}
#map{position:absolute;z-index:1;}

}

.list-group-item {
    padding: 5px 5px;
    padding-right: 0px;
    border: none;
}


.list-group-item .blc{height:44px;margin:0;padding:5px 0;}
.baselayers{list-style:none;text-align:left;margin:0;padding:0;}
.baselayers li{display:inline-block;}

			input[type="checkbox"] {
				margin-top: 0px;
				margin-right: 0.5em;
				vertical-align: 1px;
			}
.baselayers,.tree-container{overflow:scroll;}
.tree{
}
			.tree label {
				color: #555;
font-weight:normal;
			}
			
			.tree label:hover {
				text-decoration: none;
			}
			
			.tree label.tree-parent {
				color: #222;
			}
			
			.tree label.tree-parent:hover {
				text-decoration: none;
			}

.tree-node{width:16px;height:16px;background:#FFF;color:#CCC;margin-right:5px}
.tree-node span{font-weight:100!important;} 

.toolbar li {border-right:1px solid #E3E3E3;}


#context-menu li a:hover{cursor:pointer !important;}

@media (max-width: 768px) {

.toolbar li {border-right:0;}
#context-menu > ul.dropdown-menu{position:absolute !important;top:0 !important;float:none !important;}
.navbar-brand{font-size:1em;}


.navbar-nav {
margin: 0 0;
}

.toolbar li a {

margin:0;
padding:6px;

 }
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #f5f5f5;
  z-index:1000;
}

.base_layer{
    display: table;
}

.base_layer span{
    display: table-cel;
}

.qrcodel{
    width: 100%
}

.info-img-content{
    text-align: center;
}

.info-img-content img{
    width: 100%
}


#mm_layers_display .carousel-caption{
    color: #000;
    text-align: left;
    text-shadow: inherit;
}

#mm_layers_display .carousel-indicators li{
    border-color: #000;
}

#mm_layers_display .carousel-indicators li.active{
    background-color: #000;
}

#mm_layers_display .carousel-control{
    background: transparent;
    color: #000;
    z-index: 99;
}

.layer-active{
    background: #eee;
    /*border-bottom: 2px #eee solid;
    text-decoration: underline;*/
}

.mmbtn-small{
    line-height: 20px;
    font-size: 0.85em;
    margin-top:5px;
    margin-right:5px;
}