@font-face {
	font-family: 'mapmint';
	src:url('../fonts/mapmint.eot');
	src:url('../fonts/mapmint.eot') format('embedded-opentype'),
		url('../fonts/mapmint.ttf') format('truetype'),
		url('../fonts/mapmint.woff') format('woff'),
		url('../fonts/mapmint.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mm {
	font-family: 'mapmint';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.br{
    font-weight: bold;
}

.mm-postgresql:before {
	content: "\e600";
}
.mm-sqlite:before {
	content: "\e601";
}
.mm-mysql:before {
	content: "\e602";
}
.mm-legend:before {
	content: "\e603";
}
.mm-route:before {
	content: "\e604";
}
.mm-line:before {
	content: "\e605";
}
.mm-elevation-profile:before {
	content: "\e606";
}
.mm-mapserver:before {
	content: "\e607";
}
.mm-desktop:before {
	content: "\e608";
}
.mm-brush:before {
	content: "\e609";
}
.mm-cloud:before {
	content: "\e60a";
}
.mm-compass:before {
	content: "\e60b";
}
.mm-contrast:before {
	content: "\e60c";
}
.mm-database:before {
	content: "\e60d";
}
.mm-directory-open:before {
	content: "\e60e";
}
.mm-directory:before {
	content: "\e60f";
}
.mm-gdal:before {
	content: "\e610";
}
.mm-geolocation-point:before {
	content: "\e611";
}
.mm-geolocation-track:before {
	content: "\e612";
}
.mm-geolocation-user:before {
	content: "\e613";
}
.mm-geolocation:before {
	content: "\e614";
}
.mm-graticule:before {
	content: "\e615";
}
.mm-hatch-fill:before {
	content: "\e616";
}
.mm-hue:before {
	content: "\e617";
}
.mm-identify-box:before {
	content: "\e618";
}
.mm-identify-circle:before {
	content: "\e619";
}
.mm-identify:before {
	content: "\e61a";
}
.mm-label:before {
	content: "\e61b";
}
.mm-labels:before {
	content: "\e61c";
}
.mm-laptop:before {
	content: "\e61d";
}
.mm-layer-add:before {
	content: "\e61e";
}
.mm-layer-attribute:before {
	content: "\e61f";
}
.mm-layer-attribution:before {
	content: "\e620";
}
.mm-layer-display:before {
	content: "\e621";
}
.mm-layer-geometry:before {
	content: "\e622";
}
.mm-layer-max-zoom:before {
	content: "\e623";
}
.mm-layer-min-zoom:before {
	content: "\e624";
}
.mm-layer-security:before {
	content: "\e625";
}
.mm-layer-settings:before {
	content: "\e626";
}
.mm-layer-template:before {
	content: "\e627";
}
.mm-layer:before {
	content: "\e628";
}
.mm-layers-base:before {
	content: "\e629";
}
.mm-layers-o:before {
	content: "\e62a";
}
.mm-layers-order:before {
	content: "\e62b";
}
.mm-layers-overlay:before {
	content: "\e62c";
}
.mm-layers:before {
	content: "\e62d";
}
.mm-map-add:before {
	content: "\e62e";
}
.mm-map-delete:before {
	content: "\e62f";
}
.mm-map-edit:before {
	content: "\e630";
}
.mm-map-export:before {
	content: "\e631";
}
.mm-map-print:before {
	content: "\e632";
}
.mm-map-refresh:before {
	content: "\e633";
}
.mm-map-share:before {
	content: "\e634";
}
.mm-map-view:before {
	content: "\e635";
}
.mm-map:before {
	content: "\e636";
}
.mm-mapmint:before {
	content: "\e637";
}
.mm-max-extent:before {
	content: "\e638";
}
.mm-maximize:before {
	content: "\e639";
}
.mm-measure-area:before {
	content: "\e63a";
}
.mm-measure-distance:before {
	content: "\e63b";
}
.mm-min-extent:before {
	content: "\e63c";
}
.mm-minimize:before {
	content: "\e63d";
}
.mm-minus:before {
	content: "\e63e";
}
.mm-mobile-phone:before {
	content: "\e63f";
}
.mm-mosaic:before {
	content: "\e640";
}
.mm-ogc-csw:before {
	content: "\e641";
}
.mm-ogc-wcs:before {
	content: "\e642";
}
.mm-ogc-web-services:before {
	content: "\e643";
}
.mm-ogc-wfs:before {
	content: "\e644";
}
.mm-ogc-wms:before {
	content: "\e645";
}
.mm-ogc-wps:before {
	content: "\e646";
}
.mm-openlayers:before {
	content: "\e647";
}
.mm-openstreetmap:before {
	content: "\e648";
}
.mm-osgeo:before {
	content: "\e649";
}
.mm-palette:before {
	content: "\e64a";
}
.mm-pan:before {
	content: "\e64b";
}
.mm-pencil:before {
	content: "\e64c";
}
.mm-permacode:before {
	content: "\e64d";
}
.mm-permalink:before {
	content: "\e64e";
}
.mm-plain-fill:before {
	content: "\e64f";
}
.mm-plus:before {
	content: "\e650";
}
.mm-point:before {
	content: "\e651";
}
.mm-polygon:before {
	content: "\e652";
}
.mm-process:before {
	content: "\e653";
}
.mm-raster:before {
	content: "\e654";
}
.mm-route-start:before {
	content: "\e655";
}
.mm-search-binocular:before {
	content: "\e656";
}
.mm-select-arrow:before {
	content: "\e657";
}
.mm-select-box:before {
	content: "\e658";
}
.mm-select-hand:before {
	content: "\e659";
}
.mm-server:before {
	content: "\e65a";
}
.mm-shp:before {
	content: "\e65b";
}
.mm-symbol-fill:before {
	content: "\e65c";
}
.mm-table:before {
	content: "\e65d";
}
.mm-tablet:before {
	content: "\e65e";
}
.mm-tiles-o:before {
	content: "\e65f";
}
.mm-tiles:before {
	content: "\e660";
}
.mm-warp:before {
	content: "\e661";
}
.mm-zoo-project:before {
	content: "\e662";
}
.mm-zoom-box:before {
	content: "\e663";
}
.mm-zoom-in:before {
	content: "\e664";
}
.mm-zoom-next:before {
	content: "\e665";
}
.mm-zoom-out:before {
	content: "\e666";
}
.mm-zoom-previous:before {
	content: "\e667";
}
.mm-zoom-to-extent:before {
	content: "\e668";
}
.mm-zoom-to-maxextent:before {
	content: "\e669";
}
.mm-zoom-to-point:before {
	content: "\e66a";
}
.mm-zoom-to-selection:before {
	content: "\e66b";
}
.mm-zoom-to:before {
	content: "\e66c";
}
.mm-zoom:before {
	content: "\e66d";
}

