#import zoo,json
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set cur=con.conn.cursor()

#set res=cur.execute("SELECT value from mm_tables.p_edition_fields where id="+$inputs["element"]["value"])
#set vals=cur.fetchone()
#set res=cur.execute(vals[0].replace("order by"," where "+$inputs["cond"]["value"]+" order by "))
#set vals=cur.fetchall()
#set fres=[]
#for i in range(len(vals)):
#set tmpRes=[]
#for j in range(len(vals[i])):
#set $tmpRes+=[vals[i][j]]
#end for
#set $fres+=[$tmpRes]
#end for
$(json.dumps($fres))
