#encoding UTF-8
#import zoo

<!-- OK 0 -->

#set tmpl=$conf['main']['templatesPath']+"/Distiller/form_line.html"
#include $tmpl
#set ftmpl=$self._CHEETAH__cheetahIncludes[$tmpl]

#set c=$conf["lenv"]
#set $c["cid"]=str(int($c["cid"])+1)

#set firstListElement=0
#try
#set toto=$isPreInput
#except
#set isPreInput=False
#end try

<!-- OK 0 -->

#try 
#set currentLoadIndex=int($conf["lenv"]["mylevel"])+1
#except
#set currentLoadIndex=0
#end try
#set tmp=$conf["lenv"]
#set $tmp["mylevel"]=$currentLoadIndex

<!--
#try
#set cLevel=$rLevel
#except Exception,e
$e
#set cLevel=0
#end try
-->

#try
#if $embedded>=0
#set prefix="embedded_"+str($embedded)+"_"
#try
#if $isInput
#set $prefix="input_"+str($embedded)+"_"+$prefix
#end if
#except
#set isInput=False
#end try
#else
#set prefix=""
#try
#set toto=$isInput
#except
#set isInput=False
#end try
#end if
#except
#set prefix=""
#try
#set toto=$isInput
#except
#set isInput=False
#end try
#end try

<!--
#try
$embedded
#except Exception,e
#set embedded=0
#end try
-->



#set req="SELECT mm_tables.p_views.name,mm_tables.p_tables.description,mm_tables.p_tables.name,mm_tables.p_tables.id,mm_tables.p_views.clause FROM mm_tables.p_views,mm_tables.p_tables where mm_tables.p_tables.id=mm_tables.p_views.ptid and mm_tables.p_views.id="+$qComponents[0]
#set res=$cur.execute($req)
#set vals=$cur.fetchone()

<h1>$vals[0]</h1>
<div class="description">$vals[1]</div>


#set table=$vals[2]
#set tableId=str($vals[3])
#set clause=$vals[4]


#* Edition *#
#set req="SELECT distinct mm_tables.p_editions.id,mm_tables.p_editions.name,mm_tables.p_editions.step FROM mm_tables.p_editions,mm.groups,mm_tables.p_edition_groups where mm.groups.id=mm_tables.p_edition_groups.gid and mm_tables.p_editions.id=mm_tables.p_edition_groups.eid and ptid="+$tableId+" and mm.groups.id in (SELECT id_group from mm.user_group where id_user='"+$conf["senv"]["id"]+"') and mm_tables.p_editions.step>=0 order by mm_tables.p_editions.step asc"
#set res=$cur.execute($req)
#set evals=$cur.fetchall()

#* Search / Delete / History *#
#set req="SELECT distinct mm_tables.p_editions.id,mm_tables.p_editions.name,mm_tables.p_editions.step FROM mm_tables.p_editions,mm.groups,mm_tables.p_edition_groups where mm.groups.id=mm_tables.p_edition_groups.gid and mm_tables.p_editions.id=mm_tables.p_edition_groups.eid and ptid="+$tableId+" and mm.groups.id in (SELECT id_group from mm.user_group where id_user='"+$conf["senv"]["id"]+"') and mm_tables.p_editions.step<=0 order by mm_tables.p_editions.step asc"
#set res=$cur.execute($req)
#set vals=$cur.fetchall()

#* Reports *#
#set req="SELECT distinct mm_tables.p_reports.id,mm_tables.p_reports.name,mm_tables.p_reports.element FROM mm_tables.p_reports,mm.groups,mm_tables.p_report_groups where mm.groups.id=mm_tables.p_report_groups.gid and mm_tables.p_reports.id=mm_tables.p_report_groups.rid and ptid="+$tableId+" and mm.groups.id in (SELECT id_group from mm.user_group where id_user='"+$conf["senv"]["id"]+"') order by mm_tables.p_reports.id asc"
#set rres=$cur.execute($req)
#set rvals=$cur.fetchall()

#* Importers *#
#set ireq="SELECT distinct mm_tables.importers.id,mm_tables.importers.name,mm_tables.importers.description FROM mm_tables.importers,mm_tables.importer_groups where  mm_tables.importers.id=mm_tables.importer_groups.iid and tid="+$tableId+" and mm_tables.importer_groups.gid in (SELECT id_group from mm.user_group where id_user='"+$conf["senv"]["id"]+"') order by mm_tables.importers.id asc"
#set ires=$cur.execute($ireq)
#set ivals=$cur.fetchall()


<ul class="nav nav-tabs" role="tablist">
#if $prefix!=""
#set cPrefix=" toActivate"
#else
#set cPrefix=""
#end if
$ftmpl.printTabHeader($prefix+"listing",$zoo._("Table"),"fa-table","nav-item"+$cPrefix)
#if len($vals)>0 or len($evals)
#if not($isPreInput)
$ftmpl.printTabHeaderNew({"id":$prefix+"edit","title":$zoo._("Edit"),"font":"fa-edit","classe":"nav-item require-"+$prefix+"select"})
#end if
#for i in range(len($vals))
#set font="fa-search"
#if $vals[i][2]==0
#set font="fa-plus"
#else
#if $vals[i][2]==-2
#set font="fa-trash"
#else
#if $vals[i][2]==-3
#set font="fa-download"
#else
#if $vals[i][2]==-10
#set font="fa-history"
#end if
#end if
#end if
#end if
#if $vals[i][2]==0
$ftmpl.printTabHeader($prefix+"edit_"+str($vals[i][0]),$zoo._("Add"),$font,"none")
#else
#if $vals[i][2]==-2
$ftmpl.printTabHeaderNew({"id":$prefix+"edit0_"+str($vals[i][0]),"title":$vals[i][1],"font":$font,"classe":"require-"+$prefix+"select"})
#else
#if $vals[i][2]==-10
$ftmpl.printTabHeaderNew({"id":$prefix+"edit0_"+str($vals[i][0]),"title":$vals[i][1],"font":$font,"classe":"require-"+$prefix+"select"})
#else
$ftmpl.printTabHeaderNew({"id":$prefix+"edit_"+str($vals[i][0]),"title":$vals[i][1],"font":$font,"classe":"no-require-"+$prefix+"select"})
#end if
#end if
#end if
<!-- <a href="$conf["renv"]["REDIRECT_URL"]/edit/$vals[i][0]">$vals[i][1]</a> -->
#end for
#end if

#* Associated Map *#
#set hasAssociatedMap=False
#set font="fa-map-o fa-fw"
#set tblSplit=$table.split(".")
#import os.path
#set names=[$conf["main"]["dataPath"]+"/public_maps/project_"+$tblSplit[0]+"___"+$tblSplit[1]+".map",$conf["main"]["dataPath"]+"/public_maps/project_"+$tblSplit[1]+".map"]
#for i in range(0,len($names))
#if os.path.isfile(names[i]) and $embedded==0
$ftmpl.printTabHeader($prefix+"map",$zoo._("Map"),$font,"")
#set associatedMap=$names[$i]
#if i>0
#set associatedMapName=$tblSplit[1]
#else
#set associatedMapName=$tblSplit[0]+"___"+$tblSplit[1]
#end if
#if $embedded==0
#set $hasAssociatedMap=True
#else
#set $hasAssociatedMap=False
#end if
#end if
#end for

#* Importers *#
#if len($ivals)>0
#set font="fa-upload"
#for i in range(len($ivals))
$ftmpl.printTabHeader($prefix+"importer_"+str($ivals[i][0]),$ivals[i][1],$font,"")
#end for
#end if

#* Reports *#
#if len($rvals)>0
#set font="fa-print"
#for i in range(len($rvals))
#if $rvals[i][2]=='t'
#set classes="require-"+$prefix+"select"
$ftmpl.printTabHeader($prefix+"report_"+str($rvals[i][0]),$rvals[i][1],$font,$classes)
#else
$ftmpl.printTabHeader($prefix+"report_"+str($rvals[i][0]),$rvals[i][1],$font,"")
#end if
#end for
#end if
</ul>

<div class="tab-content">
#* Associated Map *#
#if $hasAssociatedMap
     <div id="$(prefix)map" role="tabpanel" class="tab-pane" >
       <div class="row">
     	  <div class="col-sm-9">
		<iframe id="associatedMap" src="$conf["main"]["rootUrl"]$associatedMapName" style="border:0;width:100%;"></iframe>
	  </div>
	  <div class="col-sm-3">
	  <div>

	  <label>$zoo._("Layer")</label>
	  <select id="addedLayers" class="form-control form-control-sm" >
	  	  <option value="-1">$zoo._("None")</option>
	  </select>
	  </div>

      <label>$zoo._("Title")</label>
      <input id="layerTitle" type="text" class="form-control form-control-sm" />

     <div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation"><a href="#layerExtract" aria-controls="extract" role="tab" data-toggle="tab">$zoo._("Filter")</a></li>
    <li role="presentation"><a href="#processing" aria-controls="processing" role="tab" data-toggle="tab">$zoo._("Processing")</a></li>
    <li role="presentation"><a href="#sql" aria-controls="sql" role="tab" data-toggle="tab">$zoo._("Report")</a></li>
<!--    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="layerExtract">
    <div class="col-sm-12">
     <p>$zoo._("Create a new layer by applying filters to the available features")</p>
     <p>$zoo._("First choose a layer, then choose one or more field and define for every column the operator and value to check for filtering features.")</p>
     <p>$zoo._('Optionaly, you can also add filter to existing one by pressing the <i class="fa fa-plus"></i> button.')</p>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-default" onclick="return false;"> $zoo._("Filter")</button>
    </div>
    <form>
    <div class="col-sm-12 require-filter" style="display:none">
      <label>Link clauses</label>
      <select name="link_clause" class="form-control form-control-sm">
      	      <option value="AND">$zoo._("AND")</option>
	      <option value="OR">$zoo._("OR")</option>
      </select>
    </div>
    <div class="col-sm-8">
     <label for="filterField">$zoo._("Column")</label>
     <select name="field" class="form-control form-control-sm">
     	     <option value="-1">$zoo._("First select a layer")</option>
     </select>
    </div>
    <div class="col-sm-4">
     <label for="filterField">$zoo._("Operator")</label>
     <select name="operator" class="form-control form-control-sm">
     	     <option value="PropertyIsEqualTo" class=".require-float">=</option>
     	     <option value="PropertyIsGreaterThan">></option>
     	     <option value="PropertyIsGreaterThanOrEqualTo">≥</option>
     	     <option value="PropertyIsLessThan"> < </option>
     	     <option value="PropertyIsLessThanOrEqualTo">≤</option>
     	     <option value="PropertyIsLike" class=".require-string">Like</option>
     </select>
    </div>
    <div class="col-sm-9">
     <label for="filterField">$zoo._("Value")</label>
     <select name="values" class="form-control form-control-sm">
     	     <option value="-1">$zoo._("First select a field")</option>
     </select>
    </div>
    <div class="col-sm-3">
      <label> $zoo._("Add") </label>
      <div class="btn-group btn-group-sm" role="group" aria-label="Button group">
      <button class="btn btn-default require-filter"  style="display:none" onclick="var tmp=\$(this).parent().parent().parent().parent().find('form').last().remove();app.bindFilterLayer();return false;"><i class="fa fa-minus"></i></button>
      <button class="btn btn-default" onclick="var tmp=\$(this).parent().parent().parent().parent().find('form').first().clone();\$(this).parent().parent().parent().parent().append(tmp);\$(this).parent().parent().parent().parent().find('form').last().find('.require-filter').show();app.bindFilterLayer();return false;"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="processing">
    <label>$zoo._("Services")</label>
    <select name="processing_service" class="form-control form-control-sm layer-select-list" >
    	   <option data-display="pexterior" value="ExteriorRingPy">$zoo._("Extract exterior ring")</option>
    	   <option data-display="pcreategrid" value="createGrid">$zoo._("Compute grid for extent")</option>
    	   <option data-display="pvoronoi" value="RVoronoi">$zoo._("Voronoi")</option>
    	   <option data-display="pfusionintersects" value="FusionIntersectsPy">$zoo._("FusionIntersects")</option>
    	   <option data-display="pbuffer" value="BufferPy">$zoo._("Buffer")</option>
    	   <option data-display="punion" value="UnionPy">$zoo._("Union")</option>
    	   <option data-display="pintersection" value="IntersectionPy">$zoo._("Intersection")</option>
    	   <option data-display="psymdifference" value="SymDifferencePy">$zoo._("SymDifference")</option>
    	   <option data-display="punionone" value="UnionOnePy">$zoo._("Union (one geom)")</option>
    	   <option data-display="pselection" value="Selection">$zoo._("Select")</option>
    	   <option data-display="pselection1" value="SelectionAdd">$zoo._("Select / Add")</option>
    </select>

    <div id="pselection">
    <label>$zoo._("Type:")</label>
    <select name="drawFeatureType" class="form-control form-control-sm"  onchange="\$(this).val()=='Layer'?\$('.require-layer').show():\$('.require-layer').hide();">
      <option value="Point">$zoo._("Point")</option>
      <option value=Box>$zoo._("Rectangle")</option>
      <option value="Polygon">$zoo._("Polygon")</option>
      <option value="Circle">$zoo._("Circle")</option>
      <option value="Layer">$zoo._("Layer")</option>
    </select>
    <div class="require-layer">
    <select name="InputEntity2" class="form-control form-control-sm">
    </select>
    </div>
    </div>
    <div id="pselection1">
    <label>$zoo._("Type:")</label>
    <select name="drawFeatureType" class="form-control form-control-sm" onchange="\$(this).val()=='Layer'?\$('.require-layer').show():\$('.require-layer').hide();">
      <option value="Point">$zoo._("Point")</option>
      <option value=Box>$zoo._("Rectangle")</option>
      <option value="Polygon">$zoo._("Polygon")</option>
      <option value="Circle">$zoo._("Circle")</option>
      <option value="Layer">$zoo._("Layer")</option>
    </select>
    <div class="require-layer">
    <select name="InputEntity2" class="form-control form-control-sm">
    </select>
    </div>
    <div class="require-add">
    <label>$zoo._("Add to the following layer:")</label>
    <select name="InputEntity3" class="form-control form-control-sm">
    </select>
    </div>
    </div>
    <div id="pcreategrid">
    <label>$zoo._("Grid length")</label>
    <input type="text" name="len" class="form-control form-control-sm" value="100" />
    <input type="text" style="display: none" name="id" data-transmission="force" class="form-control form-control-sm" value="100" />
    <input type="text" style="display: none" name="extent" data-transmission="force" class="form-control form-control-sm" value="100" />
    </div>
    <div id="pbuffer">
    <label>$zoo._("Length")</label>
    <input type="hidden" name="param1" value="InputPolygon" />
    <input type="text" name="BufferDistance1" data-type="noTransmited" onkeypress="\$(this).next().val(eval(\$(this).val())/(11119.487428468118));" class="form-control form-control-sm" />
    <input type="text" name="BufferDistance" style="display:none" data-type="float" data-transmission="force" class="form-control form-control-sm" />
    </div>
    <div id="pfusionintersects">
    <label>$zoo._("Layer")</label>
    <input type="hidden" name="param1" value="InputEntity1" />
    <select name="InputEntity2" class="form-control form-control-sm">
    </select>
    </div>
    <div id="punion">
    <label>$zoo._("Layer")</label>
    <input type="hidden" name="param1" value="InputEntity1" />
    <select name="InputEntity2" class="form-control form-control-sm">
    </select>
    </div>
    <div id="pintersection">
    <label>$zoo._("Layer")</label>
    <input type="hidden" name="param1" value="InputEntity1" />
    <select name="InputEntity2" class="form-control form-control-sm">
    </select>
    </div>
    <div id="psymdifference">
    <label>$zoo._("Layer")</label>
    <input type="hidden" name="param1" value="InputEntity1" />
    <select name="InputEntity2" class="form-control form-control-sm">
    </select>
    </div>
    
    <label>$zoo._("Use original extent")</label>
    <input type="checkbox" name="fixExtent" class="form-control" />
    
    <button mm-action="processLayer" class="btn btn-default" ><i class="fa fa-gear"></i> $zoo._("Run")</button>
    <div class="progress" style="width: 80%;position:absolute;right: 0px;margin-top: 5px;display:none;">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="sql">
     <div class="col-sm-12">
      <p>$zoo._("Create a new layer or a report by running a SQL query on the features from the selected layer")</p>
      <p>$zoo._('You can  use the SQLite dialect supported by GDAL <a target="_blank" href="http://www.gdal.org/ogr_sql_sqlite.html"><i class="fa fa-question"></i></a>.')</p> 
     </div>
     <div class="col-sm-12">
      <label>$zoo._("Create a new layer")</label>
      <input type="checkbox"  />
     </div>
     <div class="col-sm-12">
      <input id="sqlQueryTid" type="hidden" value="$tableId" />
      <select id="sqlQueryIdentifiers" class="form-control">
       <option value="-1">$zoo._("Choose")</option>
      </select>
     </div>
     <div class="col-sm-12">
      <textarea id="sqlQuery" class="form-control" placeholder="$zoo._("SQL Query")"></textarea>
     </div>
     <button mm-action="queryLayer" class="btn btn-default" ><i class="fa fa-gear"></i> $zoo._("Execute")</button>
     <div id="queryLayerResult">
     </div>
    </div>
<!--    <div role="tabpanel" class="tab-pane" id="settings">
    <button mm-action="createGrid" class="btn btn-default require-select" ><i class="fa fa-gear"></i> $zoo._("Compute grid for extent")</button>
    </div>-->
  </div>

</div>

	  </div>
     </div>
       </div>
<script type="template/txt" id="processLayer_template">
        <div class="alert alert-dismissible">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <div class="input-group mb-3">
  	    <div class="input-group-addon">
	      <span class="input-group-text" id="basic-addon1"><i class="fa fa-gear"></i> [_N_]</span>
  	    </div>
  	    <input type="text" name="processLayer_[_N_]" class="form-control" value="[_V_]" aria-label="Process Name" aria-describedby="basic-addon1" disabled>
	  </div>
          <div class="progress" style="width: 80%;margin-top: 5px;display:none;">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>
	  <div class="process_info">
	  </div>
	  <div class="process_detailed_info">
	    <div class="col-sm-4">
	      $zoo._("Layer") [L1]
	    </div>
	    <div class="col-sm-4">
	      $zoo._("Service") [S]
	    </div>
	    <div class="col-sm-4">
	      $zoo._("Layer") [L2]
	    </div>
	    <!--
	    [_P_]
	    -->
	  </div>
	</div>
</script>


#end if

#* Importers *#
<script type="template/txt" id="importer_progress">
<div class="col-sm-4">
[file]
</div>
<div class="col-sm-8">
  <div class="progress" style="margin-top: 0.5em;">
    <div id="progress-process-[id]" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="sr-only"></span>
    </div>
  </div>
  <div id="infoMessage[id]" class="col-sm-12" style="margin-top:0.5em"></div>
</div>
</script>

#for i in range(len($ivals))
     <div id="$(prefix)importer_$(ivals[i][0])" role="tabpanel" class="tab-pane" >
       <div class="row">
	 <div class="decription">$(ivals[i][2])</div>
	 <div class="importer_upload">
	 $ftmpl.printUploadInputNew({"id":"importer_"+str($ivals[i][0]),"name":"importer_"+str($vals[i][0])})
	 </div>
	 <div class="importer_submit">
	 $zoo._("You can now import the uploaded files in the database.")
	 $ftmpl.printButton({"id":"runImport","name":'<i class="fa fa-upload fa-fw"></i><i class="fa fa-spinner fa-spin" style="display:none"></i> '+$zoo._("Import")})
	 $ftmpl.printHidden({"rid":"import_id","id":"import_id","name":"import_id","value":$ivals[i][0]})
	 <div class="importer_submit_log">
	 </div>
	 </div>
       </div>
     </div>
#end for

#* Reports *#
#for i in range(len($rvals))
     <div id="$(prefix)report_$(rvals[i][0])" role="tabpanel" class="tab-pane" >
       <div class="row">
         <h2>$zoo._("Report")</h2>
	 <p id="no_version_message">$zoo._("Depending on its complexity, producing a report may be a a time consuming process. For this reason, the reports are not generated everytime you access an element but on the specific user demand. You can generate a document by pressing the '"+$zoo._("Run")+"' button bellow.")</p>
         $ftmpl.printButton({"id":"runPrint","name":'<i class="fa fa-print fa-fw"></i><i class="fa fa-spinner fa-spin" style="display:none"></i> '+$zoo._("Run")})
	 $ftmpl.printHidden({"rid":"edition_tuple_id","id":"edit_tuple_id","name":"edition_tuple_id","value":"-1"})
	 $ftmpl.printHidden({"rid":"edition_report_id","id":"edit_report_id","name":"edition_report_id","value":$rvals[i][0]})
        <div class="progress" style="width: 80%;margin-top: 5px;display:none;">
         <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
       </div>
       <div class="report_display" >
       </div>
     </div>

<script type="template/txt" id="$(prefix)report_$(rvals[i][0])_link">
	<li class="list-group-item"><a href="[link]" target="_blank"> <i class="fa [class]"></i> [format] </a></li>
</script>

<script type="template/txt" id="$(prefix)report_$(rvals[i][0])_link_list">
	<div class="panel panel-default">
  	     <div class="panel-heading">
	     	  <h3 class="panel-title"><i class="fa fa-th-list"></i> $zoo._("Produced documents")</h3>
	     </div>
  	     <div class="panel-body">
	     	  <ul class="list-group">
		  </ul>    	      
  	     </div>
	</div>

</script>
#end for


#for i in range(len($vals))
#* History *#
#if $vals[i][2]==-10
#try
     <div id="$(prefix)edit0_$(vals[i][0])" role="tabpanel" class="tab-pane" >
#set req="SELECT distinct mm_tables.p_views.id from mm_tables.p_views,mm_tables.p_tables where mm_tables.p_views.ptid=mm_tables.p_tables.id AND mm_tables.p_tables.name='mm_ghosts."+$table.replace(".","_")+"' and mm_tables.p_views.id in (SELECT mm_tables.p_views.id from mm_tables.p_views,mm_tables.p_view_groups where mm_tables.p_views.id=mm_tables.p_view_groups.vid and mm_tables.p_views.id=mm_tables.p_view_groups.vid and gid in (select id_group from mm.users,mm.user_group where mm.users.id=mm.user_group.id_user and mm.users.id="+$conf["senv"]["id"]+" )  )"
#set tmp=$cur.execute($req)
#set tmp=$cur.fetchone()

#import np.service as np
<div><div><div>
#set preTitle='<input type="hidden" name="embedded_1024_link_col" value="id"/>'

$preTitle
#set content=Template(file=$conf["main"]["templatesPath"]+"/preview/modules/tables/list.tmpl",searchList={"conf": $conf,"cur":$cur,"qComponents":[str(tmp[0])],"embedded":1024,"con":$con})

$content

#set inputs0={"id":{"value":str($vals[i][0])},"isHistory":{"value":"true"}}
#except Exception,e
ERROR 
$e
#set inputs0={"id":{"value":str($vals[i][0])},"isHistory":{"value":"true"}}
#end try
#else

#if $vals[i][2]==-3
     <div id="$(prefix)edit_$(vals[i][0])" role="tabpanel" class="tab-pane" >
#set inputs0={"id":{"value":str($vals[i][0])},"isImport":{"value":"true"}}
#else
#if $vals[i][2]==-2
     <div id="$(prefix)edit0_$(vals[i][0])" role="tabpanel" class="tab-pane" >
#set inputs0={"id":{"value":str($vals[i][0])},"isReference":{"value":"true"}}
#else
     <div id="$(prefix)edit_$(vals[i][0])" role="tabpanel" class="tab-pane" >
#set inputs0={"id":{"value":str($vals[i][0])}}
#end if
#end if

#end if

$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/tables/edit.tmpl",searchList={"conf": $conf,"inputs": $inputs0,"cur":$cur,"con":$con,"cid":12,"cLevel":$cLevel}))

#if $vals[i][2]==-10
</div></div>
$ftmpl.printHidden({"rid":"edition_tuple_id","id":"edit_tuple_id","name":"edition_tuple_id","value":"-1"})
</div>
#end if
     </div>
#end for


     <div id="$(prefix)edit" role="tabpanel" class="tab-pane" >
     
#set req="SELECT distinct mm_tables.p_editions.id,mm_tables.p_editions.name,mm_tables.p_editions.step FROM mm_tables.p_editions,mm.groups,mm_tables.p_edition_groups where mm.groups.id=mm_tables.p_edition_groups.gid and mm_tables.p_editions.id=mm_tables.p_edition_groups.eid and ptid="+$tableId+" and mm.groups.id in (select id_group from mm.users,mm.user_group where mm.users.id=mm.user_group.id_user and mm.users.id="+$conf["senv"]["id"]+" ) and mm_tables.p_editions.step>=0 order by mm_tables.p_editions.step asc"
#set res=$cur.execute($req)
#set vals1=$cur.fetchall()


<ul class="nav nav-tabs" #if len($vals1)==1#style="display:none"#end if#>
#for i in range(len($vals1))
#set classes="require-"+$prefix+"select"
#if i+1==len($vals1)
#set $classes+=" toActivate"
#end if
$ftmpl.printTabHeaderNew({"id":$prefix+"edit0_"+str($vals1[i][0]),"title":$vals1[i][1],"classe":$classes,"cnt":($i+1)})
#end for
</ul>

<div class="tab-content">

#for i in range(len($vals1))
     <div id="$(prefix)edit0_$vals1[i][0]" role="tabpanel" class="tab-pane" >
#set inputs0={"id":{"value":str($vals1[i][0])},"isReference":{"value":"true"}}
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/tables/edit.tmpl",searchList={"conf": $conf,"inputs": $inputs0,"cur":$cur,"con":$con,"cid":$currentLoadIndex+((i+1)*10),"cLevel":$cLevel}))
     </div>
#end for
</div>
     </div>

     <div id="$(prefix)listing" role="tabpanel" class="tab-pane" >

<input type="hidden" name="$(prefix)mainTableId" value="$tableId" />
<input type="hidden" name="$(prefix)mainTableViewId" value="$qComponents[0]" />
<input type="hidden" name="$(prefix)mainTableLevel" value="$cLevel" />


#set req="SELECT mm_tables.p_view_fields.id,mm_tables.p_view_fields.alias,mm_tables.p_view_fields.value,mm_tables.p_view_fields.view,mm_tables.p_view_fields.search,mm_tables.p_view_fields.class,mm_tables.p_view_fields.width,mm_tables.p_view_fields.name FROM mm_tables.p_views,mm_tables.p_view_fields where mm_tables.p_views.id=mm_tables.p_view_fields.vid and mm_tables.p_views.id="+$qComponents[0]
#set res=$cur.execute($req)
#set vals=$cur.fetchall()
#set values=[]
#set classifiers=["asc","desc"]
#set classifier=""

<table id="$(prefix)mainListing_display">
    <thead>
      <tr>
#set contents=[]
#for i in range(len($vals))
#if $vals[i][3]
	<th style="width:25px">$vals[i][1]</th>
#set $values+=[$vals[i][2]]
#set contents+=['']
#end if
#if $vals[i][5] is not None
#set $classifier=$vals[i][2]+" "+$classifiers[($vals[i][5]-1)]
#end if
#end for
      </tr>
    </thead>
    <tbody>
#*
#set contents=[]
#try
#set req1="SELECT "+(",".join($values+["id"]))+" FROM "+$table+" WHERE "+$clause+" ORDER BY "+$classifier
#set res1=$cur.execute($req1)
#set vals1=$cur.fetchall()
#for j in range(len($vals1))
     <tr>
#for k in range(len($values))
#set content=[]
#if j==0
#if k==0
#set $contents+=['<input type="hidden" name="id" value=""/> ']
#else
#end if
#end if
       <td>#if k==0#<input type="hidden" name="id" value="$vals1[$j][len($vals1[j])-1]" />#end if#$vals1[$j][$k]</td>
#end for
     </tr>
#end for
#except Exception,e
     <tr>
       <td class="alert alert-danger" colspan="$(len($vals))">$(zoo._("Configuration error: ")+str($e))</td>
     </tr>
     <tr>
       <td class="alert alert-danger" colspan="$(len($vals))">$(zoo._("SQL Query: ")+str($req1))</td>
     </tr>
#end try
*#
    </tbody>
  </table>

<input type="hidden" name="$(prefix)mainTableOrder" value="$classifier" />

     </div>
</div>

<script type="text/javascript" id="col_$(i)_template">
#if $prefix==""
    var mainTableRFields=
#else
    var obj={};
    obj["id"]="$prefix";
    obj["level"]=$cLevel;
    obj["mainTableRFields"]=
#end if
        [#for i in range(len($contents))#"$vals[i][7]",#end for#];
#if $prefix==""
    var $(prefix)mainTableFields=
#else
    obj["mainTableFields"]=
#end if
	[
#for i in range(len($contents))
       	  {
		"mData": "$vals[i][7]",
	  	"sNname": "$vals[i][7]",
	  	"sTitle": "$(vals[i][1])",
	  	"sWidth": "$vals[i][6]"
	  },
#end for
        ];
#if $prefix!=""
#try
#set toto=$conf["lenv"]["defined_e"]
#set toto=$conf["lenv"]["defined_ie"]
#except
#set c=$conf["lenv"]
#set $c["defined_e"]=False
#set $c["defined_ie"]=False
#end try
#if not($isInput) and not($conf["lenv"]["defined_e"])
    var embeddeds=[];
#set c=$conf["lenv"]
#set $c["defined_e"]=True
#else
#if not($conf["lenv"]["defined_ie"])
    var iembeddeds=[];
#set c=$conf["lenv"]
#set $c["defined_ie"]=True
#end if
#end if
#if not($isInput)
    embeddeds.push(obj);
#else
    iembeddeds.push(obj);
#end if
#end if
</script>

#for i in range(len($contents))
<script type="template/text" id="col_$(i)_template">
$contents[i]
</script>
#end for

<script type="text/template" id="template_layerQuery_display">
<div id="my-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">$zoo._("Query result")</h4>
            </div>
            <div class="modal-body">
	      <ul class="nav nav-tabs" id="myTab" role="tablist">
  	        <li class="nav-item">
    		  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">$zoo._("Table")</a>
  		</li>
  		<li class="nav-item">
    		  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">$zoo._("Graph")</a>
  		</li>
	      </ul>
              <div class="tab-content" id="myTabContent">
	        <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">CONTENT</div>
		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
		 <div id="layerQueryParameters">
		   <div class="col-sm-3">
		    $zoo._("Title:")
		   </div>
		   <div class="col-sm-9">
		   <input id="queryLayerDiagramTitle" class="form-control" type="text" placeholder="Title" />
		   </div>
		   <div class="col-sm-3">
		    $zoo._("Type:")
		   </div>
		   <div class="col-sm-9">
		   <select id="queryLayerDiagramType" class="form-control">
		    <option value="column">$zoo._("Column")</option>
		    <option value="bar">$zoo._("Bar")</option>
		    <option value="pie">$zoo._("Pie")</option>
		   </select>
		   </div>
		   <div class="col-sm-1">
		    $zoo._("X:")
		   </div>
		   <div class="col-sm-3">
		   <select id="queryLayerDiagramX" class="form-control"/>
		   </div>
		   <div class="col-sm-1">
		    $zoo._("Y:")
		   </div>
		   <div class="col-sm-3">
		   <select id="queryLayerDiagramY" class="form-control"/>
		   </div>
		   <div class="col-sm-3">
		     <button type="button" class="btn btn-default">$zoo._("Apply")</button>
		   </div>
		 </div>
		 <div id="layerQueryDiagram" style="width:550px"></div>
		</div>
	      </div>	      
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">$zoo._("Close")</button>
                <button type="button" class="btn btn-primary">$zoo._("Save changes")</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</script>

