#import zoo
<div id="connexion-form">
<form action="#" method="post" class="" onsubmit="return false;" >
#if "senv" in $conf.keys() and "loggedin" in $conf["senv"].keys() and $conf["senv"]["loggedin"]=="true"
#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set prefix=$auth.getPrefix($conf)
#set cur=con.cur
#if "senv" in $conf.keys() and "login" in $conf["senv"].keys()

#set ret=con.pexecute_req(["SELECT mail,login from "+$prefix+"users where login=[_login_]",{"login":{"value":$conf["senv"]["login"],"format":"s"}}])
#*set ret=cur.execute("SELECT mail,login from "+$prefix+"users where login='"+$conf["senv"]["login"]+"'")
#set res=cur.fetchall()
*#
#set res=con.cur.fetchall()
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/auth/preferences.html",searchList={"res": $res,"conf":$conf,"inputs":$inputs}))

#end if
#else

$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/auth/login.html",searchList={"conf":$conf}))

#end if
</form>
</div>
