{{#ProcessDescriptions}}
{{#ProcessDescriptions.ProcessDescription}}

<ul>
  <li>Version: {{_wps:processVersion}}</li>
  <li>Store supported: {{_storeSupported}}</li>
  <li>Status supported: {{_statusSupported}}</li>
  
  <li>Identifier: {{Identifier}}</li>
  <li>Title: {{Title}}</li>
  <li>Abstract: {{Abstract}}</li>

  {{#Profile}}
  <li>Profile: {{Profile}}</li>
  {{/Profile}}
  
  {{#DataInputs}}
  <li>DataInputs
    <ul>
      {{#Input}}
      <li>Input
        <ul>
          <li>minOccurs: {{_minOccurs}}</li>
          <li>maxOccurs: {{_maxOccurs}}</li>
          <li>Identifier: {{Identifier}}</li>
          <li>Title: {{Title}}</li>
          <li>Abstract: {{Abstract}}</li>
          {{#LiteralData}}
          <li>LiteralData
            <ul>
              <li>DataType: {{DataType}}</li>
              {{#AnyValue}}
              <li>AnyValue</li>
              {{/AnyValue}}
            </ul>
          </li>
          {{/LiteralData}}
          
          {{#ComplexData}}
          <li>ComplexData
            <ul>
              {{#Default.Format}}
              <li>Default
                <ul>
                  <li>Format
                    <ul>
                      {{#Encoding}}
                      <li>Encoding: {{Encoding}}</li>
                      {{/Encoding}}
                      {{#MimeType}}
                      <li>MimeType: {{MimeType}}</li>
                      {{/MimeType}}
                      {{#Schema}}
                      <li>Schema: {{Schema}}</li>
                      {{/Schema}}                  
                    </ul>
                  </li>
                </ul>
              </li>
              {{/Default.Format}}
              <li>Supported
                <ul>
                  <li>Format
                    {{#ComplexData.Supported.Format}}
                    <ul>
                      {{#Encoding}}
                      <li>Encoding: {{Encoding}}</li>
                      {{/Encoding}}
                      {{#MimeType}}
                      <li>MimeType: {{MimeType}}</li>
                      {{/MimeType}}
                      {{#Schema}}
                      <li>Schema: {{Schema}}</li>
                      {{/Schema}}
                    </ul>
                    {{/ComplexData.Supported.Format}}
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          {{/ComplexData}}
        </ul>
      </li>
      {{/Input}}
    </ul>
  </li>
  {{/DataInputs}}
  
  <li>ProcessOutputs
    <ul>
      {{#ProcessOutputs.Output}}
      <li>Output
        <ul>
          <li>Identifier: {{Identifier}}</li>
          <li>Title: {{Title}}</li>
          <li>Abstract: {{Abstract}}</li>
          {{#LiteralOutput}}
          <li>LiteralOutput
            <ul>
              <li>DataType: {{DataType}}</li>
            </ul>
          </li>
          {{/LiteralOutput}}
          
          {{#ComplexOutput}}
          <li>ComplexOutput
            <ul>
              {{#Default.Format}}
              <li>Default
                <ul>
                  <li>Format
                    <ul>
                      {{#Encoding}}
                      <li>Encoding: {{Encoding}}</li>
                      {{/Encoding}}
                      {{#MimeType}}
                      <li>MimeType: {{MimeType}}</li>
                      {{/MimeType}}
                      {{#Schema}}
                      <li>Schema: {{Schema}}</li>
                      {{/Schema}}
                    </ul>
                  </li>
                </ul>
              </li>
              {{/Default.Format}}
              <li>Supported
                <ul>
                  {{#Supported.Format}}
                  <li>Format
                    <ul>
                      {{#Encoding}}
                      <li>Encoding: {{Encoding}}</li>
                      {{/Encoding}}
                      {{#MimeType}}
                      <li>MimeType: {{MimeType}}</li>
                      {{/MimeType}}
                      {{#Schema}}
                      <li>Schema: {{Schema}}</li>
                      {{/Schema}}
                    </ul>
                  </li>
                  {{/Supported.Format}}
                </ul>
              </li>
            </ul>
          </li>
          {{/ComplexOutput}}
          
          {{#BoundingBoxOutput}}
          <li>BoundingBoxOutput
            <ul>
              {{#Default}}
              <li>Default
                <ul>
                  <li>{{CRS}}</li>
                </ul>
              </li>
              {{/Default}}
              {{#Supported}}
              <li>Supported
                <ul>
                  <li>{{CRS}}</li>
                </ul>
              </li>
              {{/Supported}}
            </ul>
          </li>
          {{/BoundingBoxOutput}}
        </ul>
      </li>
      {{/ProcessOutputs.Output}}
    </ul>
  </li>
</ul>
{{/ProcessDescriptions.ProcessDescription}}
{{/ProcessDescriptions}}