<wps:Execute
	xmlns:wps="http://www.opengis.net/wps/2.0"
	xmlns:ows="http://www.opengis.net/ows/2.0"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.opengis.net/wps/2.0 ../wps.xsd"
	
	service="WPS"
	version="2.0.0"
	response="{{#RawDataOutput}}{{/RawDataOutput}}{{^RawDataOutput}}document{{/RawDataOutput}}"
	mode="{{#mode}}{{mode}}{{/mode}}{{^mode}}sync{{/mode}}">

	<ows:Identifier>{{Identifier}}</ows:Identifier>
{{#DataInputs}}
{{#is_literal}}
		<wps:Input id="{{identifier}}">
			<wps:Data>{{value}}</wps:Data>
		</wps:Input>
{{/is_literal}}
{{#is_bbox}}
		<wps:Input id="{{identifier}}">
			<wps:Data>
				<wps:BoundingBoxData ows:crs="{{crs}}" ows:dimensions="{{dimension}}">
            <ows:LowerCorner>{{lowerCorner}}</ows:LowerCorner>
            <ows:UpperCorner>{{upperCorner}}</ows:UpperCorner>
         </wps:BoundingBoxData>
			</wps:Data>
		</wps:Input>
{{/is_bbox}}
{{#is_complex}}
{{#is_reference}}
{{#is_get}}
		<wps:Input id="{{identifier}}">
			<wps:Reference xlink:href="{{href}}"/>
		</wps:Input>
{{/is_get}}
{{#is_post}}
		<wps:Input id="{{identifier}}">
			<wps:Reference xlink:href="{{href}}" method="{{method}}">
{{#mimeType}}
			  <wps:Header key="Content-type" value="{{mimeType}}" />
{{/mimeType}}
			  <wps:Body>{{{complexPayload}}}</wps:Body>
			</wps:Reference>
		</wps:Input>
{{/is_post}}
{{/is_reference}}
{{^is_reference}}
		<wps:Input id="{{identifier}}">
      <wps:Data>
        <wps:ComplexData{{#schema}} schema="{{shema}}"{{/schema}}{{#mimeType}} mimeType="{{mimeType}}"{{/mimeType}}{{#encoding}} encoding="{{encoding}}"{{/encoding}}>
        	{{{complexPayload}}}
        </wps:ComplexData>
      </wps:Data>
    </wps:Input>
{{/is_reference}}
{{/is_complex}}
{{/DataInputs}}
{{#DataOutputs}}
      <wps:Output id="{{identifier}}" transmission="{{#asReference}}{{asReference}}{{/asReference}}{{^asReference}}value{{/asReference}}"{{#schema}} schema="{{schema}}"{{/schema}}{{#mimeType}} mimeType="{{mimeType}}"{{/mimeType}}{{#encoding}} encoding="{{encoding}}"{{/encoding}}{{#uom}} uom="{{uom}}"{{/uom}} />
{{/DataOutputs}}
</wps:Execute>