<wps:Execute service="WPS" version="1.0.0" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0
../wpsExecute_request.xsd">
  <!-- template-version: 0.21 -->
	<ows:Identifier>{{Identifier}}</ows:Identifier>
	<wps:DataInputs>
{{#DataInputs}}
{{#is_literal}}
		<wps:Input>
			<ows:Identifier>{{identifier}}</ows:Identifier>
			<wps:Data>
				<wps:LiteralData{{#dataType}} dataType="{{dataType}}"{{/dataType}}>{{value}}</wps:LiteralData>
			</wps:Data>
		</wps:Input>
{{/is_literal}}
{{#is_bbox}}
		<wps:Input>
			<ows:Identifier>{{identifier}}</ows:Identifier>
			<wps:Data>
				<wps:BoundingBoxData ows:crs="{{crs}}" ows:dimensions="{{dimension}}">
            <ows:LowerCorner>{{lowerCorner}}</ows:LowerCorner>
            <ows:UpperCorner>{{upperCorner}}</ows:UpperCorner>
         </wps:BoundingBoxData>
			</wps:Data>
		</wps:Input>
{{/is_bbox}}
{{#is_complex}}
{{#is_reference}}
{{#is_get}}
		<wps:Input>
			<ows:Identifier>{{identifier}}</ows:Identifier>
			<wps:Reference xlink:href="{{href}}"/>
		</wps:Input>
{{/is_get}}
{{#is_post}}
		<wps:Input>
			<ows:Identifier>{{identifier}}</ows:Identifier>
			<wps:Reference xlink:href="{{href}}" method="{{method}}">
{{#mimeType}}
			  <wps:Header key="Content-type" value="{{mimeType}}" />
{{/mimeType}}
			  <wps:Body>{{{complexPayload}}}</wps:Body>
			</wps:Reference>
		</wps:Input>
{{/is_post}}
{{/is_reference}}
{{^is_reference}}
		<wps:Input>
      <ows:Identifier>{{identifier}}</ows:Identifier>
      <wps:Data>
        <wps:ComplexData{{#schema}} schema="{{shema}}"{{/schema}}{{#mimeType}} mimeType="{{mimeType}}"{{/mimeType}}{{#encoding}} encoding="{{encoding}}"{{/encoding}}>
        	{{{complexPayload}}}
        </wps:ComplexData>
      </wps:Data>
    </wps:Input>
{{/is_reference}}
{{/is_complex}}
{{/DataInputs}}
	</wps:DataInputs>	
	<wps:ResponseForm>
{{#RawDataOutput}}
    <wps:RawDataOutput mimeType="{{mimeType}}">
      <ows:Identifier>{{identifier}}</ows:Identifier>
    </wps:RawDataOutput>
{{/RawDataOutput}}
{{^RawDataOutput}}
    <wps:ResponseDocument{{#storeExecuteResponse}} storeExecuteResponse="{{storeExecuteResponse}}"{{/storeExecuteResponse}}{{#lineage}} lineage="{{lineage}}"{{/lineage}}{{#status}} status="{{status}}"{{/status}}>
{{#DataOutputs}}
{{#is_literal}}
      <wps:Output>
        <ows:Identifier>{{identifier}}</ows:Identifier>
      </wps:Output>
{{/is_literal}}
{{^is_literal}}
      <wps:Output{{#asReference}} asReference="{{asReference}}"{{/asReference}}{{#schema}} schema="{{schema}}"{{/schema}}{{#mimeType}} mimeType="{{mimeType}}"{{/mimeType}}{{#encoding}} encoding="{{encoding}}"{{/encoding}}>
        <ows:Identifier>{{identifier}}</ows:Identifier>
      </wps:Output>
{{/is_literal}}
{{/DataOutputs}}
    </wps:ResponseDocument>
{{/RawDataOutput}}
  </wps:ResponseForm>	
</wps:Execute>