#loading{
    position:absolute;
    top: 10px;
    left: 10px;
    width:200px;
    font-size:.8em;
color:#707070;
	z-index:1000;
background:#FFFFFF;
border-radius:5px;
}

.tipsy{font-size:13px !important;}

#loading ul{list-style:none;}

.copy p {
    padding: 6px 0 10px 0;
}

#coords{float:left;padding:0 5px 0 0;color:#FFFFFF;font-size:.8em;text-shadow:#000000 0 1px 0;display:inline;position:absolute;right:100px !important;bottom:16px;}

#base_layers{
    position: absolute;
    top: 10px;
    right:10px;
}
