    
div#map{width:100%;height:100%;margin:0;padding:0;}

div#header {
position:absolute; top:15px; left:15px;width:auto;min-width:380px; height:82px;background: #83c849; z-index:1000; overflow: hidden;display:block;
-moz-border-radius:5px;
-webkit-border-radius:5px;
behavior: url(./border-radius.htc);
border-radius:5px;
}
   
div#header img{float:left;margin:12px 0 0 15px;display:inline-block;}

div#header h1{font-size:1.4em;margin:0;padding:5px;color:#FFFFFF;position:relative;top:3px;left:20px;line-height:1.3em;}

.fg-toolbar {
	z-index:1000;
	position:relative;
	top:0;
	left:10px;
	width:100%;
	height:45px;
	padding:0;
	margin:0;
}

.nav{position:absolute;top:32px;left:85px !important;width:auto;display:block;}

div.olControlMMPanZoom {
    top: 125px !important;
    left:15px;
    display: block;
    position: absolute;
}


div#ls-container{position:absolute;top:10px; right:10px;width:auto;z-index:1000;}
div#ls-container table.slid{position:absolute;top:110px;left:100px;margin:0;padding:0;width:160px;}
div#ls-container table td.sli{width:100px;}

#search-container{
position:absolute;
left: 50%;
margin-left: -130px;
top: 10px;
width:260px;max-width:260px;
height:82px;background: transparent url('img/bckm.png'); z-index:1000; overflow: hidden;display:block;
border-radius:5px;}

#search-container p{margin:10px 0 10px 0;}
 
#coords{float:left;padding:0 5px 0 0;color:#FFFFFF;font-size:.8em;text-shadow:#000000 0 1px 0;display:inline;position:absolute;right:70px !important;bottom:16px;}

#loading{
position: absolute;
top: 100px;
left: 120px;
width:auto;
height:auto;
background:url('img/bckw.png');
text-align: left;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:none;
z-index:100000000;
font-size: 11px;
color:#707070;
}
                
#loading ul{
    list-style: none;
    margin: 0;
    padding: 1em;
}

ul.ui-autocomplete{overflow:auto;max-height:300px;}
