img.logo {
float: left;
position: relative;
top: 5px;
left: 5px;
}


#coords {
float: left;
padding: 0 2px 0 0;
color: white;
font-size: .8em;
text-shadow: #333 0 1px 0;
display: inline;
position: absolute;
right: 10px;
bottom: 50px;
}
.ui-footer {
height: 68px;
}

.ui-bar-f {
border-top: 1px solid #56A00E;
border-bottom: 1px solid #56A00E;
background: #74B042;
color: white;
font-weight: bold;
text-shadow: 0 -1px 1px #234403;
background-image: -webkit-gradient(linear, left top, left bottom, from(#74B042), to(#56A00E));
background-image: -webkit-linear-gradient(#74B042, #56A00E);
background-image: -moz-linear-gradient(#74B042, #56A00E);
background-image: -ms-linear-gradient(#74B042, #56A00E);
background-image: -o-linear-gradient(#74B042, #56A00E);
background-image: linear-gradient(#74B042, #56A00E);
}

.ui-content{
padding: 0px;
}

.ui-icon-layers{
    background-image: url(img/layers-icon.png) !important;
}

.ui-icon-startPoint{
    background-image: url(img/startMarker-small.png);
}
.ui-icon-endPoint{
    background-image: url(img/endMarker-small.png);
}
.ui-icon-interPoint{
    background-image: url(img/interMarker-small.png);
}

.scalebar-container {
    bottom: 5px;
}

.page{
    overflow: none;
}

.baselayer_icon{
    display: block;
    float: left;
    height: 20px;
    margin-right: 15px;
    margin-top: -5px;
    width: 20px;
}


.ui-icon-check {
    opacity: 0.3;
}
.checked .ui-icon-check {
    opacity: 1;
}

.layersPage .ui-content {
padding: 0px 15px 0px 15px;
}

.layersPage .hidden{
    display: none;
}

.hidden{
    display: none;
}


.mmCompassContainer{
    background: url('../img/mmCompassBg0.png') no-repeat;
    width: 42px;
    height: 42px;
    margin-left: 5px;
    margin-top: -5px;
}

#mmCompassContainer{
    cursor: move;
}
#imgLogo{
    position: absolute;
    left: 7px;
    top: 7px;
}

/**
  * Compass
  */
#compass {
    background-image:-webkit-radial-gradient(30% 30%, #FFEE72, #666900);
    margin-left: 5px;
    border-radius:130px;
    width:60px;
    height:60px;
    display:block;
}
@media (orientation:landscape) {
    #compass {
	margin-top:-2px;
    }
}
@media (orientation:portrait) {
    #compass {
	margin-top:-2px;
    }
}
#spinner {
    background-image:-webkit-radial-gradient(30% 30%, #FFF6F4, #D1C790);
    box-shadow:0 0 1px #444 inset;
    position:relative;
    top:5px;
    left:5px;
    border-radius:100px;
    width:50px;
    height:50px;
    -webkit-transition: all 0.2s ease-in-out;
}
#pin {
    background-image:-webkit-radial-gradient(30% 30%, #FFEE72, #666900);
    box-shadow:0 0 1px #444;
    position:relative;
    top:22.5px;
    left:22.5px;
    border-radius:5px;
    width:5px;
    height:5px;
}
.degree, .point, .arrow {
    position:absolute;
    left:15px;
    width:20px;
    text-align:center;
    top:2.5px;
    -webkit-transform-origin:10px 47.5px;
}
.degree {
    color:#222;
}
.point {
    top:-1px;
    -webkit-transform-origin:10px 27.5px;
    font-size:10px;
}
.point.main {
    font-weight:bold;
    font-size: 16px;
}
.arrow {
    left:23.75px;
    top:-7.5px;
    -webkit-transform-origin:2.5px 32.5px;
    width: 0;
    height: 0;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
    border-bottom: 2.5px solid #777;
}
.arrow.main {
    border-bottom: 5px solid #444;
}


/**
  * Slider
  */

#slider-0{
    position: absolute;
    top: 10px;
    left: 70px;
    width: 56px;
    display: none;
}

div.ui-slider{
    position: absolute;
    top: 2px;
    right: 55px;
    width: 125px;
}

@media (orientation:portrait) {
    #slider-0 {
	margin-top:-2px;
	width: 125px;
    }
div.ui-slider{
    position: absolute;
    top: 2px;
    right: 75px;
    width: 125px;
}
}


.ui-controlgroup-horizontal .ui-controlgroup-last {
margin: 0;
top: 0px;
}

.ui-btn-active{background:#74B042;}

.ui-focus{-moz-box-shadow:0 0 12px #74B042;-webkit-box-shadow:0 0 12px #74B042;box-shadow:0 0 12px #74B042}


.olcontrolscalebarlabelbox {
height: 15px;
top: -2px;
font-size: .8em;
font-weight: normal;
color: white;
}

.olcontrolscalebarnumbersbox {
height: 13px;
width: 40px;
top: 24px;
font-size: .7em;
font-weight: normal;
color: white;
}

.scalebar-container {
    background: transparent;
}


.ui-loader {
    z-index: 10000;
}