/** {
	margin: 0;
	padding: 0;
}

body {
}

*/

.innerTree{
    height: 110px;
    width: 320px;
    overflow: auto;
}

#timeliners{
    background: #FFFFFF;
    font-family: 'Open Sans', serif;
    color: #fff;
    font-size: 14px;
    position:absolute;
    bottom: 50px;
    left:10px !important;
    z-index: 999999;
float:left;
}

.timeline {
    width: 400px;
    height: 180px;
    overflow: hidden;
    margin: 5px 0;
    position: relative;
    background: url('./img/dot.gif') left 59px repeat-x;
}

.timeline a {
	color: #92B57A;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.timeline a:hover,
.timeline a.t_selected {
    color: #598E33;
}

.timeline h1,.timeline h2,.timeline h4,.timeline h5,.timeline h6 {
	text-align: center;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}

.timeline h1 {
    font-size: 18px;
}

.timeline h2 {
    font-size: 14px;
}

.timeline .sociales {
	text-align: center;
	margin-bottom: 20px;
}

.dates {
    width: 400px;
    height: 40px;
    overflow: hidden;
}
.dates li.std {
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('./img/biggerdot.png') center bottom no-repeat;
}
.dates a {
    line-height: 38px;
    padding-bottom: 10px;
}
.dates .t_selected {
    font-size: 38px;
}

.issues {
    width: 400px;
    height: 350px;
    overflow: hidden;
}	
.issues li.std {
    width: 400px;
    height: 180px;
    list-style: none;
    float: left;
}
.issues li.std.t_selected img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.issues li.std img {
    float: left;
    margin: 10px 30px 10px 50px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out; 
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.7,0.7);
    -moz-transform: scale(0.7,0.7);
    -o-transform: scale(0.7,0.7);
    -ms-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
}
.issues li.std h1 {
    color: #ffcc00;
    font-size: 48px;
    margin: 20px 0;
    text-shadow: #000 1px 1px 2px;
}
.issues li.std p {
    font-size: 14px;
    margin-right: 70px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
}

#grad_left,
#grad_right {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
}
#grad_left {
    left: 0;
    background: url('./img/grad_left.png') repeat-y;
}
#grad_right {
    right: 0;
    background: url('./img/grad_right.png') repeat-y;
}

#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 70px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
#next:hover,
#prev:hover {
    background-position: 0 -76px;
}
#next {
    right: 0;
    background-image: url('./img/next.png');
}
#prev {
    left: 0;
    background-image: url('./img/prev.png');
}
#next.disabled,
#prev.disabled {
    opacity: 0.2;
}
