#import zoo
#import datastores.directories.service as ds
#import os
#import mm_access 

#set tmpl=$conf['main']['templatesPath']+"/Distiller/form_line.html"
#include $tmpl
#set ftmpl=$self._CHEETAH__cheetahIncludes[$tmpl]

#def listDir($conf,$dir,$level)
#if $mm_access.checkDataStorePriv($conf,$dir,"rx")
#set res=ds.mmListDir($dir)
      <ul class="list-group level-$level">
#for i in $res
#if $os.path.isdir(os.path.join($dir,$i))
	<li class="list-group-item">
	<input type="radio" name="browse" value="$os.path.join($dir,$i)" />
#set res1=ds.mmListDir(os.path.join($dir,$i))
#set res2=[]
#for j in $res1
#if $os.path.isdir(os.path.join(os.path.join($dir,$i),$j))
#set res2+=[$j]
#end if
#end for
	<i class="fa fa-folder#if len(res2)>0#-open#end if# fa-fw"> </i>
	$i
#if len(res2)>0
	<a href="#">
	<span class="fa arrow"></span>
	</a>
#end if
	$listDir($conf,os.path.join($dir,$i),$level+1)
	</li>
#end if		
#end for
      </ul>
#end if    
#end def


<div>
  <h2>$zoo._("Add new directory")</h2>
  <form class="form-horizontal mtpp" action="" method="#" >
    $ftmpl.printLine({"id":"name","name":$zoo._("Name")})
    <div class="form-group">
      <label class="col-sm-3 control-label">$zoo._("Directory")</label>
      <div class="col-sm-9 ">
	<input type="radio" name="Distiller.form.type" id="Distiller.form.type" onclick="\$(this).parent().parent().next().hide();\$(this).parent().parent().next().next().show();" value="use" checked="checked"/>$zoo._("Browse")
	<input type="radio" name="Distiller.form.type"
  id="Distiller.form.type" value="new"
  onclick="\$(this).parent().parent().next().show();\$(this).parent().parent().next().next().hide();"
  />$zoo._("New")
      </div>
    </div>
    $ftmpl.printLine({"id":"path","name":$zoo._("Path"),"classe":"collapse"})
    <div class="form-group">
      <label class="col-sm-3 control-label">$zoo._("Path")</label>
      <div class="col-sm-9 ">
#set dir=$conf["main"]["dataPath"]+"/ftp/"
       $listDir($conf,$dir,0)
      </div>
    </div>
    $ftmpl.printButton({"id":"add","name":$zoo._("Add")}) 
  </form>
</div>
