#import mapscript
#set lcount=0
#set nbBL=0
#if $m.web.metadata.get('mmOSMBaseLayers')=="true"
#set nbBL=$nbBL+1
#end if
#for i in ('mmMBaseLayers','mmPBaseLayers','mmBProject')
#try
#if $m.web.metadata.get($i)!=""
#for k in $m.web.metadata.get($i).split(",")
#set nbBL=$nbBL+1
#end for
#end if
#except
#pass
#end try
#end for
#if nbBL>1
#if $getVar('bpLayer','Untitled') != "Untitled"
#if $bpLayer == "google"
#set lname="g"
#else
#if $bpLayer == "bing"
#set lname="b"
#else
#if $bpLayer == "ign"
#set lname="i"
#end if
#end if
#end if
#end if
#if $getVar('lname','Untitled') != "Untitled"
#set a=$conf["mm"]["b"+$lname+"Layers"].split(",")
#set b=$conf["mm"]["b"+$lname+"LayerAlias"].split(",")
#if $m.web.metadata.get('mmMBaseLayers')
#set setM=$m.web.metadata.get('mmMBaseLayers').split(',')
#else
#set setM=[]
#end if
#for i in range(0,len(a))
#if $setM.count($b[$i])
	  <img title="$b[$i]" class="base_layer" src="$conf["main"]["publicationUrl"]/img/$a[$i]_preview.png" alt="" />
#$lcount+=1
#end if
#end for
#end if
#set a=$conf["mm"]["bmLayerAlias"].split(',')
#set b=$conf["mm"]["bmLayers"].split(',')
#set a1=[$conf["mm"]["boLayers"]]+$b
#set b1=[$conf["mm"]["boLayerAlias"]]+$a
#if $m.web.metadata.get('mmMBaseLayers')
#set setM=$m.web.metadata.get('mmMBaseLayers').split(',')
#else
#set setM=[]
#end if
#for i in range(0,len(a1))
#if $i>=1 and i<=2
#if $setM.count($a1[$i])
$Template(file=$conf['main']['templatesPath']+"/preview/baselayer_html5.tmpl",searchList={"t": $conf["mm"]["bmName"]+" "+$b1[$i],"l": $a1[$i],"lcount": $lcount})
#set lcount=$lcount+1
#end if
#else
#if $m.web.metadata.get('mmOSMBaseLayers')=="true"
$Template(file=$conf['main']['templatesPath']+"/preview/baselayer_html5.tmpl",searchList={"t": $b1[$i],"l": $a1[$i],"lcount": $lcount})
#set lcount=$lcount+1
#end if
#end if
#end for
#if $m.web.metadata.get('mmPBaseLayers')
#set setM=$m.web.metadata.get('mmPBaseLayers').split(',')
#if $m.web.metadata.get('mmProprietaryBaseLayers')=="Google"
#set a2=$conf["mm"]["bgLayers"].split(',')
#set b2=$conf["mm"]["bgLayerAlias"].split(',')
#else
#if $m.web.metadata.get('mmProprietaryBaseLayers')=="Bing"
#set a2=$conf["mm"]["bbLayers"].split(',')
#set b2=$conf["mm"]["bbLayerAlias"].split(',')
#else
#if $m.web.metadata.get('mmProprietaryBaseLayers')=="IGN"
#set a2=$conf["mm"]["biLayers"].split(',')
#set b2=$conf["mm"]["biLayerAlias"].split(',')
#else
#set a2=[]
#end if
#end if
#end if
#else
#set a2=[]
#end if
#for i in range(0,len($a2))
#if $setM.count($a2[$i])>0
#if $m.web.metadata.get('mmProprietaryBaseLayers')=="Google"
$Template(file=$conf['main']['templatesPath']+"/preview/baselayer_html5.tmpl",searchList={"t": $conf["mm"]["bgName"]+" "+$b2[$i],"l": $a2[$i],"lcount": $lcount})
#else
#if $m.web.metadata.get('mmProprietaryBaseLayers')=="Bing"
$Template(file=$conf['main']['templatesPath']+"/preview/baselayer_html5.tmpl",searchList={"t": $conf["mm"]["bbName"]+" "+$b2[$i],"l": $a2[$i],"lcount": $lcount})
#else
$Template(file=$conf['main']['templatesPath']+"/preview/baselayer_html5.tmpl",searchList={"t": $conf["mm"]["biName"]+" "+$b2[$i],"l": $conf["mm"]["biName"]+$a2[$i],"lcount": $lcount})
#end if
#end if
#set lcount=$lcount+1
#end if
#end for
#if $m.web.metadata.get('mmBProject')
#set lss=$m.web.metadata.get('mmBProject').split(",")
#for ls in $lss
#set m1=mapscript.mapObj(os.readlink($conf["main"]["dataPath"]+"/public_maps/"+$ls))
#set ts=m1.web.metadata.get('mmTitle')
$Template(file=$conf['main']['templatesPath']+"/preview/baselayer_html5.tmpl",searchList={"t": $ts,"l": $ls,"lcount": $lcount}) 
#set lcount=$lcount+1
#end for
#end if
#end if
