<li class="#if $lcount+1==$default#active#end if# list-group-item" id="bl_$lcount">
#try
#set a=$l.split("|")[0]
#set b=$l.split("|")[1]
#try
#set c=$l.split("|")[3]
#except
#set c=$l.split("|")[2]
#end try
#set element=$b
#set $l=$a
#set $t=$c
#except
#set element=None
#end try
<a href="#" class="base_layer#if $lcount==$default# bl_selected#end if#" data-toggle="tooltip" data-placement="top" title="$t" id="base_layer_$(l.replace(".","_"))" #if element is not None#data-ref="$element"#end if#>
<span class="col-xs-2 col-md-2">
<img class="img-responsive" id="base_layer_${l.replace(".","_")}_img" src="" />
</span>
<span class="col-xs-10 col-md-10 base_layer_title">$t</span>
</a>
</li>
