	<li onclick="#if $t.count("IGN")>0#map.projection='EPSG:900914';#else#map.projection='EPSG:900913';#end if#map.setBaseLayer(System.baseLayers[$lcount],true);\$(this).parent().find('li').each(function(){\$(this).removeClass('checked');});\$(this).addClass('checked');" data-icon="check" class=" base_layer  #if $lcount==0#checked#end if#"><a href="#mapPage"><span class="baselayer_icon" id="base_layer_$(l.replace(".","_"))"></span>$t</a></li>
