<li class="#if $lcount==0#ui-state-active#end if# base_layer" id="bl_$lcount">
<a href="#" class="btn btn-bl #if $lcount==0#bl_selected#end if#" data-toggle="tooltip" data-placement="top" title="$t" id="base_layer_$(l.replace(".","_"))">
</a>
</li>
