       <div class="ui-state-default fg-button ui-corner-all fg-button-icon-solo #if $lcount==0#ui-state-active#end if# base_layer" onclick="map.setBaseLayer(System.baseLayers[$lcount],true);" class=" base_layer #if $lcount==0#base_layer_selected#end if#" id="base_layer_$(l.replace(".","_"))" title="$t"></div>
