#encoding UTF-8
#import zoo,mapscript
#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
#set req="SELECT name from indicateurs where id="+$inputs["id"]["value"]
#set res=$cur.execute(req)
#set vals=$cur.fetchall()
#set res1=$conf["main"]["dataPath"]+"/indexes_maps/project_PIndex"+$inputs["id"]["value"]+".map"
#set pref=""
#if "tid" in $inputs.keys()
#set pref="A"+$inputs["tid"]["value"]+"_"
#end if
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/indexes_maps/project_"+pref+"PIndex"+$inputs["id"]["value"]+".map")
#set layer=$m.getLayer(0)
#set res1=$layer.metadata.get('mmClass')
#if $res1!="tl"
#set resf=[{"id": 0,"text": $vals[0][0],"iconCls": "tree_group","children":[]}]
#else
#set resf=[{"id": 0,"text": $vals[0][0],"iconCls": "timeline","children":[]}]
#end if
#if $res1!="tl"
#set res2=$resf[0]["children"]
#for i in range(0,$layer.numclasses)
#set $res2+=[{"id": $i,"text": unicode($layer.getClass($i).name.decode('utf-8')),"iconCls": "tree_layer_class tree_cindex_class"+str($i)}]
#end for
#end if
#import json
$json.dumps($resf,ensure_ascii=False).encode('utf-8')
