#import json,mapscript
#if $inputs["map"]["value"].count($conf["main"]["dataPath"])>0
#set m=mapscript.mapObj($inputs["map"]["value"])
#set l=$m.getLayerByName($inputs["layer"]["value"])
#else
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$inputs["map"]["value"]+".map")
#set l=$m.getLayer(int($inputs["layer"]["value"]))
#end if
#set tmp=$l.metadata.get("mmEFields")
#set mmfields=[]
#if $tmp is not None
#for i in $l.metadata.get("mmEFields").split(',')
#if i!=""
#set $mmfields+=[i]
#end if
#end for
#end if
["$l.connection","SELECT #if tmp is not None#$(','.join($mmfields))#else#*#end if# from $l.data"];