#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
#set res=$cur.execute("SELECT name, content from "+$prefix+"ilinks where short='"+$inputs["idp"]["value"]+"'")
#set $vals=$cur.fetchall()
	  <div class="post" style="height: 540px;overflow-y: hidden;">
	    <h2 class="htxt">$vals[0][0] <a href="#" class="home mbutt more" onclick="try{System.flipMainContent()}catch(e){alert(e);}">retour</a> </h2>
	    <div style="height: 505px;overflow-y: auto;padding: 5px">$vals[0][1].replace("\\n","</p><p>")</div>
	  </div>
