#import zoo
#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$conf["senv"]["last_map"]+".map")

#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title="Preview"
#end if

<!-- $(searchList[len($searchList)-1]["m"]=m) -->
<!-- $(searchList[len($searchList)-1]["tmpl"]="largemap") -->
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/default_header.tmpl",searchList=$searchList))

<body onload="init()">
#if $m.web.metadata.get('mmNav')
#set nav=$m.web.metadata.get('mmNav').split(',')
#else
#set nav=[]
#end if

<div class="ui-layout-north">
<img src="$conf["main"]["applicationAddress"]/img/mapmint-logo.png" />
<h1>$title</h1>

#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/toolbar.tmpl",searchList=$searchList))

#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/other_tools/SearchBox.tmpl",searchList={"m": $m}))

$(Template(file=$conf["main"]["templatesPath"]+"/preview/toolbars/layer.tmpl",searchList=$searchList))

</div>
        

<div class="ui-layout-center">
<div id="loading" style="dispay:none">
	<div>
		<div id="progress_txt"></div>
	</div>
</div>

<div id="map"></div>

$Template(file=$conf['main']['templatesPath']+"/preview/modules/other_tools/display.html",searchList={"m": $m,"conf": $conf})

<div id="ls-container">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/layerswitcher.tmpl",searchList=$searchList))
</div>

<div class="btm">
<div class="lft"></div>
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/copyright.tmpl",searchList=$searchList))
<div id="coords"></div>
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/other_tools/overviewmap_button.tmpl",searchList={"m":$m,"nav":$nav,"conf":$conf}))
</div>

$(Template(file=$conf["main"]["templatesPath"]+"/preview/default_footer.tmpl",searchList={"m":$m,"nav":$nav,"conf":$conf}))

</body>
</html>

