#encoding UTF-8
#import zoo
#import mapscript
#from Cheetah.Template import Template
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#mm_bs_display" aria-controls="home" role="tab" data-toggle="tab"><span class="symbol-multi">
         <i class="mm0-layers mm-layers-baseonly fa-fw"></i>
         <i class="mm0-layers mm-layers-overlays-only fa-fw symbol-up"></i>
       </span> $zoo._("Base Layers")</a></li>
    <li role="presentation"  class="active"><a href="#mm_layers_display" aria-controls="profile" role="tab" data-toggle="tab"><span class="symbol-multi">
          <i class="mm0-layers mm-layers-overlays-only fa-fw"></i>
          <i class="mm0-layers mm-layers-baseonly fa-fw symbol-up"></i>
        </span> $zoo._("Legend")</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mm_layers_display">
      <div class="well tree-container">
	<ul class="list-group tree">
	  <li class="list-group-item">
	   <ul class="list-group tree">

#from mapfile.service import getMapList
#set linputs={"name": {"value": $conf["senv"]["last_map"]},"prefix": {"value": "public_"}}
#set loutputs={"Result": {"value": ""}}
#set a=getMapList($conf,$linputs,$loutputs)
#set a=eval($loutputs["Result"]["value"])

#for i in range(0,len($a[0]["children"]))


#set cnf=$conf
#set $cnf["lenv"]["lindex"]=str(0)
$Template(file=$conf['main']['templatesPath']+"layer_tree_bs.tmpl",searchList={"m": $m,"elem": $a[0]["children"],"i": $i,"conf": $conf})

#end for
#if $conf["senv"]["last_map"]=="indicateurs"
     <li id="Indicateurs">
     </li>
#end if

	      </ul>
	      </li>
	      </ul>

    </div>

</div>
    <div role="tabpanel" class="tab-pane" id="mm_bs_display">

$Template(file=$conf['main']['templatesPath']+"/preview/baselayers_bs_new.tmpl",searchList={"m": $m,"conf": $conf})

    </div>
  </div>

#if $m.web.metadata.get('mmOT')
#set f0=$m.web.metadata.get('mmOT').split(',')
#if $f0.count('AddLayer')>0 or $f0.count('AddWMSLayer')>0
<script id="addedLayer_item_template" type="template/text">
  <li class="list-group-item addedLayer" id="overlays_[nn]">
    <ul class="list-group tree">
      <li class="list-group-item">
        <input type="checkbox" checked="checked"/><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span>$zoo._("Added layer [n]") </label>
	<button class="pull-right"><i class="fa fa-trash"></i></button>
        <ul class="list-group tree">
          [list]
        </ul>
      </li>
    </ul>
  </li>
</script>
#end if
#end if
</div>