#import mapscript
#if $layer.metadata.get("ows_title") is not None and $layer.metadata.get("ows_title")!=""
#set title=$layer.metadata.get("ows_title")
#else
#set title=$layer.name
#end if
#if $layer.numclasses > 1
#set t=$layer.map.web.metadata.get('mmActivatedLayers','')
	  <li data-icon="check" onclick="\$(this).parent().find('.children$(layer.index+1000)').each(function(){if(\$(this).hasClass('hidden')) {\$(this).removeClass('hidden');}else {\$(this).addClass('hidden');}});if(\$(this).hasClass('checked'))\$(this).removeClass('checked');else \$(this).addClass('checked');try{layersList[this.id.replace(/tree_layer/g,'')].setVisibility(\$(this).hasClass('checked'));}catch(e){}" id="tree_layer$(layer.index)" class="#try#$cls#except# #end try# #if $t.count($layer.name)#checked#end if#" ><a href="#"><span>$title.decode('raw_unicode_escape')</span></a></li>
<!--	  <li data-icon="check" id="layer_$(layer.index)" ><a href="#"><span>$title</span></a></li> -->
#for j in range(0,$layer.numclasses)
	      <li class="#try#$cls#except# #end try# children$(layer.index+1000)"><span class="baselayer_icon tree_layer$(layer.index) tree_layer$(layer.index)_class$j children$(layer.index+1000)"></span>$layer.getClass($j).name</li>
#end for
#else
#set t=$layer.map.web.metadata.get('mmActivatedLayers','')
	  <li data-icon="check" class="#try#$cls#except# #end try# #if $t.count($layer.name)#checked#end if#" onclick="if(\$(this).hasClass('checked'))\$(this).removeClass('checked');else \$(this).addClass('checked');try{layersList[this.id.replace(/tree_layer/g,'')].setVisibility(\$(this).hasClass('checked'));}catch(e){}"  id="tree_layer$(layer.index)"><a href="#"><span class="baselayer_icon tree_layer$(layer.index)"></span> $title</a></li>
#end if
