#encoding UTF-8
#import zoo
#import mapscript
#from Cheetah.Template import Template

  <div id="layerswitcher" class="flipped ipannel">

$Template(file=$conf['main']['templatesPath']+"/preview/baselayers.tmpl",searchList={"m": $m,"conf": $conf})


#from mapfile.service import getMapList
#set linputs={"name": {"value": $conf["senv"]["last_map"]},"prefix": {"value": "public_"}}
#set loutputs={"Result": {"value": ""}}
#set a=getMapList($conf,$linputs,$loutputs)
#set a=eval($loutputs["Result"]["value"])

	     <ul id="layers_list">
#for i in range(0,len($a[0]["children"]))

$Template(file=$conf['main']['templatesPath']+"layer_tree.tmpl",searchList={"m": $m,"elem": $a[0]["children"],"i": $i,"conf": $conf})

#end for
#if $conf["senv"]["last_map"]=="indicateurs"
     <li id="Indicateurs">
     </li>
#end if
	      </ul>

	      <ul id="layers_bg" style="display:none">
#for i in range(0,len($a[0]["children"]))

$Template(file=$conf['main']['templatesPath']+"preview/modules/layer_fees/list.tmpl",searchList={"m": $m,"elem": $a[0]["children"],"i": $i,"conf": $conf})

#end for
#if $conf["senv"]["last_map"]=="indicateurs"
     <li id="IndicateursFees">
     </li>
#end if
	      </ul>
     
        <a href="#" id="swc" class="quickFlipCta vsource">$zoo._("View data sources")</a>
	<div id="ltm" class="easyui-emenu" style="width:120px;">
		<div class="zoomTo" onclick="" iconCls="icon-zoom">$zoo._("Zoom to")</div>
		<div class="opacity" onclick="" iconCls="icon-opacity" style="height: 40px !important;">$zoo._("Opacity:")<span id="opacity_val">100%</span><br/><span id="oslider" style="display:inline-block;width: 80px"></span></div>
	</div>
	<div id="ltm0" class="easyui-emenu" style="width:120px;">
		<div class="layerOrder" onclick="setLayerOrder()" iconCls="icon-order">$zoo._("Layer Order")</div>
	</div>
	<div id="ltm1" class="easyui-emenu" style="width:120px;">
		<div class="zoomTo" onclick="" iconCls="icon-zoom">$zoo._("Zoom to")</div>
		<div class="export" onclick="" iconCls="icon-export">$zoo._("Download data")</div>
		<div class="opacity" onclick="" iconCls="icon-opacity" style="height: 40px !important;">$zoo._("Opacity:")<span id="opacity1_val">100%</span><br/><span id="oslider1" style="display:inline-block;width: 80px"></span></div>
	</div>


    </div>
