#import zoo
#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/public_maps/project_"+$conf["senv"]["last_map"]+".map")
#import mm_access
#if not($mm_access.checkMapPriv($conf,$m))
#set page="/error.tmpl"
#set nameSpace={"conf":$conf, "errorMsg": $zoo._("You're not authorized to access this content")}
$Template(file=$conf["main"]["templatesPath"]+$page,searchList=$nameSpace)
#else
#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title=$zoo._("Preview")
#end if
#set searchList=[{"m": $m}, {"tmpl": "fullscreen"},{"conf": $conf},{"inputs":$inputs}]
#from Cheetah.Template import Template
<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="utf-8" /> 
<title>MapMint | Leftcol title</title> 
<meta name="description" content="mapmint,webgis,app" /> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<link rel="stylesheet" href="css/ol.css">
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-slider.css">
<link rel="stylesheet" href="css/context.bootstrap.css">
<link rel="stylesheet" href="assets/css/bootstrap-window.css">
<link rel="stylesheet" href="css/mapmint-default.css">
<link rel="stylesheet" href="css/mapmint-layout.css">
<style>

</style>
<!--[if lt IE 9]> 
<script src="js/ie/html5shiv.js">
</script> 
<script src="js/ie/respond.min.js">
</script> 
<script src="js/ie/excanvas.js">
</script> <![endif]-->
</head>

<body>

<div id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <i class="fa fa-wrench"></i>
    </button>
    <span class="navbar-brand" href="#">This is a rather long map title</span>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav toolbar">
      <li data-toggle="tooltip" data-placement="bottom" title="Zoom by rectangle">
       <a href="#" class="ol-zoombox"><i class="icon-search"></i><b class="ncaret"></b></a>
      </li>
      <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Geolocation">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="i i-compass"></i><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-location-2"></i> My position</a></li>
          <li><a href="#"><i class="fa fa-play"></i> Track my position</a></li>
        </ul>
      </li>
      <li class="dropdown"  data-toggle="tooltip" data-placement="left" title="Query">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="i i-arrow-up-left2"></i><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="i i-check"></i> Query by rectangle</a></li>
          <li><a href="#"><i class="i i-circle-o"></i> Query by circle</a></li>
        </ul>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Elevation profile">
       <a href="#"><i class="fa fa-area-chart"></i><b class="ncaret"></b></a>
      </li>
      <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Measure">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-ruler"></i><b class="caret"></b></a>
        <ul class="dropdown-menu pers">
          <li><a href="#">Distance</a></li>
          <li><a href="#">Area</a></li>
        </ul>
      </li>
      <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Share map">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="i i-share3"></i><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-link"></i> Permalink</a></li>
          <li><a href="#"><i class="fa fa-code"></i> Embbed</a></li>
          <li><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
        </ul>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Print">
       <a href="#"><i class="fa fa-print"></i><b class="ncaret"></b></a>
      </li>
    </ul>
    <div class="col-sm-3 col-md-3">
      <form class="navbar-form" role="search">
       <div class="input-group">
       <div class="input-group-btn search-panel">
	 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  <span id="search_concept">Layer</span> <span class="caret"></span>
	 </button>
	 <ul class="dropdown-menu" role="menu">
	   <li><a href="#">...</a></li>
	   <li><a href="#">...</a></li>
	 </ul>
       </div>
       <input type="hidden" name="search_param" value="all" id="search_param">         
       <input type="text" class="form-control" id="x" name="x" placeholder="Search...">
       <span class="input-group-btn">
       <button class="btn btn-default" type="button"><span class="icon-search"></span></button>
       </span>
       </div>
      </form>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li>
       <a href="#" data-toggle="tooltip" data-placement="bottom" title="Home"><i class="icon-home"></i></a>
      </li>
      <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Login">
       <a href="#" id="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><b class="caret"></b></a>
       <ul class="dropdown-menu pull-right padd">
	 <form class="navbar-form" id="formLogin"> 
	  <input name="username" id="username" class="form-control mb" type="text" placeholder="Username"> 
	  <input name="password" id="password" class="form-control mb"  type="password" placeholder="Password"><br>
	  <button type="button" id="btnLogin" class="btn btn-default">Login</button>
	 </form>
       </ul>
     </li>
   </ul>
   </nav>
 </div>
 <div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-3 fill">
   <div id="sidebar" class="fill">
    <div role="tabpanel" class="fill">
      <ul id="mmtabs" class="nav nav-tabs" role="tablist">
	<li id="laywrap" role="layers" data-toggle="tooltip" data-placement="bottom" title="Legend" class="active">
	 <a href="#ltree" aria-controls="ltree" role="tab" data-toggle="tab"><i class="i i-stack"></i></a>
	</li>
	<li role="presentation">
	 <a href="#datasources" aria-controls="datasources" role="tab" data-toggle="tab"><i class="fa fa-copyright"></i></a>
	</li>
	<li role="presentation" data-toggle="tooltip" data-placement="bottom" title="Information">
	 <a href="#info" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i></a>
	</li>

	<a href="#" data-toggle="tooltip" data-placement="left" title="Hide" class="btn-cp tp pull-right hidden-xs"><i class="i i-arrow-left4"></i></a>
      </ul>
    <div class="tab-content">
      
     <div role="tabpanel" class="tab-pane" id="datasources">
       <div class="well sources-container">
        <div class="padder">
	 <h5 class="sbt"><i class="fa fa-copyright"></i> Data sources</h5>
	</div>
       </div>
     </div>
     <div role="tabpanel" class="tab-pane" id="info">
      <div class="well info-container">
       <div class="padder">
	 <h5 class="sbt"><i class="fa fa-info-circle"></i> Information</h5>
            <div class="info thumbnail">

                <div class="info-img-content">
                    <img
       src="http://placehold.it/460x250/CCCCCC/ffffff&text=preview"
       class="img-responsive"/>
		  
                </div>

                <div class="content">
		    <h5 class="info-title">This is a rather long map title</h5>
                    <div class="info-date">
                        <time datetime="2015-02-6"><i class="fa fa-clock-o"></i> February, 6th 2015</time>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div>

	    </div>
       </div>
       </div>
     </div>
     <div role="tabpanel" class="tab-pane active " id="ltree">
      <div class="well tree-container">
	<ul class="list-group tree">
	  <li class="list-group-item"><label class="tree-toggle tree-parent"><i class="i i-stack"></i> Legend </label>
	   <ul class="list-group tree">
	     <li class="list-group-item blc">
	      <ul class="baselayers">
		<li><a href="#" class="btn btn-bl" data-toggle="tooltip" data-placement="top" title="OpenStreetMap"  id="osm"></a></li>
		<li><a href="#" class="btn btn-bl" data-toggle="tooltip" data-placement="top" title="Mapquest map" id="mqs"></a></li>
		<li><a href="#" class="btn btn-bl" data-toggle="tooltip" data-placement="top" title="Mapquest aerial" id="mqa"></a></li>
	      </ul>
	    </li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-circle"></i> Layer title 1</label></li>
	    <li class="list-group-item cm"><label><input type="checkbox" /><i class="fa fa-dot-circle-o"></i> Layer title 2</label></li>
	    <li class="list-group-item"><input type="checkbox" /><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span> Group title </label>
	     <ul class="list-group tree">
	       <li class="list-group-item cm"><label><input type="checkbox" />Layer title</label></li>
	       <li class="list-group-item cm"><label><input type="checkbox" />Sizes</label></li>
	       <li class="list-group-item"><input type="checkbox" /><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span> Forms </label>
		<ul class="list-group tree">
		  <li class="list-group-item cm"><label><input type="checkbox" />Horizontal</label></li>
		  <li class="list-group-item cm"><label><input type="checkbox" />Vertical</label></li>
		</ul>
	      </li>
	    </ul>
	  </li>
	</ul>
      </li>
    </ul>
  </div>
  </div>

  <div id="mmcdts" class="text-center">
    <p>&copy; Copyright
     <a href="http://mapmint.com" target="_blank"href="http://geolabs.fr" target="_blank">GeoLabs</a> | Powered by <i class="iconmm-logo"></i> <a href="http://mapmint.com" target="_blank"> MapMint</a>
    </p>
  </div>
  
 </div>
 </div> 
 </div>
 </div>
 </div>

 <div id="context-menu" style="display:none"> 
  <ul class="dropdown-menu">
    <li><a tabindex="-1"><i class="i i-search"></i> Zoom to</a></li>
    <li><a tabindex="-1" id="uptab"><i class="fa fa-table"></i> View table</a></li>
    <li><a tabindex="-1"><i class="i i-share3"></i> Export data</a></li>
    <li class="divider"></li>
    <li class="nb"><a href="#" tabindex="-1"><i class="fa fa-adjust"></i> Set opacity</a>
     <div class="range">
       <input type="range" name="range" min="1" max="100" value="50"
  onchange="range.value=value+ '%'" oninput="range.value=value + '%'">
       <output id="range">50%</output>
     </div>
     </li>
  </ul>
 </div>

 <div id="main-wrapper" class="col-md-9 pull-right">
  <div id="main">
    <a href="#" data-toggle="tooltip" data-placement="right" title="Show" class="op"><i class="i i-arrow-right4"></i></a>
    <div id="map"></div>
  </div>
 </div>

<script data-main="assets/js/cfg" src="$conf["main"]["publicationUrl"]/assets/js/lib/require.js"></script>

 <script type="template/text" id="basic_window_template">
   <div class="window">
     <div class="window-header">
       <button type="button" class="close" data-dismiss="window" aria-hidden="true">
       x
       </button>
       <h4 class="window-title">
       </h4>
     </div>
     <div class="window-body">
     </div>
     <div class="window-footer">
     </div>
   </div>
 </script>
</body>
</html>
#end if
