#import zoo
#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$conf["senv"]["last_map"]+".map")
#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title="Preview"
#end if
#set searchList=[{"m": $m}, {"tmpl": "leftcol"},{"conf": $conf},{"inputs": $inputs}]
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/default_header.tmpl",searchList=$searchList))
<body onload="init()">
#if $m.web.metadata.get('mmNav')
#set nav=$m.web.metadata.get('mmNav').split(',')
#else
#set nav=[]
#end if
        
<div class="ui-layout-north">
<img src="$conf["main"]["mmAddress"]/img/mapmint-logo.png" />
<h1>$title</h1>
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/toolbar.tmpl",searchList=$searchList))
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/other_tools/SearchBox.tmpl",searchList={"m": $m}))


</div>
        
<div class="ui-layout-center">
<div id="loading" style="dispay:none">
<div>
<div id="progress_txt"></div>
</div>
</div>

$Template(file=$conf['main']['templatesPath']+"/preview/modules/other_tools/display.html",searchList={"m": $m,"conf": $conf})
<div id="map"></div>

<div class="btm">
<div class="lft">
<a href="http://natureparif.fr" target="_blank"></a>
</div>
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/copyright.tmpl",searchList=$searchList))
<div id="coords"></div>
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/other_tools/overviewmap_button.tmpl",searchList={"m":$m}))
</div>
</div>
</div>

<div class="ui-layout-west">
<h2>Couches<span class="close" onclick="mmLayout.close('west')" title="$zoo._("Close")"></span></h2>  
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/layerswitcher.tmpl",searchList=$searchList))
<div id="ltm" class="easyui-emenu" style="width:120px;">
                <div class="zoomTo" onclick="" iconCls="icon-zoom">$zoo._("Zoom to")</div>
                <div class="opacity" onclick="" iconCls="icon-opacity" style="height: 40px !important;">$zoo._("Opacity:")<span id="opacity_val">100%</span><br/><span id="oslider" style="display:inline-block;width: 80px"></span></div>
                <!-- <div class="view-table" onclick="" iconCls="icon-table">$zoo._("Table")</div> -->
        </div>
        <div id="ltm0" class="easyui-emenu" style="width:120px;">
                <div class="layerOrder" onclick="setLayerOrder()" iconCls="icon-order">$zoo._("Layer Order")</div>
        </div>
</div>

$(Template(file=$conf["main"]["templatesPath"]+"/preview/default_footer.tmpl",searchList={"m":$m,"nav":$nav,"conf":$conf}))


</body>
</html>

