#encoding UTF-8
#import zoo,mm_access,os
#import mapscript
#import mapfile.service as mms
#try
#set mpath=os.readlink($conf["main"]["dataPath"]+"/public_maps/"+$inputs["id"]["value"]).replace("\\??\\","")
#set project=mpath
#except
#set project=None
#end try
#if project is not None 
#set mm=mapscript.mapObj($mpath)
<div class="row">
<div class="col-md-6">
<a href="$conf["main"]["applicationAddress"]/public/$inputs["id"]["value"]">
#if mm.web.metadata.get("previewUrl")
<img class="lmap img-responsive" src="$mm.web.metadata.get('previewUrl')" />
#else
#set ll=$mm.web.metadata.get('mmActivatedLayers')
#set a=$mm.getLayer(0).getExtent()
<!-- BaseLayer $a.project(mapscript.projectionObj(mm.getLayer(0).getProjection()),mapscript.projectionObj(mm.getProjection())) -->
#set x=(($a.maxx-$a.minx)/2)+$a.minx
#set y=(($a.maxy-$a.miny)/2)+$a.miny
<img class="lmap img-responsive" src="$conf["main"]["mapserverAddress"]?map=${project}&LAYERS=$(ll)&SERVICE=WMS&VERSION=1.0.0&REQUEST=GetMap&FORMAT=png&BBOX=$a.minx,$a.miny,$a.maxx,$a.maxy&SRS=EPSG:4326&WIDTH=230&HEIGHT=170&r=1315253453.18" width="230" height="170" />
#end if
</a>
</div>
<div class="col-md-6">
<h4 class="ldesc">$mm.web.metadata.get('mmTitle')</h4>
#import time,json
<p>Publiée le :
$(time.strftime($conf["mm"]["dateFormat"],time.localtime(os.path.getmtime($mpath)))) </p>
$(mms.getDescription($conf,$mm))
</div>
</div>
#end if

