#encoding UTF-8
#import zoo
#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/public_maps/project_"+$conf["senv"]["last_map"]+".map")
#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title=$zoo._("Preview")
#end if
#set searchList=[{"m": $m}, {"tmpl": "mobile"},{"conf": $conf},{"inputs":$inputs}]
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/default_header.tmpl",searchList=$searchList))
#if $m.web.metadata.get("mmTitle") is not None and $m.web.metadata.get("mmTitle")!=""
#set title=$m.web.metadata.get("mmTitle")
#else
#set title=$zoo._("Preview")
#end if
<body onload="init()"> 

<div data-role="page" class="type-interior" id="mapPage">

	<div data-role="header" data-theme="f" data-position="inline" data-id="foo">
		<a id="toolbarLink" href="#toolbarPage" data-icon="gear" data-iconpos="notext" data-rel="dialog" data-transition="fade">$zoo._("Toolbar")</a>
		<h1>$title</h1>
		<a href="#layersPage" data-icon="layers" data-iconpos="notext" data-rel="dialog" data-transition="fade">$zoo._("Layers")</a>
	</div>

	<div data-role="content">
	  <div id="map"></div>
	</div><!-- /content -->

	<div data-role="footer" data-id="foo1" data-position="fixed">
		<div data-role="controlgroup" data-type="horizontal"> 
<div id="mmCompassContainer" >
</div>
			<div id="coords" data-position="inline"></div>
#if $m.web.metadata.get('mmOT')
#set f=$m.web.metadata.get('mmOT').split(',')
#if f.count('ScaleBar')>0
<div class="scalebar-container">
<div id="scalebar"></div>
</div>
#end if
#end if
<input type="range" name="slider" id="slider-0" value="9" min="0" max="20" step="1" />
		</div> <!-- /controlgroup -->
	</div><!-- /footer -->

</div><!-- /page -->

<div data-role="page" id="layersPage" class="layersPage">
  <div data-role="header" data-position="fixed">
    <a href="#mapPage" data-icon="arrow-l">$zoo._("Map")</a>
    <h1 data-position="inline">$zoo._("Layers")</h1>
  </div>
  <div data-role="content" id="wrapper">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/layerswitcher_html5.tmpl",searchList=$searchList))
  </div>
</div>

#from mapfile.service import getMapList
#set linputs={"name": {"value": $conf["senv"]["last_map"]},"prefix": {"value": "public_"}}
#set loutputs={"Result": {"value": ""}}
#set a=getMapList($conf,$linputs,$loutputs)
#set a=eval($loutputs["Result"]["value"])

<div data-role="page" id="toolbarPage">
  <div data-role="header" data-position="inline" >
    <h1>$zoo._("Toolbar")</h1>
  </div>
  <div data-role="content" id="wrapper">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/toolbar_html5.tmpl",searchList=$searchList))
  </div>
</div>

<div data-role="page" id="routingPageListing">
  <div data-role="header" data-position="inline" >
    <a href="#toolbarPage" data-icon="arrow-l">$zoo._("Toolbar")</a>
    <h1>$zoo._("Saved Route")</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
#include $conf['main']['templatesPath']+"/preview/modules/routing/saveList.tmpl"
  <div id="saveResContainer" style="display:none">
  <p>
    $zoo._("You can access your saved route from ")<a target="_blank" href="#" id="routingSaveContainer">$zoo._("this link")</a>.
  </p>
  </div>

  </div>
</div>

<div data-role="page" id="routingSavePage">
  <div data-role="header" data-position="inline" >
    <a href="#routingPage" data-icon="arrow-l">$zoo._("Routing Service")</a>
    <h1>$zoo._("Saved Route")</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
  <form>
   <ul data-role="listview"  data-inset="true" data-theme="d" data-dividertheme="c" id="routingList">
   <li data-role="fieldcontain">
	<label for="rname">$zoo._("Name:")</label>
        <input type="text" id="rname" />
   </li>
   <li>
   <input type="submit" value="$zoo._("Save")" onclick="routingSave()" />
   </li>
  </ul>
  </form>
#include $conf['main']['templatesPath']+"/preview/modules/routing/saveList.tmpl"
  <div id="saveResContainer" style="display:none">
  <p>
    $zoo._("You can access your saved route from ")<a target="_blank" href="#" id="routingSaveContainer">$zoo._("this link")</a>.
  </p>
  </div>

  </div>
</div>

<div data-role="page" id="authPage">
  <div data-role="header" data-position="inline" >
    <a href="#mapPage" data-icon="arrow-l">$zoo._("Map")</a>
    <h1>$zoo._("Authenticate")</h1>
  </div>
  <div data-role="content" id="wrapper">
  <div id="authContainer">
#include $conf['main']['templatesPath']+"/preview/modules/auth/login.tmpl"
  </div>
  </div>
</div>

<div data-role="page" id="searchPage"  class="layersPage">
  <div data-role="header" data-position="inline">
    <a href="#mapPage" data-icon="arrow-l">$zoo._("Map")</a>
    <h1 data-position="inline">$zoo._("Search")</h1>
  </div>
  <div data-role="content" id="wrapper">
    <div data-role="fieldcontain">
    	 <input type="search" name="searchField" id="searchField" value="" />
    </div>
    <div data-role="fieldcontain">
    	 <label for="search">$zoo._("Layer:")</label>
<select id="slayer" data-theme="d" data-overlay-theme="d" data-native-menu="true">
#for kk in range($m.numlayers)
#try
#if $m.getLayer(kk).getMetaData("mmSearchField")
#try
#set label=$m.getLayer(kk).getMetaData("ows_title")
#if label==""
#set label=$m.getLayer(kk).name
#end if
#except
#set label=$m.getLayer(kk).name
#end try
    <option value="$m.getLayer(kk).name">$label</option>
#end if
#except
#pass
#end try
#end for
</select>
    </div>

<ul data-role="listview" data-inset="true" id="search_results"></ul>

  </div>
</div>

#if $m.web.metadata.get('mmOT') and $m.web.metadata.get('mmOT').count('Driving Distance')>0
<div data-role="page" id="ddPage"  class="layersPage">
  <div data-role="header" data-position="inline" >
    <a href="#" data-icon="arrow-l" onclick="RoutingReinit();">$zoo._("Back")</a>
    <h1>$zoo._("Path distance:")</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/routing/ddview.html",searchList=$searchList))
  </div>
</div>
#end if

#if $m.web.metadata.get('mmOT') and $m.web.metadata.get('mmOT').count('Routing')>0
<div data-role="page" id="routingPage"  class="layersPage">
  <div data-role="header" data-position="inline" >
    <a href="#" data-icon="arrow-l" onclick="RoutingReinit();">$zoo._("Back")</a>
    <h1>Chemins</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/routing/view.html",searchList=$searchList))
  </div>
</div>

<div data-role="page" id="routingPoiListPage"  class="layersPage">
  <div data-role="header" data-position="inline">
    <a href="#routingPage" data-icon="arrow-l">$zoo._("Back")</a>
    <h1 data-position="inline">$zoo._("POI List")</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
#include $conf['main']['templatesPath']+"/preview/modules/routing/poiListPage.html"
  </div>
</div>

<div data-role="page" id="routingDetailsPage" class="layersPage">
  <div data-role="header" data-position="fixed" >
    <a href="#routingPage" data-icon="arrow-l" onclick="\$('#toolbarLink').attr('href',System.prev);">$zoo._("Back")</a>
    <h1>Détails</h1>
    <a href="#mapPage" data-icon="arrow-r" onclick="System.prev=\$('#toolbarLink').attr('href');\$('#toolbarLink').attr('href','#routingDetailsPage');routingZoomOnSteps();">$zoo._("View")</a>
  </div>
  <div data-role="content" id="wrapper">
  <div>
   <ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c">
#for i in [0,1,2,3,4]
       <li id="_route_${i}"></li>
#end for
   </ul>
  </div>
  </div>
  <div data-role="footer" data-position="fixed" >
    <a href="#" data-icon="arrow-u" onclick="routingDetailsNext(-1);">$zoo._("Prev.")</a>
    <a href="#" data-icon="arrow-d" onclick="routingDetailsNext(1);">$zoo._("Next")</a>
  </div>
</div>

<div data-role="page" id="routingDownloadPage">
  <div data-role="header" data-position="fixed" >
    <a href="#routingPage" data-icon="arrow-l">$zoo._("Back")</a>
    <h1>$zoo._("Download")</h1>
  </div>
  <div data-role="content" id="wrapper">
  <p>
    $zoo._("You can download ")<a target="_blank" href="#" id="routingDownloadContainer">$zoo._("the KML file")</a> $zoo._(" (require Google Earth application).")
  </p>
  </div>
</div>

<div data-role="page" id="routingProfilePage">

  <div data-role="header" data-position="fixed">
    <a href="#routingPage" data-icon="arrow-l">$zoo._("Back")</a>
    <h1>$zoo._("Details")</h1>
    <div class="ui-checkbox" style="position: absolute;right: 85px;top: 0;margin-top: 0px;" >
     <input type="checkbox" name="profileZoomOnMap" id="profileZoomOnMap" class="custom" />
     <label for="profileZoomOnMap" >$zoo._("On Map")</label>
    </div>
    <a href="#mapPage" data-role="button" data-inline="true" data-icon="arrow-r">$zoo._("Map")</a>
  </div>

  <div data-role="content" id="wrapper">
    <div id="routingProfileContainer">
    </div>
  </div>
</div>

<div data-role="page" id="routingStepDetailsPage">
  <div data-role="header" data-position="fixed" >
    <a href="#routingDetailsPage" data-icon="arrow-l" onclick="\$('#toolbarLink').attr('href',System.prev);">$zoo._("Back")</a>
    <h1>$zoo._("Details")</h1>
    <a href="#mapPage" data-icon="arrow-r" onclick="System.prev=\$('#toolbarLink').attr('href').text();\$('#toolbarLink').attr('href','#toolbarPage');">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
   <ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c">
#for i in [0,1,2,3,4]
       <li id="_route_${i}"></li>
#end for
   </ul>
  </div>
  <div data-role="footer" data-position="fixed" >
  <div data-role="controlgroup" data-type="horizontal"> 
    <a href="#" data-icon="arrow-u" onclick="routingDetailsNext(-1);">$zoo._("Prev.")</a>
    <a href="#" data-icon="arrow-d" onclick="routingDetailsNext(1);">$zoo._("Next")</a>
  </div>
  </div>
</div>


<div data-role="page" id="geocodingPage"  class="layersPage">
  <div data-role="header" data-position="inline">
    <a href="#routingPage" data-icon="arrow-l">$zoo._("Back")</a>
    <h1 data-position="inline">$zoo._("Search an address")</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
    <div data-role="fieldcontain">
    	 <input type="search" name="searchField" id="searchFieldGeocoding" value="" />
    </div>
    <ul data-role="listview" data-inset="true" id="search_geocoding_results"></ul>
  </div>
</div>


<div data-role="page" id="newsEditPage"  class="layersPage">
  <div data-role="header" data-position="inline">
    <a href="#toolbarPage" data-icon="arrow-l">$zoo._("Back")</a>
    <h1 data-position="inline">$zoo._("POI Edition")</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
#include $conf['main']['templatesPath']+"/preview/modules/edit/view.html"
  </div>
</div>

<div data-role="page" id="newsListPage"  class="layersPage">
  <div data-role="header" data-position="inline">
    <a href="#toolbarPage" data-icon="arrow-l">$zoo._("Back")</a>
    <h1 data-position="inline">$zoo._("News List")</h1>
    <a href="#mapPage" data-icon="arrow-r">$zoo._("Map")</a>
  </div>
  <div data-role="content" id="wrapper">
#include $conf['main']['templatesPath']+"/preview/modules/edit/list.html"
  </div>
</div>

#end if

<div id="popup" data-role="dialog">
<div data-position="fixed" data-role="header">
  <h1>$zoo._("Details")</h1>
</div>
  <div id="dialog-featureInfo" data-role="content">
  </div>
</div>


</body>
</html>
