#encoding UTF-8
#import zoo
#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$conf["senv"]["last_map"]+".map")
#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title=$zoo._("Preview")
#end if
#set searchList=[{"m": $m}, {"tmpl": "natureparif-indicateurs"},{"conf": $conf},{"inputs":$inputs}]
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/default_header.tmpl",searchList=$searchList))
  <body onload="init()">
        
  <div class="ui-layout-north">
    <img src="$conf["main"]["mmAddress"]/img/lib.png" />
    <h1>Indicateurs de la <span>Biodiversité</span></h1>
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/toolbar.tmpl",searchList=$searchList))

    <h2 id="indicateurs0_name"></h2>
    <a class="ls-button ui-state-default ui-corner-all fg-button-icon-solo si-toogler" href="#si-container" title="$zoo._("Select Indicator")"></a>
    <a class="ls-button ui-state-default ui-corner-all fg-button-icon-solo if-toogler" href="#if-container" title="$zoo._("Indicator information")"></a>
    <a class="ls-button ui-state-default ui-corner-all fg-button-icon-solo rp-toogler" href="#rp-container" title="$zoo._("Report")"></a>
    <a class="ls-button ui-state-default ui-corner-all fg-button-icon-solo sl-toogler" href="#sl-container" title="$zoo._("Search")"></a>
    <a class="ls-button ui-state-default ui-corner-all fg-button-icon-solo al-toogler" href="#al-container" title="$zoo._("Add layers")"></a>
    <a class="ls-button ui-state-default ui-corner-all fg-button-icon-solo ls-toogler" href="#ls-container" title="$zoo._("Manage layers")"></a>	
  </div>
        

  <div class="ui-layout-center">
    <div id="loading" style="dispay:none">
      <div>
        <div id="progress_txt"></div>
      </div>
    </div>

    <div id="map"></div>

$Template(file=$conf['main']['templatesPath']+"/preview/modules/other_tools/display.html",searchList={"m": $m,"conf": $conf})

<div id="panel-container">

      <div id="ls-container" class="ipannel">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/layerswitcher.tmpl",searchList=$searchList))
        <div id="at-container"><a href="#" class="quickFlipCta vsource">Retour à la légende</a></div>
      </div>

      <div id="al-container" class="ipannel">
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/indexes/AddLayer.tmpl",searchList={"conf": $conf}))
	</div>

      <div id="sl-container" class="ipannel">
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/indexes/SearchIdx.tmpl",searchList={"m": $m}))
      </div>

      <div id="si-container" class="ipannel">
#include($conf["main"]["templatesPath"]+"/preview/modules/indexes/SelectIdx.tmpl")
      </div>
      
      <div id="if-container" class="ipannel">
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/indexes/InfoIdx.tmpl",searchList={"cur": $cur,"conf":$conf}))
      </div>

      <div id="rp-container" class="ipannel">
#include($conf["main"]["templatesPath"]+"/preview/modules/indexes/Repport.tmpl")
      </div>
</diV>

$Template(file=$conf['main']['templatesPath']+"/preview/modules/timeline/display.html",searchList={"m": $m,"conf": $conf,"suffix":"_c"})

      
      <div id="menu-container">
	<input type="hidden" id="index_id" value="#try#$conf["senv"]["last_index"]#except#0#end try#"  />
#try
#set res=$cur.execute("SELECT type,name,vx,vy,lx,ly,tooltip from graphs where it_id=(select id from indicateurs_territoires where i_id="+$conf["senv"]["last_index"]+" and (not(agregation) or agregation is null))")
#set val=$cur.fetchone()
#except
#set val=None
#end try
	<input type="hidden" id="graphs_tooltip" value="#if $val is not None#$val[6]#end if#"/>
	<input type="hidden" id="graphs_f_type" value="#if $val is not None#$val[0]#end if#"/>
	<input type="hidden" id="graphs_title" value="#if $val is not None#$val[1]#end if#"/>
	<input type="hidden" id="graphs_vx" value="#if $val is not None#$val[2]#end if#"/>
	<input type="hidden" id="graphs_lx" value="#if $val is not None#$val[4]#end if#"/>
	<input type="hidden" id="graphs_vy" value="#if $val is not None#$val[3]#end if#"/>
	<input type="hidden" id="graphs_ly" value="#if $val is not None#$val[5]#end if#"/>
	<ul id="menu">
	  <li><a href="#" onclick="showGraph();" class="updrop chart" title="Voir le graphique"></a></li>
	  <li><a href="#" onclick="showTable();" class="updrop table" title="Voir la table"></a></li>
	</ul>
      </div>

      <div class="btm">
        <div class="lft">
	  <a href=""></a>
	</div>
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/copyright.tmpl",searchList=$searchList))
	<div id="coords"></div>           
	<a class="ui-state-default ui-corner-all fg-button-icon-solo ov-toogler" href="#" title="$zoo._("Overview")"></a>
        <a class="ui-state-default ui-corner-all fg-button-icon-solo hp-toogler" href="#" title="$zoo._("Help")"></a>
	 </div>

    <div id="ov-dialog" title="$zoo._("Overview")">
    <div id="overviewmap">
      </div>
	</div>

      <div class="dialog-lenght" title="$zoo._("Lenght")">
        <div id="output-lenght"></div>
      </div>
	               
      <div class="dialog-area" title="$zoo._("Area")">
        <div id="output-area"></div>	                
      </div>
  
      <div class="dialog-gfi" title="$zoo._("Get Feature Info")">
        <div id="output-gfi"></div>
      </div>

  </body>
</html>

