#import zoo
System.limit=0;

function searchTable(){
    System.tableName=arguments[0];
    \$('#idx_search').click(function() { \$(this).val('');\$("#idx_search").autocomplete('search','')});
    \$('#'+arguments[0]+'_search').click(function() { \$(this).val('');\$("#indicateurs_search").autocomplete('search','')});
    \$( "#"+arguments[0]+"_search" ).autocomplete({
	source: function(request,response){
	    \$.ajax({
		type: "GET",
		url: System.zooUrl+"?metapath=np&service=WPS&version=1.0.0&request=Execute&identifier=searchByName&DataInputs=tbl="+System.tableName+";val="+request.term+(\$("#indicateurs_themes").val()!="-1"?";tid="+\$("#indicateurs_themes").val():"")+(\$("#indicateurs_territories").val()+""!="-1"?";t_id="+\$("#indicateurs_territories").val():"")+";public=true&RawDataOutput=Result",
		success: function(xml,status){
		    var data=xml;
		    response(data);
		}});
	},
	minLength: 0, 
	select: function( event, ui ) {
	    \$('#index_id').val(ui.item.id);
	    System.index=ui.item.id;
	    System.doOnCurrentIndexChange=function(){loadIndex(System.index);};
	    setCurrentIndex(System.index);
	}
    });
}

function searchTable0(){
    System.tableName0=arguments[0];
    \$( "#"+arguments[0]+"_search" ).autocomplete({
	source: function(request,response){
	    \$.ajax({
		type: "GET",
		url: System.zooUrl+"?metapath=np&service=WPS&version=1.0.0&request=Execute&identifier=searchByName&DataInputs=tbl="+System.tableName+";val="+request.term+(\$("#"+System.tableName0+"_themes").val()!="-1"?";tid="+\$("#"+System.tableName0+"_themes").val():"")+(\$("#indicateurs_territories").val()+""!="-1"?";t_id="+\$("#indicateurs_territories").val():"")+";public=true&RawDataOutput=Result",
		success: function(xml,status){
		    var data=xml;
		    var data1=[];
		    System.alidx=[];
		    \$("#idxs_list").find("div").each(function(){
			System.alidx[System.alidx.length]=\$(this).attr("id").replace(/idx_/g,"");
		    });
		    for(i=0;i<data.length;i++){
			if(data[i]["id"]!=System.index){
			    var isOk=true;
			    for(j=0;j<System.alidx.length;j++){
				if(System.alidx[j]==data[i]["id"]){
				    isOk=false;
				    break;
				}
			    }
			    if(isOk)
				data1[data1.length]=data[i];
			}
		    }
		    response(data1);
		}});
	},
	minLength: 0, 
	select: function( event, ui ) {
            \$('.nl').remove();
	    \$('#idxs_list').append('<div id="idx_'+ui.item.id+'">'+ui.item.label+'<a href="#" onclick="\$(\'#idx_'+ui.item.id+'\').remove();" class="sdelete"></a><br style="clear:both" /></div>');
	}
    });
}

var WMSList;
function tinit(){

    System.special=true;

    \$("#overlays_list").find("li").each(function(){
	var tmp=\$(this).attr('iconCls');
	\$(this).attr('iconCls',tmp.replace(/layer/g,"overlays_layer"));
    });
    \$("#overlays_list").tree({
	checkbox: true
    });
    \$(".tree_overlays_layer_class").next().hide();
    WMSList=\$("#wms_list").tree({
	checkbox: true
    });

    \$("#index_id").val(#try#$conf["senv"]["last_index"]#except#0#end try#);
    
    searchTable("indicateurs");
    searchTable0("idx");
    \$( "#accordion" ).accordion();

    \$("#layerswitcher").css({"height": (\$(window).height()/2)+"px"});
    \$("#layers_list").css({"height": ((\$(window).height()/2)-(85))+"px"});
    \$("#wms_list").css({"height": ((\$(window).height()/2)-(125))+"px"});
    \$("#overlays_list").css({"height": ((\$(window).height()/2)-(125))+"px"});

    //\$('#layerswitcher').quickFlip({closeSpeed:130, openSpeed:130});


    
    
        

\$("#ls-container").show();
\$("#layerswitcher").show();


\$("#tabs li").click(function() {
	\$("#tabs li").removeClass('active');
	\$(this).addClass("active");
	\$(".tab_content").hide();
	var selected_tab = \$(this).find("a").attr("href");
	\$(selected_tab).fadeIn();
	return false;
});


    
    
    \$(".ls-button").click(function(){
	var myelement = \$(this).attr("href")
	\$(myelement).toggle();
	\$(".ipannel:visible").not(myelement).hide();
    });
    
    \$(".ls-button").tipsy({fade: true, offset:5, opacity: 1, gravity: 'ne'});
    \$(".updrop").tipsy({fade: true, offset:20, opacity: 1, gravity: 's'});
    \$(".hp-toogler, .ov-toogler").tipsy({fade: true, offset:10, opacity: 1, gravity: 'se'});
    
    //\$(".ui-layout-north h2 a span").addClass("inv");
    
   // \$('.ui-layout-north h2 a').click(function(){
	//\$(".ui-layout-north h2 a span").toggleClass("inv");
	//\$(".index-container").slideToggle();
    //});
}



#include $conf['main']['templatesPath']+"/preview/default_pre_js.tmpl"

mmLayout =\$('body').layout({ 
      west__showOverflowOnHover: true,
      north__showOverflowOnHover:	true,
      north__minSize:90,
      north__closable:false,
      north__slidable:false,
      north__resizable:false,
      north__spacing_open:0,
      south__resizable:false,
      south__closable:false,
      south__spacing_open:0,
      south__size:150,
      south__initClosed: true, 
      onopen: function() {if(updateSize) updateSize();},
      onclose: function() {if(updateSize) updateSize();},
      onresize: function() {if(updateSize) updateSize();}
  });

#include $conf['main']['templatesPath']+"/preview/default_post_js.tmpl"

