function tinit(){
	 System.special=true;
}

#include $conf['main']['templatesPath']+"/preview/default_pre_js.tmpl"

	mmLayout =\$('body').layout({ 
		west__showOverflowOnHover: true,
		north__showOverflowOnHover:	true,
		north__minSize:80,
		north__closable:false,
		north__slidable:false,
		north__resizable:false,
		north__spacing_open:0,
		south__resizable:false,
		south__closable:false,
		south__spacing_open:0,
		south__minSize:36,
		onopen: function() {if(updateSize) updateSize();},
		onclose: function() {if(updateSize) updateSize();},
		onresize: function() {if(updateSize) updateSize();}
	});

#include $conf['main']['templatesPath']+"/preview/default_post_js.tmpl"

