#encoding UTF-8
<div data-role="fieldcontain">
     <label data-inline="true" for="startingPoint">Départ :</label>
     <input type="text" name="searchField" data-inline="true" id="startingPoint" value="" />
     <a href="#geocodingPage" data-role="button" data-inline="true">Rechercher</a>
     <a href="index.html" data-role="button" data-inline="true">Sur la carte</a>
     <a href="index.html" data-role="button" data-inline="true">Ma position</a>
</div>
<div data-role="fieldcontain">
     <label data-inline="true" for="startingPoint">Départ :</label>
     <input type="text" name="searchField" data-inline="true" id="startingPoint" value="" />
     <a href="#geocodingPage" data-role="button" data-inline="true">Rechercher</a>
     <a href="index.html" data-role="button" data-inline="true">Sur la carte</a>
     <a href="index.html" data-role="button" data-inline="true">Ma position</a>
</div>

