#encoding UTF-8
#import zoo
<rss version="2.0">
  <channel>
    <title>$zoo._("Latest maps")</title>
    <description>$conf["identification"]["abstract"].replace('[BR]','\\n')</description>
    <url>$(conf["main"]["applicationAddress"])public/</url>
    <image>
      <url>$conf["main"]["applicationAddress"]/img/mm-logo-default.png</url>
    </image>
#import os
#import mapscript
#import time
#import mapfile.service as mms
#set dirpath=$conf["main"]["dataPath"]+"/public_maps/"
#set mfiles=os.listdir(dirpath)
#set mfiles1=[]
#set morig=[]
#for i in mfiles
#try
#set mpath=os.readlink($conf["main"]["dataPath"]+"/public_maps/"+$i)
#set project=mpath
#set $mfiles1+=[[mpath.replace("\\??\\",""),$i]]
#except
#set project=None
#end try
#set cnt=0
#end for
$mfiles1.sort(key=lambda x: 1/os.path.getmtime(os.path.join(x[0])))
#set cnt=0
#for i in mfiles1
#set mpath=$i[0]
#set project=$i[0]
#if project is not None
#set mm=mapscript.mapObj($mpath)
#set ll=mm.web.metadata.get('mmActivatedLayers')
#set a=$mm.getLayer(0).getExtent()
	<!-- BaseLayer $a.project(mapscript.projectionObj(mm.getLayer(0).getProjection()),mapscript.projectionObj(mm.getProjection())) -->
#set x=(($a.maxx-$a.minx)/2)+$a.minx
#set y=(($a.maxy-$a.miny)/2)+$a.miny
	<item>
	  <title>$mm.web.metadata.get('ows_title')</title>
	  <description>$(mms.getShortDescription($conf,$mm)) &lt;a href="$(conf["main"]["applicationAddress"])public/$i[1]"&gt;&lt;img src="$conf["main"]["mapserverAddress"]?map=${project}&amp;LAYERS=$(ll)&amp;SERVICE=WMS&amp;VERSION=1.0.0&amp;REQUEST=GetMap&amp;FORMAT=png&amp;BBOX=$a.minx,$a.miny,$a.maxx,$a.maxy&amp;SRS=EPSG:4326&amp;WIDTH=60&amp;HEIGHT=45" width="60" height="45" &gt;&lt;/a&gt;</description>
	  <image>
	    <url>$conf["main"]["mapserverAddress"]?map=${project}&amp;LAYERS=$(ll)&amp;SERVICE=WMS&amp;VERSION=1.0.0&amp;REQUEST=GetMap&amp;FORMAT=png&amp;BBOX=$a.minx,$a.miny,$a.maxx,$a.maxy&amp;SRS=EPSG:4326&amp;WIDTH=140&amp;HEIGHT=140</url>
	    <title>$zoo._("Preview of ")$mm.web.metadata.get('ows_title')</title>
	  </image>
	  <pubDate>$(time.strftime("%a, %d %b %Y %H:%M:%S",time.localtime(os.path.getmtime($mpath))))</pubDate>
#end if
#set $cnt=$cnt+1
	  <generator>MapMint</generator>
	</item>
#end for
  </channel>
</rss>
