#import mm_access
#import zoo
#*try*#
#set activatedTools=$m.web.metadata.get("mmNav").split(",")
#*except
#set activatedTools=[]
#end try*#

$activatedTools
#set nnames=$conf["mm"]["navName"].split(',')

        <div class="fg-toolbar ui-helper-clearfix">
                <div class="fg-buttonset fg-buttonset-single">



#if activatedTools.count("Distance")>0
                  <a href="#" class="mm-button fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="$zoo._("Measure distance")" name="line" onclick="toggleControl(this)"><span class="ui-icon dist"></span> </a>
#end if
#if activatedTools.count("Area")>0
                  <a href="#" class="mm-button fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="$zoo._("Measure area")" name="polygon" onclick="toggleControl(this)" ><span class="ui-icon area"></span></a>
#end if

</div>
</div>
