#import zoo
#try
#set activatedTools=$m.web.metadata.get("mmNav").split(",")
#except
#set activatedTools=[]
#end try
    <ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c" id="baselayerslist">
#if $m.web.metadata.get('mmOT')
#set f=$m.web.metadata.get('mmOT').split(',')
#if f.count('SearchBox')>0
    		  <li><a href="#searchPage"><span class="ui-icon search"></span>$zoo._("Search")</a></li>
#end if
#if f.count('Routing')>0
    		  <li><a href="#routingPage"><span class="ui-icon search"></span>$zoo._("Routing Service")</a></li>
    		  <li><a href="#routingPageListing"><span class="ui-icon search"></span>$zoo._("Saved Paths")</a></li>
    		  <li><a href="#routingPageListing"><span class="ui-icon search"></span>$zoo._("CG56 Saved Paths")</a></li>
    		  <li><a href="#newsEditPage"><span class="ui-icon search"></span>$zoo._("Edit News")</a></li>
    		  <li><a href="#newsListPage"><span class="ui-icon search"></span>$zoo._("News")</a></li>
#end if
#if f.count('Driving Distance')>0
    		  <li><a href="#ddPage"><span class="ui-icon search"></span>$zoo._("Driving Distance")</a></li>
#end if
#end if


#if activatedTools.count("zoomtomaxextent")>0
    		  <li><a href="#mapPage" onclick="toggleControl(this);map.zoomToExtent(System.bounds);"><span class="ui-icon zoomtomaxextent"></span>$zoo._("Zoom to Max Extent")</a></li>
#end if

#set nnames=$conf["mm"]["navName"].split(',')
#set nids=$conf["mm"]["navId"].split(',')
#set nicons=$conf["mm"]["navIcon"].split(',')

#set cnt=0
#for i in nids
#if $i!="zoomtomaxextent" and i!="scroll"
#if activatedTools.count($i)>0
		  <li><a href="\##if $i!="authenticate"#mapPage#else#authPage#end if#" title="$nnames[$cnt]" name="$nids[$cnt]" #if $i!="authenticate"#onclick="toggleControl(this)"#end if#><span class="ui-icon $nicons[$cnt]"></span>$zoo._($nnames[$cnt])</a></li>
#end if
#end if
#set cnt=$cnt + 1
#end for

    </ul>
