#import zoo
#import mm_access
#import mapfile.service as mms
#try
#set activatedTools=$mms.getMetadata($m.web,"mmNav").split(",")
#except
#set activatedTools=[]
#end try
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav toolbar">

#set nnames=$conf["navbar"]["name"].split(',')
#set nids=$conf["navbar"]["id"].split(',')
#set nidxs=$conf["navbar"]["idX"].split(',')
#set nidxxs=$conf["navbar"]["idXX"].split(',')
#set nidfs=$conf["navbar"]["idF"].split(',')
#set nclassess=$conf["navbar"]["class"].split(',')
#set nicons=$conf["navbar"]["icon"].split(',')
#set groups=$conf["navbar"]["order"].split(',')

#set authTools=[]
#set cnt=0
#for i in nids
#if activatedTools.count($i)>0 and $mm_access.checkMapNavPriv($conf,$m,$i)
#set authTools+=[$i]
#end if
#set cnt=$cnt + 1
#end for

#def getId($nids,$i)
#set cid0=-1
#for cid in range(0,len($nids))
#if $nids[$cid]==$i
#set cid0=$cid
#break
#end if
#end for
#return $cid
#end def

#def printItem($a,$b,$c,$d,$x,$l=None)
       <a href="#if $l is None#\##else#$l#end if#" id="$a" class="mm-action #if $x#do-not-select#end if#" ><i class="#if $b.count("fa-")>0#fa #end if##if $b.count("i-")>0#i #end if#$b"></i><b class="ncaret #if $d#hidden-sm hidden-md hidden-lg#end if#"></b><span #if $d#class="hidden-sm hidden-md hidden-lg"#end if#>$zoo._($c)</span></a>
#end def

#set ot=False
#for i in $groups
#if $i=="other-tools"
#set ot=True
    </ul>
#if $mms.getMetadata($m.web,'mmOT')
#set f=$mms.getMetadata($m.web,'mmOT').split(',')
#if f.count('SearchBox')>0

    <div class="col-sm-3 col-md-3">
      <form class="navbar-form" role="search">
       <div class="input-group">
       <div class="input-group-btn search-panel">
	 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  <span id="search_concept">$zoo._("Layer")</span> <span class="caret"></span>
	 </button>
	 <ul class="dropdown-menu" role="menu">
#set nbSearch=0
#for i in range(0,$m.numlayers)
#if $m.getLayer(i).metadata.get('mmSearchField') is not None
#if $m.getLayer(i).metadata.get('ows_title') is not None
#set title=$m.getLayer(i).metadata.get('ows_title')
#else
#set title=$m.getLayer(i).name
#end if
	   <li><a href="#" data-field="$m.getLayer(i).metadata.get('mmSearchField')" data-name="$m.getLayer(i).name">#if $nbSearch==0#<i class="fa fa-check"></i>#end if# $title</a></li>
#set nbSearch+=1
#end if
#end for
	 </ul>
       </div>
       <input type="hidden" name="search_param" value="all" id="search_param" />         
       <input type="text" class="form-control" id="search_value" name="search_value" placeholder="$zoo._("Search...")" />
       <span class="input-group-btn">
       <button class="btn btn-default disabled" type="button"><span class="icon-search"></span></button>
       </span> 
       </div>
      </form>
    </div>
#end if
#end if
#else
#if ot
    <ul class="nav navbar-nav pull-right">
      <li data-toggle="tooltip" data-placement="bottom" title="$zoo._("Home")">
$printItem("home","icon-home","Home",True,True,"../public/")
      </li>
#if $conf["senv"]["loggedin"]=="true"
#import np.service as np
#set myOut={"Result":{}}
#set res=np.isFavoriteMap($conf,{},myOut)
#if $mms.getMetadata($m.web,'layout_t')!="natureparif-indicateurs" and $conf["senv"]["login"]!="anonymous"
      <li data-toggle="tooltip" data-placement="bottom" title="$zoo._("Add to favorites")">
#if $myOut["Result"]["value"]=="false"
$printItem("favorite","fa-star","Add to favorites",True,True)
#else
$printItem("favorite","fa-star-o","Add to favorites",True,True)
#end if
      </li>
#end if
#end if
#set ot=False
#end if
#* A button group *#
#if $i+"_group" in $conf["navbar"].keys()
#set num=0

#for j in $conf["navbar"][$i+"_group"].split(',')
#if $authTools.count($j)>0
#set $num+=1
#end if
#end for

#if num>1
#* The group contins at least 2 item *#
      <li class="dropdown"  data-toggle="tooltip" data-placement="left" title="$zoo._($conf["navbar"][$i+"_name"])">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#if $conf["navbar"][$i+"_class"].count("fa-")>0#fa #end if##if $conf["navbar"][$i+"_class"].count("i-")>0#i #end if#$conf["navbar"][$i+"_class"]"></i><b class="caret"></b><b class="ncaret hidden-sm hidden-md hidden-lg"></b><span class="hidden-sm hidden-md hidden-lg">$zoo._($conf["navbar"][$i+"_name"])</span></a>
        <ul class="dropdown-menu">
#for j in $conf["navbar"][$i+"_group"].split(',')
#if $authTools.count($j)>0
#set cid=$getId($nids,$j)
          <li title="$zoo._($nnames[cid])">
$printItem($nids[cid],$nclassess[cid],$nnames[cid],False,$nidxs.count($nids[cid])>0)
   	  </li>
#end if
#end for
        </ul>
      </li>
#else
#* Is not included in a group *#
#for j in $conf["navbar"][$i+"_group"].split(',')
#if $authTools.count($j)>0
#set cid=$getId($nids,$j)
      <li data-toggle="tooltip" data-placement="bottom" title="$zoo._($nnames[cid])">
$printItem($nids[cid],$nclassess[cid],$nnames[cid],True,$nidxs.count($nids[cid])>0)
      </li>
#end if
#end for
#end if
#else
#set cid=$getId($nids,$i)
#if $authTools.count($i)>0
#if $nids[cid]=="authenticate"
      <li class="dropdown"  data-toggle="tooltip" data-placement="left" title="$zoo._($nnames[cid])">
        <a href="#" id="$nids[cid]" class="dropdown-toggle" data-toggle="dropdown"><i class="#if $nclassess[cid].count("fa-")>0#fa #end if##if $nclassess[cid].count("i-")>0#i #end if#$nclassess[cid]"></i><b class="caret"></b><b class="ncaret hidden-sm hidden-md hidden-lg"></b><span class="hidden-sm hidden-md hidden-lg">$zoo._($nnames[cid])</span></a>
	<ul class="dropdown-menu  padd pull-right">
#if $conf["senv"]["loggedin"]=="false"
	 <form role="form">
	  <div class="form-group">
	   <label>$zoo._("User name")</label>
	   <input type="text" class="form-control" placeholder="user name">
	  </div>
	  <div class="form-group">
	   <label>$zoo._("Password")</label>
	   <input type="password" class="form-control" placeholder="$zoo._("Password")">
	  </div>
	  <button type="submit" class="btn btn-sm btn-default">$zoo._("Login")</button> 
	 </form>
#else
#*	<li>
	  <a id="authenticate_setup" href="#" type="submit" class="btn btn-sm btn-default">$zoo._("Setup")</a>
	</li>*#
	<li>
	  <a id="authenticate_logout" href="#" type="submit" class="">$zoo._("Logout")</a>
	</li>
#end if
	</ul>
#* $printItem($nids[cid],$nclassess[cid],$nnames[cid],True,$nidxs.count($nids[cid])>0) *#
#else
      <li data-toggle="tooltip" data-placement="bottom" title="$zoo._($nnames[cid])">
$printItem($nids[cid],$nclassess[cid],$nnames[cid],True,$nidxs.count($nids[cid])>0)
#end if
      </li>
#end if
#end if	
#end if

#end for

    </ul>
  </nav>
