#import mm_access
#import zoo
#try
#set activatedTools=$m.web.metadata.get("mmNav").split(",")
#except
#set activatedTools=[]
#end try
	<div class="nav fg-toolbar ui-helper-clearfix">
		<div class="fg-buttonset fg-buttonset-single">

		<a href="../public/" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="$zoo._("Home")" ><span class="ui-icon home"></span></a>
#if $m.web.metadata.get('layout_t')!="natureparif-indicateurs" and $conf["senv"]["login"]!="anonymous"
		<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="$zoo._("Favoris")" onclick="setFavoriteMap();" ><span class="ui-icon star"></span></a>
#end if


#set nnames=$conf["navbar"]["name"].split(',')
#set nids=$conf["navbar"]["id"].split(',')
#set nidxs=$conf["navbar"]["idX"].split(',')
#set nidxxs=$conf["navbar"]["idXX"].split(',')
#set nidfs=$conf["navbar"]["idF"].split(',')
#set nicons=$conf["navbar"]["icon"].split(',')

#set cnt=0
#for i in nids
#if activatedTools.count($i)>0 and $mm_access.checkMapNavPriv($conf,$m,$i)
#if $nidxs.count($i)==0 and $nidxxs.count($i)==0
		  <a href="#" class="mm-button fg-button ui-state-default ui-corner-all fg-button-icon-solo #if $i=="control"#ui-state-active#end if#" title="$zoo._($nnames[$cnt])" name="$nids[$cnt]" onclick="toggleControl(this)"><span class="ui-icon $nicons[$cnt]"></span></a>
#else
#if $nidxs.count($i)>0
		  <a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo #if $i=="control"#ui-state-active#end if#" title="$zoo._($nnames[$nids.index($i)])" name="$nids[$cnt]" onclick="$(nidfs[$nidxs.index($i)])()"><span class="ui-icon $nicons[$nids.index($i)]"></span></a>
#end if
#end if
#end if
#set cnt=$cnt + 1
#end for



#if activatedTools.count("Identify")>0
		  <a href="#" class="mm-button fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="$zoo._("Get feature info")" name="getFeature" onclick="toggleControl(this)"><span class="ui-icon info"></span></a>
#end if

#*<!--
		  <a href="#" class="mm-button fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="$zoo._("Get profile info")" name="getProfile" onclick="toggleControl(this)"><span class="ui-icon raster-profile"></span></a>
-->*#
		</div>
	</div>
