#encoding UTF-8

#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$conf["senv"]["last_map"]+".map")

#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title="Preview"
#end if

<!-- $(searchList[len($searchList)-1]["m"]=m) -->
<!-- $(searchList[len($searchList)-1]["tmpl"]="twocols") -->
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/default_header.tmpl",searchList=$searchList))

<body onload="init()">


        
<div class="ui-layout-north">
<div style="float: left" />
<img src="/public_map/img/logo.png" alt="" align="absmiddle" height="90" />
</div>
<div style="height: 70px;float: left;padding-left: 0;left: 10px;">
<h1>$title</h1>
#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/toolbar.tmpl",searchList=$searchList))
</div>
</div>
        

<div class="ui-layout-center">
<div id="loading" style="dispay:none">
	<div>
		<div id="progress_txt"></div>
	</div>
</div>
<div id="map"></div>
<div id="routingProfile">
  <div id="routingProfileContainer">
  </div>
</div>
<div id="zoomTo_control">
<a href="#" class="zoomTo_in"></a>
<span class="slider"></span>
<a href="#" class="zoomTo_out"></a>
</div>
</div>

<div class="ui-layout-west">

$Template(file=$conf['main']['templatesPath']+"/preview/baselayers.tmpl",searchList={"m": $m,"conf": $conf})

    <div id="separator"></div>
    <div id="depart1"></div>
    <img src="/public_map/img/depart.png" alt="">
    <div id="depart">
    <div id="depart2">
      <form id="formulaire_depart" action="#" onsubmit="return false;">
      <input id="adresseDepart" name="adresseDepart" type="text" class="champs_arrivee" value="" onfocus="derniereAdresse = this.value; this.value = '';" onblur="if (this.value == '') {this.value = derniereAdresse;}" />
      <input id="depart_valid" type="image" src="/public_map/img/depart_valid.png" align="absmiddle" height="15" width="15" onclick="_routingForm();return false;" />
      </form>
    </div>
    </div>
    
    <div id="separator"></div>
    <div id="arrivee1"></div>
    <img src="/public_map/img/arrivee.png" alt="">
    <div id="arrivee">
    <div id="arrivee2">
      <form id="formulaire_arrivee" action="#" onsubmit="return false;">
      <input id="adresseArrivee" name="adresseArrivee" type="text" class="champs_arrivee" value="" onfocus="derniereAdresse = this.value; this.value = '';" onblur="if (this.value == '') {this.value = derniereAdresse;}" />
      <input type="image" src="/public_map/img/arrivee_valid.png" align="absmiddle" height="15" width="15"  onclick="_routingForm();return false;" />
      </form>
    </div>
    </div>
    
    
    <div id="separator"></div>
    <div id="etapes1"></div>
    <img src="/public_map/img/etapes.png" alt="">
    <div id="etapes">
      
    <div id="etapes2">
      <form id="formulaire_etapes" action="#" onsubmit="return false;">
      Ajouter une étape :
      <input id="Image1" type="image" src="/public_map/img/plus.png" align="absmiddle" height="15" width="15" onclick="routingFormAddPOI();" />
      <input id="routingDeletePoi"  type="image" src="/public_map/img/minus.png" align="absmiddle" height="15" width="15" onclick="routingFormDeletePOI();" class="hidden" />
      </form>
      <div id="etapes_2">	
      </div>
    </div>
    </div>
    
    
    
    <div id="separator"></div>
    <div id="preferences1"></div>
    <img src="/public_map/img/preferences.png" alt="">
    <div id="preferences">
    <div id="preferences2">
    <div id="radio">
      Afficher feuille de route </br>
      <input type="radio" id="radioOui" name="radio" onclick="displayRoadmap(1);"  /><label>Oui</label>
      <input type="radio" id="radioNon" name="radio" onclick="displayRoadmap(-1);" checked /><label>Non</label>
    </div>
    </div>
    </div>
<img src="/public_map/img/IGO.png" style="position:absolute;bottom: 15px;left:50px">
    </div>
    
<div class="ui-layout-east hidden">
<div id="fdr_entete"></div>
<img src="/public_map/img/feuillederoute.png" alt="" />
<div id="feuillederoute">
<div id="fdr_cadre">
  <!--
  Code roadmap à insérer ici
  -->
</div>
<div style="position:absolute;bottom: 40px;left: 20px;">
  <a href="#" onclick="System.routingCnt=0;routingDetailsNext(-1);routingZoomOnSteps();clearTimeout(timeOut);"> << </a> | 
  <a href="#" onclick="routingDetailsNext(-1);routingZoomOnSteps();clearTimeout(timeOut);"> < </a> | 
  <a href="#" onclick="routingZoomOnSteps();clearTimeout(timeOut);" id="jFlowNext"> Afficher </a> |
  <a href="#" onclick="System.routingCnt=0;autoAdvance();" > Simul </a> |
  <a href="#" onclick="routingDetailsNext(1);routingZoomOnSteps();clearTimeout(timeOut);" id="jFlowNext0"> > </a>
</div>
</div>
</div>

<div class="ui-layout-south">
<div class="btm">

#from Cheetah.Template import Template
$(Template(file=$conf["main"]["templatesPath"]+"/preview/copyright.tmpl",searchList=$searchList))

<div id="coords"></div>

</div>
</div>


<div class="dialog-lenght" title="Lenght">
	<div id="output-lenght"></div>
</div>
	               
<div class="dialog-area" title="Area">
	<div id="output-area"></div>	                
</div>

<div class="dialog-gfi" title="Get Feature Info">
	<div id="output-gfi"></div>	                
</div>


</body>
</html>

