#import zoo
#try
#import routing.service as r
#import json
#set d=r.listRoute($conf,{},$outputs)
#set d=json.loads($outputs["Result"]["value"])
  <ul data-role="listview" data-inset="true" id="savePathListContainer">
#for i in $d
     <li id="$i[0]">
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
	<a href="#" data-role="button" data-icon="plus" onclick="loadTrace('$i[0]')">$zoo._("Open") $i[1]</a>
	<a href="#" data-role="button" data-icon="delete" onclick="deleteTrace('$i[0]')">$zoo._("Delete")</a>
      </div>
     </li>
#end for
  </ul>
#except
 
#end try