#import mm_access
#if "children" in $elem[$i].keys()
	  <li iconCls="tree_group" closed="true"><span>$elem[$i]["text"].decode('raw_unicode_escape')</span>
	    <ul>
#for k in range(0,len($elem[$i]["children"]))
#if "children" in $elem[$i]["children"][$k].keys()
	  <li iconCls="tree_group" closed="true"><span>$elem[$i]["children"][$k]["text"].decode('raw_unicode_escape')</span>
	    <ul>	    
#for mm in range(0,len($elem[$i]["children"][$k]["children"]))
#if $elem[$i]["children"][$k]["children"][$mm].has_key("mmType")
#if $mm_access.checkLayerPriv($conf,$m,$elem[$i]["children"][$k]["children"][$mm]["id"],"r")
$Template(file=$conf['main']['templatesPath']+"/preview/modules/layer_fees/list.tmpl",searchList={"m": $m,"elem": $elem[$i]["children"][$k]["children"],"i": $mm,"conf": $conf})
#end if
#else
$Template(file=$conf['main']['templatesPath']+"preview/modules/layer_fees/list.tmpl",searchList={"m": $m,"elem": $elem[$i]["children"][$k]["children"],"i": $mm,"conf": $conf})
#end if
#end for
	    </ul>
	  </li>
#else
#set l=$m.getLayerByName($elem[$i]["children"][$k]["id"])
#if $l is not None
#if $mm_access.checkLayerPriv($conf,$m,$l.name,"r")
<li>
$Template(file=$conf['main']['templatesPath']+"preview/modules/layer_fees/display.tmpl",searchList={"layer": $l,"i": $i}) 
</li>
#end if
#else
	<li iconCls="tree_group" closed="true">
	    <span>$elem[$i]["children"][$k]["text"].decode('raw_unicode_escape')</span>
	    <ul></ul>
	</li>
#end if
#end if

#end for
	    </ul>
	  </li>
#else
#set l=$m.getLayerByName($elem[$i]["id"])
#if $l is not None
<li>
$Template(file=$conf['main']['templatesPath']+"preview/modules/layer_fees/display.tmpl",searchList={"layer": $l,"i": $i})
</li>
#end if
#end if
