#encoding "utf-8"
#import zoo
  <li id="layerswitcher">
    <a class="mmaction" role="tab" href="#distDataSources" data-toggle="tab"><i class="fa fa-folder fa-fw"></i> $zoo._("Georeference")<span class="fa arrow"></span></a>	
   <ul class="nav nav-second-level collapse" id="geoForm">

     <li class="col-xs-12">
     <label for="diro">$zoo._("Datastore")</label>
     </li>
     <li class="col-xs-12">
#import datastores.service as ds
#import mapfile.service as ms
#set outputs={"Result":{"value":""}}
#set tt=ds.list($conf,$inputs,$outputs)
#set elements=eval($outputs["Result"]["value"])
<select id="diro">
#for ij in $elements
#if $ij!="WFS" and $ij!="PostGIS"
<option disabled="true" style="font-weight: bold;color: #111">$ij</option>
#for jk in $elements[$ij]
<option>$jk.name</option>
#end for
#end if
#end for
</select>
     </li>
     <li class="col-xs-12">
<label for="filename">Filename </label>
          </li>
     <li class="col-xs-12">
<input id="filename" value="" />
	       </li>
     <li class="col-xs-12">

<input type="submit" value="Save" onclick=try{cropImage()}catch(e){alert(e)};return false;" />
     </li>

   </ul>
  </li>
