#encoding "utf-8"
#import zoo
  <li id="cropForm" class="hide">
    <a class="mmaction" href="#distDataSources">
     <i class="fa fa-crop fa-fw"></i> $zoo._("Crop Raster")<span class="fa arrow"></span></a>	
     <ul class="nav nav-second-level collapse">

       <li class="col-xs-12">
       <label for="diro">$zoo._("Datastore")</label>
       </li>
       <li class="col-xs-12">
#import datastores.service as ds
#import mapfile.service as ms
#set outputs={"Result":{"value":""}}
#set tt=ds.list($conf,$inputs,$outputs)
#set elements=eval($outputs["Result"]["value"])
       <select id="diro" class="form-control" name="dst">
#for ij in $elements
#if $ij!="WFS" and $ij!="PostGIS"
	 <option disabled="true" style="font-weight: bold;color: #111">$ij</option>
#for jk in $elements[$ij]
	 <option>$jk.name</option>
#end for
#end if
#end for
       </select>
     </li>
     <li class="col-xs-12">
     <label for="filename">Filename </label>
     </li>
     <li class="col-xs-12">
     <input id="filename" value="" type="text" class="form-control" name="dsot" />
     </li>
     <li class="col-xs-12">
     <button class="btn btn-default" onclick=try{app.cropImage()}catch(e){alert(e)};return false;">
     $zoo._("Crop")
     </button>
     <i class="fa fa-spinner fa-spin hide"> </i>
     </li>
   </ul>
  </li>
