#import zoo
<div>
#if $inputs["type"]["value"]=="save"
<fieldset>
<legend>$zoo._("Replace existing files:")<input type="checkbox" id="override" onchange="if(\$(this).is(':checked')){\$('#csvDisplay').show();\$('#filenameDisplay').hide();} else {\$('#csvDisplay').hide();\$('#filenameDisplay').show();}" /></legend>
<div id="filenameDisplay">
<label for="filename">$zoo._("Filename:")</label>
<input id="filename" name="filename" value="" />
</div>
#set t=$conf["lenv"]
#set $t["display"]="None"
#include $conf["main"]["templatesPath"]+"/Georeferencer/GCPList_bs.html"
<button class="btn btn-default" onclick=try{app.saveGCP()}catch(e){alert(e)};return false;" >
$zoo._("Save")
</button>
<!--
<input type="submit" value="$zoo._("Save")" onclick=try{app.saveGCP()}catch(e){alert(e)};return false;" />
-->
</fieldset>
</div>
#else
#include $conf["main"]["templatesPath"]+"/Georeferencer/GCPList_bs.html"
#end if