#import zoo
<div>
<div>
<label for="trans">$zoo._("Transformation type:")</label>
<select id="trans">
<option value="1">$zoo._("Polynomial one")</option>
<option value="2">$zoo._("Polynomial two")</option>
<option value="3">$zoo._("Polynomial three")</option>
<option value="tps">$zoo._("Thin Plate Spline")</option>
</select>
</div>
<div>
<label for="resample">$zoo._("Resampling method:")</label>
<select id="resample">
<option value="near">$zoo._("Nearest Neighbour")</option>
<option value="bilinear">$zoo._("Bilinear")</option>
<option value="cubic">$zoo._("Cubic")</option>
<option value="cubicspline">$zoo._("Cubic Spline")</option>
<option value="lanczos">$zoo._("Lanczos")</option>
</select>
<div>
<div>
<label for="comp">$zoo._("Compression:")</label>
<select id="comp">
#for i in ["NONE","LZW","PACKBITS","JPEG","CCITTRLE","CCITTFAX3","CCITTFAX4","DEFLATE"]
<option value="$i">$i</option>
#end for
</select>
</div>
<div>
<label for="diro">$zoo._("Datastore:")</label>
#import datastores.service as ds
#import mapfile.service as ms
#set outputs={"Result":{"value":""}}
#set tt=ds.list($conf,$inputs,$outputs)
#set elements=eval($outputs["Result"]["value"])
<select id="diro">
#for ij in $elements
#if $ij!="WFS" and $ij!="PostGIS"
<option disabled="true" style="font-weight: bold;color: #111">$ij</option>
#for jk in $elements[$ij]
<option>$jk.name</option>
#end for
#end if
#end for
</select>
</div>
<div>
<label for="fileo">$zoo._("Raster filename:")</label>
<input type="text" id="fileo" value=""/>
</div>
<fieldset>
<legend>$zoo._("Set target resolution") <input type="checkbox" id="resolution" onclick="if(this.checked)\$('#reso').show();else \$('#reso').hide()" /></legend>
<div id="reso" style="display: none;">
<div>
<label for="th">$zoo._("Horizontal:")</label>
<input type="text" id="th" value=""/>
</div>
<div>
<label for="tv">$zoo._("Vertical:")</label>
<input type="text" id="tv" value=""/>
</div>
</div>
</fieldset>
<input type="submit" value="$zoo._("Run conversion")" onclick="try{georeferenceImage();}catch(e){alert(e);}return false;" />
</div>