#import zoo
<li class="col-xs-12">
<label for="trans">$zoo._("Transformation type:")</label>
</li>
<li class="col-xs-12">
<select id="trans" name="trans">
<option value="1">$zoo._("Polynomial one")</option>
<option value="2">$zoo._("Polynomial two")</option>
<option value="3">$zoo._("Polynomial three")</option>
<option value="tps">$zoo._("Thin Plate Spline")</option>
</select>
</li>
<li class="col-xs-12">
<label for="resample">$zoo._("Resampling method:")</label>
<select id="resample" name="r">
<option value="near">$zoo._("Nearest Neighbour")</option>
<option value="bilinear">$zoo._("Bilinear")</option>
<option value="cubic">$zoo._("Cubic")</option>
<option value="cubicspline">$zoo._("Cubic Spline")</option>
<option value="lanczos">$zoo._("Lanczos")</option>
</select>
</li>
<li class="col-xs-12">
<label for="comp">$zoo._("Compression:")</label>
</li>
<li class="col-xs-12">
<select id="comp" name="COMPRESSION">
#for i in ["NONE","LZW","PACKBITS","JPEG","CCITTRLE","CCITTFAX3","CCITTFAX4","DEFLATE"]
<option value="$i">$i</option>
#end for
</select>
</li>
<li class="col-xs-12">
<label for="diro">$zoo._("Datastore:")</label>
</li>
<li class="col-xs-12">
#import datastores.service as ds
#import mapfile.service as ms
#set outputs={"Result":{"value":""}}
#set tt=ds.list($conf,$inputs,$outputs)
#set elements=eval($outputs["Result"]["value"])
<select id="diro" name="dst">
#for ij in $elements
#if $ij!="WFS" and $ij!="WMS" and $ij!="PostGIS"
<option disabled="true" style="font-weight: bold;color: #111">$ij</option>
#for jk in $elements[$ij]
<option>$jk.name</option>
#end for
#end if
#end for
</select>
</li>
<li class="col-xs-12">
<label for="fileo">$zoo._("Raster filename:")</label>
</li>
<li class="col-xs-12">
<input type="text" id="fileo" name="dso" value=""/>
</li>
<li class="col-xs-12">
<fieldset>
<legend>$zoo._("Set target resolution") <input type="checkbox" id="resolution" onclick="if(this.checked)\$('#reso').show();else \$('#reso').hide()" /></legend>
<div id="reso" style="display: none;">
<div>
<label for="th">$zoo._("Horizontal:")</label>
<input type="text" id="th" value=""/>
</div>
<div>
<label for="tv">$zoo._("Vertical:")</label>
<input type="text" id="tv" value=""/>
</div>
</div>
</fieldset>
</li>
<li class="col-xs-12">
<button class="btn btn-default" onclick="try{app.georeferenceImage();}catch(e){alert(e);}return false;">
$zoo._("Run")
</button>
<i class="fa fa-spinner fa-spin hide"> </i>
</li>
