#import zoo
<div #if $conf["lenv"].has_key("display")# id="csvDisplay" style="display:none"#end if#>
<label for="csvfile">$zoo._("CSV File:") </label>
<select id="csvfile#if $conf["lenv"].has_key("display")#0#end if#">
#import georeferencer.service as gr
#set inputs={"dso": {"value":$conf["senv"]["mmGeoDSO"]}}
#set d=gr.listGeoreferencedProject($conf,$inputs,$outputs)
#if d==3
#set d=eval($outputs["Result"]["value"])
#for i in $d
     <option>$i</option>
#end for
#else
$conf["lenv"]["message"]
#end if
</select>
#if not($conf["lenv"].has_key("display"))
<input type="submit" value="$zoo._("Load")" onclick="try{loadGCPFile()}catch(e){alert(e);}return false;" />
#end if
</div>