#import zoo
<div>
<fieldset>
<legend>$zoo._("Replace existing files:")<input type="checkbox" id="override" onchange="if(\$(this).is(':checked')){\$('#csvDisplay').show();\$('#filenameDisplay').hide();} else {\$('#csvDisplay').hide();\$('#filenameDisplay').show();}" /></legend>
<div id="filenameDisplay">
<label for="filename">$zoo._("Filename:")</label>
<input id="filename" value="" />
</div>
#set t=$conf["lenv"]
#set $t["display"]="None"
#include $conf["main"]["templatesPath"]+"/Georeferencer/LoadGCP.tmpl"
<input type="submit" value="$zoo._("Save")" onclick=try{saveGCP()}catch(e){alert(e)};return false;" />
</fieldset>
</div>