#from Skeleton import Skeleton
#extends Skeleton

#def page_title
MapMint: login page
#end def

#def body
<div id="container">

<div id="connexion-form">
<form action="#" method="post" class="">
<table style="width:100%;">
<tr>
<td style="text-align:left;"><label for="email">Login:</label></td>
<td><input type="text" name="email" id="email"/></td>
</tr>

<tr>
<td style="text-align:left;"><label for="password">Password:</label></td>
<td><input type="password" name="password" id="password"/></td>
</tr>
</table>
<a id="validate" href="#" class="butt ui-corner-all">Log in</a>   
<a id="success" href="#" class="butt ui-corner-all">Test Succes</a>   
<a id="error" href="#" class="butt ui-corner-all">Test Error</a>   
</form>
     
<ul class="links">
<li><a href="#">Not yet registered ?</a></li>

<li><a href="">Forgot your password ?</a></li>
</ul>
</div>
</div>
#end def
