#import zoo
#import mm_access
#set inputs1=$inputs
#set $inputs1["prefix"]={"value":"ds_","dataType":"string"}
#if $mm_access.checkDataStorePriv($conf,$inputs["dataStore"]["value"],"rwx")
<div>
<form>
<div>
$(Template(file=$conf["main"]["templatesPath"]+"/UsersManagement/GroupList.html",searchList={"conf": $conf,"prefix":"","inputs": $inputs1,"dataStore": $inputs["dataStore"]}))
</div>
<div>
<input type="hidden" id="am_dataStore" value="$inputs["dataStore"]["value"]" />
<input type="submit" value="$zoo._("Valid")" onclick="try{Distiller.validDataStorePrivileges()}catch(e){alert(e);}return false" />
</div>
</form>
</div>
#else
#include $conf["main"]["templatesPath"]+"/default_auth_msg.tmpl"
#end if