#import zoo
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
<div>
<form>
#if $inputs["clause"]["value"]!="id=" and $inputs["type"]["value"]!="insert"
#set q=cur.execute("SELECT id,name,description,adm from "+prefix+"groups where "+$inputs["clause"]["value"])
#set q=cur.fetchall()
#else
#set q=[["","","",""]]
#end if
<input id="um_gid" type="hidden" value="$q[0][0]" />
<div>
<label for="um_gname">$zoo._("Name: ")</label>
<input id="um_gname" type="text" value="$q[0][1]" />
</div>
#if $inputs["type"]["value"]!="delete"
<div>
<label for="um_gdesc">$zoo._("Description: ")</label>
<input id="um_gdesc" type="text" value="$q[0][2]" />
</div>
<div>
<label for="um_gadmin">$zoo._("Admin access: ")</label>
<input id="um_gadmin" type="checkbox" #if $q[0][3]==1#checked="true"#end if# />
</div>
<fieldset class="um_groups_f">
#set cnt=cur.execute("SELECT count(*) from "+$prefix+"users")
#set cnt=cur.fetchall()
#set cnt=$cnt[0][0]
#set q0=cur.execute("SELECT login from "+$prefix+"users")
#set q0=cur.fetchall()
#if $inputs["clause"]["value"]=="id="
#set q1=[[""]]
#else
#set res=cur.execute("SELECT "+$prefix+"users.login from "+$prefix+"user_group,"+$prefix+"users where id_user="+$prefix+"users.id and "+$prefix+"user_group."+$inputs["clause"]["value"].replace("id","id_group"))
#set q1=cur.fetchall()
#end if
<legend>Users #if len(q0)>1#<input type="submit" value="$zoo._("Add")" onclick="var tmp=\$('.gselect').length;\$('select#um_group_0').clone().attr('id', 'um_group_'+tmp).appendTo('.um_groups_f');if(tmp+1>1) \$('#um_gdelete').show();return false;" /><input id="um_gdelete" type="submit" value="$zoo._("Delete")" onclick="var tmp=(\$('.gselect').length-1);if(tmp>0)\$('select#um_group_'+tmp).remove();else {alert('$zoo._("You should keep at least one group linked to a user")');\$('#um_gdelete').toggle();}if(tmp-1==0) \$('#um_gdelete').toggle();;return false;" #if len(q1)==1#style="display:none"#end if#/>#end if#</legend>
#for k in range(0,len(q1))
<select id="um_group_$k" class="gselect">
<option value="-1">$zoo._("Choose")</option>
#for i in range(0,len($q0))
#for j in range(0,len($q0[$i]))
<option value="$q0[$i][$j]" #if $q1[$k][0]==$q0[$i][$j]#selected="true"#end if#>$q0[$i][$j]</option>
#end for
#end for
</select>
#end for

#end if
</fieldset>
<input type="hidden" id="um_gtype" value="$inputs["type"]["value"]"/>

<input type="submit" value="#if $inputs["type"]["value"]=="delete"#$zoo._("Delete")#else##if $inputs["type"]["value"]=="update"#$zoo._("Save")#else#$zoo._("Add")#end if##end if#" onclick="MapMintUsersManager.validTuple();" />

</form>
</div>
