#import zoo
#import authenticate.service as auth
#set sprefix=$auth.getPrefix($conf)
#set con=$auth.getCon($conf)
#if $inputs.has_key("prefix")
#set prefix=$inputs["prefix"]["value"]
#else
#set prefix=""
#end if
#if $inputs.has_key("dataStore") and $inputs["dataStore"]["value"][:3]!="WMS"
#set suffix=" WHERE adm=1 and "
#set suffix1=" WHERE adm=1 "
#else
#set suffix=" WHERE "
#set suffix1=" "
#end if
<fieldset class="$(prefix)um_groups_f">
#set cur=con.conn.cursor()
#set res=cur.execute("SELECT count(*) from "+$sprefix+"groups "+$suffix1)
#set cnt=cur.fetchall()
#set cnt=$cnt[0][0]
#set res=cur.execute("SELECT name from "+$sprefix+"groups "+$suffix1)
#set q0=cur.fetchall()
#if $inputs.has_key("clause")
#if $inputs["clause"]["value"]=="id="
#set q1=[[""]]
#else
#set req="SELECT "+$sprefix+"groups.name from "+$sprefix+"user_group,"+$sprefix+"groups "+$suffix+" id_group="+$sprefix+"groups.id and "+$inputs["clause"]["value"].replace("id","id_user")
#set res=cur.execute($req)
#set q1=cur.fetchall()
#if len($q1)==0
#set q1=[[""]]
#end if
#end if
#else
#set q1=[["public"]]
#set q2=[["1","1","1"]]
#if $inputs.has_key("layer")
#if $inputs.has_key("dataStore")
#set q1=[["admin"]]
#end if
#if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mm_access_groups") is not None
#set q1=[]
#set q2=[]
#for i in $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mm_access_groups").split(",")
#set $q1+=[[i]]
#if $m.getLayerByName($inputs["layer"]["value"]).metadata.get("mm_access_"+i) is not None
#set $q2+=[$m.getLayerByName($inputs["layer"]["value"]).metadata.get("mm_access_"+i).split(',')]
#end if
#end for
#end if
#else
#if $inputs.has_key("dataStore")
#import datastores.service as ds
#set outputs1={"Result":{"value":""}}
#try
#set t=ds.getDataStorePrivileges($conf,$inputs,$outputs1)
#set q1=[]
#set q2=[]
#for i in eval($outputs1["Result"]["value"])
#set $q1+=[[i[0]]]
#set $q2+=[[i[1],i[2],i[3]]]
#end for
#except
#set q1=[[$conf["senv"]["group"],"1","1","1"]]
#end try
#else
#if $m.web.metadata.get("mm_access_groups") is not None
#set q1=[]
#for i in $m.web.metadata.get("mm_access_groups").split(",")
#set $q1+=[[i]]
#end for
#end if
#end if
#end if
#end if
<legend>$zoo._("Groups")
#if len(q0)>1
<input type="submit" class="gselectAdd" value="$zoo._("Add")" />
<input id="$(prefix)um_gdelete" type="submit"  class="gselectDel" value="$zoo._("Delete")" />
#end if
</legend>
#if $inputs.has_key("layer") or $inputs.has_key("dataStore")
<div class="row col-sm-12 col-xs-12">
  <div class="col-sm-9 col-xs-6 ">
    $zoo._("Group")
  </div>
  <div class="col-sm-3 col-xs-3 ">
    $zoo._("Access")
  </div>
</div>
<div class="row col-sm-12 col-xs-12">
  <div class="col-sm-9 col-xs-6 ">
  </div>
  <div class="col-sm-1 col-xs-1 ">
    r
  </div>
  <div class="col-sm-1 col-xs-1 ">
    w
  </div>
  <div class="col-sm-1 col-xs-1 ">
    x
  </div>
</div>
#end if
#for k in range(0,len($q1))
<div id="$(prefix)um_gtr_$k" class="row col-sm-12 col-xs-12">
  <div class="col-sm-9 col-xs-6 ">
    <select id="$(prefix)um_group_$k" name="group" class="$(prefix)gselect gselect form-control">
      <option value="-1">$zoo._("Choose")</option>
#for i in range(0,len($q0))
#for j in range(0,len($q0[$i]))
      <option value="$q0[$i][$j]" #if $q1[$k][0]==$q0[$i][$j]#selected="true"#end if#>$q0[$i][$j]</option>
#end for
#end for
    </select>
  </div>
#if $inputs.has_key("layer")  or $inputs.has_key("dataStore")
#set l=0
#for m in ["r","w","x"]
  <div class="col-sm-1 col-xs-1 ">
    <input type="checkbox" name="$(m)" id="${m}_$(prefix)um_group_$k" class="${m}_$(prefix)um_group" #if $q2[$k][$l]=="1" or $q2[$k][$l]=="true"#checked="true"#end if# />
  </div>
#set $l+=1
#end for
#end if
</div>
#end for
#if $inputs.has_key("layer") or $inputs.has_key("dataStore")

#end if
</fieldset>
