#import zoo
#import mm_access
#import mapscript
#if "dataStore" in $inputs.keys()
#import datastores.service as ds
#set m=mapscript.mapObj(ds.getPath($conf,$inputs["dataStore"]["value"])+"ds_ows.map")
#else
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$conf["senv"]["last_map"]+".map")
#end if
#set inputs1=$inputs
#set $inputs1["prefix"]={"value":"layer_","dataType":"string"}
<div id="datasourcePrivileges">
#if ("dataStore" in $inputs.keys() and $mm_access.checkDataSourcePriv($conf,$m,$inputs["dataStore"]["value"],$inputs["layer"]["value"],"rwx")) or not("dataStore" in $inputs.keys())
<form>
<div>
#try
#set test=eval($inputs["hasIpRestriction"]["value"])
#except
#set test=False
#end try
$(Template(file=$conf["main"]["templatesPath"]+"/UsersManagement/GroupList_bs.html",searchList={"conf": $conf,"prefix":"","m": $m,"inputs": $inputs1,"ipRestriction": $test}))
</div>
<div>
<input type="hidden" id="am_layerName" value="$inputs["layer"]["value"]" />
#if "dataStore" in $inputs.keys()
<input type="hidden" id="am_dataStoreName" value="$inputs["dataStore"]["value"]" />
#end if
<button class="btn btn-default" value="" onclick="return false">$zoo._("Valid")</button>
</div>
</form>
#else
<div class="errormsg">$zoo._("You don't have permission to access this ressource !")</div>
#end if
</div>