#import zoo
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
<div>
  <form>
    <div>
    <ul class="style-tabs-nav">
        <li><a class="ui-state-default ui-button-text-only ui-corner-all" href="#mm_users" onclick="System.umt='#um_utable';\$('#um_groups').hide();\$('#um_users').show();">$zoo._("Users")</a></li>
       <li><a class="ui-state-default ui-button-text-only ui-corner-all"href="#mm_groups"  onclick="System.umt='#um_gtable';\$('#um_users').hide();\$('#um_groups').show();">$zoo._("Groups")</a></li>
    </ul></br>
    </div>
    <div id="um_users">
      <table id="um_utable">
	<thead>
	  <th width="70">$zoo._("Login")</th>
	  <th width="75">$zoo._("Last Name")</th>
	  <th width="75">$zoo._("First Name")</th>
	  <th width="125">$zoo._("Mail")</th>
	  <th width="65">$zoo._("Phone")</th>
	</thead>
	<tbody>
#set res=cur.execute("SELECT id,login,lastname,firstname,mail,phone from "+$prefix+"users limit 10")
#set res=cur.fetchall()
#for i in $res
<tr id="u_$i[0]">
#for j in range(1,len($i))
<td>$i[$j]</td>
#end for
</tr>
#end for
	</tbody>
      </table>
    </div>
    <div id="um_groups" style="display:none">
      <table id="um_gtable">
	<thead>
	  <th width="100">$zoo._("Name")</th>
	  <th width="250">$zoo._("Description")</th>
	</thead>
	<tbody>
#set res=cur.execute("SELECT id,name,description from "+$prefix+"groups limit 10")
#set res=cur.fetchall()
#for i in $res
<tr id="g_$i[0]">
#for j in range(1,len($i))
<td>$i[$j]</td>
#end for
</tr>
#end for
	</tbody>
      </table>
    </div>
  </form>
</div>
