#import zoo
<div>
  <form>
    <div>
      <a href="#mm_users">Users</a>|<a href="#mm_groups">Groups</a>
    </div>
    <div id="um_users">
      <table id="um_utable">
	<thead>
	  <th width="100">$zoo._("Login")</th>
	  <th width="150">$zoo._("Last Name")</th>
	  <th width="150">$zoo._("First Name")</th>
	  <th width="150">$zoo._("Mail")</th>
	  <th width="50">$zoo._("Phone")</th>
	</thead>
      </table>
    </div>
    <div id="um_groups">
      <table id="um_gtable">
      </table>
    </div>
  </form>
</div>
