#import zoo
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
#set fields="id,login,firstname,lastname,mail,phone,passwd,last_con,last_map"
#if $inputs.has_key("clause")
#set haveGroup=True
#if $inputs["clause"]["value"]=="id="
#set q=[["","","","","","","","","",""]]
#else
#set q=cur.execute("SELECT "+$fields+" from "+$prefix+"users where "+$inputs["clause"]["value"])
#set q=cur.fetchall()
#end if
#else
#set haveGroup=False
#set q=cur.execute("SELECT "+$fields+" from "+$prefix+"users where login='"+$conf["senv"]["login"]+"'")
#set q=cur.fetchall()
#end if
#set titles=['id','login','first name','last name','email','phone','password','last_con','last_map']
<div id="$inputs["type"]["value"]-user#if $inputs.keys().count("pref")>0#-preferences#end if#" class="collapse userBaseEditForm #if $inputs["type"]["value"]!="insert"#userEditForm#end if#">
<form class="form-inline mt myWell" data-toggle="validator" role="form">
<fieldset class="mbp mtp">
<legend>$zoo._("General informations")</legend>
<div class="form-group myWell">
#if not($inputs.has_key("type")) or ($inputs.has_key("type") and $inputs["type"]["value"]!="delete")
#set cnt=1
#set j=1
#for i in titles
#set ii=$i.replace(' ','_')
#if i!='last_map' and i!='last_con' and i!='id'
#if i!='password'
#if $inputs["type"]["value"]!="insert"
<label for="up_$ii" class="control-label">$zoo._(i.title()): </label>
#end if
<input id="up_$ii" #if $ii=="email"#type="email"#else#type="text"#end if# name="user_$(fields.split(',')[$cnt])" class="form-control" value="$q[0][$j]" placeholder="$zoo._(i.title())" required/>
#set $cnt+=1
#if i=="login"
#set login=$q[0][$j]
#end if
#else
</div>
<div class="row">
<div class="col-md-6 col-xs-12">
<fieldset>
<legend>$zoo._("Password:") <input type="checkbox" id="up_cp" #if $inputs.keys().count("pref")==0#data-toggle="collapse"#end if# data-target="#userPassword$inputs["type"]["value"].title()" /></legend>
<div id="userPassword$inputs["type"]["value"].title()" class="myWell collapse">
<label class="control-label" for="up_$i">$zoo._($i): </label>
<input id="up_$(inputs["type"]["value"].title())_$i" name="user_$(fields.split(',')[$cnt])" data-minlength="6" class="form-control" type="password" value=""/>
<label class="control-label" for="up_confirm_$i">$zoo._("Confirm") $zoo._($i): </label>
<input id="up_confirm_$i" class="form-control" data-match="\#up_$(inputs["type"]["value"].title())_$i" type="password" value=""/>
</div>
</fieldset>
</div>
#end if
#set j=$j+1
#end if
#end for

#if haveGroup
<div class="col-md-6 col-xs-12">
#include $conf["main"]["templatesPath"]+"/UsersManagement/GroupList_bs.html"
</div>
#end if
</div>

#else
#set i=titles[1]
#set ii=$i.replace(' ','_')
#set login=$q[0][1]
<label for="up_$ii">$zoo._(i.title()): </label>
<input id="up_$ii" name="user_$i" class="form-control" value="$q[0][1]"/>
#end if

#if $inputs.has_key("clause")
<input id="um_uclause" name="user_fid" type="hidden" value="$login" />
#end if
#if $inputs.has_key("type")
<input id="um_utype" type="hidden" value="$inputs["type"]["value"]" />
#end if
#if $inputs.has_key('type')
<button type="submit" href="#" class="btn btn-primary userSubmitForm">
#if $inputs["type"]["value"]=="delete"#$zoo._("Delete")#else##if $inputs["type"]["value"]=="update"#$zoo._("Save")#else#$zoo._("Add")#end if##end if#
</button>
#else
<button href="#" class="easyui-linkbutton" onclick="System.updateUserPreferences();">$zoo._("Save")</button>
#end if
</fieldset>
</form>
</div>