#import zoo
<div class="sharing padder">
<h5 class="sbt"><i class="fa fa-link"></i>Permalink</h5>
<div class="info-img-content">
<img class="qrcode" id="qrcodeImg" src="#try#$inputs["img"]["value"]#except#http://placehold.it/160x160/CCCCCC/ffffff&text=Generating#end try#" name="$zoo._("QR Code")" /> 
</div>
<div class="info-date">
<i class="fa fa-clock-o"></i>
<span id="qrcodeClock"></span>
</div>
<div class="content">
<input class="qrcodel" id="qrcodeUrl" type="text" value="#try#$inputs["url"]["value"]#except#http://placehold.it/460x250/CCCCCC/ffffff&text=preview#end try#"/>
</div>
<div class="qrcode-tables">
</div>
</div>