.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.draggable li{
    cursor: "pointer";
}

ul.draggable li.placeholder {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  /** More li styles **/
}

ul.draggable li.placeholder:before {
  position: absolute;
  content: ">";
  /** Define arrowhead **/
}

#dashUsers .tab-pane{
    display: none;
}

#dashUsers .tab-pane.active{
    display: block;
}

i{
    font-style: unset;
}

[class*=" mif-"], [class^="mif-"] {
    vertical-align: unset;
}

.ds_um_groups_f .col-sm-1, .ds_um_groups_f .col-sm-2, .ds_um_groups_f .col-sm-3, .ds_um_groups_f .col-sm-4, .ds_um_groups_f .col-sm-5, .ds_um_groups_f .col-sm-6, .ds_um_groups_f .col-sm-7, .ds_um_groups_f .col-sm-8, .ds_um_groups_f .col-sm-9, .ds_um_groups_f .col-sm-10, .ds_um_groups_f .col-sm-11, .ds_um_groups_f .col-sm-12{
    align-content: center; 
    text-align: center;
}

.symbol-up {
    color: #b4b4b4;
    display: inline-block;
    margin-left: -1.28571em;
    margin-right: -1.28571em;
    margin-top: 0;
    position: relative;
}

.symbol-multi{
    position: relative; 
    display: inline-flex; 
    width: 1.28571em;
}

input[type="file"] {
    border-radius: 4px;
    display: block;
    line-height: 1.02857;
    padding: 0 4px;
}

.myWell{
    padding: 9px;
}


/**
 * Typeahead Styles
 */
.twitter-typeahead{
    float:left;
    background-color: #fff;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 150%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-menu {
  max-height: 150px;
  overflow-y: auto;
}


.fa-caret-ul::before,.fa-caret-uc::before,.fa-caret-ur::before,.fa-caret-cl::before,.fa-caret-ll::before,.fa-caret-lr::before{
    content: "\f0d9";
}

.fa-caret-ul{
    -ms-transform:rotate(45deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(45deg); /* Chrome, Safari, Opera */
    transform:rotate(45deg);         /* Standard syntax */
}

.fa-caret-uc{
    -ms-transform:rotate(90deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
    transform:rotate(90deg);         /* Standard syntax */
}

.fa-caret-ur{
    -ms-transform:rotate(135deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(135deg); /* Chrome, Safari, Opera */
    transform:rotate(135deg);         /* Standard syntax */
}

.fa-caret-cl{
}


.fa-caret-cr::before{
    content: "\f0da";    
}
.fa-caret-lc::before{
    content: "\f0d7";
}

.fa-caret-ll{
    -ms-transform:rotate(315deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(315deg); /* Chrome, Safari, Opera */
    transform:rotate(315deg);         /* Standard syntax */
}


.fa-caret-lr{
    -ms-transform:rotate(225deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(225deg); /* Chrome, Safari, Opera */
    transform:rotate(225deg);         /* Standard syntax */
}

.ol-zoomslider-thumb{
    left: -1px;
    width: 100% !important;
}