@font-face {
	font-family: 'mapmint-layers';
	src:url('../fonts/mapmint-layers.eot?x5r743');
	src:url('../fonts/mapmint-layers.eot?x5r743#iefix') format('embedded-opentype'),
		url('../fonts/mapmint-layers.ttf?x5r743') format('truetype'),
		url('../fonts/mapmint-layers.woff?x5r743') format('woff'),
		url('../fonts/mapmint-layers.svg?x5r743#mapmint-layers') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mm0-layers {
	font-family: 'mapmint-layers';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mm-layers-measure-area:before {
        content: "\e900";
}
.mm-layers-measure-distance:before {
        content: "\e901";
}
.mm-layers-add:before {
	content: "\e800";
}
.mm-layers-overlays-only:before {
	content: "\e816";
}
.mm-layers-baseonly:before {
	content: "\e817";
}
.mm-layers-layers:before {
	content: "\e80f";
}

