/*
 * Fonts.
 */


@font-face {
  font-family: 'clarendon_fs_lightlight';
  src: url('../fonts/clarendonfs-light-webfont.eot');
  src: url('../fonts/clarendonfs-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/clarendonfs-light-webfont.woff') format('woff'),
       url('../fonts/clarendonfs-light-webfont.ttf') format('truetype'),
       url('../fonts/clarendonfs-light-webfont.svg#clarendon_fs_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'bryant_webregular';
    src: url('../fonts/bryantwebregular-webfont.eot');
    src: url('../fonts/bryantwebregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bryantwebregular-webfont.woff') format('woff'),
         url('../fonts/bryantwebregular-webfont.ttf') format('truetype'),
         url('../fonts/bryantwebregular-webfont.svg#bryant_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bryant_webmedium';
    src: url('../fonts/bryantwebmedium-webfont.eot');
    src: url('../fonts/bryantwebmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bryantwebmedium-webfont.woff') format('woff'),
         url('../fonts/bryantwebmedium-webfont.ttf') format('truetype'),
         url('../fonts/bryantwebmedium-webfont.svg#bryant_webmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Glyphs.
 */

.glyphicon-chevron-left:before {
	font-family: 'icomoon';
	content: "\ea31";
}
.glyphicon-chevron-right:before {
	font-family: 'icomoon';
	content: "\ea34";
}

.glyphicon-twitter:before {
	font-family: 'icomoon';
	content: "\e603";
}
.glyphicon-facebook:before {
	font-family: 'icomoon';
	content: "\e602";
}
.glyphicon-linkedin:before {
	font-family: 'icomoon';
	content: "\e613";
}


/*
 * Defaults.
 */

body {
	font-family: 'clarendon_fs_lightlight', serif;
	font-size: 20px;
	line-height: 30px;

	margin: 0;
  font-weight: normal;
  font-style: normal;
  color: #444;
	background: url("../img/bg-grid.png") repeat;	
}

h1,h2,h3,h4,h5 {
  font-family: 'clarendon_fs_lightlight', serif;
  color: #444;
}

h1 {
	font-size: 48px;
	line-height: 64px;
	margin-bottom: 26px;
	
	color: #000;
}

h2 {
	font-size: 36px;
	line-height: 60px;
}

strong {
	color: #FF5200;
	font-weight: normal;
  font-style: normal;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #999999;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

/*
 * Regions.
 */
#header {
	font-family: 'bryant_webmedium', sans-serif;
	font-size: 30px;
	line-height: 72px;
}

#top {
	font-size: 20px;
	line-height: 30px;
	padding-top: 48px;
	padding-bottom: 20px;
	
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#groth {
	background-color: rgba(255,255,255, 0.6);
}

#conditions {
	padding-top: 50px;
	padding-bottom: 20px;
	
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
}

#winners {
	background-color: rgba(255,255,255, 0.6);
	overflow: hidden;
}

.winners-container {
	padding-bottom: 30px;
	padding-right: 0;
}

#winners .map-text {
	padding-right: 0;
	z-index: 10;
}
#winners .map-fig {
	padding-left: 0;
	padding-right: 0;
	height: 496px;
	z-index: 1;
}

#logos {
	height: 72px;
	
	background-color: #eee;
	opacity: .5;	
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	z-index: 10;
}
.logos-container {
	padding-top: 10px;
}

#talk {
	padding-top: 50px;
	padding-bottom: 50px;
	
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#talk .btn {
	margin-top: 20px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#talk .img-circle {
	width: 85%;
	height: 85%;

}



#talk-expand {
	background-color: rgba(255,255,255, 0.5);
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	
	/*
	position: relative;
	top: -1px;
	*/
	
	margin-top: -1px;
	
	z-index: 20;
}



#trimask {
    height: 32px;
    background-color: #fff;
    position: relative;
		top: -32px;
}
#trimask:before {
    content:"";
    position: absolute;
    left: -23px;
    width: 50%;
    height: 28px;
    top: 32px;
    background-color: #fff;
    -webkit-transform: skew(-60deg);
    -moz-transform: skew(-60deg);
    -o-transform: skew(-60deg);
    -ms-transform: skew(-60deg);
    transform: skew(-60deg);

    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /*box-shadow: -2px 4px 8px #000;*/
}
#trimask:after {
    content:"";
    position: absolute;
    right: -23px;
    width: 50%;
    height: 28px;
    top: 32px;
    background-color: #fff;
    -webkit-transform: skew(60deg);
    -moz-transform: skew(60deg);
    -o-transform: skew(60deg);
    -ms-transform: skew(60deg);
    transform: skew(60deg);

    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /*box-shadow: 2px 4px 8px #000;*/
}

#pre-footer {
	font-size: 18px;
	line-height: 22px;
	padding-top: 30px;
	padding-bottom: 10px;
	
	color: #999;
	border-bottom: 1px solid #ddd;
}

#pre-footer strong {
	line-height: 36px;
	color: #444;
}

#footer {
	background-color: #fff;
	
	font-family: 'bryant_webmedium', sans-serif;
	font-size: 16px;
	height: 40px;
	color: #999;
}


/*
 * Controls.
 */

.question .title {
	font-family: 'bryant_webmedium', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
	padding-top: 20px;
  color: #FFBA4A;
}

.icon-down {
	font-weight: normal;
  font-style: normal;
  font-size: 80px;
	line-height: 120px;
	color: #FF4313;
}
.icon-down:before {
	content: "\ea32";
}

.icon-left, .icon-right {
	font-weight: normal;
  font-style: normal;
  font-size: 30px;
	line-height: 120px;
	color: #797979;
	color: #000;
}


.icon-left:before {
	content: "\ea31";
}

.icon-right:before {
	content: "\ea34";
}

a.icon-down:link,
a.icon-down:visited,
a.icon-down:hover,
a.icon-down:active {
	color: #FF4313;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}



/*
 * Form elements.
 */

.btn {
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	border: 1px solid transparent;
	font-size: 24px;
	line-height: 36px;
	border-radius: 4px;
	text-shadow: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input, button, select, textarea {
	font-family: 'clarendon_fs_lightlight';
	
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

textarea {
   resize: none;
}
.form-control {
	color: #999;
	font-size: 20px;
	padding: 10px 20px;
	height: 50px;
	border: 1px solid #ddd;
	font-size: 20px;
	
}

button.btn-default:focus,
button.btn-default:active,
button.btn-default:hover {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	background-color: #FF4B00;
	border-color: #FF4B00;
	background-image: none;	
}
.btn-default {
	color: #fff;
	background-color: #FF4B00;
	border-color: #FF4B00;
	background-image: none;	
}


/*
 * Carousel
 */
#carousel-logos {
		overflow: hidden;
}
#carousel-logos .col-xs-2 {
	width: 18%;
	padding-left: 0;
	padding-right: 0;
}
.logos-container.container-fluid {
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}
.carousel-control {
	color: #797979;
	width: 8.33%;
	line-height: 30px;;
	text-shadow: none;
	opacity: 1;
}
.carousel-control:hover {
	color: #FF4B00;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-inner {
	margin-left: 8.33%;
}


#btn-send {
	width: 100%;
}

.social .glyphicon {
	font-size: 32px;
	vertical-align: top;
	padding-left: 8px;
}

.logo-autika-small {

	background: url("../img/logo-autika.svg") no-repeat;
	/*
	line-height: 72px;
	height: 46px;
	width: 28px;
	color: transparent;
	padding-top: 1px;
	padding-left: 5px;
	padding-bottom: 12px;
	*/
	
	color: transparent;
	
	font-size: 150%;
	background-position: center center;
	position: relative;
	top: 11px;
	left: 2px;
}


/*
 * Illustrations.
 */

#top .fig {
	display: block;
	background: url("../img/logo-autika.svg") no-repeat;
	height: 167px;
	width: 107px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: transparent;
}

#groth .fig {
	display:block;
	background: url("../img/fig-groth.png") no-repeat;
	height: 257px;
	width: 361px;
	margin-top: 72px;

	margin-left: auto;
	margin-right: auto;
}

#conditions .fig {
	display:block;
	background: url("../img/fig-conditions.svg") no-repeat;
	height: 396px;
	width: 396px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Map.
 */
.map_image {
	display: block;
	width: 622px;
	height: 496px;
	position: absolute;
	background-position: 100% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/fig-winners.png');
	right: 0px;
}
.map_image .map_link { display: block; position: absolute; text-indent: -999em; overflow: hidden; }
.map_image #map_link_0 { width: 33px; height: 36px; top: 135px; left: 159px; }
.map_image #map_link_1 { width: 30px; height: 31px; top: 153px; left: 255px; }
.map_image #map_link_2 { width: 35px; height: 34px; top: 221px; left: 211px; }
.map_image #map_link_3 { width: 30px; height: 32px; top: 189px; left: 250px; }
.map_image #map_link_4 { width: 25px; height: 31px; top: 22px; left: 347px; }
.map_image #map_link_5 { width: 28px; height: 29px; top: 103px; left: 346px; }
.map_image #map_link_6 { width: 31px; height: 32px; top: 48px; left: 406px; }
.map_image #map_link_7 { width: 29px; height: 27px; top: 166px; left: 346px; }
.map_image #map_link_8 { width: 33px; height: 34px; top: 337px; left: 81px; }
.map_image #map_link_9 { width: 32px; height: 30px; top: 254px; left: 275px; }
.map_image #map_link_10 { width: 31px; height: 29px; top: 316px; left: 250px; }
.map_image #map_link_11 { width: 32px; height: 33px; top: 285px; left: 283px; }
.map_image #map_link_12 { width: 33px; height: 34px; top: 437px; left: 489px; }

/*
 * Fixes.
 */
.center-block {
	float: none !important
}


.row {
  margin-left: 0;
  margin-right: 0;
}

[class^="col-"] > [class^="col-"]:first-child,
[class^="col-"] > [class*=" col-"]:first-child
[class*=" col-"] > [class^="col-"]:first-child,
[class*=" col-"]> [class*=" col-"]:first-child,
.row > [class^="col-"]:first-child,
.row > [class*=" col-"]:first-child{
  padding-left: 0px;
}
[class^="col-"] > [class^="col-"]:last-child,
[class^="col-"] > [class*=" col-"]:last-child
[class*=" col-"] > [class^="col-"]:last-child,
[class*=" col-"]> [class*=" col-"]:last-child,
.row > [class^="col-"]:last-child,
.row > [class*=" col-"]:last-child{
    padding-right: 0px;
}

.footer-container > .row,
.top-container > .row {
	margin-right: 15px;
}
.groth-container > .row {
	margin-left: 15px;
	margin-right: 15px;
}

.pre-footer-container > .row {
	margin-left: 15px;
	margin-right: 15px;
}

.add-padd-right {
	padding-right: 15px;
}

/*
Extra small devices ~ Phones (< 768px)
Small devices ~ Tablets (>= 768px)
Medium devices ~ Desktops (>= 992px)
Large devices ~ Desktops (>= 1200px)
*/

/* xs: Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* sd: Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* md: Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* lg: Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

