body { overflow: hidden; }

@font-face {
	font-family: 'PublicaMundi';
	src:url('../fonts/publicamundi.eot');
	src:url('../fonts/publicamundi.eot') format('embedded-opentype'),
		url('../fonts/publicamundi.woff') format('woff'),
		url('../fonts/publicamundi.ttf') format('truetype'),
		url('../fonts/publicamundi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family: 'GeoLabsLogo';src:url('../fonts/GeoLabsLogo.ttf') format('truetype');font-weight: normal;font-style: normal;}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'PublicaMundi';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-pm:before {
content: "\e601";
font-size:2em;
padding:10px 0 0 0;
}
.sml {
font-size:.6em !important;
color:#707070 !important;
padding: 0 !important;
}


[class^="icon-f-"], [class*=" icon-f-"] {
font-family: 'GeoLabsLogo';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.icon-f-geolabs:before {
content: "\e666";
color:#707070;
}
.navbar-brand {
padding:5px 15px 5px 5px;
display: table-cell;
}

.navbar-brand i {color:#0a625c;}
.navbar-btn {
margin:7px 5px 0 0;
}
.btn-sml {
padding:7px 10px !important;
}
.navbar-offset { margin-top: 50px; }
.pm-demo-title {
color:#00a099;
padding:0 0 0 0;
margin:0 20px 0 0;
font-size:1.3em;
float:left;
line-height:50px;
}

.panel-title {
margin-top: 0;
margin-bottom: 0;
font-size: 16px;
color:#707070;
font-weight:normal;
}
.panel-title a:hover {
text-decoration:none !important;
color:#00a099;
}
#map { position: absolute; top: 50px; bottom: 0px; left: 0px; right: 0px; z-index:35;}
#map .ol-zoom { font-size: 1.2em; }
.zoom-top-opened-sidebar { margin-top: 5px; }
.zoom-top-collapsed { margin-top: 45px; }

.mini-submenu{
display:none;  
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #0a625c !important;
color:#0a625c;
border-radius: 4px;
padding: 9px;  
width: 42px;
text-align: center;
}
.mini-submenu:hover{ 
background-color: rgba(255, 255, 255, 0.5);
border: 1px solid #00a099 !important;
color:#00a099;
}
.mini-submenu-left {
position: absolute;
top: 63px;
left: .5em;
 z-index: 40;
}

.bl{height:24px;width:24px;border:1px solid #CCCCCC;border-radius:3px;display:inline-block;}
.osm{background:url(../img/osm.png);vertical-align:middle;}

.sidebar { z-index: 45; }
.main-row { position: relative; top: 0; }
.mini-submenu:hover{cursor: pointer;}

.slide-submenu{
background: #E0E0E0;
border:1px solid #CCCCCC;
color:#FFFFFF;
display: inline-block;
padding:4px 7px;
border-radius: 4px;
cursor: pointer;
font-size:.65em;
}
.slide-submenu:hover{
color:#00a099;
border:1px solid #00a099;
background:#FFFFFF;
}
.list-group-item{
padding:8px;
}
.list-group-item:hover{
color:#00a099 !important;
}
