#import zoo
<!-- Configuration layout -->
<h1 class="pane-title">$zoo._("Configuration")</h1>
<div class="toolbar">
#set i=0
#for a in ['main','provider','identification']
#set i=i+1
<a class="fg-button maincfg$i" id="maincfg$i" href="#$a" onclick="loadTab('$a');return true;" title="#if $conf[a].has_key(a+'_label')#$conf[a][a+'_label']#else#$a.title()#end if#"></a>
#end for
#import mm_access
#set groups=mm_access.getGroup($conf)
#if groups.count("admin")
  <a class="ui-state-default ui-button-text-only ui-corner-all save-as-map"  href="#" title="$zoo._("Save configuration")" id="saveConf">$zoo._("Save")</a>
#end if
</div>
<div class="west-container lcontent">
<div class="tabs-left">
#set textarea=['abstract','keywords']
#for a in $conf
#if a!='lenv' and a!='senv' and a!='mm'
   <div id="$a">
     <table style="padding:10px 10px;width:100%;">
       #for b in $conf[a]
       #if b != "isTrial" and b != "isSoap" 
       <tr>
	 <td valign="top">
	   #if $conf[a].has_key(b+"_label")#$conf[a][b+"_label"]#else#$b.title()#end if
	 </td>
	 <td>
	   #if textarea.count(b)>=1#<textarea id="$b" name="$b" rows="3" cols="17" class="maincfg"></textarea>#else#<input id="$b" type="text" class="rounded" />#end if#
	 </td>
       </tr>
       #end if
       #end for
     </table>
   </div>
#end if
#end for
</div>

</div>
