#import zoo
  <ul class="dropdown-menu">
    <li><a tabindex="-1" role="button" data-toggle="popover"
  data-placement="top" data-html="true" data-container="body" class="mm-menu mmover" id="mmm_legend"><i class="fa fa-paint-brush"></i> $zoo._("Style")</a></li>
    <li><a tabindex="-1" class="mm-menu" id="mmm_zoomTo"><i class="i i-search"></i> $zoo._("Zoom to")</a></li>
    <li><a tabindex="-1" class="mm-menu" id="mmm_showExtent"><i class="glyphicon glyphicon-eye-open"></i> $zoo._("Show extent")</a></li>
    <li><a tabindex="-1" class="mm-menu" id="mmm_query"><i class="fa fa-table"></i> $zoo._("View table")</a></li>
    <li>
    <a tabindex="-1" class="mm-menu" id="mmm_export"><i class="i i-share3"></i> $zoo._("Export data")
     <form id="formExport"> 
      <select id="sGSelectedFormat" class="selectpicker">
       <option value="KML">Vector File (KML)</option>
       <option value="ESRI Shapefile">Vector File (Shapefile)</option>
       <option value="CSV">Attributes File (CSV)</option>
      </select>
     </form>
    </a>
    </li>
    <li class="divider"></li>
    <li class="nb"><a href="#" tabindex="-1"><i class="fa fa-adjust"></i> $zoo._("Set opacity")</a>
     <div class="range">
       <input id="mmm_opacity" type="range" name="mmm_range" min="1" max="100" value="100"
  onchange="mmm_range.value=value+ '%'" oninput="mmm_range.value=value + '%'">
       <output id="mmm_range">100%</output>
     </div>
     </li>
  </ul>
