#import zoo
<div id="delete-database-dialog" title="$zoo._("Drop a DataStore")">
<p>
$zoo._("Please, confirm that you want to remove the following DataStore:")
</p>
<table>

<tbody>
 <tr>
  <td>$zoo._("Name:")</td>
  <td><input id="Distiller.pgisrform.name" class="rounded" type="text" #if "name" in $inputs.keys() and $inputs["name"].hasKey("value")#value="$inputs["name"]["value"]"#end if#/>
   <input id="Distiller.pgisrform.stype" class="rounded" type="hidden" #if "ttype" in $inputs.keys() and $inputs["type"].hasKey("value")#value="$inputs["type"]["value"]"#end if#/>
  </td>
 </tr>

</tbody>

</table>

	<div id="dlgr-buttons">
		<a href="#" class="easyui-linkbutton"   onclick="MapMintDBManager.remove();">Remove</a>
	</div>

</div>
