#encoding UTF-8
#import zoo
#extends PSkeleton_bs
#attr $ocss = ['error.css']

#attr $js = []

#attr $js1 = []

#attr $isError=True

#def istyles
#if $conf.keys().count("senv")==0 or $conf["senv"]["loggedin"]!="true"
    <link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/loginc.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
#end if
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/font-mfizz.css"/>
#if $conf["mm"].keys().count("useCdn")>0 and $conf["mm"]["useCdn"]=="true"
<!-- CDN DEPENDENCIES -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.0.0/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.2.0/css/colReorder.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.0.0/css/select.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css"/>
<!-- / CDN DEPENDENCIES -->
#else
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/colReorder.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/responsive.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/select.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/dataTables.bootstrap.min.css"/>
#end if
<link rel="stylesheet" href="$conf["main"]["publicationUrl"]/css/ol.css"/>
<link rel="stylesheet" href="$conf["main"]["publicationUrl"]/assets/css/bootstrap-colorpicker.min.css"/>
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/fileinput.min.css"/>
<link rel="stylesheet" href="$conf["main"]["publicationUrl"]/css/mapmint-tables.css"/>
#end def

#def page_title
#try
$alternativeTitle
#except
MapMint: $zoo._("Error occurs")
#end try
#end def

#def body

#try
<div class="notifications top-right"></div>
$alternative
#set default=False
#except
#set default=True
#end try

#if $default
<div id="container">

<div id="error-box">
<p>$zoo._("Requested page could not be loaded")</p>
<p>
$errorMsg
</p>
<input type="button" class="butt ui-corner-all" value="$zoo._("Go back to Dashboard")" onclick="document.location='$conf["mm"]["address"]/Dashboard_bs';" />   
</div>
#end if

<script>
\$(".loader-container").hide();
</script>
</div>

#end def
