#import mm_access
#import mapscript
#set mapfile=$conf["main"]["dataPath"]+"/public_maps/project_"+$conf["senv"]["last_map"]+".map"
#set m=mapscript.mapObj($mapfile)
#import zoo
#try
#set activatedTools=$m.web.metadata.get("mmNav").split(",")
#except
#set activatedTools=[]
#end try

<div id="help">
<ul id="tabs-hp">
        <li class="active"><a href="#tabs-tools">$zoo._("Tools")</a></li>
        <li><a href="#tabs-videos">$zoo._("Video")</a></li>
	<li><a href="#tabs-contact">$zoo._("Contact")</a></li>
</ul>

<div id="tabs-tools" class="tab_content-hp" style="display: block;">

<p><span class="ui-icon home"></span> $zoo._("Home")</p>

#if activatedTools.count("zoomtomaxextent")>0 and $mm_access.checkMapNavPriv($conf,$m,"zoomtomaxextent")
	<p><span class="ui-icon zoomtomaxextent"></span> $zoo._("Zoom to max extent")</p>
#end if

#set nnames=$conf["mm"]["navName"].split(',')
#set nids=$conf["mm"]["navId"].split(',')
#set nidxs=$conf["mm"]["navIdX"].split(',')
#set nidxxs=$conf["mm"]["navIdXX"].split(',')
#set nidfs=$conf["mm"]["navIdF"].split(',')
#set nicons=$conf["mm"]["navIcon"].split(',')

#set cnt=0
#for i in nidxs
#if $i!="zoomtomaxextent" and activatedTools.count($i)>0 and $mm_access.checkMapNavPriv($conf,$m,$i)
	<p><span class="ui-icon $nicons[$cnt]"></span>$zoo._($nnames[$cnt])</p>
#end if
#set cnt=$cnt + 1
#end for

#set cnt=0
#for i in nids
#if $nidxs.count($i)==0 and $nidxxs.count($i)==0
#if activatedTools.count($i)>0 and $mm_access.checkMapNavPriv($conf,$m,$i)
		  <p><span class="ui-icon $nicons[$cnt]"></span>$zoo._($nnames[$cnt])</p>
#end if
#end if
#set cnt=$cnt + 1
#end for

<p><span class="ui-icon ls-icon"></span> $zoo._("Manage layers")</p>

<p><span class="ui-icon al-icon"></span> $zoo._("Add layers")</p>

<p><span class="ui-icon sl-icon"></span> $zoo._("Search")</p>

<p><span class="ui-icon if-icon"></span> $zoo._("Index")</p>

</div>

<div id="tabs-videos" class="tab_content-hp">
<iframe type="text/html" width="340" height="280" src="http://www.youtube.com/embed/5d_sfv_eybQ" frameborder="0">
</iframe>
</div>


<div id="tabs-contact" class="tab_content-hp">
<fieldset>
      <form>
      	<div class="error" style="display: none">An error occurred. Please try again and fill up all the fields.</div>
        
        <div class="success" style="display: none">Your message has been sent. We will answer you shortly.</div>
        
        <div class="field">
          <label for="Name">Last name:</label>
          <input type="text" value="" id="Name" />
        </div>

        <div class="field">
          <label for="Firstname">First name:</label>
          <input type="text" value="" id="Firstname" />
        </div>
      	
        <div class="field">
          <label for="Email">Email:</label>
          <input type="text" value="" id="Email" />
        </div>

        <div class="field">
          <label for="Organisation">Organisation:</label>
          <input type="text" value="" id="Organisation" />
        </div>
        
        <div class="field">
          <label for="Message">Message:</label>
          <textarea id="Message"></textarea>
        </div>
        
        <div class="field">
          <input type="submit" value="Send your message" class="btn bckflip"  onclick="try{sendmail()}catch(e){};return false;"/>
        </div>
        
      </form>
    </fieldset>
</div>




</div>



