#import mapscript
#set m=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$conf["senv"]
#if m.web.metadata.get("mmTitle") is not None and m.web.metadata.get("mmTitle")!=""
#set title=m.web.metadata.get("mmTitle")
#else
#set title="Preview"
#end if
<title>$title | Powered by MapMint</title>
<meta name="keywords" content="MapMint, SDI, Geospatial, Web GIS, GIS, WPS, WMS, WFS, WCS, ZOO-Project, ZOO, ZOO WPS, MapServer, GRASS GIS, OSGeo, FOSS4G, OGC, OWS">
<meta name="copyright" content="MapMint, MapMint.com">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- <link rel="stylesheet" href="$conf["main"]["publicationUrl"]/theme/default/style.css" type="text/css" /> -->
<link type="text/css" href="$conf["main"]["publicationUrl"]/jquery-ui-1.8.13.custom/css/custom-theme/jquery-ui-1.8.14.custom.css" rel="stylesheet" />	
<link type="text/css" href="$conf["main"]["publicationUrl"]/mapmint-fullscreen.css" rel="stylesheet" />	
<link type="text/css" href="$conf["main"]["publicationUrl"]/mapmint-default.css" rel="stylesheet" />	
<link type="text/css" href="$conf["main"]["publicationUrl"]/window.css" rel="stylesheet" />	
<link type="text/css" href="$conf["main"]["publicationUrl"]/tree.css" rel="stylesheet" />	
<!-- <link type="text/css  " href="$conf["main"]["mmAddress"]/new-themes/themes/green/window.css" rel="stylesheet" />	-->
<link type="text/css" href="$conf["main"]["mmAddress"]/css/flexigrid.css" rel="stylesheet" />	

<link rel="stylesheet" href="./index_css" type="text/css" />


<link type="text/css" href="mapmint-largemap.css" rel="stylesheet" />

<script src="mapmint-largemap.js"></script>

</head>

<body onload="init()">

<div class="ui-layout-north">

<h1>MAPMINT LARGEMAP</h1>

<div class="fg-toolbar ui-helper-clearfix">
<div class="fg-buttonset fg-buttonset-single">
<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="Zoom to Max Extent" onclick="map.setCenter(mybounds,15);alert(mybounds);"><span class="ui-icon zoomtomaxextent"></span></a>
<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo ui-state-active" title="Select a street" name="control" onclick="toggleControl(this)"><span class="ui-icon pan"></span></a>
<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo ui-state-active" title="Get feature info" name="control" onclick="toggleControl(this)"><span class="ui-icon info"></span></a>
<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="Zoom selection box" name="zoomin" onclick="toggleControl(this)"><span class="ui-icon zoom-in"></span></a>
<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="Measure distance" name="line" onclick="toggleControl(this)"><span class="ui-icon dist"></span> </a>
<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="Measure area" name="polygon" onclick="toggleControl(this)" ><span class="ui-icon area"></span></a>
<a href="#" class="fg-button ui-state-default ui-corner-all fg-button-icon-solo" title="Print" name="print" onclick="toggleControl(this)" ><span class="ui-icon print"></span></a>
</div>
</div>
<a class="ls-button ui-state-default ui-corner-all fg-button-icon-solo ls-toogler" href="#"></a>	
</div>

<div class="ui-layout-center">
<div id="map"></div>
<div id="ls-container">
	<div id="layerswitcher">
	<h2>Layers</h2>	
	<a href="#" class="edit-toolbar">Editing toolbar</a><br/>
	<a href="#" class="spatial-toolbar">Spatial toolbar</a><br/>
	<a href="#" class="raster-toolbar">Raster toolbar</a><br/>
	<a href="#" class="terrain-toolbar">Terrain toolbar</a><br/>
    </div>
</div>		
<div id="zoomTo_control">
<a href="#" class="zoomTo_in"></a>
<span class="slider"></span>
<a href="#" class="zoomTo_out"></a>
</div>
</div>
        
<div class="ui-layout-south">    
<div class="lft">
<a href="http://mapmint.com" target="_blank">Powered by
<span>MapMint</span>
</a>
</div>
<div class="copy"><p>&copy; Copyright <a class="clink" href="http://cartoworks.com" target="_blank">Cartoworks Inc.</a></p></div>
<div id="coords"></div>         
</div>

<div id="loading">
<div id="progress_bar" class="ui-progress-bar ui-container">
		<div class="ui-progress" style="width: 0%;">
  		<span class="ui-label" style="display:none;"><b class="value">0%</b></span>

		</div>
	</div>
</div>

<div id="print-window" class="easyui-window" title="Print" closed="true" style="width:350px;height:180px;padding:5px;">  
    <table>
    <tr>
    <td class="lab">Title:</td>
    <td class="inp">
    <input type="text" class="rounded" />
	</td>
	</tr>
    <tr>
    <td class="lab">Paper size:</td>
    <td class="inp">
    <select name="print-options" id="print-options"> 
	<option value="Select">Select</option>
	<option value="A4">A4</option>
	<option value="A3">A3</option>
	<option value="A2">A2</option>
	<option value="A1">A1</option>
	<option value="A1">A0</option>
	</select>
	</td>
	</tr>
    <tr>
    <td class="lab">Resolution:</td>
    <td class="inp">
    <select name="print-options" id="print-options"> 
	<option value="">Select</option>
	<option value="-104.990137,39.74229, 18">FOSS4G conference</option>
	<option value="-104.989724,39.737426, 18">FOSS4G social event</option>
	<option value="-105.005806,39.745249, 18">FOSS4G code sprint</option>
	<option value="-104.673942,39.858732, 13">Denver airport</option>
	</select>
	</td>
	</tr>
	</table>
	
<div id="dlg-buttons">
		<a href="#" class="easyui-linkbutton"  onclick="javascript:$('#print-window').window('close')">Cancel</a>
		<a href="#" class="easyui-linkbutton"  onclick="#">Print</a>
	</div>
</div>

<div id="editing-toolbar" class="easyui-window" title="Editing Tools" closed="true" style="width:200px;height:75px;padding:0px;"> 
<div class="toolbar-noborder">
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo edit-point"  href="#" title="Add Point"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo edit-line"  href="#" title="Add Line"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo edit-polygon"  href="#" title="Add polygon"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo delete-feature"  href="#" title="Delete Feature"></a>
</div>
</div>

<div id="spatial-toolbar" class="easyui-window" title="Spatial Tools" closed="true" style="width:380px;height:75px;padding:0px;"> 
<div class="toolbar-noborder">
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo select"  href="#" title="Select"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo buffer"  href="#" title="Buffer"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo centroid"  href="#" title="Centroid"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo boundary"  href="#" title="Boundary"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo convexhull"  href="#" title="Convex Hull"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo simplify"  href="#" title="Simplify"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo union"  href="#" title="Union"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo intersection"  href="#" title="Intersection"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo symdifference"  href="#" title="Symetric Difference"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo difference"  href="#" title="Difference"></a>
</div>
</div>

<div id="raster-toolbar" class="easyui-window" title="Raster Tools" closed="true" style="width:230px;height:75px;padding:0px;"> 
<div class="toolbar-noborder">
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo raster-histogram"  href="#" title="Raster Histogram"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo clip-raster"  href="#" title="Clip Raster"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo merge-rasters"  href="#" title="Merge Rasters"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo polygons-from-raster"  href="#" title="Polygons from Raster"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo raster-from-csv"  href="#" title="Raster from CSV"></a>
</div>
</div>

<div id="terrain-toolbar" class="easyui-window" title="Terrain Tools" closed="true" style="width:230px;height:75px;padding:0px;"> 
<div class="toolbar-noborder">
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo terrain-profile"  href="#" title="Terrain Profile"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo contours-from-dem"  href="#" title="Contours From DEM"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo shaded-relief"  href="#" title="Shaded Relief"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo color-relief"  href="#" title="Color Relief"></a>
		<a class="fg-button ui-state-default ui-corner-all fg-button-icon-solo slope-map"  href="#" title="Slope Map"></a>
</div>
</div>
    
<div class="dialog-lenght" title="Lenght">
	<div id="output-lenght"></div>
</div>
	               
<div class="dialog-area" title="Area">
	<div id="output-area"></div>	                
</div> 



</body>
</html>

