#import zoo
#if $layer.numclasses > 1
    <li id="layer_$(layer.index)$(p)" #if $isOverlays#data-layer="$layer.name"#end if# iconCls="tree$(p)_layer$(layer.index)$(p)" #if not($hasStep)#state="closed"#end if# class="list-group-item layer cm"><input type="checkbox" #if $layer.map.web.metadata.get("mmActivatedLayers") is not None and $layer.map.web.metadata.get("mmActivatedLayers").split(",").count($layer.name)>0#checked="checked"#end if# /><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span>$title </label>
	$bmenu
#if $layer.metadata.get('mmClass')!="tl"
    	<ul class="list-group tree">
<!--	<li>$layer.metadata.get('mmClass')</li> -->
#for j in range(0,$layer.numclasses)
     	<li iconCls="tree_layer_class tree$(p)_layer$(layer.index)$(p)_class$j" class="list-group-item"><label><i class="fa layer_$(layer.index)_class$j$(p)"></i> $layer.getClass($j).name</label></li>
#end for
	    </ul>
	  </li>
#end if

#else
	<li id="layer_$(layer.index)$p" #if $isOverlays#data-layer="$layer.name"#end if# iconCls="tree$(p)_layer$(layer.index)$p" class="list-group-item layer cm"><input type="checkbox" #if $layer.map.web.metadata.get("mmActivatedLayers") is not None and $layer.map.web.metadata.get("mmActivatedLayers").split(",").count($layer.name)>0#checked="checked"#end if# /><label><i class="fa #if $layer.metadata.get("mmWMS") and $layer.metadata.get("mmWMS")=="true"#fa-image#else#fa-circle#end if#" #if $layer.metadata.get("mmWMS") and $layer.metadata.get("mmWMS")=="true"#data-href="$layer.metadata.get("mmIcon")"#end if#></i> $title</label><!--</li>-->
	$bmenu
#end if