#import mm_access
#try
#set pprefix=$prefix
#except
#set pprefix=""
#end try

#if $elem[$i].keys().count("children") > 0 
    <li class="list-group-item"><input type="checkbox" /><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span>$elem[$i]["text"].decode('raw_unicode_escape').replace("-_-"," ").replace("-__-","(").replace("-___-",")") </label>
    	<ul class="list-group tree">
#for k in range(0,len($elem[$i]["children"]))
#if $elem[$i]["children"][$k].keys().count("children") > 0
    <li class="list-group-item"><input type="checkbox" /><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span>$elem[$i]["children"][$k]["text"].decode('raw_unicode_escape').replace("-_-"," ").replace("-__-","(").replace("-___-",")") </label>
    	<ul class="list-group tree">
#for mm in range(0,len($elem[$i]["children"][$k]["children"]))
#if $elem[$i]["children"][$k]["children"][$mm].has_key("mmType")
#if $mm_access.checkLayerPriv($conf,$m,$elem[$i]["children"][$k]["children"][$mm]["id"],"r")
$Template(file=$conf['main']['templatesPath']+"layer_tree_bs.tmpl",searchList={"m": $m,"elem": $elem[$i]["children"][$k]["children"],"i": $mm,"conf": $conf,"prefix":$pprefix})
#end if
#else
$Template(file=$conf['main']['templatesPath']+"layer_tree_bs.tmpl",searchList={"m": $m,"elem": $elem[$i]["children"][$k]["children"],"i": $mm,"conf": $conf,"prefix":$pprefix})
#end if
#end for
	    </ul>
	  </li>
#else
#set l=$m.getLayerByName($elem[$i]["children"][$k]["id"])
#if $l is not None
#if $mm_access.checkLayerPriv($conf,$m,$l.name,"r")
$Template(file=$conf['main']['templatesPath']+"layer_display_bs.tmpl",searchList={"layer": $l,"i": $i,"conf": $conf,"prefix":$pprefix})
#end if
#else
    <li class="list-group-item"><input type="checkbox" /><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span>$elem[$i]["children"][$k]["text"].decode('raw_unicode_escape') </label>
    	<ul class="list-group tree">
	</ul>
	</li>
#end if
#end if

#end for
	    </ul>
	  </li>
#else
#set l=$m.getLayerByName($elem[$i]["id"])
#if $l is not None and $mm_access.checkLayerPriv($conf,$m,$l.name,"r")
$Template(file=$conf['main']['templatesPath']+"layer_display_bs.tmpl",searchList={"layer": $l,"i": $i,"conf":$conf,"prefix":$pprefix})
#end if
#end if
