#import zoo
#import mapfile.service as mmap
#if $layer.numclasses > 1
    <li id="layer_$(layer.index)$(p)" data-id="layer_$conf["lenv"]["lindex"]" #if $isOverlays#data-layer="$layer.name"#end if# iconCls="tree$(p)_layer$(layer.index)$(p)" #if not($hasStep)#state="closed"#end if# class="list-group-item layer cm"><input type="checkbox" #if $mmap.getMetadata($layer.map.web,"mmActivatedLayers") is not None and $mmap.getMetadata($layer.map.web,"mmActivatedLayers").split(",").count($layer.name)>0#checked="checked"#end if# /><label class="tree-toggle tree-parent"><span class="fa fa-caret-square-o-down tree-node text-center ud"></span>$title </label>
	$bmenu
#if $mmap.getMetadata($layer,'mmClass')!="tl"
    	<ul class="list-group tree">
<!--	<li>$mmap.getMetadata($layer,'mmClass')</li> -->
#for j in range(0,$layer.numclasses)
     	<li iconCls="tree_layer_class tree$(p)_layer$(layer.index)$(p)_class$j" class="list-group-item"><label><i class="fa pull-left layer_$(layer.index)_class$j$(p)"></i> $layer.getClass($j).name</label></li>
#end for
	    </ul>
	  </li>
#end if

#else
	<li id="layer_$(layer.index)$p" data-id="layer_$conf["lenv"]["lindex"]" #if $isOverlays#data-layer="$layer.name"#end if# iconCls="tree$(p)_layer$(layer.index)$p" class="list-group-item layer cm"><input type="checkbox" #if $mmap.getMetadata($layer.map.web,"mmActivatedLayers") is not None and $mmap.getMetadata($layer.map.web,"mmActivatedLayers").split(",").count($layer.name)>0#checked="checked"#end if# /><label><i class="fa #if $layer.connectiontype==7 or $layer.name.count("tile_")>0 or ($mmap.getMetadata($layer,"mmWMS") and $mmap.getMetadata($layer,"mmWMS")=="true")#fa-image#else#fa-circle#end if#" #if $mmap.getMetadata($layer,"mmWMS") and $mmap.getMetadata($layer,"mmWMS")=="true"#data-href="$mmap.getMetadata($layer,"mmIcon")"#end if#></i> $title</label><!--</li>-->
	$bmenu
#end if
