#encoding UTF-8
#import zoo
<div class="login-container">
 <div class="row intro-body">
  <div class="col-md-4 col-md-offset-4">
#try
#if $hasHeader
    <h1><i class="icon-mm-logo"></i>M<span class="hidden-xs">ap</span><span class="green">M<span class="hidden-xs">int</span></span></h1>
#end if
#except
    <h1><i class="icon-mm-logo"></i>M<span class="hidden-xs">ap</span><span class="green">M<span class="hidden-xs">int</span></span></h1>
#end try
#try
    <h2>$title</h2>
#except
    <h2>$zoo._("Administration Interface")</h2>
#end try
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">$zoo._("Please Sign In")</h3>
      </div>
      <div class="panel-body">
	<form role="form">
	<fieldset>
          <div class="form-group">
	    <div class="input-group">
	      <span class="input-group-addon">
	      <i class="glyphicon glyphicon-user"></i>
	      </span> 
	      <input class="form-control" placeholder="$zoo._("Username")" name="login" type="text" autofocus>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
	      <span class="input-group-addon">
	      <i class="glyphicon glyphicon-lock"></i>
	      </span> 
	      <input class="form-control" placeholder="$zoo._("Password")" name="password" type="password" value="">
	    </div>
	  </div>
	  <div class="checkbox">
	    <label>
	    <input name="remember" type="checkbox" value="$zoo._("Remember Me")">$zoo._("Remember Me")
	    </label>
	  </div>
	  <!-- Change this to a button or input when using this as a form -->
	  <input type="submit" href="#" class="btn btn-lg btn-success btn-block btn-mm" data-service="#try#$targetService#except#logIn#end try#" value="$zoo._("Log in")" />
	</fieldset>
	</form>
      </div>
    </div>
  </div>
 </div>
</div>
