#from Skeleton import Skeleton
#extends Skeleton
#import zoo
#attr $ocss = ['main.css','login.css']
#attr $js = ['jquery.notifyBar.js','jquery.cookie.js','login.js','Meta.js','roundies.js']
#attr $js1 = ['minimal_js']

#def page_title
MapMint: $zoo._("Login")
#end def

#def body
<div id="container">
<h1 class="title"><span class="logo"></span>Map<span class="mint">Mint</span></h1>
<div id="connexion-form">
<form action="#" method="post" autocomplete="off" onsubmit="return false;" >

<table>
<tr>
<td style="text-align:left;width:120px;"><label for="email">$zoo._("Login:")</label></td>
<td><input type="text" name="email" id="email" style="background-color: #FFFFFF;" /></td>
</tr>
<tr>
<td style="text-align:left;width:120px;"><label for="password">$zoo._("Password:")</label></td>
<td><input type="password" name="password" id="password" /></td>
</tr>
</table>

<input type="submit" id="validate" class="butt ui-corner-all" value="$zoo._("Login")"/>   
</form>
 
</div>
</div>

<div class="mapm"></div>
#end def
