#from Skeleton_bs import Skeleton_bs
#extends Skeleton_bs
#import zoo
#attr $ocss = ['main.css','login_bs.css']
#attr $js = ['jquery.notifyBar.js','jquery.cookie.js','login.js','Meta.js','roundies.js']
#attr $js1 = ['minimal_js']

#attr $mmodule="login"

#def page_title
MapMint: $zoo._("Login")
#end def

#def istyles
    <link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/login.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
#end def

#def body
<div class='notifications top-right'></div>
#include $conf["main"]["templatesPath"]+"/login_bs_body.html"
#end def
