#from Skeleton_bs import Skeleton_bs
#extends Skeleton_bs
#import zoo
#attr $ocss = ['main.css','login_bs.css']
#attr $js = ['jquery.notifyBar.js','jquery.cookie.js','login.js','Meta.js','roundies.js']
#attr $js1 = ['minimal_js']

#attr $mmodule="login"

#def page_title
MapMint: $zoo._("Login")
#end def

#def istyles
    <link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/login.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
#end def

#def body
<div class='notifications top-right'></div>

<div class="login-container">
 <div class="row intro-body">
  <div class="col-md-4 col-md-offset-4">
  <h1><i class="icon-mm-logo"></i>
    M<span class="hidden-xs">ap</span><span class="green">M<span class="hidden-xs">int</span></span></h1>
   <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">$zoo._("Please Sign In")</h3>
    </div>
    <div class="panel-body">
      <form role="form">
       <fieldset>
        <div class="form-group">
	  <div class="input-group">
	    <span class="input-group-addon">
	     <i class="glyphicon glyphicon-user"></i>
	    </span> 
	    <input class="form-control" placeholder="$zoo._("Login")" name="login" type="text" autofocus>
	  </div>
	</div>
	<div class="form-group">
	  <div class="input-group">
	    <span class="input-group-addon">
	     <i class="glyphicon glyphicon-lock"></i>
	    </span> 
	    <input class="form-control" placeholder="$zoo._("Password")" name="password" type="password" value="">
	  </div>
	</div>
	<div class="checkbox">
	  <label>
	  <input name="remember" type="checkbox" value="Remember Me">$zoo._("Remember Me")
	  </label>
	</div>
	<!-- Change this to a button or input when using this as a form -->
	<input type="submit" href="#" class="btn btn-lg btn-success btn-block btn-mm" value="$zoo._("Login")" />
	</fieldset>
	</form>
    </div>
   </div>
  </div>
 </div>
</div>

#end def
