#import zoo
#include($conf["main"]["templatesPath"]+"/minimal_js.tmpl")

System.libpath="$conf['main']['mmAddress']/js/";
System.require("$inputs['module']['value']");
System.shouldStart=true;
System.flexi_cnt=0;

#if $inputs['module']['value']=="Indexes"
#import np.service as np
#import authenticate.service as auth
#import json
#set con=auth.getCon($conf)
#set prefix=auth.getPrefix($conf)
#set cur=$con.conn.cursor()
#set lt=np.listTerritoires($cur,$prefix,$conf["senv"]["group"])
#set res0={}
#set res=np.flatTerritoires(lt,res0)
System.territories=$json.dumps(res0);
#end if

var layouts=[];
var cLayout=null;

function megaHoverOver(){
    \$(this).find(".sub").stop().fadeTo('fast', 1).show();
    
    (function(\$) { 
	jQuery.fn.calcSubWidth = function() {
	    rowWidth = 0;
	    \$(this).find("ul").each(function() {
		rowWidth += \$(this).width(); 
	    });	
	};
    })(jQuery); 
    
    if ( \$(this).find(".row").length > 0 ) {
	var biggestRow = 0;	
	\$(this).find(".row").each(function() {							   
      \$(this).calcSubWidth();
	    if(rowWidth > biggestRow) {
		biggestRow = rowWidth;
	    }
	});
	\$(this).find(".sub").css({'width' :biggestRow});
	\$(this).find(".row:last").css({'margin':'0'});
    } else { 
	\$(this).calcSubWidth();
	\$(this).find(".sub").css({'width' : rowWidth});	
    }
}

function megaHoverOut(){ 
    \$(this).find(".sub").stop().fadeTo('fast', 0, function() {
    \$(this).hide(); 
    });
}

function showInnerLayout ( name ) {
    cLayout=layouts[0];
    var altName=cLayout.name;
    for(var i=0;i<layouts.length;i++){
	if(name != layouts[i].name){
	    altName = layouts[i].name;
	    \$( "#"+altName+"_button" ).parent().addClass("current");
	    \$( "#"+ altName ).hide();	// hide OTHER layout container
	}
	else
	    cLayout=layouts[i];
    }
    
    try{
    \$( "#"+name+"_button" ).parent().addClass("$inputs['module']['value']");
    }catch(e){}
    if(\$( "#"+ name ).length==1)
	\$( "#"+ name ).show();		// show THIS layout container
    
    // if layout is already initialized, then just resize it
    if(cLayout.layout)
	cLayout.layout.resizeAll();
    
    
    if(\$("#"+name).length!=0){
	\$('#progress_bar .ui-progress .ui-label').hide();
	\$('#'+name).css('height', '100%');
	cLayout.layout=\$('#'+name).layout( cLayout.layoutOptions );
	cLayout.initialize();
	myLayout=cLayout.layout;
	\$('#progress_bar .ui-progress').animateProgress(100, function() {
	    \$('#progress_bar .ui-progress').fadeOut(1000);
	});
    }
    
    \$( "#nav li a" ).button();
    cLayout.refresh();
    \$('a').tipsy({fade: true, offset:3, opacity: 1, gravity: 'nw'});
    \$('.ui-layout-toggler').tipsy({fade: true, offset:3, opacity: 1, gravity: 'w'});
    \$('.toolbar a').tipsy({fade: true, offset:3, opacity: 1, gravity: 'nw'});
    
    
};

function resizeInnerLayout () {
    for(var i=0;i<layouts.length;i++)
	if(layouts[i].layout && \$("#"+layouts[i].name).is(":visible"))
	    layouts[i].layout.resizeAll();
};

function updateSize(){
    var li=0;
    for(var l in layouts){
    if(layouts[l].updateSize){ 
	try{
	    layouts[l].updateSize();
	}catch(e){alert(e);}
    }
	li++;
    }
}

\$(document).ready(function () { 



\$(".sets").hide();
\$('.ad').click(function(){
        \$(".sets").toggle();
        \$(".ad").toggleClass('adh');
        });
 
    System.start=function(){
	
	
	outerLayout = \$('body').layout({ 
	    //	resizable:				false
	    //,	closable:				false
	    contentSelector: ".lcontent",
	    spacing_closed:			0
	    ,	spacing_open:			4
	    ,	south__size:			40
	    ,   south__spacing_open:0
	    ,   south__spacing_closed:0
	    ,	south__resizable:		false	// OVERRIDE the pane-default of 'resizable=true'
	    
	    ,	south__slidable:		false	
	    ,	south__closable:		false
	    ,	north__size:			90
	    ,	north__slidable:		false
	    ,   north__spacing_open:0
	    ,   north__spacing_closed:0
	    ,	north__closable:		false
	    , 	north__resizable:		false
	    ,	north__showOverflowOnHover:	true
	    ,	north__togglerLength_closed: '100%'	// toggle-button is full-width of resizer-bar
	    ,	center__onresize:		resizeInnerLayout
	    ,	resizeWhileDragging:	true
	    ,	triggerEventsWhileDragging: false
	    ,	onopen: function() {updateSize();}
	    ,   onclose: function() {updateSize();}
	    ,   onresize: function() {updateSize();}
	});

	layouts=[new ${inputs['module']['value']}("$inputs['module']['value']")];
	
#if $conf["senv"] and $conf["senv"]["MMID"]#showInnerLayout( "$inputs['module']['value']" );#end if#
	

	for(var i=0;i<layouts.length;i++){
	    \$("#"+layouts[i].name+"_button").click( showInnerLayout.mbindWithArg(\$('testing'),layouts[i].name) );
      }
	
      defaultInit();
	
      var config = {    
	  sensitivity: 1,  
	  interval: 50,  
	  over: megaHoverOver, 
	  timeout: 50,    
	  out: megaHoverOut 
      };
	
	\$("ul li .sub").css({'opacity':'0'});
	\$("ul li").hoverIntent(config);
	
	//DD_roundies.addRule('.ui-corner-all', '8px');
    }
    
    System.ensure_included();
  }); 

function endLoading(){
    \$(".loader-container").hide();
}

System.updateUserPreferences=function(){
    try{
    if(\$("#up_cp").is(":checked")){
	if(\$("#up_password").val() != \$("#up_confirm_password").val()){
	    \$("#up_password").val("");
	    \$("#up_confirm_password").val("");
	    \$.notifyBar({ cssClass: "failed", html: "Please, verify your password." });
	    return 1;
	}
    }
    }catch(e){
    }
    var fparams=[];
    
    var params="";
    var nbp=0;
    \$(".gselect").each(function(){
	if(nbp>0)
	    params+=";";
	fparams[fparams.length]={"name":"group","value":\$(this).val(),dataType: "string"};
	nbp++;
    });
    
    if(\$("#um_utype").val()!="update")
	fparams[fparams.length]={'name': "type",value: \$("#um_utype").val(),dataType: "string"};
    fparams[fparams.length]={'name': "login",value: \$("#um_uclause").val(),dataType: "string"};
	 
    
    try{
    fparams[fparams.length]={'name': (\$("#um_utype").val()=="insert"?"user":"set"),value: "{\"login\":\""+\$("#up_login").val()+"\",\"firstname\":\""+\$("#up_first_name").val()+"\",\"lastname\":\""+\$("#up_last_name").val()+"\",\"mail\":\""+\$("#up_email").val()+"\",\"phone\":\""+\$("#up_phone").val()+"\""+((\$("#up_cp").is(":checked"))?',"passwd":"'+\$("#up_password").val()+'"':'')+"}",dataType: "string"};
    }catch(e){

    }
    var data=WPSGetHeader("manage-users."+(\$("#um_utype").val()=="insert"?"AddUser":"UpdateUser"))+WPSGetInputs(fparams)+WPSGetOutput({name:"Result"})+WPSGetFooter();
    
    \$.ajax({
	//type: "GET",
	type: "POST",
	data: data,
	contentType: "text/xml",
	url: System.zooUrl,
	dataType: "text",
	complete: function(xml,status) {
	    if(checkWPSResult(xml,false)){
		\$.notifyBar({ cssClass: "success", html: "Update of preferences succeed" });
		try{\$("#um_utable").flexReload();\$( "#umEditor-dialog" ).window("close");}catch(e){}
	    }
	}
    });
}

System.UserPreferences=function(){
    \$.ajax({
	type: "GET",
	url: System.zooUrl+"?service=WPS&version=1.0.0&request=Execute&Identifier=template.display&DataInputs=tmpl=UserPreferences&RawDataOutput=Result",
	dataType: "text",
	complete: function(xml,status) {
	    if(checkWPSResult(xml,false)){
		if(!\$('#up-dialog')[0])
		    \$("body").append('<div id="up-dialog" title="$zoo._("User Preferences")"></div>');
		\$('#up-dialog').html("");
		
		\$( "#up-dialog" ).window({
		    minimizable:false,
		    maximizable:false,
		    resizable: false
		});
		\$('#up-dialog').html(xml.responseText);
		\$('.easyui-linkbutton').button();
		}
	}
    });
}

System.umt='#um_utable';
MapMintUsersManager={
    editTuple: function(){
	var cnt=0;
	System.umID="";
	\$(System.umt+' tr').each(function(){
	    if(\$(this).hasClass('trSelected')){
		if(System.umt=="#um_utable")
		    System.umID=this.id.replace(/u_/g,"").replace(/row/g,"");
		else
		    System.umID=this.id.replace(/g_/g,"").replace(/row/g,"");
	    }
	    cnt+=1;
	});
	var url=((System.umt!="#um_utable")?"./UsersManagement/EditorWindow":"./UserPreferences")+";type="+(arguments.length==1 && arguments[0]!="$zoo._("Add")"?arguments[0]:"insert")+";table="+(System.umt=="#um_utable"?"users":"groups")+(System.tupleID!=""?";clause=id="+System.umID:"");
	
	$.ajax({
	    type: "GET",
	    url: url,
	    complete: function(xml,status) {
		if(checkWPSResult(xml,false)){
		    if(!\$('#umEditor-dialog')[0])
			\$('body').append('<div id="umEditor-dialog" title="'+System.messages["Database Editor"]+'"></div>');
		    \$( "#umEditor-dialog" ).html("").append(xml.responseText);
		    \$( "#umEditor-dialog" ).window({
			minimizable:false,
			maximizable:false,
			resizable: false
		    });
		}
	    }
	});
    },
    deleteTuple: function(){
	MapMintUsersManager.editTuple("delete");
    },
    updateTuple: function(){
	MapMintUsersManager.editTuple("update");
    },
    validTuple: function(){
	var postRequest=[];
	postRequest[postRequest.length]={'name': "name",value: \$("#um_gname").val(),dataType: "string"};
	postRequest[postRequest.length]={'name': 'desc',value: \$("#um_gdesc").val(),dataType: "string"};
	postRequest[postRequest.length]={'name': 'type',value: \$("#um_gtype").val(),dataType: "string"};
	if(\$("#um_gid").val()!="")
	    postRequest[postRequest.length]={'name': 'id',value: \$("#um_gid").val(),dataType: "string"};
	if(\$("#um_gadmin").is(":checked"))
	    postRequest[postRequest.length]={'name': 'is_admin',value: "true",dataType: "string"};
	if(\$('.gselect').length>0){
	    var arr=\$('.gselect');
	    for(i=0;i<arr.length;i++)
		if(\$("#um_group_"+i).val()!="-1"){
		    postRequest[postRequest.length]={'name': 'user',value: \$("#um_group_"+i).val(),dataType: "string"};
		}
	}		    
	var data=WPSGetHeader("manage-users.requestGroup")+WPSGetInputs(postRequest)+WPSGetOutput({name:"Result"})+WPSGetFooter();
	$.ajax({
	    type: "POST",
	    url: System.zooUrl,
	    data: data,
	    contentType: "text/xml",
	    complete: function(xml,status) {
	    	if(checkWPSResult(xml)){
		    \$("#um_gtable").flexReload();
		    \$( "#umEditor-dialog" ).window('close');
		}
	    }
    	});
    },
    editPrivilege: function(){
	var url="./UsersManagement/LayerAccess;layer="+arguments[0]+";";
	System.arg=arguments[0];
	if(arguments.length==2)
	    url+=";dataStore="+arguments[1]+";";
	$.ajax({
	    type: "GET",
	    url: url,
	    complete: function(xml,status) {
		if(checkWPSResult(xml,false)){
		    if(\$('#umEditor-dialog')[0]){
		        \$( "#umEditor-dialog" ).window('close');
		        \$( "#umEditor-dialog" ).remove();
		    }
		    \$('body').append('<div id="umEditor-dialog" title="'+System.messages["Layer Access: "]+" "+System.arg+'"></div>');
		    \$( "#umEditor-dialog" ).html("").append(xml.responseText);
		    \$( "#umEditor-dialog" ).window({
		    	minimizable:false,
		    	maximizable:false,
			width: "250",
		    	resizable: false
		    });
		}
	    }
	});
    },
    validPrivileges: function(){
	var postRequest=[];
	postRequest[postRequest.length]={'name': "map",value: "$conf["senv"]["last_map"]",dataType: "string"};
	postRequest[postRequest.length]={'name': "layer",value: \$("#am_layerName").val(),dataType: "string"};
	if(\$('#am_dataStoreName').length>0)
	    postRequest[postRequest.length]={'name': 'dataStore',value: \$('#am_dataStoreName').val(),dataType: "string"};
	\$('.layer_gselect').each(function(){
	    postRequest[postRequest.length]={'name': 'group',value: \$(this).val(),dataType: "string"};
	});
	for(i in {"r":"","w":"","x":""})
	    \$('.'+i+'_layer_um_group').each(function(){
		postRequest[postRequest.length]={'name': "group_"+i,value: (\$(this).is(":checked")?1:0),dataType: "string"};
	    });
	
	var data=WPSGetHeader("mapfile.saveLayerPrivileges")+WPSGetInputs(postRequest)+WPSGetOutput({name:"Result"})+WPSGetFooter();
	$.ajax({
	    type: "POST",
	    url: System.zooUrl,
	    data: data,
	    contentType: "text/xml",
	    complete: function(xml,status) {
	    	if(checkWPSResult(xml)){
		    \$( "#umEditor-dialog" ).window('close');
		}
	    }
    	});
    }
}

System.UserManagement=function(){
    \$.ajax({
	type: "GET",
	url: "./UsersManagement/MainWindow",
	dataType: "text",
	complete: function(xml,status) {
	    if(checkWPSResult(xml,false)){
		if(!\$('#um-dialog')[0])
		    \$("body").append('<div id="um-dialog" title="$zoo._("Users management")"></div>');
		\$('#um-dialog').html("");
		
		\$( "#um-dialog" ).window({
		    width: 550,
		    height: 450,
		    minimizable:false,
		    maximizable:false,
		    resizable: false
		});
		\$('#um-dialog').html(xml.responseText);
		\$("#um_utable").flexigrid({
		    autoload: false,
		    url: System.zooUrl+"?request=Execute&service=WPS&version=1.0.0&Identifier=manage-users.getTableContent&RawDataOutput=Result&DataInputs=table=users;cols=login,lastname,firstname,mail,phone",
		    id: "UTable",
		    searchitems: [{"display": "login","name":"login"},{"display": "lastname","name":"lastname"},{"display": "firstname","name":"firstname"},{"display": "mail","name":"mail"},{"display": "phone","name":"phone"}],
		    singleSelect: true,
		    ogcProtocol: "MM",
		    buttons : [ {
			name : System.messages['Add'],
			bclass : 'add',
			onpress : MapMintUsersManager.editTuple
		    },{
			name : System.messages['Edit'],
			bclass : 'edit',
			onselect: true,
			onpress : MapMintUsersManager.updateTuple
		    },{
			name : System.messages['Delete'],
			bclass : 'delete',
			onselect: true,
			onpress : MapMintUsersManager.deleteTuple
		    }],
		    dataType: 'json',
		    usepager: true,
		    nbElements: 10,
		    title: '$zoo._("Users")',
		    useLimit: true,
		    limit: 10,
		    showTableToggleBtn: false,
		    width: "100%",
		    height: 230 
		});
		\$("#um_gtable").flexigrid({
		    autoload: false,
		    ogcProtocol: "MM",
		    url: System.zooUrl+"?request=Execute&service=WPS&version=1.0.0&Identifier=manage-users.getTableContent&RawDataOutput=Result&DataInputs=table=groups;cols=name,description",
		    id: "GTable",
		    singleSelect: true,
		    searchitems: [{"display": "name","name":"name"},{"display": "description","name":"description"}],
		    buttons : [ {
			name : System.messages['Add'],
			bclass : 'add',
			onpress : MapMintUsersManager.editTuple
		    },{
			name : System.messages['Edit'],
			bclass : 'edit',
			onselect: true,
			onpress : MapMintUsersManager.updateTuple
		    },{
			name : System.messages['Delete'],
			bclass : 'delete',
			onselect: true,
			onpress : MapMintUsersManager.deleteTuple
		    }],
		    dataType: 'json',
		    usepager: true,
		    nbElements: 10,
		    title: '$zoo._("Groups")',
		    useLimit: true,
		    limit: 10,
		    showTableToggleBtn: false,
		    width: "100%",
		    height: 230 
		});
		\$('.easyui-linkbutton').button();
	    }
	}
    });
}

function saveAsMap(){
    var mapName=[];
    if(arguments[0])
	mapNames=arguments[0];
    else
	mapNames=[\$("#mapName").val(),\$("#mapNameOrig").val()];
    \$.ajax({
	type: "GET",
	url: System.zooUrl+"?service=WPS&version=1.0.0&request=Execute&Identifier=mapfile.saveMap&DataInputs=map="+mapNames[0]+";mapOrig="+mapNames[1]+"&RawDataOutput=Result",
	dataType: "xml",
	complete: function(xml,status){
	    checkWPSResult(xml);
	    if(System.afterSave){
		for(i=0;i<System.afterSave.length;i++)
		    System.afterSave[i]();
	    }else
		document.location.reload(true);
	    System.afterSave=null;
	}
    });
}

function setCurrentMap(){
    var toto=function(){document.location="./Manager";}
    System.afterSave=[toto];
    saveAsMap([arguments[0],arguments[0]]);
}



#if $inputs["module"]["value"]=="public"
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/auth/init.js",searchList={"m": None,"conf":$conf}))
System.flipMainContent=function(){
    \$('#main_content').toggle();
    \$('#main_content_bg').toggle();
}

System.cIsIn=!System.isIn;
if(System.isIn){
    \$(function(){
	pcancel();
    });
}
var rselects=["territories","themes"];
System.onOnAuthenticate=function(){
    if(System.isIn){
	loadLoginForm();
	for(i=0;i<rselects.length;i++)
	    reload(rselects[i]);
    }
    else{
	\$('#formContainer').toggleClass('flipped');
	if(!\$.support.css3d){
	    \$('#login').toggle();
	    \$('#recover').toggle();
	}
	for(i=0;i<rselects.length;i++)
	    reload(rselects[i]);
    }
}

function reload(){
    \$.ajax({
	arg0: arguments[0],
	type: "GET",
	url: "./modules/"+arguments[0]+"/list_js",
	complete: function(xml,status) {
	    \$('#indicateurs_'+this.arg0).html("");
	    \$('#indicateurs_'+this.arg0).append('<option value="-1">$zoo._("Select '+this.arg0.replace(/ies/g,'y').replace(/s/g,'')+'")</option>');
	    if(System.isIn && this.arg0=='themes')
		\$('#indicateurs_'+this.arg0).append('<option value="fav">$zoo._("Favorite")</option>');
	    var json = new OpenLayers.Format.JSON;
	    var tmp=json.read(xml.responseText);
	    for(i in tmp){
		\$('#indicateurs_'+this.arg0).append('<option value="'+i.replace(/id_/g,"")+'">'+tmp[i]+'</option>');
	    }
	}
    });
}
#else
#if $inputs["module"]["value"]=="Indexes"
#include $conf["main"]["templatesPath"]+"/Manager/timeline.js"
#end if
#end if

#if $inputs["module"]["value"]=="public"
function searchTable(){
    System.tableName=arguments[0];
    \$( "#"+arguments[0]+"_search" ).autocomplete({
	source: function(request,response){
	    \$.ajax({
		type: "GET",
		url: System.zooUrl+"?service=WPS&version=1.0.0&request=Execute&identifier=np.searchByName&DataInputs=tbl="+System.tableName+";val="+request.term+(\$("#indicateurs_themes").val()!="-1"?";tid="+\$("#indicateurs_themes").val():"")+(\$("#indicateurs_territories").val()!="-1"?";t_id="+\$("#indicateurs_territories").val():"")+";public=true&RawDataOutput=Result",
		success: function(xml,status){
		    var data=xml;
		    response(data);
		}});
	},
	minLength: 0, 
	select: function( event, ui ) {
	    \$('#index_id').val(ui.item.id);
	    setCurrentIndex();
	}
    });
}
function searchTable1(){
    System.tableName1=arguments[0];
    \$('#'+arguments[0]+'_search').click(function() { \$(this).val('');\$("#"+System.tableName1+"_search").autocomplete('search','')});
    \$( "#"+arguments[0]+"_search" ).autocomplete({
	source: function(request,response){
	    \$.ajax({
		type: "GET",
		url: "./modules/indexes/"+System.tableName1+"_js;val="+request.term,
		success: function(xml,status){
		    var data=xml;
		    response(data);
		}});
	},
	minLength: 0, 
	select: function( event, ui ) {
	    System.doc_id=ui.item.id;
	    go_to_page(0);
	}
    });
}
#end if
