#encoding UTF-8
#import zoo
System.zooUrl="$conf["main"]["serverAddress"]";
#if $conf["mm"].keys().count("indexes")>0 and $conf["mm"]["indexes"]=="true"
System.hasIIndexes=true;
#else
System.hasIIndexes=false;
#end if
#if $conf.keys().count("senv")>0
System.mapfile="$conf["main"]["dataPath"]/public_maps/project_$(conf["senv"]["last_map"]).map";
#end if
#if $conf["main"].keys().count("dbuserName")>0
System.dbuser="$conf["main"]["dbuserName"]";
#end if
#import authenticate.service as auth
System.prefix="$(auth.getPrefix($conf))";
System.dataPath="$conf["main"]["dataPath"]";
System.mapUrl="$conf["main"]["mapserverAddress"]";
System.public_map_url="$conf["main"]["publicationUrl"]";
System.dbuserName="$conf["main"]["dbuserName"]";
System.indexMap="$conf["main"]["dataPath"]/PostGIS/$(conf["main"]["dbuserName"])ds_ows.map";
System.tmpPath="$conf["main"]["tmpPath"]";
System.tmpUrl="$conf["main"]["tmpUrl"]";
#if $conf.has_key("senv") and $conf["senv"].has_key("last_index")
System.initialIndex=$conf["senv"]["last_index"];
#end if

\$.ajaxSetup({ cache: false });
#if $conf.keys().count("senv")>0
function defaultInit(){
      \$("#logout").click(function(){
	  \$.ajax({
	    type: "GET",
	    url: "$conf["main"]["serverAddress"]?metapath=authenticate&service=WPS&version=1.0.0&request=Execute&Identifier=logOut&DataInputs=&RawDataOutput=Result",
	  dataType: "xml",
	  complete: function(xml,status) {
	      var tmp=\$(xml.responseXML).find("ows\\:ExceptionText").text();
	      if(tmp!=""){
		\$.notifyBar({ cssClass: "error", html: tmp });
	      }
	      else{
	        \$.notifyBar({ cssClass: "success", html: xml.responseText });

		$.cookie('style', null, { expires: null, path: '/' });
    		$.cookie('MMID', null, { expires: null, path: '/' });
		document.location.replace(document.location.href.replace(/#/, '?r='+ Math.random()+'&'));
		//+"&timestamp="+(new Date().toGMTString());
	      }
	    }
	  });

	});


      \$('.styleswitch').bind('click',
	function(e){
	    var tmp=[
		{"name":"section","value":"mm","dataType":"string"},
		{"name":"adminTheme","value":this.getAttribute('rel'),"dataType":"string"}
	    ];
	    var data=WPSGetHeader("SaveConf")+WPSGetInputs(tmp)+WPSGetOutput({name: "Result"})+WPSGetFooter();
	    \$.ajax({
		type: "POST",
		url: System.zooUrl+"?metapath=configuration",
		contentType: 'text/xml',
		data: data,
		complete: function(xml,status) {
		    try{
			document.location.reload(true);
		    }catch(e){alert(e);}
		}
	    });
	    return false;
	}
      );
}

System.messages={
	"Choose": "$zoo._("Choose")",
	"Order": "$zoo._("Order")",
	"Save": "$zoo._("Save")",
	"Add": "$zoo._("Add")",
	"Edit": "$zoo._("Edit")",
	"Delete": "$zoo._("Delete")",
	"Wait loading datasources from datastore ...": "$zoo._("Wait loading datasources from datastore ...")",
	"Add a FID Column": "$zoo._("Add a FID Column")",
	"Set projection": "$zoo._("Set projection")",
	"Preview": "$zoo._("Preview")",
	"Download": "$zoo._("Download")",
	"Convert": "$zoo._("Convert")",
	"Open in Manager": "$zoo._("Open in Manager")",
	"Choose encoding:": "$zoo._("Choose encoding:")",
	"User Preferences": "$zoo._("User Preferences")",
	"Processing, please wait ...": "$zoo._("Processing, please wait ...")",
	"Displaying {from} to {to} of {total} items": "$zoo._("Displaying {from} to {to} of {total} items")",
	"Vector Converter": "$zoo._("Vector Converter")",
	"Database Access": "$zoo._("Database Access")",
	"Georeference image": "$zoo._("Georeference image")",
	"Open in Georeferencer": "$zoo._("Open in Georeferencer")",
	"No items": "$zoo._("No items")",
	"Database Editor": "$zoo._("Database Editor")",
	"Layer Access: ": "$zoo._("Layer Access: ")",
	"Set privileges": "$zoo._("Set privileges")",
	"Admin privileges": "$zoo._("Admin privileges")",
	"Permalink": "$zoo._("Permalink")",
	"Navigation Toolbar": "$zoo._("Navigation Toolbar")",
	"Privileges": "$zoo._("Privileges")",
	"Zoom: ": "$zoo._("Zoom: ")",
	"globe": "$zoo._("globe")",
	"country": "$zoo._("country")",
	"state": "$zoo._("state")",
	"city": "$zoo._("city")",
	"street": "$zoo._("street")",
	"house": "$zoo._("house")",
	"Show table": "$zoo._("Show table")",
	"Show graph": "$zoo._("Show graph")",
	"All themes": "$zoo._("All themes")",
	"PDF File": "$zoo._("PDF File")",
	"Display parameters": "$zoo._("Display parameters")",
	"Display table parameters": "$zoo._("Display table parameters")",
	"Display graph parameters": "$zoo._("Display graph parameters")",
	"Display repport parameters": "$zoo._("Display repport parameters")",
	"published": "$zoo._("published")",
	"Overlay Layers": "$zoo._("Overlay Layers")",
	"WMS Layers": "$zoo._("WMS Layers")",
	"Terrain Tools": "$zoo._("Terrain Tools")",
	"SRS Manager": "$zoo._("SRS Manager")",
	"Not found": "$zoo._("Not found")",
	"Error message": "$zoo._("Error message")",
	"Upload Files": "$zoo._("Upload Files")",
	"Add tileindex": "$zoo._("Add tileindex")",
	"Mosaic a set of images": "$zoo._("Mosaic a set of images")",
	"Preview graph display": "$zoo._("Preview graph display")",
	" has been successfully created": "$zoo._(" has been successfully created")",
	"Complex Search Engine Parameters": "$zoo._("Complex Search Engine Parameters")"
};
#end if

function setIndexQuote(){
    var d=new Date();
    \$.ajax({
	type: "GET",
	localID: this.length,
	localElement: arguments[0],
	localId: arguments[1],
	url: zooUrl+"?metapath=np&service=WPS&version=1.0.0&request=Execute&Identifier=setIndexQuote&DataInputs=id="+arguments[1]+";quote="+arguments[2]+"&RawDataOutput=Result&timestamp="+d.getTime(),
	complete: function(xml,status){
	    getIndexQuote(this.localElement,this.localId);
	}
    });	 
    
}

var isArray = (function () {
    // Use compiler's own isArray when available
    if (Array.isArray) {
        return Array.isArray;
    }
 
    // Retain references to variables for performance
    // optimization
    var objectToStringFn = Object.prototype.toString,
        arrayToStringResult = objectToStringFn.call([]);
 
    return function (subject) {
        return objectToStringFn.call(subject) === arrayToStringResult;
    };
}());

System.quotes={};
function getIndexQuote(){
    var d=new Date();
    var la=arguments[0];
    //System.quotes[arguments[1]]={"elem":arguments[0],};
    var tmp="id="+arguments[1];
    if(isArray(arguments[1])){
	tmp="";
	for(var i=0;i<arguments[1].length;i++){
	    if(tmp!="")
		tmp+=";"
	    tmp+="id="+arguments[1][i]["id"];
	}
    }
    \$.ajax({
	type: "GET",
	isArray: isArray(arguments[1]),
	localElem: arguments[0],
	url: zooUrl+"?metapath=np&service=WPS&version=1.0.0&request=Execute&Identifier=getIndexQuote&DataInputs="+tmp+"&RawDataOutput=Result&timestamp="+d.getTime(),
	complete: function(xml,status){
		data=\$.parseJSON(xml.responseText);
	    if(this.isArray && isArray(data)){
		for(var i=0;i<data.length;i++){
		    var elem;
		    if(\$("#vote_"+data[i]["id"])[0])
			elem=\$("#vote_"+data[i]["id"]);
		    else
			elem=\$("#vote_0_"+data[i]["id"]);
		    params={
			hints:["","","","","","","","","",""],
			number: 10,
			click: function(score, event) {
			    event.preventDefault();
			    setIndexQuote(\$(this),\$(this).attr("id").replace(/vote_/g,"").replace(/0_/g,""),score);
			}
		    };
		    if(data[i]["val"]>0)
			params["score"]=data[i]["val"];
		    if(eval(data[i]["ro"]))
			params["readOnly"]=eval(data[i]["ro"]);
		    elem.raty(params);
		}
	    }
	    else{
		\$("#"+this.localElem.attr('id')).raty({
		    hints: ["","","","","","","","","",""],
		    number: 10,
		    click: function(score, event) {
			event.preventDefault();
			setIndexQuote(\$(this),\$(this).attr("id").replace(/vote_/g,"").replace(/0_/g,""),score);
		    },
		    score: xml.responseText
		});
	    }
	}
    });	 
}
