#encoding UTF-8
#import zoo
var zooUrl="$conf["main"]["serverAddress"]";
#if "indexes" in $conf["mm"].keys() and $conf["mm"]["indexes"]=="true"
var hasIIndexes=true;
#else
var hasIIndexes=false;
#end if
#if "senv" in $conf.keys()
var mapfile="$conf["main"]["dataPath"]/public_maps/project_$(conf["senv"]["last_map"]).map";
#end if
#if "dbuserName" in $conf["main"].keys()
var dbuser="$conf["main"]["dbuserName"]";
#end if
#import authenticate.service as auth
var prefix="$(auth.getPrefix($conf))";
var dataPath="$conf["main"]["dataPath"]";
var mapUrl="$conf["main"]["mapserverAddress"]";
var public_map_url="$conf["main"]["publicationUrl"]";
var dbuserName="$conf["main"]["dbuserName"]";
var indexMap="$conf["main"]["dataPath"]/PostGIS/$(conf["main"]["dbuserName"])ds_ows.map";
var tmpPath="$conf["main"]["tmpPath"]";
var tmpUrl="$conf["main"]["tmpUrl"]";
#if "senv" in $conf.keys() and "last_index" in $conf["senv"].keys()
var initialIndex=$conf["senv"]["last_index"];
#end if

