#from Skeleton import Skeleton
#extends Skeleton

#attr $ocss = ['error.css']

#attr $js= ["Meta.js"]

#def page_title
MapMint: No project selected !
#end def

#def body
<div id="container">
<div id="projects-box">
<p>No project was selected ! Please choose one.</p>
<ul>
#import os
#for i in os.listdir($conf["main"]["dataPath"]+"/public_maps/")
<li>
<a href="$conf["main"]["rootUrl"]/$i">$i</a>
</li>
#end for
</ul>
</div>
</div>

<script>
\$(".loader-container").hide();
</script>
#end def



