#from Skeleton import Skeleton
#extends Skeleton

#attr $mmodule = "Printer"

#attr $ocss = []

#attr $js = ['jquery-ui-1.8.12.min.js','jquery.notifyBar.js','jquery-ui-1.8.12.min.js','jquery.easyui.min.js','jquery.layout-1.3.0.js','jquery.tipsy.js','jquery.hoverIntent.min.js','progress-bar.js','jquery.jgrowl.js','stylesheetToggle.js','jquery.colorPicker.js','flexigrid.js','Meta.js','jqXMLUtils.js ','jquery.cookie.js','nicEdit.js','jquery.paginate.js','../../../../../cgi-bin/zoo_loader.cgi?metaPath=template&request=Execute&service=WPS&version=1.0.0&Identifier=display&DataInputs=tmpl=main_js;module=Printer&RawDataOutput=Result@mimeType=text/plain']

#def page_title
MapMint: Printer
#end def

#def body
<div class="ui-layout-west">
	<h1 class="pane-title">Maps<span class="close" onclick="myLayout.close('west')" title=""></span></h1>
	<div class="toolbar">
		<a class="fg-button ui-state-default ui-corner-all add-database"  href="" title="Add Database"></a>
		<a class="fg-button ui-state-default ui-corner-all add-directory"  href="" title="Add Directory"></a>

	</div>
	
		<div id="paginationdemo" class="demo">
                <div id="p1" class="pagedemo _current" style="">
                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>
                
                
                
				<div id="p2" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number five<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number six<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number seven<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number eight<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>
				<div id="p3" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>
				<div id="p4" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>

				<div id="p5" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>
				<div id="p6" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>
				<div id="p7" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>
				<div id="p8" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
					</div>
				<div id="p9" class="pagedemo" style="display:none;">                	
					<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>
				<div id="p10" class="pagedemo" style="display:none;">
				                	<div class="maps-container">
						<ul>
							<li><a class="default-map" href="#">Sample Map number one<span>11/04/11 at 2:37 pm</span></a></li>
							<li><a href="#">Sample Map number two<span><span>09/04/11 at 1:17 am</span></a></li>
							<li><a href="#">Sample Map number three<span>07/04/11 at 8:24 am</span></a></li>
							<li><a href="#">Sample Map number four<span>01/04/11 at 6:43 pm</span></a></li>
						</ul>
						</div>
				</div>

				<div id="demo5"></div>
                
            </div>
            

	
</div>


<div class="ui-layout-center">
	<h1 class="pane-title">Document: <span class="project-title">Untitled-1</span></h1>
	<div class="toolbar2">
	<a class="ui-state-default ui-button-text-only ui-corner-all export"  href="#" title="">Export</a>
	<a class="ui-state-default ui-button-text-only ui-corner-all preview"  href="#" title="">Preview</a>
	
	<a class="ui-state-default ui-button-text-only ui-corner-all view-all-docs"  href="#" title="">View all documents</a>
	</div>
	
	<div class="center-container">
	    
	<textarea name="area2" style="width: 100%;">

</textarea>

</div>

</div>

<div id="one" class="jGrowl bottom-right"></div>

#end def
