#import zoo
#import mapscript,json
	<div id="paginationdemo" class="demo">

#from  mapfile.service import listMap
#set loutputs={"Result": {"value":""}}
<!-- $(inputs["order"]={"value":"true"}) -->
#set a = listMap($conf,$inputs,$loutputs)
#if a == 3
#set nPerPage=5
#set pgCnt=1
#set af=eval($loutputs["Result"]["value"])
#try
#set af=$af[:$limit]
#except
#set af=$af
#end try
#for i in range(0,len($af))
#if $i == 0
                <div id="p$pgCnt" class="map-page #if $pgCnt==1#_current#end if#" style="#if $pgCnt!=1#display:none#end if#">
                	<div class="maps-container">
				<ul>
#end if
#if $i == ($pgCnt*$nPerPage)
#set pgCnt=$pgCnt+1
				</ul>
			</div>
		</div>
                <div id="p$pgCnt" class="map-page #if $pgCnt==0#_current#end if#" style="#if $pgCnt!=0#display:none#end if#">
                	<div class="maps-container">
				<ul>
#end if
#set lM=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$af[$i]["id"]+".map")
					<li><a #if $conf["senv"]["last_map"]==$af[$i]["id"]##set savedTime=$af[$i]["mTime"]#class="default-map"#end if# href="#" onclick="setCurrentMap('$af[$i]["id"]')">$af[$i]["id"]#set lM=mapscript.mapObj($conf["main"]["dataPath"]+"/maps/project_"+$af[$i]["id"]+".map")#<span>$lM.web.metadata.get('mmTitle')</span><span>$zoo._("Last modified on:") $af[$i]["mTime"]</span></a></li>
#if $i+1 == len(af)
				</ul>
			</div>
		</div>
#end if
#end for
#end if
		<div id="maps-pager"></div>
	</div>
