#import os
#import customize
#import mapscript
#import mapfile.service as mms
#if $project!=""
#set myProject=$project
#set mapfile=$conf["main"]["dataPath"]+"/public_maps/"+myProject
#from Cheetah.Template import Template
#if os.path.islink($mapfile)
#set mapfile=os.readlink($mapfile).replace('\\??\\','').replace('\\','/')
#set lastMap=$mapfile.replace($conf["main"]["dataPath"]+"/public_maps/project_","").replace(".map","")
#set tmp=$conf
#if 'last_map' in $tmp["senv"].keys()
#set $tmp["senv"]["previous_map"]=$tmp["senv"]["last_map"]
#end if
#set $tmp["senv"]["last_map"]=$lastMap
#end if
#set m=mapscript.mapObj($mapfile)
#include $conf["main"]["templatesPath"]+"/preview/"+$mms.getMetadata($m.web,'layout_t')+".tmpl"
#else
#try
#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)
#set req="SELECT content from "+$prefix+"pages WHERE title='public_index'"
#set res=cur.execute($req)
#set vals=cur.fetchone()
$(Template($vals[0],searchList={"conf": $conf,"inputs": $inputs,"outputs":$outputs,"con":$con}))
#except Exception as e
<!-- $e --> 
$(Template(file=$conf["main"]["templatesPath"]+"/public-access.tmpl",searchList=$searchList))
#end try
#end if
