#encoding UTF-8

#from Skeleton import Skeleton
#extends Skeleton

#attr $ocss = ['bootstrap.min.css','public.css']

#attr $js=[ "OpenLayers.min.js","proj4js-compressed.js","Meta.js", "flip.js","jquery.quicksand.js", "mosaic.1.0.1.min.js", "jquery.raty.min.js","jquery.xml2json.pack.js", "wps.js","Graphs.js", "jquery.tagcloud.js", "np-public.js", "bootstrap.min.js", "bootbox.min.js"]

#attr $js2=["./init_js","./index_js"]

#attr $js3=["highchart/js/highcharts.min.js","default_init.js"]

#attr $mmodule="public"

#def page_title
$conf["identification"]["title"]
#end def

#def body
#import zoo,mm_access
#import mapfile.service as mms
<!-- $(conf["senv"]["last_map"]="Default")-->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://mapmint.com" target="_blank">Map<span>Mint</span>
				<img src="$conf["main"]["mmAddress"]/img/mapmint-logo-small.png" class="pull-left"/>
			</a>
		</div>
        	<div class="collapse navbar-collapse navbar-ex1-collapse">
                	<ul class="nav navbar-nav navbar-right main-navigation">
                		<li><a href="#home" class="">$zoo._("Home")</a></li>
                		#if $conf["mm"]["indexes"]=="true"
                		<li><a href="#indicateurs" class="">$zoo._("Indicators")</a></li>
                		#end if
                		<li><a href="#cartotheque" class="">$zoo._("Maps")</a></li>
                		#if $conf["mm"]["documents"]=="true"
                		<li><a href="#documents" class="">$zoo._("Documents")</a></li>
                		#end if
				<!-- <li class="dropdown">
                		<a href="" class="dropdown-toggle" data-toggle="dropdown">$zoo._("About") <b class="caret"></b></a>
                		<ul class="dropdown-menu">
                  			<li><a href="#">$zoo._("Legal notice")</a></li>
                  			<li class="divider"></li>
                  			<li><a href="http://mapmint.com">mapmint.com</a></li>
                		</ul>
                		</li> -->
                	</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="main">
		<div id="master-header" class="clearix">
		#if $conf["mm"]["slideshow"]=="true"
		<div id="slideshow">
		#set imgs=oslistdir($conf["main"]["mmPath"]+"/img/slideshow/")
		#for i in $imgs
		#if $i!=".svn"
	<div>
        <img src="$conf["main"]["mmAddress"]/img/slideshow/$i" title="" alt="" />
	</div>
	#end if
	#end for
	</div>
	#end if
	<h1 id="site-title"><span>$conf["identification"]["title"]</span></h1>
	<div class="banner"></div>
	</div>
	</div>
</div>


#import authenticate.service as auth
#set con=$auth.getCon($conf)
#set cur=con.conn.cursor()
#set prefix=$auth.getPrefix($conf)

#set req="SELECT map from "+$prefix+"favoris WHERE u_id=(SELECT id from "+$prefix+"users where login='"+$conf["senv"]["login"]+"')"
#set res=cur.execute($req)
#set vals=cur.fetchall()
#set favorites=[]
#for i in $vals
#set $favorites+=[$i[0]]
#end for


#if $inputs.keys().count("page")>0
#set qComponents=["p"]+$inputs["page"]["value"].split('/')

#try 
#set val=int($qComponents[1])
#except
#set val=""
#set output=$outputs
#set output["Result"]["size"]=0
#set output["Result"]["mimeType"]="text/html"
#set output["Result"]["value"]=""
#end try
<div class="col-sm-12">
$(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/pages/view.tmpl",searchList={"conf": $conf,"inputs": $inputs,"outputs":$outputs,"cur":$cur,"con":$con,"pid":$qComponents}))
</div>
<script>
\$(document).ready(function(){
        console.log('Start page view !!!!');
        var head = document.getElementsByTagName('head')[0].getElementsByTagName('script');
        console.log(head);
        for(var i=0;i<head.length;i++){
                if(\$(head[i]).attr('src')=="./init_js" || \$(head[i]).attr('src')=="./index_js")
                        \$(head[i]).remove();

        }
        console.log('End start page view !!!!');
        
});
</script>
#*
$inputs["page"]
#end if*#
#else
<div class="all">
    <div id="home">
    <div id="map">
        <div class="container">
              <div id="info"></div>
              <div id="goup">
                <a href="#" id="zoomtomaxextent" title="$zoo._("Zoom to max extent")" onclick="map.zoomToExtent(System.bounds);"><span class="zoomtomaxextent"></span></a>
              </div>
        </div>
    </div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-8 col-lg-8">
        <div id="m_content">
          <div id="main_content">
            <div class="post phome">
#if $conf["identification"]["abstract"].count($conf["main"]["tmpUrl"])>0
#set f=open($conf["identification"]["abstract"].replace($conf["main"]["tmpUrl"],$conf["main"]["tmpPath"]),"rb")
#import HTMLParser
#set parser = HTMLParser.HTMLParser()
              $parser.unescape(f.read())
#else
              $conf["identification"]["abstract"].replace("[BR]","</p><p>")
#end if
            </div>
#if False
#set res=$cur.execute("SELECT name, content from "+$prefix+"ilinks where short='"+$inputs["idp"]["value"]+"'")
#set $vals=$cur.fetchall()
            <div class="post">
              <h2 class="htxt">$vals[0][0] <a href="$conf["main"]["applicationAddress"]/public/">retour</a></h2>
              <p>$vals[0][1].replace("\\n","</p><p>")</p>
            </div>
#end if
          </div>
          <div id="main_content_bg" style="display: none;"></div>
        </div>
</div>

    <div class="col-xs-12 col-sm-4 col-lg-4">
        <div id="formContainer">
          <form id="login" method="post" action="">
            <h3 class="lgn">$zoo._("Login")</h3>
            #from Cheetah.Template import Template
            #try
            #set cinputs=$inputs
            #except
            #set cinputs={}
            #end try
            #set cinputs["pcancel"]=None
            $(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/auth/login.html",searchList={"conf":$conf,"inputs": $cinputs}))
          </form>
          <form id="recover">
            $(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/auth/login.tmpl",searchList={"conf":$conf,"inputs": $cinputs}))
          </form>
        </div>
      </div>

<div class="col-xs-12 col-sm-12 col-lg-12">
<h3 class="lgb">$zoo._("Recent maps")</h3>
</div>

#import os
#import mapscript
#import time
#import mapfile.service as mms
#set dirpath=$conf["main"]["dataPath"]+"/public_maps/"
#set mfiles=os.listdir(dirpath)
#set mfiles1=[]
#set morig=[]
#for i in mfiles
#if $i!="indicateurs" and ["Default","idxOverlays"].count($i)==0
#try
#set mpath=os.readlink($conf["main"]["dataPath"]+"/public_maps/"+$i)
#set project=mpath
#set tmpM=mapscript.mapObj($mpath.replace("\\??\\",""))
#if $mm_access.checkMapPriv($conf,$tmpM)
#set $mfiles1+=[[mpath.replace("\\??\\",""),$i]]
#end if
#except
#set project=None
#end try
#set cnt=0
#end if
#end for
$mfiles1.sort(key=lambda x: 1/os.path.getmtime(os.path.join(x[0])))
#set cnt=0
#for i in mfiles1
#if $i[1]=="indicateurs" or $i[1]=="Default"
#set idx=$mfiles1.index($i)
#set dd=$mfiles1.pop($idx)
#end if
#end for
#for i in mfiles1
#if $cnt>3
#break
#end if
#set mpath=$i[0]
#set project=$i[0]

#if project is not None 
#try
#set mm=mapscript.mapObj($mpath)
#set ll=$mms.getMetadata(mm.web,'mmActivatedLayers')
#set a=$mm.getLayer(0).getExtent()
#try
#set dd=$a.project(mapscript.projectionObj(mm.getLayer(0).getProjection()),mapscript.projectionObj(mm.getProjection()))
#except
#set dd=$a
#end try
#set x=(($a.maxx-$a.minx)/2)+$a.minx
#set y=(($a.maxy-$a.miny)/2)+$a.miny

<div class="col-sm-6 col-md-3">
	<div class="thumbnail">

                <div class="caption">
			 <h4>$mms.getMetadata($mm.web,'mmTitle')</h4>

              <p class="date"> $(time.strftime($conf["mm"]["dateFormat"],time.localtime(os.path.getmtime($mpath)))) $(time.strftime("%H:%M",time.localtime(os.path.getmtime($mpath)))) </p>
               <p class="meta">$(mms.getShortDescription($conf,$mm))</p>
	<ul class="dtls">
              <li><a href="#" id="$i[1]" class="map-btn minfo">Information</a></li>
             <li>       <a href="$conf["main"]["rootUrl"]#if $conf["main"]["rootUrl"][len($conf["main"]["rootUrl"])-1]!="/"#/#end if#$i[1]" class="map-btn">$zoo._("View")</a></li>
        </ul>
       </div>

#if $mms.getMetadata(mm.web,"previewUrl")
                      <img src="$mms.getMetadata($mm.web,'previewUrl')" class="img-responsive" />
#else
            <img src="$conf["main"]["mapserverAddress"]?map=${project}&LAYERS=$(ll)&SERVICE=WMS&VERSION=1.0.0&REQUEST=GetMap&FORMAT=png&BBOX=$a.minx,$a.miny,$a.maxx,$a.maxy&SRS=EPSG:4326&WIDTH=250&HEIGHT=160&r=1315253453.18" width="250" height="160" class="img-responsive"/>
#end if

	</div>
<h4 class="text-center">$mms.getMetadata($mm.web,'mmTitle')</h4>
 </div>

#except Exception,e
<div class="col-sm-6 col-md-3">
<div class="thumbnail">
 $zoo._("Error occured:") $e
</div>
</div>
#end try
#end if

#set $cnt=$cnt+1
#end for

<div class="col-xs-12 col-sm-12 col-lg-12">
<div id="news_block" class="rank flip">
         <div id="news_list" class="flip_content">
#if $conf["mm"]["indexes"]=="true"
           $(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/indexes/list.html",searchList={"conf":$conf}))
#else
<div id="" class="col-sm-6 col-md-6">
  $(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/news/list.html",searchList={"conf":$conf}))
</div>
<div id="" class="col-sm-6 col-md-6">
           $(Template(file=$conf["main"]["templatesPath"]+"/preview/modules/links/display.html",searchList={"conf":$conf}))
</div>
#end if
          </div>
</div>
</div>

</div>
</div>
</div>

#if $conf["mm"]["indexes"]=="true"
  <div id="indicateurs">
    
<div class="content">
#import np.service as np
#set indexes=np.getPublishedIndex($conf)
#set idx=np.getLastPublishedIndex($conf)
#set res=$cur.execute("SELECT id, name, description from "+$prefix+"indicators where id="+idx)
#try
#set val=$cur.fetchall()
      <div class="post">
	<h2 id="idx_title" class="htxt2">$val[0][1]</h2>
          <div class="abst">
              <div class="starc" id="vote_0_$val[0][0]">
              </div>

	    <ul>
	      <li>Thème: <span id="idx_theme">$zoo._("Theme name")</span></li>
#set immap=$conf["main"]["dataPath"]+"/indexes_maps/project_PIndex"+str($val[0][0])+".map"
#set dte=time.strftime($conf["mm"]["dateFormat"],time.localtime(os.path.getmtime($immap)))
#*except
#set dte=""
#end try
#try*#
	      <li>Publié le: <span id="idx_pdate">$dte  $(time.strftime("%H:%M",time.localtime(os.path.getmtime($mpath))))</span></li>
	     <li>Description: <span id="idx_desc" class="desc">$val[0][2]</span></li>
	 </ul>
	</div>
	<div class="iovw">
#set mm=mapscript.mapObj($indexes[0])
#set ll=$mms.getMetadata(mm.web,'mmActivatedLayers')
#set a=$mm.getLayer(0).getExtent()
#set dd=$a.project(mapscript.projectionObj(mm.getLayer(0).getProjection()),mapscript.projectionObj("EPSG:4326"))
#set x=(($a.maxx-$a.minx)/2)+$a.minx
#set y=(($a.maxy-$a.miny)/2)+$a.miny
	   <a target="_blank" href="./indicateurs" id="indicateur_file_link" class="more3">Voir la fiche</a>
          <a href="./indicators" class="more3">Voir la carte</a> 
         <img id="idx_ov" src="$conf["main"]["mapserverAddress"]?map=${indexes[0]}&LAYERS=$($mm.getLayer(0).name)&SERVICE=WMS&VERSION=1.0.0&REQUEST=GetMap&FORMAT=png&BBOX=$a.minx,$a.miny,$a.maxx,$a.maxy&SRS=EPSG:4326&WIDTH=140&HEIGHT=110&r=1315253453.18" width="140" height="110" style="float:right;margin:20px 0 0 0;" />
	</div>
      </div>
#except
	$zoo._("Error accured")</h2>
</div>
#end try
</div>


      <div class="sidebar">
        <div class="ilist">
#include($conf["main"]["templatesPath"]+"/preview/modules/indexes/SelectIdx.tmpl")
	</div>
      </div>

<div class="content-idx">

      <div id="tblDisplay" class="ar"></div>

	<div id="graphDisplay" class="al"></div>

#set res=$cur.execute("SELECT type,name,vx,vy,lx,ly,tooltip from "+$prefix+"graphs where it_id=(select id from "+$prefix+"indicators_territories where i_id="+$idx+" and not(agregation))")
#set val=$cur.fetchone()
	<input type="hidden" id="graphs_tooltip" value="#if $val is not None#$val[6]#end if#"/>
	<input type="hidden" id="graphs_f_type" value="#if $val is not None#$val[0]#end if#"/>
	<input type="hidden" id="graphs_title" value="#if $val is not None#$val[1]#end if#"/>
	<input type="hidden" id="graphs_vx" value="#if $val is not None#$val[2]#end if#"/>
	<input type="hidden" id="graphs_lx" value="#if $val is not None#$val[4]#end if#"/>
	<input type="hidden" id="graphs_vy" value="#if $val is not None#$val[3]#end if#"/>
	<input type="hidden" id="graphs_ly" value="#if $val is not None#$val[5]#end if#"/>
	<input type="hidden" id="index_id" value="$idx"/>



        <div id="tagcloud">
#set req="select keywords.id,nom,count(*) from "+$prefix+"keywords,"+$prefix+"indicators_keywords where indicators_keywords.k_id=keywords.id group by keywords.id,keywords.nom;"
#set res=$cur.execute(req)
#set vals=$cur.fetchall()
#for i in range(0,len(vals))
          <a id="keyword_$vals[$i][0]" href="#" rel="$vals[$i][2]">$vals[$i][1]</a>
#end for
        </div>

</div>

</div>
#end if

<div id="cartotheque">
<div class="content-full">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-lg-12">

      <div class="post">
        <h3 class="amp">$zoo._("All maps") <!--<a href="#home" class="home mbutt more" >$zoo._("Home")</a>--> </h3>
        <div id="filter"></div>

      </div>

        <ul id="stage" class="list-unstyled">
#for i in mfiles1
#set mpath=$i[0]
#set project=$i[0]
#if project is not None
#try
#set mm=mapscript.mapObj($mpath)
#set ll=$mms.getMetadata(mm.web,'mmActivatedLayers')
#if $ll==""
#set ll=$mm.getLayer(0).name
#end if
#set a=$mm.getLayer(0).getExtent()
<!-- BaseLayer $a.project(mapscript.projectionObj(mm.getLayer(0).getProjection()),mapscript.projectionObj(mm.getProjection())) -->
#set x=(($a.maxx-$a.minx)/2)+$a.minx
#set y=(($a.maxy-$a.miny)/2)+$a.miny

#if $mms.getMetadata($mm.web,'mm_themes_class')
#set res=$cur.execute("SELECT name from "+$prefix+"themes where id in ("+$mms.getMetadata($mm.web,'mm_themes_class')+")")
#set vals=$cur.fetchall()
#set fvals=""
#set cnt0=0
#try
#if len($vals)>0
#for j in range(0,len($vals))
#if $vals[$j][0] is not None
#if $j>0
#set $fvals+=","
#end if
#set $fvals+=$vals[$j][0]
#end if
#end for
#end if
#except
#pass
#end try
#else
#set fvals=$zoo._("Unknown")
#end if

 <li data-tags="$fvals#if $favorites.count($i[1])>0#,$zoo._("Favorites")#end if#" class="col-lg-3 col-sm-4 col-xs-6">

                <div id="$i[1]" class="thumbnail">

                <div class="caption">
              <h4>$mms.getMetadata($mm.web,'mmTitle')</h4>
<p class="date"> $(time.strftime($conf["mm"]["dateFormat"],time.localtime(os.path.getmtime($mpath))))  $(time.strftime("%H:%M",time.localtime(os.path.getmtime($mpath))))  </p>
               <p class="meta">$(mms.getShortDescription($conf,$mm))</p>
                <a href="#" id="$i[1]" class="map-btn minfo">Information</a>
                <a href="$conf["main"]["rootUrl"]#if $conf["main"]["rootUrl"][len($conf["main"]["rootUrl"])-1]!="/"#/#end if#$i[1]" class="map-btn">$zoo._("View")</a>
</div>

#if $mms.getMetadata(mm.web,"previewUrl")
                      <img src="$mms.getMetadata($mm.web,'previewUrl')" />
#else
                      <img src="$conf["main"]["mapserverAddress"]?map=${project}&LAYERS=$(ll)&SERVICE=WMS&VERSION=1.0.0&REQUEST=GetMap&FORMAT=png&BBOX=$a.minx,$a.miny,$a.maxx,$a.maxy&SRS=EPSG:4326&WIDTH=250&HEIGHT=160&r=1315253453.18" width="250" height="160" />
#end if
        </div>
 </li>
	      
#except
	Error occured
#end try
#end if
#set $cnt=$cnt+1
#end for
</ul>

</div>
</div>
</div>
</div>
</div>

 <div id="documents">


<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-8 col-lg-8">
      <div class="post shad">
        <h3 class="amp">$zoo._("Documents")</h3>
        <p>$zoo._("Available documents")</p>
        <div id='page_navigation'></div>

        </div>

</div>

<div class="col-xs-12 col-sm-4 col-lg-4">
<div class="sidebar">
      <div class="ilist">
        <h3 class="dse">$zoo._("Search")</h3>
        <label for="documents_search">$zoo._("Search:")</label>
        <input type="text" id="documents_search" class="dwi" value="$zoo._("Enter few letters")">
      </div>
      </div>
</div>

<div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="content-idx">

        <input type='hidden' id='current_page' />
        <input type='hidden' id='show_per_page' />
        <div id="documents_container">
#include($conf["main"]["templatesPath"]+"/preview/modules/indexes/documents.tmpl")
        </div>
</div>
 </div>
</div>
</div>
</div>

    </div>
#end if


 <footer id="footer" role="contentinfo">
<div class="container">
  <a href="http://www.mapmint.com" target="_blank" class="if"><img title="mapmint.com" src="$conf["main"]["serverAddress"]?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=QREncode&amp;DataInputs=size=3;bgcolor=3A3A3A;fgcolor=83C849;Text=http://mapmint.com&amp;RawDataOutput=QR"></a>
  <p> Copyright &copy; &#160;<a href="$conf["provider"]["providerSite"]" target="_blank">$conf["provider"]["providerName"]</a>
  <span class="sep">|</span>
#set vals=$cur.execute("SELECT name,short,url from "+$prefix+"ilinks order by id")
#for i in $cur.fetchall()
#if $i[2] is None or $i[2]==""
  <a href="$conf["main"]["rootUrl"]/;idp=$i[1]" onclick="loadIPage('$i[1]');return false;">$i[0]</a>
#else
  <a href="$i[2]" target="_blank">$i[0]</a>
#end if
  <span class="sep">|</span>
#end for
  </p>
</div>
  </footer>
</div>

<script>   
\$(".loader-container").hide();
\$(document).ready(function(){
   try{init();}catch(e){alert(e);}
});
</script>
#end def

