function savePublishedMap(){
  var postRequest=[];
  var args="";
  \$("#mmDescription").val( CKEDITOR.instances.mmDescription.getData() );
    \$("#layout-sets").find("input[type=radio]").each(function(){if(this.id!="" &&this.id!="#" && this.checked){args+=(args!=""?";":"")+this.id+"="+this.value;postRequest[postRequest.length]={'name': this.id,value: this.value,dataType: "string"};}});

  \$("#themz").find("input[type=radio]").each(function(){if(this.id!="" &&this.id!="#" && this.checked){postRequest[postRequest.length]={'name': this.id,value: this.value,dataType: "string"};}});

  \$("table.gen").find("input[type=text]").each(function(){if(this.id!="" &&this.id!="#" && this.value!=""){postRequest[postRequest.length]={'name': this.id,value: this.value,dataType: "string"};}});

  \$("table.gen").find("textarea").each(function(){if(this.id!="" &&this.id!="#" && this.value!=""){postRequest[postRequest.length]={'name': this.id,value: this.value.replace("#",""),dataType: "string"};}});

  \$("table.gen").find("input[type=checkbox]").each(function(){if(this.id!="" &&this.id!="#" && this.value!="" && this.checked){postRequest[postRequest.length]={'name': this.id,value: this.value.replace("#",""),dataType: "string"};}});

  if(\$("#base_osm").is(":checked"))
  postRequest[postRequest.length]={name:'mmOSMBaseLayers',value: \$("#base_osm").val(),dataType: "string"};
  postRequest[postRequest.length]={name:'mmProprietaryBaseLayers',value: \$("#mmBBDefault").val(),dataType: "string"};

  var pt="";
  var mt="";
  var ct="";
  \$("#layout-sets").find("table.gen").find("select").each(function(){
      postRequest[postRequest.length]={name:this.id,value: \$(this).val(),dataType: "string"};
    });
  \$("#layers-sets").find("table.gen").find("select").each(function(){
      //alert(this.id);
      for(i=0;i<this.options.length;i++){
	if(this.options[i].selected){
	  if(this.id && this.options[i].value!="-1"){
	    if(this.id=="mmBProject")
	      ct+=(ct!=""?",":"")+this.options[i].value;
	    if(this.id==\$("#mmBBDefault").val()){
	      pt+=(pt!=""?",":"")+this.options[i].value;
	    }
	  }else{
	    if(this.options[i].value!="-1")	
	      mt+=(mt!=""?",":"")+this.options[i].value;
	  }
	}
      }
  });
  postRequest[postRequest.length]={name:'mmBProject',value: ct,dataType: "string"};
  postRequest[postRequest.length]={name:'mmPBaseLayers',value: pt,dataType: "string"};
  postRequest[postRequest.length]={name:'mmMBaseLayers',value: mt,dataType: "string"};

  postRequest[postRequest.length]={name:'mmActivatedBaseLayers',value: \$("#base_layer_active").val(),dataType: "string"};

  \$("#map-sets").find("table.gen").find("select").each(function(){
	postRequest[postRequest.length]={name:this.id,value: this.value,dataType: "string"};	
  });

  ppl=postRequest.length;
  postRequest[postRequest.length]={name:"mmPopupList",value: "",dataType: "string"};
  wil=postRequest.length;
  postRequest[postRequest.length]={name:"mmWindowList",value: "",dataType: "string"};
  acl=postRequest.length;
  postRequest[postRequest.length]={name:"mmActivatedLayers",value: "",dataType: "string"};
  \$("#datasources_list").find("input[type=checkbox]").each(function(){
      if(this.checked){
	if(this.value[0]=="p"){
	  var tmp=this.id.replace(/layer_has_popup_/g,"");
	  postRequest[ppl]["value"]+=(postRequest[ppl]["value"]==""?"":",")+tmp;
	}
	if(this.value[0]=="w"){
	  postRequest[wil]["value"]+=(postRequest[wil]["value"]==""?"":",")+this.id.replace(/layer_has_click_/g,"");
	}
	if(this.value[0]=="a"){
	  postRequest[acl]["value"]+=(postRequest[acl]["value"]==""?"":",")+this.id.replace(/is_activated_layer_/g,"");
	}
      }
  });
  	

  postrequestFieds={};
  \$("#controls-sets").find("table.gen").find("select").each(function(){
      if(this.id)
	for(i=0;i<this.options.length;i++){
	  if(this.options[i].selected){
	    if(!postrequestFieds[this.id])
	      postrequestFieds[this.id]="";
	    postrequestFieds[this.id]+=(postrequestFieds[this.id]==""?"":",")+this.options[i].value;
	  }
	}
    });
  for(var i in postrequestFieds){
    postRequest[postRequest.length]={name:i,value: postrequestFieds[i],dataType: "string"};
  }
    
    \$(".publishergselect").each(function(){
	postRequest[postRequest.length]={name:"mm_access_groups",value: \$(this).val(),dataType: "string"};
      });

  \$(".publisherTHtselect").each(function(){
	postRequest[postRequest.length]={name:"mm_themes_class",value: \$(this).val(),dataType: "string"};
  });

  /*var activatedLayers="";
  \$(".dsContainer").find("input[type=checkbox]").each(function(){if(this.checked)activatedLayers+=(activatedLayers!=""?",":"")+this.id.replace('is_activated_layer_','');});
  postRequest[postRequest.length]={name:'mmActivatedLayers',value: activatedLayers,dataType: "string"};*/

  var minScale="";
  var cmis=0;
  var maxScale="";
  var cmas=0;  
  var lminScale="";
  var lcmis=0;
  var lmaxScale="";
  var lcmas=0;  
  \$(".dsContainer").find("input[type=text]").each(function(){
      if(this.id.replace("min_scale_","")==this.id &&
	 this.id.replace("label_min_scale_","")==this.id && 
	 this.id.replace("label_max_scale_","")==this.id){
	  maxScale+=((cmas>0)?",":"")+this.value;
	  cmas++;
      }else{
	  if(this.id.replace("label_min_scale_","")==this.id && 
      	     this.id.replace("label_max_scale_","")==this.id){
	    minScale+=((cmis>0)?",":"")+this.value;
	    cmis++;
          } else{
	      if(this.id.replace("label_min_scale_","")==this.id){
		  lmaxScale+=((lcmas>0)?",":"")+this.value;
		  lcmas++;		  
	      }else{
		  lminScale+=((lcmis>0)?",":"")+this.value;
		  lcmis++;		  
	      }
	  }
      }
    });
  postRequest[postRequest.length]={name:'minScales',value: minScale,dataType: "string"};
  postRequest[postRequest.length]={name:'maxScales',value: maxScale,dataType: "string"};
  postRequest[postRequest.length]={name:'lminScales',value: lminScale,dataType: "string"};
  postRequest[postRequest.length]={name:'lmaxScales',value: lmaxScale,dataType: "string"};

  var vectorLayers="";
  var rasterLayers="";
  \$(".dsContainer").find("input[type=radio]").each(function(){if(this.checked) {if(this.value=='vector'){vectorLayers+=(vectorLayers!=""?",":"")+this.id.replace('layer_type_','');}else {rasterLayers+=(rasterLayers!=""?",":"")+this.id.replace('layer_type1_','');}}});
  postRequest[postRequest.length]={name:'vectorLayers',value: vectorLayers,dataType: "string"};
  postRequest[postRequest.length]={name:'rasterLayers',value: rasterLayers,dataType: "string"};

  postRequest[postRequest.length]={name:'map', value: "$conf["senv"]["last_map"]",dataType: 'string'};

  //alert(WPSGetInputs(postRequest));

  var data=WPSGetHeader("savePublishMap")+WPSGetInputs(postRequest)+WPSGetOutput({name:"Result"})+WPSGetFooter();
  \$.ajax({
	type: "POST",
	url: "$conf["main"]["serverAddress"]?metapath=mapfile",
	data: data,
	contentType: "text/xml",
	complete: function(xml,status) {
	checkWPSResult(xml);
      }
    });

}

function savePublishedPreview(){
  var postRequest=[];
  postRequest[postRequest.length]={name:'map', value: "$conf["senv"]["last_map"]",dataType: 'string'};

  var data=WPSGetHeader("savePublishPreview")+WPSGetInputs(postRequest)+WPSGetOutput({name:"Result"})+WPSGetFooter();
  \$.ajax({
	type: "POST",
	url: "$conf["main"]["serverAddress"]?metapath=mapfile",
	data: data,
	contentType: "text/xml",
	complete: function(xml,status) {
	checkWPSResult(xml);
      }
    });

}

function setCurrentMap(){
    var toto=function(){document.location.reload(true);}
    System.afterSave=[toto];
    saveAsMap([arguments[0],arguments[0]]);
}

function confirmRemovePublishedMap(){
  $.ajax({
    url: "$conf["main"]["serverAddress"]?metapath=template&service=WPS&version=1.0.0&request=Execute&Identifier=display&DataInputs=tmpl=Publisher/confirmRemove&RawDataOutput=Result",
	complete: function(xml,status){
	if(!\$('#confirmRemoveProject').length>0)
	  \$("body").append('<div id="confirmRemoveProject" title="OSM Importer"></div>');
	\$('#confirmRemoveProject').html("");
	\$('#confirmRemoveProject').append(xml.responseText);
	\$('#confirmRemoveProject').window({
	  width: 325,
	      height: 220,
	      maximizable:false,
	      resizable: false
	      });
      }
    })
}

function removePublishedMap(){
  \$.ajax({
	type: "GET",
	url: "$conf["main"]["serverAddress"]?metapath=mapfile&request=Execute&service=WPS&version=1.0.0&Identifier=removeMap&DataInputs=map=$conf["senv"]["last_map"]&RawDataOutput=Result",
	complete: function(xml,status) {
	  if(checkWPSResult(xml)){
	    \$('#confirmRemoveProject').window('close');
	    document.location.reload(true);
	  }
      }
    });
}

function updateBaseLayersList(){
  var val=1;
  var sel=\$("#base_layer_active");
  sel.html("");
  if(\$("#base_osm").is(":checked")){
    sel.append('<option value="'+val+'" '+(val==\$("base_layer_active_sel").val()?'selected="true"':"")+'>$conf["mm"]["boLayerAlias"]</option>');
    val++;
  }

  var pt="";
  var mt="";
  var ct="";
  \$("#layers-sets").find("table.gen").find("select").each(function(){
      //alert(this.id);
      for(i=0;i<this.options.length;i++){
	if(this.options[i].selected){
	  if(this.options[i].value!="-1"){
	    if(this.id=="mmBProject"){
	      sel.append('<option value="'+val+'" '+(val==\$("#base_layer_active_sel").val()?'selected="true"':"")+'>Created layer '+this.options[i].text+'</option>');
	      val++;
	    }
	    else
	      if(this.id==\$("#mmBBDefault").val()){
		sel.append('<option value="'+val+'" '+(val==\$("#base_layer_active_sel").val()?'selected="true"':"")+'>'+\$("#mmBBDefault")[0].options[\$("#mmBBDefault")[0].selectedIndex].text+" "+this.options[i].text+'</option>');
		val++;
	      }
	      else
		if(!this.id){
		  sel.append('<option value="'+val+'" '+(val==\$("#base_layer_active_sel").val()?'selected="true"':"")+'>$conf["mm"]["bmName"] '+this.options[i].text+'</option>');
		  val++;
		}
	  }
	}
      }
  });

}
