#encoding UTF-8
#import zoo
#attr $mmenu0=None
#attr $js1 = ["main_js"] 
#attr $js3 = [] 
#attr $mmodule = "Distiller"
#attr $mmenu = None
#attr $admin_menu = None
#attr $istyles = None
#attr $tfooter = None
#import zoo
#try
#set verr=$errorMsg
#except
#set verr=None
#end try
<!DOCTYPE html>
<html lang="$(conf["main"]["lang"].split('-')[0])">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content="$zoo._("MapMint: Professional SDI manager")">
<meta name="keywords" content="MapMint, SDI, Geospatial, Web GIS, GIS, WPS, WMS, WFS, WCS, ZOO-Project, ZOO, ZOO WPS, MapServer, GDAL, OSGeo, FOSS4G, OGC, OWS">
<meta name="copyright" content="$conf["provider"]["providerName"]">
<meta name="author" content="$conf["provider"]["providerName"]">
<link rel="shortcut icon" href="$conf["main"]["mmAddress"]/favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="MapMint RSS Feed" href="$(conf["main"]["applicationAddress"])public/rss" />
<title>$page_title</title>

#if $conf["mm"].keys().count("useCdn")>0 and $conf["mm"]["useCdn"]=="true"
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
#else
<link href="$conf["main"]["publicationUrl"]/css/bootstrap.min.css" rel="stylesheet">
<link href="$conf["main"]["publicationUrl"]/css/bootstrap-themes.min.css" rel="stylesheet">
#end if
<link href="$conf["main"]["publicationUrl"]/css/mapmint-admin.css" rel="stylesheet">
<link href="$conf["main"]["publicationUrl"]/assets/css/mm-font.css" rel="stylesheet">
<link href="$conf["main"]["publicationUrl"]/assets/css/loader.css" rel="stylesheet">
<link href="$conf["main"]["publicationUrl"]/css/mm_icons.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href="$conf["main"]["publicationUrl"]/css/metisMenu.min.css" rel="stylesheet">
<link href="$conf["main"]["publicationUrl"]/assets/css/bootstrap-notify.css" rel="stylesheet">
<link href="$conf["main"]["publicationUrl"]/assets/css/summernote.css" rel="stylesheet">


#if $istyles is not None
$istyles
#end if

<link href="$conf["main"]["publicationUrl"]/assets/css/mapmint-fixes.css" rel="stylesheet">

</head>
<body>
#include($conf["main"]["templatesPath"]+"/loader_bs.tmpl")

#if $mmodule!="public"
#if ($conf.keys().count("senv")>0 and $conf["senv"].keys().count("loggedin")>0 and $conf["senv"].keys().count("lastname")>0 and $conf["senv"]["loggedin"]!="false") and not($verr)
<div id="wrapper">
#set lfonts={
	"dashboard": "tachometer",
	"distiller": "cubes",
	"manager": "map-o",
	"tables": "table",
	"themes": "th",
	"territories": "sitemap",
	"indicators": "bar-chart",
	"documents": "file-text-o",
	"publisher": "laptop",
	"georeferencer": "globe",
	"importers": "upload"
}
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
     <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
#try
#set cfont=$lfonts[$mmodule.lower().replace("-public","")]
#except
#set cfont="question"
#end try
#if $mmodule=="tables-public"
     <a class="navbar-brand" href="#"><i class="fa fa-$cfont"></i> <span class="hid">$zoo._("Data import")</span></a>
#else
     <a class="navbar-brand" href="#"><i class="fa fa-$cfont"></i> <span class="hid">$zoo._($mmodule)</span></a>
#end if
   </div>
   <!-- /.navbar-header -->

   <ul class="nav navbar-top-links navbar-right" id="admin-submenu">
#if $admin_menu is not None
    $admin_menu
#end if
     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#empty">
         <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
       </a>
       <ul class="dropdown-menu dropdown-user">
	 <li><a href="#" id="mmmUserPreferences"><i class="fa fa-user fa-fw"></i> $zoo._("User Profile")</a>
	 </li>
	 <li class="divider"></li>
	 <li><a href="#" id="mmmUserLogOut"><i class="fa fa-sign-out fa-fw"></i> $zoo._("Logout")</a>
	 </li>
       </ul>
       <!-- /.dropdown-user -->
     </li>
   </ul>

#if $mmenu0 is None	    
#if $conf["mm"].keys().count('indicators')>0 and $conf["main"]["indicators"]=="true"
#set menu=['Dashboard','Distiller','Territories','Indicators','Themes','Documents','Manager','Publisher']
#else
#if $conf["mm"].keys().count('indicators')>0 and $conf["mm"]["documents"]=="true"
#set menu=['Dashboard','Distiller','Manager','Themes','Documents','Publisher']
#else
#set menu=['Dashboard','Distiller','Manager','Themes','Publisher']
#end if
#end if
#if $conf["mm"].keys().count('tables')>0 and $conf["mm"]["tables"]=="true"
#set mmenu0=[]
#for a in range(0,len($menu))
#set $mmenu0+=[$menu[a]]
#if a==4
#set $mmenu0+=["Tables"]
#end if
#end for
#set $menu=$mmenu0
#end if
#else
#set $menu=$mmenu0
#end if

#if $conf["mm"].keys().count('importers')>0 and $conf["mm"]["importers"]=="true"
#set mmenu0=[]
#for a in range(0,len($menu))
#set $mmenu0+=[$menu[a]]
#if a==5
#set $mmenu0+=["Importers"]
#end if
#end for
#set $menu=$mmenu0
#end if

	  <div class="navbar-default sidebar" role="navigation">
	  <div class="sidebar-nav navbar-collapse">
	    <ul class="nav" id="side-menu">

#for a in $menu
	      <li #if $inputs['tmpl']['value']==$a+"_bs"#class="active"#end if#>
	      <a href="#if $inputs['tmpl']['value']==$a+"_bs"#\#" class="active"#else#./$(a)_bs"#end if#><i class="fa fa-$(lfonts[a.lower()]) fa-fw"></i> $zoo._($a)
#if $mmenu is not None and $inputs['tmpl']['value']==$a+"_bs"
<span class="fa arrow"></span>
	      </a>
	      $mmenu
#else	      
	      </a>
#end if	      
	      </li>
#end for
#if $menu.count($inputs['tmpl']['value'].replace("_bs",""))==0
	      $mmenu
#end if

	    </ul>
	  </div>
	  <!-- /.sidebar-collapse -->
          </div>
	  <!-- /.navbar-static-side -->
        </nav>

	<div id="page-wrapper">

	<div class='notifications top-right'></div>
#end if
#end if

$body

#if $tfooter is not None
$tfooter
#end if
	</div>
#if $mmodule!="public" and ($conf.keys().count("senv")>0 and $conf["senv"]["loggedin"]!="false" and $conf["senv"].keys().count("firstname")>0) and not($verr)
<div class="ui-layout-south hide"></div>
#else
#if $conf["mm"].keys().count("nofooter")==0 or ($conf["mm"]["nofooter"]!="true" and $conf["mm"].keys().count("nofooter")>0)
<footer>
  <div class="container text-center">
#from datetime import datetime
#set d=datetime.today()
    <p>Copyright &copy; <a href="$conf["provider"]["providerSite"]">$conf["provider"]["providerName"]</a> $d.year</p>
  </div>
</footer>
#end if
#end if

<!--
<button style="position:absolute;bottom:0px" onclick="if(\$('.sidebar').is(':visible')){\$('#page-wrapper').css({'margin':'50px 0 0 0px'});\$('.sidebar').hide();}else{\$('#page-wrapper').css({'margin':'50px 0 0 250px'});\$('.sidebar').show();}" class="btn btn-default"><i class="fa fa-eye"></i></button>
-->
</div>

<!-- User Preferences Modal -->
<div class="modal fade" id="userPreferencesModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="removeModalLabel"><i class="fa fa-user"></i> $zoo._("User Settings") </h4>
      </div>
      <div class="modal-body">
        <div class="myWell">
	</div>
      </div>
    </div>
  </div>
</div>

<script data-main="$conf["main"]["mmAddress"]/admin;module=$mmodule" src="$conf["main"]["publicationUrl"]/assets/js/lib/require.js"></script>

</body>
</html>
