#encoding UTF-8
#import zoo
#import json
#import mm_access
#import sqlite_module as sql
#set t=$sql.request($conf,"SELECT code from spatial_ref_sys where fav is null or not(fav)")
#set res=[]
#for i in $t
#set res+=[$i[0]]
#end for
$(json.dumps($res))
