#encoding UTF-8

#from Skeleton_bs import Skeleton_bs
#extends Skeleton_bs

#attr $mmodule = "Tables"

#attr $ocss = ['colorpicker.css']

#def istyles
<link rel="stylesheet" type="text/css" href="$conf["main"]["publicationUrl"]/assets/css/font-mfizz.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.0.0/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.2.0/css/colReorder.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.0.0/css/select.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.3.0/css/colReorder.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" href="$conf["main"]["publicationUrl"]/assets/css/bootstrap-colorpicker.min.css"/>
#end def


#def page_title
MapMint: $zoo._("Tables")
#end def

#def body
#import zoo
#import mm_access
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set prefix=auth.getPrefix($conf)
#set cur=con.connect()
#set cur=con.conn.cursor()

#set tmpl=$conf['main']['templatesPath']+"/Distiller/form_line.html"
#include $tmpl
#set ftmpl=$self._CHEETAH__cheetahIncludes[$tmpl]
<script>
var counter=0;
</script>
<div class="row">
  <div class="col-sm-9">
  <h2>
   <i class="fa fa-table"></i>
   $zoo._("Table:")
   <span class="project-title" id="name_title">
    $zoo._("Name of the selected table")
   </span>
   <i class="fa fa-spinner fa-spin"></i>
  </h2>
  </div>
  <div class="col-sm-3 myWell">
  <!-- $ftmpl.printButton({"id":"publish","name":$zoo._("Publish"),"classes":"btn-small pull-right" })
  $ftmpl.printButton({"id":"unpublish","name":$zoo._("Unpublish"),"classes":"btn-small pull-right" }) -->
  </div>
</div>
<div class="row">
<div class="col-sm-5 col-lg-4">
 $ftmpl.printButtonGroupA([
  {"target":"adder","title":$zoo._("Add a table"),"classes": "fa fa-plus"},
  {"target":"deleter","title":$zoo._("Delete a table"),"classes": "fa fa-trash"}
])
    <div id="adder" class="myWell collapse">
      $(Template(file=$conf["main"]["templatesPath"]+"/Distiller/PgWindow_bs.html",searchList={"conf": $conf,"inputs": {"dataStore":{"value":$conf["main"]["dbuserName"]},"no-header":{}},"outputs":{"Result":{"value":""}},"basic":True}))
      $ftmpl.printAdder({"id":"add-document","name": "dname","Name":$zoo._("Table Name"),"title":$zoo._("Add")})
    </div>
    <div id="deleter" class="myWell collapse">
      <p>$zoo._("Do you really want to delete the table ?")</p>
      <button class="btn btn-default pull-right" id="delete-document" type="button">$zoo._("Delete")</button>
    </div>
    <table id="listElements">
      <thead>
	<tr>
	  <th>$zoo._("Id")</th>
	  <th>$zoo._("Name")</th>
	  <th>$zoo._("Title")</th>
	</tr>
	</thead>
      <tbody>
      </tbody>
    </table>
</div>
<div id="tablesForm" class="col-sm-7 col-lg-8">
#def printTab($obj)
  <li role="presentation" #if "active" in $obj.keys()#class="active"#end if#><a role="tab" data-toggle="tab" href="#indicators_form_$obj["font"]"><i class="fa fa-$obj["font"]"> </i><span class="hidden-sm"> $obj["title"]</span></a></li>
#end def

#def label
  <span>
  $zoo._("File")
  <input type="radio" name="doct" value="file"  selected="true" onclick="\$('#documents_url').hide();\$('#file').show();" />
  $zoo._("URL")
  <input type="radio" name="doct" value="url" onclick="\$('#documents_url').show();\$('#file').hide();" />
  </span>
#end def

#def content($conf)
  <textarea id="documents_url" class="form-control" style="display:none;"></textarea>
  <form id="fileUpload" action="$conf["main"]["serverAddress"]?request=Execute&service=WPS&version=1.0.0&Identifier=upload.saveOnServer&dataInputs=file=upload" method="post" enctype="multipart/form-data" target="uploader">
    <input type="file" name="file" id="file" class="form-control file" />
    <a id="documents_file_link" href="" target="_blank"></a>
  </form>
  <input type="hidden" id="documents_filename" class="form-control" />
  <iframe onload="if(counter>0){app.saveAnElement();counter=1;}else counter+=1;" name="uploader" id="uploader" style="display:none"></iframe>
#end def

#def label1
  <span>
  $zoo._("File")
  <input type="radio" name="indicator_data_type" value="file"  selected="true" onclick="\$('.documents_itable').hide();\$('.ifile').show();\$('.documents_iquery').hide();" />
  $zoo._("Table")
  <input type="radio" name="indicator_data_type" value="db" onclick="\$('.documents_itable').show();\$('.ifile').hide();\$('.documents_iquery').hide();" />
  $zoo._("Query")
  <input type="radio" name="indicator_data_type" value="query" onclick="\$('.documents_iquery').show();\$('.documents_itable').hide();\$('.ifile').hide();" />
  </span>
#end def

#def content1($conf)
    <div class="row">
    </div>
    <div class="form-group documents_itable">
      <label class="col-sm-3 control-label">
        $zoo._("Table")
      </label>
      <div class="col-sm-9 ">
#from Cheetah.Template import Template
#set inputs0={"dataStore":{"value":$conf["main"]["dbuserName"]},"no-header":{"value":"true"}}
#set outputs0={"Result":{"value":""}}
$(Template(file=$conf["main"]["templatesPath"]+"/Distiller/PgWindow_bs.tmpl",searchList={"conf": $conf,"inputs": $inputs0,"outputs":$outputs0}))
	<input type="hidden" name="data_table_dbname" value="$conf["main"]["dbuserName"]" />
      </div>
    </div>


#set options=[[-1,$zoo._("Select a database")]]
#import datastores.postgis.service as pg
#import json
#set ii={}
#set ii["type"]={"value": "PostGIS"}
#set outputs={"Result":{"value":""}}
#set res=$pg.displayJson($conf,$ii,$outputs)
#set t=json.loads($outputs["Result"]["value"])
#try
#set t=json.loads($outputs["Result"]["value"])
#for i in range(0,len($t["sub_elements"]))
#set $options+=[["PostGIS:"+$t["sub_elements"][i]["name"],$t["sub_elements"][i]["name"]]]
#end for
#except
#pass
#end try
#set ii={}
#set ii["type"]={"value": "MySQL"}
#set res=$pg.displayJson($conf,$ii,$outputs)
#try
#set t=json.loads($outputs["Result"]["value"])
#for i in range(0,len($t["sub_elements"]))
#set $options+=[["MySQL:"+$t["sub_elements"][i]["name"],$t["sub_elements"][i]["name"]]]
#end for
#except
#pass
#end try

     $ftmpl.printLine({"rid":"documents_indicators_database","id":"documents_database","name":$zoo._("Database"),"type":"select","options":$options,"classes":"documents_iquery"})

    <div class="form-group documents_iquery">
      <label class="col-sm-3 control-label">
        $zoo._("SQL Query")
      </label>
      <div class="col-sm-9 ">
      <div class="col-sm-9 ">
        <textarea id="documents_data_query" class="form-control"></textarea>
      </div>
      $ftmpl.printButton({"id":"testSql","name":$zoo._("Test"),"classes":"btn-small col-sm-3" })
      $ftmpl.printButton({"id":"runSql","name":$zoo._("Run"),"classes":"btn-small col-sm-3" })
      </div>
    </div>
<script type="text/javascript">
var icounter=0;
</script>
  <div class="ifile form-group">
      <label class="col-sm-3 control-label">
        $zoo._("Upload your file")
      </label>
      <div class="col-sm-9 ">
      <div class="col-sm-9 ">
  <form id="ifileUpload" action="$conf["main"]["serverAddress"]?request=Execute&service=WPS&version=1.0.0&Identifier=upload.saveOnServer&dataInputs=file=upload" method="post" enctype="multipart/form-data" target="iuploader">
    <input type="file" name="file" id="ifile" class="form-control file" />
    <a id="documents_ifile_link" href="" target="_blank"></a>
  <input type="hidden" id="documents_ifilename" class="form-control" />
  </form>
  <iframe onload="if(icounter>0){/*app.saveAnElement();*/icounter=0;}else icounter+=1;" name="iuploader" id="iuploader" style="display:none"></iframe>
      </div>
      	   $ftmpl.printButton({"id":"import","name":$zoo._("Import"),"classes":"col-sm-3" })
      </div>
  </div>

#set options=[[-1,$zoo._("First upload a file")]]
  $ftmpl.printLine({"rid":"documents_ifile_page","id":"ifile_page","name":$zoo._("Choose a page"),"type":"select","options":$options,"classes":"ifile"})

#end def



<ul class="nav nav-tabs">
$printTab({"font":"gear","title":$zoo._("Parameters")})
$printTab({"font":"info","title":$zoo._("Informations")})
$printTab({"font":"eye","title":$zoo._("View")})
$printTab({"font":"edit","title":$zoo._("Edit")})
$printTab({"font":"print","title":$zoo._("Report")})
</ul>

<div class="tab-content">
  <div id="indicators_form_gear" role="tabpanel" class="tab-pane" >
    <div  class="form-horizontal mtpp theForm ">
      <input type="hidden" id="tables_id" value="-1" />
      $ftmpl.printLine({"rid":"tables_title","id":"dname","name":$zoo._("Name")})
      $ftmpl.printLine({"rid":"tables_description","id":"dname","type":"textarea","name":$zoo._("Description")})
      #set lcontent=Template(file=$conf["main"]["templatesPath"]+"/Distiller/PgWindow_bs.html",searchList={"conf": $conf,"inputs": {"dataStore":{"value":$conf["main"]["dbuserName"]},"no-header":{}},"outputs":{"Result":{"value":""}},"basic":True})
     $ftmpl.printBasicLine({"id":"table","label":$zoo._("Table"),"content":$lcontent})
     $ftmpl.printButton({"id":"save","name":$zoo._("Save")})
  </div>
</div>

  <div id="indicators_form_info" role="tabpanel" class="tab-pane form-horizontal" >
    <table id="infoTable" class="display" width="100%"></table>
  </div>
  
#set options=[]
#set res=$cur.execute("SELECT id,name as val from "+$prefix+"groups order by name")
#set vals=$cur.fetchall()
#for i in range(0,len(vals))
#set $options+=[[$vals[i][0],$vals[i][1]]]
#end for

#set options1=[]
#set res=cur.execute("SELECT id,name as val from "+$prefix+"themes order by name")
#set vals=cur.fetchall()
#for i in range(0,len(vals))
#set $options1+=[[$vals[i][0],$vals[i][1]]]
#end for

  <!-- VIEW SETTINGS -->
  <div id="indicators_form_eye" role="tabpanel" class="tab-pane form-horizontal" >
    <h2> <i class="fa fa-eye"> </i> $zoo._("View Settings") </h2>
    <div id="tables_view_selector_container">
     <input type="hidden" id="tables_view_id" value="-1" />
     $ftmpl.printLine({"rid":"tables_view_selector","id":"tables_view_selector","name":$zoo._("Select a view"),"type":"select","options":[["-1",$zoo._("None")]],"classes":"documents_iquery"})
    </div>
    <input type="hidden" id="tables_view_id" value="-1" />
    $ftmpl.printLine({"rid":"tables_view_title","id":"table_title","name":$zoo._("Title"),"classes":"row"})
    $ftmpl.printLine({"rid":"tables_view_icon","id":"table_icon","name":$zoo._("Icon"),"classes":"row"})
    <div id="tables_view_icon_preview"></div>
#*
    $ftmpl.printLine({"rid":"tables_view_clause","id":"table_clause","name":$zoo._("Clause"),"classes":"row"})
*#
    $ftmpl.printBasicLine({"label":$zoo._("Clause"),"content":'<textarea id="tables_view_clause" class="form-control" ></textarea>'})
    $ftmpl.printBasicLine({"label":$zoo._("Visible"),"content":'<input type="checkbox" id="tables_view_visible" />'})
    $ftmpl.printBasicLine({"label":$zoo._("Order"),"content":'<input type="text" id="tables_view_menu_order" value="1" />'})
    $ftmpl.printLine({"rid":"tables_view_groups","id":"groups","name":$zoo._("Groups"),"type":"multiple","options":$options})  
     $ftmpl.printLine({"rid":"tables_view_themes","id":"tables_themes","name":$zoo._("Theme"),"type":"multiple","options":$options1})
    $(Template(file=$conf["main"]["templatesPath"]+"/Tables/Views.html",searchList={"conf": $conf,"inputs": {},"outputs":{},"basic":True}))
    $ftmpl.printButton({"id":"save","name":$zoo._("Save")})
    $ftmpl.printButton({"id":"delete","name":$zoo._("Delete")})
  </div>

  <!-- EDITION SETTINGS -->
  <div id="indicators_form_edit" role="tabpanel" class="tab-pane form-horizontal" >
    <h2> <i class="fa fa-edit"> </i> $zoo._("Edit Settings") </h2>
    <div id="tables_edition_selector_container">
     <input type="hidden" id="tables_edition_id" value="-1" />
     $ftmpl.printLine({"rid":"tables_edition_selector","id":"tables_edition_selector","name":$zoo._("Select a step"),"type":"select","options":[["-1",$zoo._("None")]],"classes":"documents_iquery"})
    </div>
    <input type="hidden" id="tables_edition_id" value="-1" />
    $ftmpl.printLine({"rid":"tables_edition_title","id":"table_title","name":$zoo._("Title"),"classes":"row"})
    $ftmpl.printLine({"rid":"tables_edition_step","id":"table_step","name":$zoo._("Step"),"classes":"row"})
    $ftmpl.printLine({"rid":"tables_edition_groups","id":"groups","name":$zoo._("Groups"),"type":"multiple","options":$options})
    $ftmpl.printLine({"rid":"tables_edition_description","id":"dname","type":"textarea","name":$zoo._("Description")})
    $ftmpl.printLine({"rid":"tables_edition_themes","id":"tables_themes","name":$zoo._("Theme"),"type":"multiple","options":$options1})
    $(Template(file=$conf["main"]["templatesPath"]+"/Tables/Edition.html",searchList={"conf": $conf,"inputs": {},"outputs":{},"basic":True}))
    $ftmpl.printButton({"id":"save","name":$zoo._("Save")})
    $ftmpl.printButton({"id":"delete","name":$zoo._("Delete")})
  </div>

  <!-- REPORT SETTINGS -->
  <div id="indicators_form_print" role="tabpanel" class="tab-pane form-horizontal" >
    <h2> <i class="fa fa-print"> </i> $zoo._("Report Settings") </h2>
    <div id="tables_report_selector_container">
     <input type="hidden" id="tables_report_id" value="-1" />
     $ftmpl.printLine({"rid":"tables_report_selector","id":"tables_report_selector","name":$zoo._("Select a report"),"type":"select","options":[["-1",$zoo._("None")]],"classes":"documents_iquery"})
    </div>
    <input type="hidden" id="tables_report_id" value="-1" />
    $ftmpl.printLine({"rid":"tables_report_title","id":"table_title","name":$zoo._("Title"),"classes":"row"})
    <!--
    $ftmpl.printBasicLine({"label":$zoo._("Select element"),"content":'<input type="checkbox" id="tables_report_element" checked="checked" onchange="var myRoot=$(this).parent().parent();if($(this).prop(\'checked\'))myRoot.next().hide();else myRoot.next().show();" />'})
    -->
    $ftmpl.printBasicLine({"label":$zoo._("Select element"),"content":'<input type="checkbox" id="tables_report_element" checked="checked" />'})
    $ftmpl.printLine({"rid":"tables_report_clause","id":"clause","name":$zoo._("Clause")})  
    $ftmpl.printLine({"rid":"tables_report_groups","id":"groups","name":$zoo._("Groups"),"type":"multiple","options":$options})  
    $(Template(file=$conf["main"]["templatesPath"]+"/Tables/Report.html",searchList={"conf": $conf,"inputs": {},"outputs":{},"basic":True}))
    $ftmpl.printButton({"id":"save","name":$zoo._("Save")})
    $ftmpl.printButton({"id":"delete","name":$zoo._("Delete")})
  </div>

</div>


</div>


</div>

<script type="template/text" id="dataSource_srs_template">
</script>

<script type="template/text" id="dataSource_template">
#set objs=[
{"name": "toggle","title": $zoo._('Toggle table'),"font":"fa-toggle-down"},
]
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
	<span><i class="[font] fa-fw" ></i> [datasource]
        <div class="pull-right">
	  <div class="btn-group">
#for i in $objs
	    <button data-mmaction="$i.name" data-toggle="tooltip" title="$i.title" type="button" class="btn btn-default btn-xs #if $i.name=="georeference"#hide#end if# hidden-md hidden-xs hidden-sm #if $i.font=="fa-toggle-down"#collapser#end if#">
	    <i class="fa $i.font fa-fw"></i>
	    </button>
#end for	    
	    <button type="button" class="btn btn-default btn-xs dropdown-toggle hidden-lg" data-toggle="dropdown">
	    <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu pull-right" role="menu">
#for i in $objs
	      <li><a  data-mmaction="$i.name" href="#"><i class="fa $i.font fa-fw"></i> $i.title</a></li>
#end for
	    </ul>
	  </div>
	</div>
	</span>
      </div>
      <div class="panel-body collapse in">
	<i class="fa fa-spinner fa-spin"></i> $zoo._("Loading datasource ...")
      </div>	
    </div>
      </div>
</div>
</script>

 <script type="template/text" id="class_styler_template">
   #include $conf['main']['templatesPath']+"/Manager/Styler/UniqSymb_bs.html"
 </script>

#end def
