#encoding UTF-8

#from Skeleton import Skeleton
#extends Skeleton

#attr $mmodule = "Territories"

#attr $ocss = []

#attr $js = ['jquery.tipsy.js','jquery.hoverIntent.min.js','progress-bar.js','Meta.js','jquery.cookie.js','wps.js','roundies.js','generic.js']

#attr $js1 = ['main_js']

#def page_title
MapMint: Territories
#end def

#def body
#import zoo
#import mm_access
<div class="ui-layout-center"> 
  <div id="Territories" class="inner-layout-container">   
    
    <div class="inner-center">
      
      <h1 class="pane-title">$zoo._("Informations"): <span id="territoires_name_title" class="project-title">$zoo._("Name of the selected territory")</span></h1>
      <div class="toolbar"><p class="hour">$zoo._("Name of the selected territory")</p></div>
      
      <table class="gen" id="territoires_edition_ui">
	<tbody>
	  <tr>
	    <td valign="middle" style="width:200px;">$zoo._("Name:")</td>
	    <td><input id="territoires_name" class="rounded frm" type="text" value="" /></td>
	  </tr>
	  <tr>
	    <td valign="middle" style="width:200px;">$zoo._("Geographical data:")</td>
	    <td>
	      <select id="territoires_dataSource" class="gselect rounded" type="text" value="">
		<option value="-1" selected="selected">$zoo._("Select a datasource")</option>
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set prefix=auth.getPrefix($conf)
#set cur=con.connect()
#set cur=con.conn.cursor()
#set res=cur.execute("SELECT f_table_schema||'.'||f_table_name as id,f_table_name as val from geometry_columns order by f_table_name")
#set vals=cur.fetchall()
#for i in range(0,len(vals))
		<option value="$vals[i][0]">$vals[i][1]</option>
#end for
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td valign="middle" style="width:200px;">Territoires parents:</td>
	    <td>
	      <select multiple="multiple" class="rounded mltp" id="territoires_t_hierarchy">
		<option value="-1" selected="selected">Aucun</option>
	      </select> 
	    </td>
	  </tr>
	  <tr>
	    <td valign="middle" style="width:200px;">Groupes d'utilisateurs:</td>
	    <td>
	      <select multiple="multiple" class="rounded mltp" id="territoires_territoires_groups">
$(Template(file=$conf["main"]["templatesPath"]+"/UsersManagement/GroupMultipleList.html",searchList={"cur":$cur,"prefix":$prefix}))
	      </select> 
	    </td>
	  </tr>
	</tbody>
      </table>
      
      <a href="#" class="wbutton ui-corner-all al" onclick="updateElement();">$zoo._("Save")</a>
      
    </div>
    
    
    <div class="inner-west" id="territories-tree">
      <h1 class="pane-title">$zoo._("Territories")</h1>
      <div class="toolbar">
	<a class="fg-button ui-state-default ui-corner-all add-territory"  id="add-territory" href="#" title="$zoo._("Add territory")"></a>
	<a class="fg-button ui-state-default ui-corner-all view-territory"  id="view-territory" href="#" title="$zoo._("View territory")"></a>
	<a class="fg-button ui-state-default ui-corner-all delete-territory"  id="delete-territory" href="#" title="$zoo._("Delete territory")"></a>
	<label for="territoires_search">Search: </label>
	<input id="territoires_search" type="text" value="" />
      </div>
      <div id='ltree'></div>
	<div id="mm" class="easyui-emenu" style="width:120px;">
	  <div class="setLayersOrder" onclick="setOrder()" iconCls="icon-move">$zoo._("Set order")</div>
	</div>
    </div> 
  

  <div id="preview-territory-dialog" data-options="title:'Prévisualiser un territoire'">
    <img src="" id="t_preview" />
  </div>
  
  <div id="add-territory-dialog" data-options="title:'Ajouter un territoire'">
    <table class="gen">
      <tbody>
        <tr>
          <td valign="middle" style="width:100px;">Nom:</td>
          <td><input id="eName" class="rounded wfrm" type="text" value="" /></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="wbutton ui-corner-all" onclick="insertElement();">Ajouter</a>
    <a href="#" class="wbuttonc ui-corner-all" onclick="\$('#add-territory-dialog').window('close');">Annuler</a>
  </div>
  
  <div id="delete-territory-dialog" data-options="title:'Supprimer un territoire'">
    <table class="gen">
      <tbody>
        <tr>
          <td valign="middle" style="width:100px;">Nom:</td>
          <td><input id="edName" class="rounded wfrm" type="text" value="" /></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="wbutton ui-corner-all" onclick="deleteElement();">$zoo._("Delete")</a>
    <a href="#" class="wbuttonc ui-corner-all" onclick="\$('#delete-territory-dialog').window('close');">$zoo._("Cancel")</a>
  </div>
  
#end def
