#encoding UTF-8

#from Skeleton_bs import Skeleton_bs
#extends Skeleton_bs

#attr $mmodule = "Themes"

#attr $ocss = ['colorpicker.css']

#def istyles
<link rel="stylesheet" href="$conf["main"]["publicationUrl"]/assets/css/bootstrap-colorpicker.min.css"/>
#end def

#def page_title
MapMint: $zoo._("Themes")
#end def

#def mmenu
 <ul class="nav nav-first-level collapse in">
  <li class="active" id="themeswitcher">
       <div class="btn-group">
	 <button class="btn btn-default" id="tadd" type="button" data-toggle="tooltip" title="$zoo._("Add theme")">
		  <i class="fa fa-plus"></i>
	 </button>
	 <button class="btn btn-default disabled" id="tdelete" type="button" data-toggle="tooltip" title="$zoo._("Delete theme ")">
		  <i class="fa fa-trash"></i>
	 </button>
       </div>
  </li>
  <li class="addForm hide">
    <div class="input-group">
	 <input class="form-control" name="tname" placeholder="$zoo._("Name")" type="text" />
	 <span class="input-group-btn" title="$zoo._("Save")" rel="tooltip">
	   <button class="btn btn-default" id="add-theme" type="button">$zoo._("Save")</button>
	 </span>
    </div>   
  </li>
  <li class="deleteForm hide">
    <div class="input-group">
	 <input class="form-control" name="tname" placeholder="$zoo._("Name")" type="text" />
	 <span class="input-group-btn" title="$zoo._("Delete")" rel="tooltip">
	   <button class="btn btn-default" id="delete-theme" type="button">$zoo._("Delete")</button>
	 </span>
    </div>   
  </li>
 </ul>
#end def

#def body
#import zoo
#import mm_access
#import authenticate.service as auth
#set con=auth.getCon($conf)
#set prefix=auth.getPrefix($conf)
#set cur=con.connect()
#set cur=con.conn.cursor()

 <form class="form-horizontal mtpp themeForm" method="get" >
 <h2><i class="fa fa-spinner fa-spin"></i> $zoo._("Informations"): <span  class="project-title" id="themes_name_title">$zoo._("Name of the selected theme")</span></h2>
   <div class="form-group">
     <label class="col-sm-3 control-label">$zoo._("Name")</label>
     <div class="col-sm-9 ">
       <input id="themes_name" class="form-control" type="text" name="tname" value="" />
     </div>
   </div>
   <div class="form-group">
     <label class="col-sm-3 control-label">$zoo._("Parent")</label>
     <div class="col-sm-9 ">
       <select class="form-control" id="themes_pid">
	 <option value="-1">$zoo._("Select a theme")</option>
#set res=cur.execute("SELECT id,name as val from "+$prefix+"themes order by name")
#set vals=cur.fetchall()
#for i in range(0,len(vals))
	 <option value="$vals[i][0]">$vals[i][1]</option>
#end for
       </select>
     </div>
   </div>
#if $conf["mm"]["indexes"]=="true"
   <div class="form-group">
     <label class="col-sm-3 control-label">$zoo._("Indicator")</label>
     <div class="col-sm-9 ">
       <select multiple="multiple" class="form-control" id="themes_indicators_themes">
#set res=cur.execute("SELECT id,name as val from "+$prefix+"indicators order by name")
#set vals=cur.fetchall()
#for i in range(0,len(vals))
	 <option value="$vals[i][0]">$vals[i][1]</option>
#end for
       </select>
     </div>
   </div>
#end if   
   <div class="form-group">
     <label class="col-sm-3 control-label">$zoo._("Groups")</label>
     <div class="col-sm-9 ">
       <select multiple="multiple" class="form-control" id="themes_themes_groups">
$(Template(file=$conf["main"]["templatesPath"]+"/UsersManagement/GroupMultipleList.html",searchList={"cur":$cur,"prefix":$prefix}))
       </select>
     </div>
   </div>
   <div class="form-group">
     <label class="col-sm-3 control-label">$zoo._("Color")</label>
     <div class="col-sm-9 ">
       <div class="input-group cpicker">
	 <input type="text" class="form-control" id="themes_color" name="color" value="#000000" />
	 <span class="input-group-addon"><i></i></span>
       </div>
     </div>
   </div>

   <button class="btn btn-default">
     $zoo._("Save")
   </button>
 </form>

#end def

#def tfooter
 <script type="template/text" id="group_template">
   <li class="li-theme active">
     <div class="hidden-sm hidden-md hidden-lg mini-menu">
      [id]
      <a href="#[lid]_t" id="[lid]" class="theme" data-toggle="collapse">
       <i class="fa arrow"></i>
      </a>
     </div>
     <a href="#[lid]_t" id="[lid]" class="hidden-xs theme" data-toggle="collapse" >
      <i class="fa fa-file-text-o"></i>
      [id]
      <i class="fa arrow"></i>
     </a>
     <ul class="nav nav-[level]-level collapse in" id="[lid]_t"></ul>
   </li>
 </script>

 <script type="template/text" id="item_template">
   <li class="li-theme">
     <a class="input-group theme" href="#" id="[lid]">
       <i class="fa fa-file-text-o"></i>
       [id]
     </a>
   </li>
 </script>
#end def