#import zoo
#import mm_access
<form method="post">
        <div>
         <span>$zoo._("DataStore destination for your files:")</span>
         <select id="upload_dest" onchange="startUploadForm()">
       	   <option>$zoo._("Choose")</i>
#for i in $inputs["dirs"]
       	   <option value="$i">$i</i>
#end for
	 </select>
        </div>
	<div id="upload_form" style="float: left; margin-right: 0;visibility: hidden;padding=0">
		<div id="uploader" style="width: 450px; height: 270px;">$zoo._("You browser does not support native upload. Try Firefox 3 or Safari 4.")</div>
	</div>
</form>
