<StyledLayerDescriptor version="1.0.0">
<NamedLayer>
<Name>dummy</Name>
<UserStyle>
<Title>xxx</Title>
<FeatureTypeStyle>
<Rule>
<PolygonSymbolizer>
<Geometry>
<PropertyName>the_area</PropertyName>
</Geometry>
<Fill>
<CssParameter name="fill">\##if $inputs.has_key("color")#$inputs["color"]["value"]#else#000000#end if#</CssParameter>
</Fill>
</PolygonSymbolizer>
</Rule>
</FeatureTypeStyle>
</UserStyle>
</NamedLayer>
</StyledLayerDescriptor>